@using System.Web.Optimization
@using STP.Domain
@using PagedList.Mvc
@model STP.Domain.RoadNetwork.RoadOwnership.RoadOwnershipData

@{
    string mode = ViewBag.mode;
    int orgId = 0;
    
    @Html.Hidden("OrgId", orgId)
    @Html.Hidden("mode", mode)
    Layout = null;
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.ROADS;
}

@{
    int userTypeID = 0;
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        portalType = sessionValues.UserTypeId;
        if (portalType == 696006 || sessionValues.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}




<style>
    .RdOwnerEsdal4 {
        width: 40%;
        float: right;
        margin-bottom: 5%;
        margin-right: 5%;
        background: white !important;
    }
    tbody, td, tfoot, th, thead, tr {
        border-style: none;
    }
    *, ::after, ::before {
        box-sizing: unset;
    }
        .maintable {
        width: 100% !important;
        margin-top: 0px !important;
    }
    .btn {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .btnCancel {
        background-color: white;
        color: royalblue;
        border: 1px solid royalblue; /* Green */
        margin-left: 20%;
    }
    .btnAssing {
        background-color: white;
        color: royalblue;
        border: 1px solid royalblue; /* Green */
        margin-left: 20%;
    }
    .trstyle {
        border-bottom: 1px solid #ccc !important;
    }

    .tdstyle {
        text-align: left !important;
    }

    .tdcenter {
        text-align: center !important;
    }

    .noresult {
        color: red !important;
    }

    .spanblack {
        color: black !important;
    }

    .ownership_tdNew {
        width: 120px;
    }

    .alignleft {
        text-align: "left";
    }

    .noresult {
        color: red !important;
    }

    .spanblack {
        color: black !important;
    }

    .TableAlignFloat {
        float: left;
        width: 100% !important;
    }

    .mainspan {
        width: 100%;
        float: left;
        height: auto;
    }

     .grey {
        background-color: #f8f8f7;
    }
    .ui-widget.ui-widget-content {
       z-index:999999 !important;
    }

    .modal-content{
        height: auto !important;
    }
    .modal-footer .btn {
        width: 40% !important;
    }
    .RdTxt {
        color: #575754 !important;
        font-family: lato_Bold !important;
        font-size: 13px;
    }
    .RD-button:hover {
        color: white !important;
        background-color: rgba(39, 87, 149, 1) !important;
    }
    .RdSpan {
       /* font-family: 'lato_bold';*/
        font-size: 14px;
    }
    .RdTextWd {
        width: 260px !important;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-size: 15.00px !important;
        font-weight: 500;
        font-style: normal;
        font-family: lato_medium, Arial !important;
        color:black;
    }
    .btn.btn-outline-primary:hover {
        color: white;
        background-color: rgba(39, 87, 149, 1);
    }
</style>

<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />
<link href="~/Content/Style/Common/PagedList.css" rel="stylesheet" />

<div class="form form_component" style="box-sizing:unset !important;height:365px">
        <form action="../Generic/HelpBuilder" id="form_html_helpbuilder" method="post" novalidate="novalidate" style="width: auto !important; float: right;" target="_blank">
            @if (isAdmin)
            {  
                <span id="span-Edit_help"  title="Create Help"></span>
            }
            <input id="url_html" name="url" type="hidden" value="">
            <input id="flag" name="flag" type="hidden" value="">
        </form>
        
    <div class="body RdOwnerEsdal4" id="Create_RoadOwnership">
        <div class="form" style="margin-top:26px">
            
            <table class="TableAlignFloat table">
                <div style=" padding-top: 5px; padding-left: 22px; border: 1px solid #F5F5F5;font-weight:500;font-size:15px; background-color: #F5F5F5; border-radius: 10px; font-family:lato_medium, Arial;" class="text-normal-hyperlink"><span>Assign selected road to this organisation</span></div>
                <tr style="border-style: none;">
                    <td style="width: 20px; padding-left: 20px; vertical-align: top; padding-top: 8px;">@Html.RadioButton("selectedRadio1", "yes", new { id = "rdoManager", @checked = "checked",@class= "form-check-input" })</td>
                    <td class="RdTxt" style="width: 40%;vertical-align:top;"><span class="RdSpan">Manager organisation</span> </td>
                    <td style="width: 80px;">
                        @Html.TextBoxFor(model => model.ManagerName, new { @id = "managerName", @class = "input_text frmbdr RdTextWd" })
                        @Html.HiddenFor(model => model.ManagerId, new { @id = "manager_Id" })
                        @Html.HiddenFor(model => model.HdnManagerName, new { @id = "hdnManagerName" })
                        <br />
                        <br />
                        <div id="validManager" class="error" style="display: none">
                            Manager name is required.
                        </div>
                    </td>
                    <td>
                        <div id="clearManager" class="cancelorg" ></div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; padding-left: 20px; vertical-align: top; padding-top: 8px; ">@Html.RadioButton("selectedRadio1", "yes", new { id = "rdoLA", @class = "form-check-input" })</td>
                    <td class="RdTxt" style="vertical-align: top;"><span class="RdSpan">Local authority organisation </span></td>
                    <td style="width: 80px;">
                        @Html.TextBoxFor(model => model.LocalAuthorityName, new { @id = "local_Authorityname", @class = "grey input_text frmbdr RdTextWd", @disabled=true })
                        @Html.HiddenFor(model => model.LaId, new { @id = "la_Id" })
                        @Html.HiddenFor(model => model.HdnLocalAuthorityName, new { @id = "hdnLocal_authority_Name" })

                        <br />
                        <br />
                        <div id="validLA" class="error" style="display: none">
                            Local authority name is required.
                        </div>
                    </td>
                    <td>
                        <div id="clearLA" class="cancelorg" ></div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; padding-left: 20px; vertical-align: top; padding-top: 8px;">@Html.RadioButton("selectedRadio1", "yes", new { id = "rdoHaMac", @class = "form-check-input" })</td>
                    <td class="RdTxt" style="vertical-align: top;"><span class="RdSpan">NHMAC organisation  </span></td>
                    <td style="width: 80px;">
                        @Html.TextBoxFor(model => model.HaMacName, new { @id = "ha_Mac_Name", @class = "grey input_text frmbdr RdTextWd" })
                    @Html.HiddenFor(model => model.HaMacId, new { @id = "ha_Mac_Id" })
                    @Html.HiddenFor(model => model.HdnHaMacName, new { @id = "hdnHa_mac_Name" })
                    <br />
                    <br />
                    <div id="validHA" class="error" style="display: none">
                        NH MAC  name is required.
                    </div>
                    <div>
                    </div>
                </td>
                <td>
                    <div id="clearHA" class="cancelorg"></div>
                </td>
            </tr>
            <tr>
                <td style="width: 20px; padding-left: 20px; vertical-align: top; padding-top: 8px;">@Html.RadioButton("selectedRadio1", "yes", new { id = "rdoPolice", @class = "form-check-input" })</td>
                <td class="RdTxt" style="vertical-align: top;"><span class="RdSpan">Police organisation</span> </td>
                <td style="width: 80px;">
                    @Html.TextBoxFor(model => model.PoliceName, new { @id = "police_Name", @class = "grey input_text frmbdr RdTextWd" })
                @Html.HiddenFor(model => model.PoliceId, new { @id = "police_Id" })
                @Html.HiddenFor(model => model.HdnPoliceName, new { @id = "hdnPolice_Name" })
                <br />
                <br />
                <div id="validPOLICE" class="error" style="display: none">
                    Police name is required.
                </div>

            </td>
            <td>
                <div id="clearPolice" class="cancelorg"></div>
            </td>
            </tr>
            </table>
        </div>
        <div class="mainspan">
            <table class="TableAlignFloat table">
                <tr>
                    @*<td class="ownership_tdNew"><div id='save_anim' class='save_anim' style="display:none;width:50px;margin-left:20px;"></div></td>*@
                    <td style="width:60%;">
                        <div class="button main-button mr-2 ml-3">
                            <button type="button" id="saveownerdata" class="btn btn-outline-primary RD-button btn-normal" aria-hidden="true" style="float: left; margin-left: 20px; width: 200px;display:none;height:35px" data-icon="" >ASSIGN</button>

                        </div>
                        <div class="button main-button mr-1 ml-3">
                            <button type="button" id="GoBackBtn" class="btn btn-outline-primary RD-button btn-normal" aria-hidden="true" style="text-decoration: none; float: left; width: 150px; margin-left: 85px;height:35px" data-icon="" >CANCEL</button>

                        </div>
                     </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="ContactList"></div>
</div>
@{
<input type="hidden" value="@ViewBag.allFeilds" id="hf_allFeilds" name="hf_allFeilds" />
}

