@{
    ViewBag.Title = "RoadOwnerReport";
    Layout = null;
}



@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.RoadNetwork.RoadOwnership.RoadOwnershipData>

@{ bool rdFlag = ViewBag.rdFlag == null ? false : ViewBag.rdFlag;
    int pageSize = ViewBag.pageSize;
    int userTypeID = 0;
    bool isAdmin = false;
    bool fromDeleg = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        portalType = sessionValues.UserTypeId;
        if (portalType == 696006 || sessionValues.IsAdmin == 1)
        {
            isAdmin = true;
        }
        @Html.Hidden("pageSizeVal", pageSize)
        @Html.Hidden("rdFlag", rdFlag)
        @Html.Hidden("closeButton", fromDeleg)
    }
}

<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>
<script src="~/Scripts/RoadOwnership/jQuery.report.js?V@(Session["ProjectVersion"])"></script>
<style>
    .wdth26 {
        width: 22%;
    }

    .wdth37 {
        width: 37%;
    }

    .maintable {
        width: 100% !important;
        margin-top: 0px !important;
    }

    .trstyle {
        border-bottom: 1px !important;
    }

    .tdstyle {
        text-align: left !important;
    }

    .tdcenter {
        text-align: center !important;
    }

    #div_dispensation_org {
        background: white !important;
    }

    .subhead {
        color: rgba(39, 87, 149, 1) !important;
        font-family: lato_light;
        font-size: 16px;
    }

    .noresult {
        color: red !important;
    }

    .spanblack {
        color: black !important;
    }

    .ownership_tdNew {
        width: 120px;
    }

    .alignleft {
        text-align: "left";
    }

    .noresult {
        color: red !important;
    }

    .spanblack {
        color: black !important;
    }

    .TableAlignFloat {
        border: 1px;
        float: left;
        width: 100% !important;
    }

    .mainspan {
        width: 100%;
        float: left;
        height: auto;
    }

    .nobrdr {
        border-bottom: none !important;
    }

    .wdth15 {
        width: 35px;
    }

    .wdth21 {
        width: 75px;
    }

    .RdownerHead {
        background: white !important;
    }

    #OwnerHead {
        color: rgba(39, 87, 149, 1) !important;
        height: 2rem !important;
        font-family: lato_light;
        font-size: 20px;
    }

    .form {
        width: auto !important;
    }

    *, ::after, ::before {
        box-sizing: unset !important;
    }
    #delegationSummary .main-table th, #Tabledata th {
        background-color: rgb(233 238 244) !important;
        border-radius: 0;
        font-size: 15.00px;
        font-weight: 400;
    }

    #delegationSummary .main-table tbody tr:nth-child(odd), #Tabledata tbody tr:nth-child(odd) {
        background-color: white !important;
    }
    #delegationSummary .main-table tbody tr:nth-child(even), #Tabledata tbody tr:nth-child(even) {
        background-color: rgba(39, 87, 147, 0.05) !important;
    }
    .form .body .main-table th label, .form .body #Tabledata th label {
        color: #212529 !important;
        font-weight: 400 !important;
        font-size: 15px !important;
    }
</style>

<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />
<link href="~/Content/Style/Common/PagedList.css" rel="stylesheet" />

<div class="form" id="FormId">
    <div class="RdownerHead" id="header">
        <div class="modal-header pt-4">
            <div class="dyntitle details pl-3" id="OwnerHead"><b>Road Ownership Report</b></div>
            <span aria-hidden="true" class="close" aria-label="Close" id="span-close1">&times;</span>
        </div>
        <form action="../Generic/HelpBuilder" id="form_html_helpbuilder" method="post" novalidate="novalidate" style="width: auto !important; float: right;display:none" target="_blank">
            @if (isAdmin)
            {
                <span id="span-Edit_help" title="Create Help"></span>
            }
            <input id="url_html" name="url" type="hidden" value="">
            <input id="flag" name="flag" type="hidden" value="">
        </form>
    </div>

    @if (ViewBag.changeFlag == false)
    {
        <div class="body">
            <table class="GridTable " style="width: 99%; margin-left: 20px;">
                <tr class="nobrdr">
                    <td>
                        <span>No changes to save</span>
                    </td>
                </tr>
                <tr class="nobrdr">
                    <div class="button main-button mr-1 ml-3">
                    <td>
                        <button style="float: left; width: 120px" type="button" id="close" class="btn btn-outline-primary btn-normal" aria-hidden="true" data-icon="&#xe07f;">OK </button>
                    </td>
        </div>

        </tr>
        </table>
    </div>
}
else
{
    <div class="body" id="div_dispensation_org">

        <div id="headPart">
            <table class="GridTable " style="width: 99%; margin-left: 20px;">
                <tr class="nobrdr">
                    <td colspan="2" style="width: 95%;">
                        <span>Road ownership of the following link id's have been changed.Do you want to save the changes?</span>
                    </td>
                </tr>
                <tr class="nobrdr">
                    <td style="width: 73%;">
                        <div class="button main-button mr-1 ml-3">
                            <button style="float: left; width: 120px" type="button" id="saveChange" class="btn btn-outline-primary RD-button btn-normal" aria-hidden="true" data-icon="">SAVE </button>

                        </div>
                        <div class="button main-button mr-1 ml-3">
                            <button style="float: left; width: 120px; margin-left: 1em" type="button" id="exportCsv" class="btn btn-outline-primary RD-button btn-normal" aria-hidden="true" data-icon="">EXPORT </button>

                        </div>

                        <div class="button main-button mr-1 ml-3">
                            <button style="float: left; width: 120px;margin-left:1em" type="button" id="Cancel" class="btn btn-outline-primary RD-button btn-normal" aria-hidden="true" data-icon="">CANCEL </button>

                        </div>



                    </td>
                    <td>
                        <div id='save_anim' class='save_anim' style="display: none;width:50px"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Tabledata">
            @if (ViewBag.ownerCnt == 1)
            {
                
                <table class="GridTable " style="width: 95%; margin-left: 20px; border: 1px;">

                    @if (Model[0].ManagerName != null)
                    {
                        <tr>
                            <td class="tblbdrtop tblbdrleft tblbdrright tblbdrbottum" colspan="3" style="text-align: center"><span class="subhead"><b>Manager Organisation Name</b> </span></td>
                        </tr>
                    }
                    else if (Model[0].LocalAuthorityName != null)
                    {
                        <tr>
                            <td class="tblbdrtop tblbdrleft tblbdrright tblbdrbottum" colspan="3" style="text-align: center"><span class="subhead"><b>Local authority organisation name</b> </span></td>
                        </tr>
                    }
                    else if (Model[0].HaMacName != null)
                    {
                        <tr>
                            <td class="tblbdrtop tblbdrleft tblbdrright tblbdrbottum" colspan="3" style="text-align: center"><span class="subhead"><b>NH MAC organisation name</b> </span></td>
                        </tr>
                    }
                    else if (Model[0].PoliceName != null)
                    {
                        <tr>
                            <td class="tblbdrtop tblbdrleft tblbdrright tblbdrbottum" colspan="3" style="text-align: center"><span class="subhead"><b>Police organisation name</b> </span></td>
                        </tr>
                    }
                    <tr>
                        <th> <label><b>LinkID</b></label></th>
                        <th> <label><b>Old Organisation Name</b></label></th>
                        <th> <label><b>New Organisation Name</b></label></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        if (Model[0].ManagerName != null)
                        {
                            <tr>
                                <td class="text-color1"><span class="text-color2 cusror-pointer clsZoomToSelectedRoad" DataLinkId="@item.LinkId">@item.LinkId </span></td>
                                <td class="text-color1">@item.HdnManagerName</td>
                                <td class="text-color1">@item.ManagerName </td>
                            </tr>
                        }
                        else if (Model[0].LocalAuthorityName != null)
                        {
                            if (item.HdnLocalAuthorityName != item.LocalAuthorityName)
                            {
                                <tr>
                                    <td class="text-color1"><span class="text-color2 cusror-pointer clsZoomToSelectedRoad" DataLinkId="@item.LinkId">@item.LinkId </span></td>
                                    <td class="text-color1">@item.HdnLocalAuthorityName</td>
                                    <td class="text-color1">@item.LocalAuthorityName </td>
                                </tr>
                            }
                        }
                        else if (Model[0].HaMacName != null)
                        {
                            if (item.HdnHaMacName != item.HaMacName)
                            {
                                <tr>
                                    <td class="text-color1"><span class="text-color2 cusror-pointer clsZoomToSelectedRoad" DataLinkId="@item.LinkId">@item.LinkId </span></td>
                                    <td class="text-color1">@item.HdnHaMacName</td>
                                    <td class="text-color1">@item.HaMacName </td>
                                </tr>
                            }
                        }
                        else if (Model[0].PoliceName != null)
                        {
                            if (item.HdnPoliceName != item.PoliceName)
                            {
                                <tr>
                                    <td class="text-color1"><span class="text-color2 cusror-pointer clsZoomToSelectedRoad" DataLinkId="@item.LinkId">@item.LinkId </span></td>
                                    <td class="text-color1">@item.HdnPoliceName</td>
                                    <td class="text-color1">@item.PoliceName </td>
                                </tr>
                            }
                        }

                    }
                </table>

            }
            else
            {
                foreach (var item in Model)
                { <table class="GridTable " style="width: 95%; margin-left: 20px; border: 1px;">
                        <tr>
                            <td class="tblbdrtop tblbdrleft tblbdrright tblbdrbottum clsZoomToSelectedRoad" colspan="3" style="text-align: center"><span class="blue link" DataLinkId="@item.LinkId"><b>LinkID:@item.LinkId</b> </span></td>
                        </tr>
                        <tr>
                            <td class="tblbdrleft tblbdrright tblbdrbottum wdth26"><span></span></td>
                            <td class="tblbdrleft tblbdrright tblbdrbottum wdth37"><b>Old organisation name</b></td>
                            <td class="tblbdrleft tblbdrright tblbdrbottum wdth37"><b>New organisation name</b></td>
                        </tr>
                        @if (item.ManagerName != null)
                        {
                            if (item.ManagerName != item.HdnManagerName)
                            {
                                <tr>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum wdth26"><span><b>Manager Organisation Name</b> </span></td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum wdth37">@item.HdnManagerName</td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum wdth37">@item.ManagerName </td>
                                </tr>
                            }
                        }
                        @if (item.LocalAuthorityName != null)
                        {
                            if (item.LocalAuthorityName != item.HdnLocalAuthorityName)
                            {
                                <tr>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum wdth26"><span><b>Local Authority Organisation Name</b> </span></td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum wdth37">@item.HdnLocalAuthorityName</td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum wdth37">@item.LocalAuthorityName </td>
                                </tr>
                            }
                        }
                        @if (item.HaMacName != null)
                        {
                            if (item.HaMacName != item.HdnHaMacName)
                            {
                                <tr>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum"><span><b>NH Mac Organisation Name</b> </span></td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum">@item.HdnHaMacName</td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum">@item.HaMacName</td>
                                </tr>
                            }
                        }
                        @if (item.PoliceName != null)
                        {
                            if (item.PoliceName != item.HdnPoliceName)
                            {
                                <tr>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum"><span><b>Police Organisation Name</b> </span></td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum">@item.HdnPoliceName</td>
                                    <td class="tblbdrleft tblbdrright tblbdrbottum">@item.PoliceName </td>
                                </tr>
                            }
                        }

                    </table>
                }
            }
            <div>
                <div class="button main-button mt-l2">
                    <button style="float: right; margin-right: 12px; width: 300px " type="button" id="delegationDetails" class="btn btn-outline-primary RD-button btn-normal" aria-hidden="true" data-icon="">SHOW OLD DELEGATION DETAILS </button>

                </div>
            </div>
        </div>
        <div id="delegationSummary" style="display:none">
            <div class="main-table">
                <table class="GridTable" style="width: 95%; margin-left: 20px; border: 1px;">

                    <tr>
                        <th><label>LinkID</label></th>
                        <th><label>Delegation Name</label></th>
                        <th><label>Manager Name</label></th>
                        <th><label>Delegating Org Name</label></th>
                        <th><label>Contact</label></th>
                    </tr>

                    @foreach (var item in Model)
                    {

                <tr>
                    <td class="text-color1">@item.LinkId</td>
                    <td class="text-color1">@item.ArrangementName</td>
                    <td class="text-color1">@item.DelegatorOrgName</td>
                    <td class="text-color1">@item.DelegatingOrgName </td>
                    <td class="text-color1">@item.RoadContact.ContactName <br>@item.RoadContact.AddressLine1 <br>@item.RoadContact.AddressLine2<br /></td>
                    @*@item.RoadContact.Telephone
                    <br />
                    @item.RoadContact.Fax
                    <br />
                    @item.RoadContact.EMail
                    <br />*@
                </tr>

                    }

                </table>
            </div><div>
                <div class="button main-button mt-4">
                    <button style="float: right;margin-right:12px;width:60px" type="button" id="btnOk" class="btn RD-button btn-outline-primary btn-normal" aria-hidden="true" data-icon="">OK </button>

                </div>
            </div>


        </div>
        @if (@ViewBag.TotalCount > 0)
        {<div style="margin-left: 20px;" id="pagePart">
                <span class="pageSizeSelector">
                    <span class="pagination_span">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
                    @Html.PagedListPager(Model, page => Url.Action("RoadOwnerReport",
                    new
                    {
                        B7vy6imTleYsMr6Nlv7VQ =
                                             STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page +
                                             "&pageSize=" + pageSize)
                    }),
                    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                </span>
                <span style="float: left; margin-top: 5px;">Number of items to display per page:</span>
                <select id="pageSizeSelect" onchange="changePageSizeDiffPopup(this.value)">
                    <option id="5">5</option>
                    <option id="10">10</option>
                    <option id="15">15</option>
                    <option id="20">20</option>
                </select>
                <br />
                <span class="pageSizeSelector"></span>
            </div>

        }




    </div>
}
    </div>

    @{
        @Html.Hidden("hf_RawJsonModel", @Html.Raw(Json.Encode(Model)))
    }

    @*<script src="~/Scripts/RoadOwnership/RoadOwnerReport.js?V@(Session["ProjectVersion"])"></script>*@
