@model STP.Domain.MovementsAndNotifications.Notification.NENHaulierRouteDesc


@{
    ViewBag.Title = "hualierRouteInfo";
}
@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}
<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />
<html>
<head>
    <title>Haulier route description</title>
</head>
<body>
    <div class="body" id="plannedbody">
        <div id="tbl_route_details" style="margin-left: 12px">
            <div>
                <span style="color: #ff0000;font-weight: 400 !important;"> IMPORTANT: </span><br />
                <span style="font-size: 15px;color:#ff0000;">
                    The information below has been provided by the haulier. Please check the start & end addresses and the route description against the route planned
                    in the map to ensure it is an accurate representation. If required the route can be edited in the map by adding way points.
                </span>
            </div><br />
            <div> <span style="color: #414193;font-weight: 400 !important;"> Start Address: </span><span style="font-size: 15px;color:#414193;">   @Model.MainStartAddress</span></div><br />
            <div> <span style="color: #414193;font-weight: 400 !important;"> End Address: </span><span style="font-size: 15px;color:#414193;">   @Model.MainEndAddress</span></div><br />

            @if ((Model.HualierDescriptionReturnLeg == null || Model.HualierDescriptionReturnLeg == "") && (Model.HualierGRouteDescription == null || Model.HualierGRouteDescription == ""))
            {
                <div>No haulier route description provided.</div>
            }
            else if (Model.HualierGRouteDescription != null)
            {
                <div> <span style="color: #414193;font-weight: 400 !important;"> Outbound route description : </span><span style="font-size: 15px;color:#414193;">   @Model.HualierGRouteDescription</span></div><br />
                if (ViewBag.IsReturleg == true)
                {

                    <div>
                        <span style="color: #414193; font-weight: 400 !important;"> Return route description : </span>
                        @if (Model.HualierDescriptionReturnLeg != "" && Model.HualierDescriptionReturnLeg != null)
                        {
                            <span style="font-size: 15px;color:#414193;">   @Model.HualierDescriptionReturnLeg</span>}
                        else
                        {<span style="font-size: 15px;color:#414193;">   None provided</span>}
                    </div>
                }

            }
            else if (ViewBag.IsReturleg == true)
            {
                <div> <span style="color: #414193;font-weight: 400 !important;"> Outbound route description : </span><span style="font-size: 15px;color:#414193;">   None provided</span></div><br />
                <div>
                    <span style="color: #414193; font-weight: 400 !important;"> Return route description : </span>
                    @if (Model.HualierDescriptionReturnLeg != "" && Model.HualierDescriptionReturnLeg != null)
                    {
                        <span style="font-size: 15px;color:#414193;">   @Model.HualierDescriptionReturnLeg</span>}
                    else
                    {<span style="font-size: 15px;color:#414193;">   None provided</span>}
                </div>
            }


        </div>
    </div>
</body>
</html>
