@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.MovementsAndNotifications.Notification.NeHaulierList>
@{

    int listCount = 0;
    listCount = (int)Session["PageSize"];
    int isAdmin = 0;
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        if (sessionValues.IsAdmin == 1)
        {
            isAdmin = 1;
        }
    }


    bool createSuccess = false;
    if (ViewBag.saveMsg != null)
    {
        createSuccess = true;
    }
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.ADMIN;


}

@{
    bool isAccessible = false;
    if (isAdmin == 1 && userTypeID == 696006)
    {
        isAccessible = true;
    }
}


@Html.Hidden("CreateAlert", createSuccess)

@Html.Hidden("EditForAdmin", isAccessible)
<style>
    .filtered-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
        background-size: 1rem;
    }

    .esdal-filter-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
        background-size: 1rem;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
    }

    .filter-table-icon {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 51px;
    }

    .filter-table-icons {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 19px;
    }
</style>
@{ var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 1;//1-Name
    var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;//0-asc
    var isNameFilterEnabled = !string.IsNullOrEmpty(ViewBag.OrgSearchString);
    var isUserDisableFlagFilterEnabled = ViewBag.UserDisableFlag == 1;
    var isAllFilterEnabled = isNameFilterEnabled || isUserDisableFlagFilterEnabled; }
<!--main content -->
<section id="banner">
    <div class="container-fluid" id="banner-container">
        <div id="div_Organisation">
            <div class="header">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="button mr-0">
                            <button id="newUserButton" class="btn btn-outline-primary btn-normal pl-8 pr-8" role="button" aria-pressed="true">
                                NEW NE
                                USER
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="title">
                            MANAGE NE USERS
                        </div>
                    </div>
                </div>
            </div>
            <!-- table -->
            <div class="row" id="manageUserRow" style="display:none;">
                <div class="col-lg-4 col-sm-12 col-md-4 pt-10" id="userDetails">
                </div>
                <div class="col-lg-8 col-sm-12 col-md-8" id="manageUserMinDiv">

                </div>

            </div>
            <div id="tableDiv">
                <div class="main-table" id="manage-user">
                    <table class="esdal-table">
                        <thead>
                            <tr>
                                <th style="width: 30%;">
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,1)" data-action="NEHaulierSort" data-sortval="1">Name </span>
                                    <span class="filter-table-icon"><img id="filterimagecode" style="display:@(isNameFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                                </th>

                                <th style="width: 30%;" class="pl-5">Authentication Key</th>
                                <th style="width: 30%;"><span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,2)" data-action="NEHaulierSort" data-sortval="2">Organisation Name</span></th>
                                <th></th>
                                <th></th>
                                <th class="table-filter" style="width: 5%;">
                                    <img class="openFilters open-filter-icon-common" data-width="400" src="~/Content/assets/images/filter-icon.svg" title="Open filter" width="38">
                                    <span class="filtered-icon-table clearNeUserFilter"><img id="filterimage" style="display:@(isAllFilterEnabled?"block":"none")" src="~/Content/assets/images/filtered-icon.svg" title="Clear filter"></span>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-color2 pl-6 ViewUser" KeyId=@item.NeAuthKey style="cursor:pointer;">@item.HaulierName</td>
                                <td class="text-color1 pl-5">@item.AuthenticationKey</td>
                                <td class="text-color1">@item.OrgniseName</td>
                                <td></td>
                                <td colspan="2">
                                    <div id="mid_row">
                                        <span class="pr-2">
                                            <img src="~/Content/assets/images/edit-icon.svg" width="20" class="EditNeUser" KeyId=@item.NeAuthKey style="cursor:pointer;" title="Edit">
                                        </span>
                                        @if (item.AuthenticationKey == "")
                                        {
                                            <span id="mid_row_data">
                                                <button class="btn btn-outline-primary btn-normal pt-1 pb-1 IsEnable" AuthKeyid=@item.NeAuthKey HaulName=@item.HaulierName IsEnab=1 Limit=@item.NeLimit Orgnam=@item.OrgniseName>
                                                    ENABLE
                                                </button>
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="mid_row_data">
                                                <button class="btn btn-outline-primary btn-normal pt-1 pb-1 IsEnable" AuthKeyid=@item.NeAuthKey HaulName=@item.HaulierName IsEnab=0 Limit=@item.NeLimit Orgnam=@item.OrgniseName>
                                                    DISABLE
                                                </button>
                                            </span>
                                        }

                                    </div>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr id="@item.NeAuthKey" style="display:none;">
                            </tr>


                        }
                    </table>
                    @{
                        int pageSize = ViewBag.pageSize;
                        int? pageNum = ViewBag.page;
                        string SearchString = ViewBag.OrgSearchString;
                        int TotalPages = Model.PageCount;
                        int UserDisableFlag = ViewBag.UserDisableFlag;
                        int SearchValid = ViewBag.UserDisableFlag;

                        @Html.Hidden("pageSizeVal", pageSize)
                        @Html.Hidden("pageNum", pageNum)
                        @Html.Hidden("hdnSearchString", SearchString)
                        @Html.Hidden("hdnSearchValid", SearchValid)
                        @Html.Hidden("TotalPages", TotalPages)

                        <input type="hidden" name="sortOrder" id="SortOrderValue" value="@sortOrder" />
                        <input type="hidden" name="sortType" id="SortTypeValue" value="@sortType" />

                        //ViewBag.pageSize = pageSize;


                    }
                    <div class="">
                        @if (@Model.TotalItemCount > 0)
                        {
                            //if (listCount < @Model.TotalItemCount)
                            //{
                        <div class="row pagination-container-new ListNEHaulier-Pag">
                            <div class="col-lg-3">
                                @if (Model.TotalItemCount > 0)
                                {
                                    <div class="text-color2 total-records-number">
                                        Total number of records : @Model.TotalItemCount
                                    </div>
                                }
                            </div>
                            <div class="col-lg-6 text-center">
                                @if (listCount < @Model.TotalItemCount)
                                {
                                <div id="organisationpaginator" class="table-pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("ListNEHaulier",
                                               new { page, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter, pageSize = pageSize, SearchString = SearchString, Isval = UserDisableFlag, sortType = ViewBag.SortType }), new PagedListRenderOptions
                                               {
                                                   DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                   DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                   LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                                   LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                                   DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                   DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                   MaximumPageNumbersToDisplay = 3,
                                                   DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                                   EllipsesFormat = "...",
                                                   LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                                   LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                               });
                                </div>
                                }
                            </div>
                            @if (Model.TotalItemCount > 10)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0">
                                    Number of items to display per page
                                    <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelect">
                                        <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                        <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                        <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                        <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                                    </select>
                                </div>
                            }
                            </div>
                            //}
                        }
                        else
                        {
                            <div class="error invalid-feedback" style="display: block !important; text-align: center;">No record found</div>
                        }
                    </div>

                </div>

            </div>
            <!-- end of table -->
        </div>
    </div>
    
</section>
@{ string GetSortDefaultClass(int sortTypeVal, int sortOrderVal, int valToCheck)
    {
        var sortClass = ""; //0-asc, 1-desc ,
        if (sortOrderVal == valToCheck)
        {
            sortClass = sortTypeVal == 1 ? "sorting_desc" : "sorting_asc";
        }
        return sortClass;
    }
}
<!-- end of main content -->
<!-- filter settings -->
<div id="NeFilterDiv">

</div>
<!-- end of filter settings -->
<script src="~/Scripts/NENNotification/ListNEHaulier.js?V@(DateTime.Now.Ticks)"></script>
<script src="~/Scripts/NENNotification/SearchNeHaulierPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/NENNotification/CreateNeuser.js?V@(Session["ProjectVersion"])"></script>