@using PagedList.Mvc
@model STP.Domain.MovementsAndNotifications.Notification.NENHelpdeskReportModel
@using STP.Domain.MovementsAndNotifications.Notification
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var MonthList = new List<NENHelpdeskReportModel>
{
                        new NENHelpdeskReportModel {NumericMonth=1,Month  = "January"},
                        new NENHelpdeskReportModel {NumericMonth=2,Month = "February"},
                        new NENHelpdeskReportModel {NumericMonth=3,Month = "March"},
                        new NENHelpdeskReportModel {NumericMonth=4,Month = "April"},
                        new NENHelpdeskReportModel {NumericMonth=5,Month = "May"},
                        new NENHelpdeskReportModel {NumericMonth=6,Month = "June"},
                        new NENHelpdeskReportModel {NumericMonth=7,Month = "July"},
                        new NENHelpdeskReportModel {NumericMonth=8,Month = "August"},
                        new NENHelpdeskReportModel {NumericMonth=9,Month = "September"},
                        new NENHelpdeskReportModel {NumericMonth=10,Month = "October"},
                        new NENHelpdeskReportModel {NumericMonth=11,Month = "November"},
                        new NENHelpdeskReportModel {NumericMonth=12,Month = "December"}
                    };

    var YearList = new List<NENHelpdeskReportModel>
{
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-1},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-2},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-3},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-4},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-5},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-6},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-7},
                        new NENHelpdeskReportModel {Year=DateTime.Now.Year-8}
                    };
    var NotificationCategoryList = new List<NENHelpdeskReportModel>
{
                         new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.All_type, NumericVehicleType=(int)STP.Common.Enums.NeReport.All_type},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.STGO_CAT_1, NumericVehicleType=(int)STP.Common.Enums.NeReport.STGO_CAT_1},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.STGO_CAT_2, NumericVehicleType=(int)STP.Common.Enums.NeReport.STGO_CAT_2},
                        new NENHelpdeskReportModel { NotificationCategory = @Resources.Resource.STGO_CAT_3, NumericVehicleType = (int)STP.Common.Enums.NeReport.STGO_CAT_3},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.STGO_Other, NumericVehicleType=(int)STP.Common.Enums.NeReport.STGO_Other},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.C_and_U, NumericVehicleType=(int)STP.Common.Enums.NeReport.C_and_U},//
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.Special_Orders, NumericVehicleType=(int)STP.Common.Enums.NeReport.Special_Orders},
                        new NENHelpdeskReportModel { NotificationCategory = @Resources.Resource.VR1, NumericVehicleType = (int)STP.Common.Enums.NeReport.VR1 },
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.Mobile_Crane_CAT_A, NumericVehicleType=(int)STP.Common.Enums.NeReport.Mobile_Crane_CAT_A},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.Mobile_Crane_CAT_B, NumericVehicleType=(int)STP.Common.Enums.NeReport.Mobile_Crane_CAT_B},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.Mobile_Crane_CAT_C, NumericVehicleType=(int)STP.Common.Enums.NeReport.Mobile_Crane_CAT_C},
                        new NENHelpdeskReportModel {NotificationCategory=@Resources.Resource.OtherNotifications, NumericVehicleType=(int)STP.Common.Enums.NeReport.OtherNotifications}
                        };
                        }
                        @{
                            ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.REPORTS;
                        }
                        <style>
                            .redcolor {
                                color: red;
                                margin-top: 1rem !important;
                            }

                            .aligncenter {
                                text-align: center;
                            }

                            #reports-Section {
                                background-color: white;
                            }
                        </style>
                        <div id="helpdesk">
                            <!--main content -->
                            <section id="banner">
                                <div class="container-fluid" id="banner-container">

                                    <div id="register">
                                        <div id="reports-Section">

                                            <div class="row pt-2 pb-2 pr-3 vehicle-setting">

                                                <div class="col-lg-12 col-md-12 col-sm-12 pr-4 pl-4">
                                                    <div class="row">
                                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal title" style="margin-top:5px;">
                                                            NEN Report
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12 text-normal" style="margin-top: 10px;">
                                                            <div class="row">

                                                                <div class="col-lg-3 col-md-3 col-sm-12 text-normal" style="margin-top:5px; white-space:nowrap;">
                                                                    Notification Category
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                                    @Html.DropDownListFor(m => m.NotificationCategory, new SelectList(@NotificationCategoryList, "NumericVehicleType", "NotificationCategory"), new
                                                            {
                                                                @id = "DDNotificationCategory",
                                                           @class = "form-select mb-3 mr-0 mb-0",
                                                           @style = "overflow: scroll;width: 100%;color: rgba(39, 87, 149, 1);"
                                                       })
                                                                </div>
                                                                <div class="col-lg-1 col-md-1 col-sm-12 text-normal" style="margin-top:5px;">
                                                                    @Resources.Resource.Period
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                                    @Html.DropDownListFor(m => m.Month, new SelectList(@MonthList, "NumericMonth", "Month"), new
                                                               {
                                                                   @id = "DDStartMonth",
                                                                   @class = "form-select mb-3 mr-0 mb-0",
                                                                   @style = "overflow: scroll;width: 100%;color: rgba(39, 87, 149, 1);"
                                                               })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                                    @Html.DropDownListFor(m => m.Year, new SelectList(@YearList, "Year", "Year"), new
                                                               {
                                                                   @id = "DDStartYear",
                                                                   @class = "form-select mb-3 mr-0 mb-0",
                                                                   @style = "overflow: scroll;width: 100%;color: rgba(39, 87, 149, 1);"
                                                               })
                                                                </div>
                                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                                    <span>
                                                                        <img src="/Content/assets/images/search-icon.svg" width="20" id="btnSearch" style="cursor:pointer;">
                                                                    </span>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div id="NENHelpdeskReport" style="margin: 1% 1% 1% 1% !important">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>

                        <script src="~/Scripts/NENNotification/NEN_HelpdeskReport.js?V@(Session["ProjectVersion"])"></script>
