@using STP.Domain.MovementsAndNotifications.Movements
@using STP.Domain.SecurityAndUsers
@{
    ViewBag.Title = "ManageDispensation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int isAdmin = 0;
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        if (sessionValues.IsAdmin == 1)
        {
            isAdmin = 1;
        }
    }

    //for save dispensation
    bool createSuccess = false;
    if (ViewBag.saveflag != null&& Convert.ToBoolean(ViewBag.saveflag))
    {
        createSuccess = true;
    }
    var fromAffectedParties = ViewBag.fromAffectedParties;
    //if (fromAffectedParties)
    //{
    //    Layout = null;
    //}

    int pageSize = 1;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    int? pageNum = ViewBag.page;
    var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 4;//4-DISPENSATION_ID
    var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 1;//1-desc
}
@{
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.DISPENSATIONS;
}
@Html.Hidden("pageSizeVal", pageSize)
@Html.Hidden("pageNum", pageNum)
<script src="~/Scripts/Movements/jQuery.Dispensations.js?V@(Session["ProjectVersion"])"></script>
<style>
    .noresult {
        color: red !important;
    }

    .tdcenter {
        text-align: center !important;
    }

    .filtered-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
        background-size: 1rem;
    }

    .esdal-filter-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
        background-size: 1rem;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
    }
</style>
@Html.Hidden("CreateAlert", createSuccess)
<div id="helpdesk">
    <!--main content -->
    <section id="banner">
        <div class="container-fluid" id="banner-container">
            <div>
                <div class="header" id="dispensationHeader">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="button mr-0">
                                <button class="btn btn-outline-primary btn-normal pl-8 pr-8" role="button"
                                        aria-pressed="true" id="create-dis">
                                    NEW
                                    DISPENSATION
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="title">
                                DISPENSATIONS
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table -->
                <div id="manage-dispensations">
                    @{Html.RenderAction("ListDispensation", new { page = pageNum, pageSize = pageSize }); }
                </div>
                <!-- end of table -->
            </div>
        </div>
    </section>
    <!-- end of main content -->

    @{
        DispensationSearchItems objDispSearch = new DispensationSearchItems();
        if (Session["g_DispensationSearch"] != null)
        {
            objDispSearch = (DispensationSearchItems)Session["g_DispensationSearch"];
        }
        if (userTypeID != 696007 && userTypeID != 696002)
        {
            var SearchListInfo = new List<DispensationSearchItems>
{
                        new DispensationSearchItems {SearchType = "1", SearchName = "DRN"},
                        new DispensationSearchItems {SearchType = "2", SearchName = "Brief Description"},
                        new DispensationSearchItems {SearchType = "3", SearchName = "Authority" },
                        new DispensationSearchItems {SearchType = "4", SearchName = "Description" },
                    };
            ViewBag.SearchInfo = new SelectList(SearchListInfo, "SearchType", "SearchName", objDispSearch.SearchType);
        }
        else
        {
            var SearchListInfo = new List<DispensationSearchItems>
{
                        new DispensationSearchItems {SearchType = "1", SearchName = "DRN"},
                        new DispensationSearchItems {SearchType = "2", SearchName = "Brief Description"},
                        new DispensationSearchItems {SearchType = "3", SearchName = "Haulier" },
                        new DispensationSearchItems {SearchType = "4", SearchName = "Description" },
                    };
            ViewBag.SearchInfo = new SelectList(SearchListInfo, "SearchType", "SearchName", objDispSearch.SearchType);
        }
    }



</div>
@{
    <input type="hidden" value="@ViewBag.drnnumber" id="hf_drnnumber" name="hf_drnnumber" />
    <input type="hidden" value="@ViewBag.mode" id="hf_mode" name="hf_mode" />
    @Html.Hidden("hf_userTypeID", userTypeID)
}
<script src="~/Scripts/Dispensation/ManageDispensation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Dispensation/CreateDispensation.js?V@(Session["ProjectVersion"])"></script>
