
@using System.Web.Optimization
@using STP.Domain
@*@using STP.Web.Views*@
@using PagedList.Mvc

@{

    @Html.ValidationSummary(true)
    @Html.Hidden("SORTUserListInfo")
}

@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }

}
<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />
<link href="~/Content/Style/Common/PagedList.css" rel="stylesheet" />

@*@System.Web.Optimization.Scripts.Render("~/bundles/SORTAllocateUserPopup")*@

<div class="modal-header pt-3 pb-3 pr-3 pl-3 pb-3s" style="display: contents;">
    <div class="row" style="margin-top: -1rem;">
        <div class="col-lg-9 col-sm-7 col-md-7 pl-4 pt-8">           
            <span class="text-normal pr-2" style="font-family: lato_light;font-size:25px;margin-top: -2rem;float: right;">
                Send for checking
            </span>
        </div>
        <div class="col-lg-3 col-sm-5 col-md-5 pr-4">
            <div style="justify-content: end;" id="table-head">
                <span aria-hidden="true" id="spanCloseGeneralPopup" class="close pl-0 ml-2 pt-1"
                      data-dismiss="modal" aria-label="Close" style="cursor:pointer;">&times;</span>
            </div>
        </div>
    </div>
</div>

<span class="PopupHelpName" id="CreateCandidateRoute"></span>
<div class="row pl-4 pr-4 pt-2">
    <div class="row pb-3">
        <div class="col-lg-4 col-md-4 col-sm-4 text-normal">
            Sending to
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            @Html.DropDownList("checkerusers", ViewBag.SORTUserListInfo as SelectList, "--Select user--", new { @class = "form-select text-normal" })
            <span id="validsender" class="error invalid-feedback"></span>
        </div>
    </div>

    <div class="row pb-2">
        <div class="flexer text-align-center pt-2 pb-4 pl-6 pr-4" style="margin-left: auto;margin-right: auto;">
            <div class="button main-button mr-2">
                <button class="btn btn-outline-primary btn-normal pl-8 pr-8 site-button" id="btnCandidateCheckerSendingClick" role="button" aria-pressed="true" >
                    SEND
                </button>
            </div>
            <div class="button main-button mr-2">
                <button class="btn btn-outline-primary btn-normal pl-7 pr-7 site-button" id="btnCloseGeneralPopup" role="button" aria-pressed="true" >
                    CANCEL
                </button>
            </div>

        </div>
    </div>
</div>

@{
<input type="hidden" value="@ViewBag.AllocationType" id="hf_AllocationType" name="hf_AllocationType" />
<input type="hidden" value="@ViewBag.AllocationType" id="hf_AllocationType" name="hf_AllocationType" />
<input type="hidden" value="@ViewBag.AllocationType" id="hf_AllocationType" name="hf_AllocationType" />
}
@*<script src="~/Scripts/SORTApplication/CandidateCheckerAllocation.js?V@(Session["ProjectVersion"])"></script>*@