
@model STP.Domain.HelpdeskTools.DistributionComments
@{
    int versionid = 0;
    if (ViewBag.VersionId != null)
    {
        versionid = ViewBag.VersionId;
    }
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@


<div class="modal-header pt-3 pb-3 pr-3 pl-3 pb-3s" style="display: contents;">
    <div class="row" style="margin-top: -1rem;">
        <div class="col-lg-9 col-sm-7 col-md-7 pl-4 pt-8">
            <span class="text-normal pr-2" style="font-family: lato_light;font-size:25px;margin-top: -2rem;float: right;">
                Distribute Movement
            </span>
        </div>
        <div class="col-lg-3 col-sm-5 col-md-5 pr-4">
            <div style="justify-content: end;" id="table-head">
                <span aria-hidden="true" class="close pl-0 ml-2 pt-1" id="spanCloseGeneralPopup"
                      data-dismiss="modal" aria-label="Close" style="cursor:pointer;">&times;</span>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("SaveDistributionComments", "SORTApplication", FormMethod.Post, new { id = "CommentInfoForm" }))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("versionid", versionid)
    <div id="DistributionCommentPopUp">
        <div class="row pl-4 pr-4 pt-2">
            <div class="row pb-3">
                <div class="col-lg-6 col-md-6 col-sm-6 text-normal">
                    ESDAL Reference
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.HiddenFor(model => Model.esdalReference)
                    @Html.Label(Model.esdalReference, new { @id = "EsdalReferenceNumber" })
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-6 col-md-6 col-sm-6 text-normal">
                    @Html.LabelFor(model => model.text)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.TextAreaFor(model => model.text, new { @class = "text-area" })
                </div>
            </div>

            <div class="row pb-2">
                <div class="flexer text-align-center pt-2 pb-4 pl-6 pr-4" style="margin-left: auto;margin-right: auto;">
                    <div class="button main-button mr-2">
                        <button class="btn btn-outline-primary btn-normal pl-8 pr-8" id="btnSaveDistributionComment" type="button" aria-pressed="true">
                            DISTRIBUTE
                        </button>
                    </div>
                    <div class="button main-button mr-2">
                        <button class="btn btn-outline-primary btn-normal pl-7 pr-7" id="btnCloseGeneralPopup" type="button"  aria-pressed="true">
                            CANCEL
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
@*<script src="~/Scripts/SORTApplication/DistributionCommentsPopUp.js?V@(Session["ProjectVersion"])"></script>*@