@model STP.Domain.Applications.SORTSpecialOrder
@{
    ViewBag.Title = "Show Special Order";
    var vehiclecount = 1;
}

@{
    STP.Domain.SecurityAndUsers.UserInfo SessionInfo = null;
    if (Session["UserInfo"] != null)
    {
        SessionInfo = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
    }

    string Concate = "";
    if (ViewBag.hauliermnemonic != "" || ViewBag.esdalref != 0 || ViewBag.versionno != 0)
    {
        Concate = ViewBag.hauliermnemonic + '/' + ViewBag.esdalref + "/S" + ViewBag.versionno;
    }
    string SProjectStatus = null;
    if (ViewBag.ProjectStatus != null)
    {
        SProjectStatus = ViewBag.ProjectStatus;
    }
    int SChecingStatus = 0;
    if (ViewBag.CheckingStatus != null)
    {
        SChecingStatus = ViewBag.CheckingStatus;
    }
    int Plannerid = 0;
    if (ViewBag.PlannerId != null)
    {
        Plannerid = ViewBag.PlannerId;
    }
    int SProjstatus = 0;
    if (ViewBag.Projstatus != null)
    {
        SProjstatus = ViewBag.Projstatus;
    }
    @Html.Hidden("SProjectStatus", SProjectStatus);
    @Html.Hidden("SChecingStatus", SChecingStatus);
    @Html.Hidden("Plannerid", Plannerid);
    @Html.Hidden("SProjstatus", SProjstatus);
    @Html.Hidden("sedalNo", Model.ESDALNo);
    @Html.Hidden("ProjectId", Model.ProjectID);
    @Html.Hidden("VersionId", Model.VersionID);
    @Html.Hidden("SoNumber", Model.SONumber);
}

@Html.Hidden("Concate", Concate)

<div class="main-sort-content" style="background-color: white;">
    <div class="main-title mb-4">
        <span class="edit-normal" style="color: rgba(0,0,0,.55);">  Special Order - @Model.SONumber </span>
    </div>
    <div class="pl-5">
        <div class="pt-4">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row pb-4">
                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                            <label class="text-normal">Signature Date</label>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-7 edit-normal">
                            <span>@Model.SignDate</span>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-lg-5 col-md-4 col-sm-4 text-normal">
                            Signatory
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 edit-normal">
                            <span class="">@Model.Signatory</span>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                            <label class="text-normal">Signatories Role</label>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-7 edit-normal">
                            <span class="">@Model.SignatoryRole</span>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                            <label class="text-normal">Expiry Date</label>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-7 edit-normal">
                            <span class="">@Model.ExpiryDate</span>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                            <label class="text-normal">Create Date</label>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-7 edit-normal">
                            <span class="">@Model.SOCreateDate</span>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                            <label class="text-normal">Template</label>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-7 edit-normal">
                            <span class="">@Model.Template</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-8">
            <div class="flexer justify-content-lg-start pt-3">
                <div class="button main-button mr-1 ml-3">
                    <button class="btn outline-btn-primary btn-normal" id="back-link" aria-pressed="true"
                            style="width: auto;">
                        <span>BACK</span>
                    </button>
                </div>
                <div style="padding:2px">
                    <button class="btn outline-btn-primary btn-normal" id="btnEdit" aria-pressed="true"
                            style="width: auto;">
                        <span>EDIT</span>
                    </button>
                </div>
                <div style="padding:2px">
                    <button class="btn outline-btn-primary btn-normal" id="btnDelete" aria-pressed="true"
                            style="width: auto;">
                        <span>DELETE</span>
                    </button>
                </div>
                @if ((ViewBag.ProjectStatus == "Agreed" || ViewBag.ProjectStatus == "Agreed Recleared" ||
                    ViewBag.ProjectStatus == "307005" || ViewBag.ProjectStatus == "307007")
                    && ViewBag.PlannerId == SessionInfo.SortUserId)
                {
                    <div style="padding:2px">
                        <button class="btn outline-btn-primary btn-normal" id="btnGenerateDoc" aria-pressed="true" style="width: auto;">
                            <span>GENERATE DOCUMENT</span>
                        </button>
                    </div>
                }

            </div>

            <div class="flexer justify-content-center pt-3">

            </div>
            <div class="flexer justify-content-lg-end pt-3">

            </div>
        </div>
        <div>
            <div class="heading-medium pt-4 pb-4">
                Overview of special documents
            </div>
            <div class="row pb-6">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="row mb-2">
                        <div class="col-lg-2 col-sm-6 col-md-5">
                            <span class="rectangle-view1"></span>
                        </div>
                        <div class="col-lg-10 col-sm-6 col-md-7 text-normal">
                            Combination vehicle/route is already
                            assigned to a special order document
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-2 col-sm-6 col-md-5">
                            <span class="rectangle-view2"></span>
                        </div>
                        <div class="col-lg-10 col-sm-6 col-md-7 text-normal">
                            Combination vehicle/route is (being)
                            assigned in the current special order
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-2 col-sm-6 col-md-5">
                            <span class="rectangle-view3"></span>
                        </div>
                        <div class="col-lg-10 col-sm-6 col-md-7 text-normal">
                            Not applicable combination of vehicle
                            and route part
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.RVCoverage != null)
            {
                <div class="row pt-8">
                    <div class="col-lg-4 col-md-6 col-sm-6 text-normal">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">

                        <div class="row">
                            @{
                                int displayedVehicleCount = 0;
                            }
                            @foreach (var vehicle in ViewBag.RoutesVehicles)
                            {
                                if (vehicle.RVName == "")
                                {
                                    <div class="col-lg-1 col-sm-1 col-md-1">
                                        <div class="text-normal rect-values pl-3">
                                            Vehicle @vehiclecount
                                        </div>
                                    </div>
                                    vehiclecount++;
                                }
                                else
                                {
                                    if (displayedVehicleCount == 0)
                                    {
                                        <div class="col-lg-1 col-sm-1 col-md-1" style="padding-left:0%;">
                                            <div class="text-normal rect-values pl-3">
                                                @vehicle.RVName
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-1 col-sm-1 col-md-1" style="padding-left:2%;">
                                            <div class="text-normal rect-values pl-3">
                                                @vehicle.RVName
                                            </div>
                                        </div>
                                    }
                                }
                                displayedVehicleCount++;
                            }
                        </div>
                    </div>
                </div>
                <div class="row mb-3 pt-8">
                    @foreach (var route in ViewBag.RVCoverage)
                    {
                        var vc = 0;
                        var cvcount = 0;
                        <div class="row" style="padding-bottom:1%">
                            <div class="col-lg-4 col-md-6 col-sm-6 text-normal">
                                @route.RPName
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    @foreach (var rveh in route.Vehicles)
                                    {
                                        cvcount++;
                                        var vvc = 0;
                                        foreach (var routevehicle in ViewBag.RoutesVehicles)
                                        {
                                            vvc++;
                                            if (vc < vvc)
                                            {
                                                vc++;
                                                if (rveh.VehicleId == routevehicle.VehicleId && route.RoutePartId == routevehicle.RoutePartId)
                                                {
                                                    if (rveh.Include == true)
                                                    {
                                                        if (rveh.isExist == true)
                                                        {
                                                            <div class="col-lg-1 col-sm-1 col-md-1 excludedDiv" data-rid="@route.RoutePartId" data-vid="@rveh.VehicleId">
                                                                <span class="rectangle-view2"></span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-lg-1 col-sm-1 col-md-1 includedDiv" data-rid="@route.RoutePartId" data-vid="@rveh.VehicleId">
                                                                <span class="rectangle-view1"></span>
                                                            </div>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-1 col-sm-1 col-md-1 notcontainDiv" data-rid="@route.RoutePartId" data-vid="@rveh.VehicleId">
                                                            <span class="rectangle-view3"></span>
                                                        </div>
                                                    }
                                                    if (route.VCount != cvcount)
                                                    {
                                                        break;
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-lg-1 col-sm-1 col-md-1 notcontainDiv" data-rid="@route.RoutePartId" data-vid="@rveh.VehicleId">
                                                        <span class="rectangle-view3"></span>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div style="margin-top:20px;margin-left:10px;">
                    <span style="color:red;font-size:12px;">There is no coverage grid</span>
                </div>
            }
        </div>
        <div>
            @Html.HiddenFor(model => model.SONumber)
            @Html.HiddenFor(model => model.VersionID)
            @Html.HiddenFor(model => model.ESDALNo)
            @Html.HiddenFor(model => model.ProjectID)
        </div>
    </div>
</div>

<div style="display:none">
    @using (Ajax.BeginForm("DistributeToHaulier", "SORTApplication", new { specialOrder = Model.SONumber }, new AjaxOptions { OnBegin = "startAnimation", OnComplete = "stopAnimation", OnSuccess = "DistributeHaulStatus" }, new { id = "form_distribute_haul" })) { }
</div>


<input type="hidden" value="@ViewBag.CheckingStatus" id="hf_CheckingStatus" name="hf_CheckingStatus" />
<input type="hidden" value="@ViewBag.SortUserId" id="hf_SortUserId" name="hf_SortUserId" />
<input type="hidden" value="@ViewBag.Checkerid" id="hf_Checkerid" name="hf_Checkerid" />
<input type="hidden" value="@ViewBag.CurrentUrl" id="hf_CurrentUrl" name="hf_CurrentUrl" />
@Html.Hidden("hf_Template", Model.Template)
@Html.Hidden("hf_SONumber", Model.SONumber)

<script src="~/Scripts/SORTApplication/ShowSpecialOrder.js?V@(Session["ProjectVersion"])"></script>
