@using System.Web.Optimization
@using STP.Domain
@using System.Globalization
@model STP.Domain.Applications.SOApplication


@{
    ViewBag.Title = "SORTProjectOverview";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
    <link href="~/Content/Style/Common/style.css" rel="stylesheet" />*@
@*<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />*@
@*<script src="~/Scripts/Common/MasterPage/jQuery.master.maincontents.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/jquery.validate.min.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js?V@(Session["ProjectVersion"])"></script>*@
@{
    //long ProjectID = 0;
    //if(ViewBag.ProjectID!=0)
    //{
    //    ProjectID = ViewBag.ProjectID;
    //}
    var CandidatePermission = ViewBag.CandidatePermission.ToString();
    string ESDAL_Reference = "";
    string OwnerName = "";
    string Checker_name = "";
    string HA_JOB_Ref = "";
    string VR1Number = "";
    if (ViewBag.hauliermnemonic != "" && ViewBag.esdalref != 0)
    {
        ViewBag.Concate = ViewBag.hauliermnemonic + '/' + ViewBag.esdalref;
    }
    if (Model.HAJobFileReference != null)
    {
        HA_JOB_Ref = Model.HAJobFileReference;
    }

    if (ViewBag.ESDAL_Reference != null)
    {
        ESDAL_Reference = ViewBag.ESDAL_Reference;
    }
    if (ViewBag.OwnerName != "")
    {
        OwnerName = ViewBag.OwnerName;
    }
    if (ViewBag.Checker != "")
    {
        Checker_name = ViewBag.Checker;
    }
    long VersionId = 0;
    if (ViewBag.VersionId != null)
    {
        VersionId = ViewBag.VersionId;
    }
    long VersionNo = 0;
    if (ViewBag.VersionNo != null)
    {
        VersionNo = ViewBag.VersionNo;
    }
    decimal MovIdDistributed = 0;
    if (ViewBag.MovIdDistributed != null)
    {
        MovIdDistributed = ViewBag.MovIdDistributed;
    }
    if (Model.VR1Number != "0" && Model.VR1Number != null)
    {
        VR1Number = Model.VR1Number;
    }
}

@Html.Hidden("ESDAL_Reference", ESDAL_Reference)
@Html.Hidden("HA_JOB_Ref", HA_JOB_Ref)
@Html.Hidden("OwnerName", OwnerName)

<div class="VR1GeneralDetailsdiv" id="HaulOrg" style="width:100% !important;">

    <div class="colHeader mt-4">
        <span class="text-normal">Application details</span>
    </div>
    <div class="row pt-4" style="padding-left: 40px;">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    ESDAL Reference
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @ViewBag.Concate
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Haulier Reference
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.HaulierReference
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Project Status
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.ProjectStatus
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Checking Status
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.CheckingStatus
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Owner
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @ViewBag.OwnerName
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Application Date
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.ApplicationDate
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Application Due Date
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.ApplicationDueDate
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Haulier Name
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.HaulierName
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Checker Name
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.CheckerName
                </div>
            </div>
            @if (Model.VR1Number != "0" && Model.VR1Number != null)
            {
                <div class="row pb-3">
                    <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                        VR-1 Number
                    </div>
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        NH: @Model.VR1Number
                    </div>
                </div>
            }
            @if (Model.VR1ApprovalDate != "" && Model.VR1ApprovalDate != null)
            {
                <div class="row pb-3">
                    <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                        VR1 Approval Date
                    </div>
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        @Model.VR1ApprovalDate
                    </div>
                </div>
            }
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12" id="afterEdit">
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Movement Name
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <span id="spn_mov_name" class="edit-normal">@Model.MovementName</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    NH Job Reference Number
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <span id="spn_ha_ref" class="edit-normal">@Model.HAJobFileReference</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Full Start Address
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <span id="spn_start_add" class="edit-normal" style="word-wrap: break-word;">@Model.FromAddress</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Full End Address
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <span id="spn_end_add" class="edit-normal" style="word-wrap: break-word;">@Model.ToAddress</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Load Summary
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    @{
                        var loadSummary = Model.Load;
                        if (!string.IsNullOrEmpty(loadSummary) && loadSummary.Length > 60)
                        {
                            loadSummary = Model.Load.Substring(0, 60);
                            if (loadSummary.Contains("\r\n"))
                            {
                                loadSummary = loadSummary.Substring(0, loadSummary.IndexOf("\r\n"));
                            }
                        }
                    }
                    <span id="spn_load_summ" class="edit-normal" style="word-wrap: break-word;">@loadSummary</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" id="menu-buttons">
                    <button class="btn outline-btn-primary SOAButtonHelper site-button" id="active-button">
                        <span class="pr-3">
                            <img src="~/Content/assets/images/edit-icon.svg" width="20" class="init_img">
                            <img src="~/Content/assets/images/edit-icon.svg" width="20" class="hover_img notify">
                        </span>
                        EDIT
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12" id="beforeEdit" style="display: none;">
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Movement Name
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <input class="edit-normal" type="text" maxlength="35" name="Txt_Mov_Name" id="Txt_Mov_Name">
                    <span id="sortmoverror" class="error invalid-feedback"></span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    NH Job Reference Number
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <input class="edit-normal" type="text" maxlength="20" name="Txt_HA_Job_Ref" id="Txt_HA_Job_Ref">
                    <span id="sortreferror" class="error invalid-feedback"></span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Full Start Address
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <input class="edit-normal" type="text" maxlength="100" name="Txt_start_add" id="Txt_start_add">
                    <span id="sortstarterror" class="error invalid-feedback"></span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Full End Address
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <input class="edit-normal" type="text" maxlength="100" name="Txt_end_add" id="Txt_end_add">
                    <span id="sortenderror" class="error invalid-feedback"></span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Load Summary
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8">
                    <input class="edit-normal" type="text" maxlength="60" name="Txt_Load_summ" id="Txt_Load_summ">
                    <span id="sortloaderror" class="error invalid-feedback"></span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">

                    <button class="btn btn-primary SOAButtonHelper mr-2 mb-2" id="valid-det">
                        SAVE
                    </button>
                    <span>
                        <button class="btn btn-primary SOAButtonHelper mr-2 mb-2" id="edit-can">
                            CANCEL
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row pt-4">
    <div class="col-lg-3 col-md-6 col-sm-6" id="ApplRevisions"></div>
    <div class="col-lg-3 col-md-6 col-sm-6" id="Candidate_route_version"></div>
    <div class="col-lg-3 col-md-6 col-sm-6" id="Movement_Version"> </div>
    <div class="col-lg-3 col-md-6 col-sm-6" id="Special_order"></div>
</div>



@{
    <input type="hidden" value="@ViewBag.esdalref" id="hf_esdalref" name="hf_esdalref" />
    <input type="hidden" value="@ViewBag.hauliermnemonic" id="hf_hauliermnemonic" name="hf_hauliermnemonic" />
    <input type="hidden" value="@ViewBag.AppRevisionId" id="hf_AppRevisionId" name="hf_AppRevisionId" />
    <input type="hidden" value="@ViewBag.AppRevisionNo" id="hf_AppRevisionNo" name="hf_AppRevisionNo" />
    <input type="hidden" value="@ViewBag.PStatus" id="hf_PStatus" name="hf_PStatus" />
}
@Html.Hidden("hf_VersionId", VersionId)
@Html.Hidden("hf_VersionNo", VersionNo)
@Html.Hidden("hf_MovIdDistributed", MovIdDistributed)
<input type="hidden" value="@ViewBag.esdalref" id="hf_esdalref" name="hf_esdalref" />
<input type="hidden" value="@ViewBag.hauliermnemonic" id="hf_hauliermnemonic" name="hf_hauliermnemonic" />
@Html.Hidden("hf_VR1Number", VR1Number)
<input type="hidden" value="@CandidatePermission" id="hf_CandidatePermission" name="hf_CandidatePermission" />
@*<script src="~/Scripts/SORTApplication/SORTProjectOverview.js?V@(Session["ProjectVersion"])"></script>*@
