
@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.Applications.SOApplication

@{
    if (ViewBag.hauliermnemonic != "" || ViewBag.esdalref != 0)
    {
        if (ViewBag.hauliermnemonic != null || ViewBag.esdalref != null)
        {
            ViewBag.Concate = ViewBag.hauliermnemonic + '/' + ViewBag.esdalref;
        }
    }
}

<div class="VR1GeneralDetailsdiv" style="width:100% !important;">
    <div class="row pt-4">
        <div class="cardSOA1 mt-0 ml-1 mb-4">
            <h6 class="text-color3 stHeading1 m-0">Application Summary</h6>
        </div>
        <div class="pl-6 pr-3">
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    ESDAL Reference
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @ViewBag.Concate
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Haulier Reference
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.HaulierReference
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Project Status
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.ProjectStatus
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Checking Status
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.CheckingStatus
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Owner
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @ViewBag.OwnerName
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Application Date
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.ApplicationDate
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Application Due Date
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.ApplicationDueDate
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Haulier Name
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.HaulierName
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Checker Name
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.CheckerName
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Movement Name
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.MovementName
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    NH Job Reference Number
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.HAJobFileReference
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Full Start Address
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.FromAddress
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Full End Address
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.ToAddress
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Load Summary
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.Load
                </div>
            </div>

        </div>
    </div>









</div>




