
@using System.Web.Optimization
@using STP.Domain
@*@using STP.Web.Views*@
@using PagedList.Mvc
@*@model STP.Domain.GetUserList*@

@{

    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)
    @Html.Hidden("SORTUserListInfo")
}

@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}
@*<script src="~/Scripts/jquery.unobtrusive-ajax.js?V@(Session["ProjectVersion"])"></script>*@
<div class="col-lg-9 col-md-4 col-sm-12 pl-3" id="allocate">
    <div>
        <div class="row pb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 text-normal">
                SORT user
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                @Html.DropDownList("dropSort", ViewBag.SORTUserListInfo as SelectList, "--Select user--", new { @class = "form-select text-normal select1", @style = "font-family: lato_medium, Arial !important;" })
                <span id="sortnameerror" class="error invalid-feedback" style="display: block !important;"></span>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-md-4 col-sm-4 text-normal">
                Work due date
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <input class="text-decorate datepicker" type="text" id="WorkDueDate" name="WorkDueDate" value=@DateTime.Now.ToString("dd/MM/yyyy") readonly="readonly">
                <span id="sortdateerror" class="error invalid-feedback" style="display: block !important;"></span>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 text-normal">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" id="table-head">
                <button class="btn outline-btn-primary pl-0 pr-0" id="btnvalidAllocate">OK</button>
                <button class="btn outline-btn-primary pl-0 pr-0 ml2" id="btnremoveAllocateButton">CANCEL</button>

            </div>
        </div>
    </div>
</div>
@*</div>*@
@{
<input type="hidden" value="@ViewBag.planner_user_id" id="hf_planner_user_id" name="hf_planner_user_id" />
<input type="hidden" value="@ViewBag.date" id="hf_date" name="hf_date" />
<input type="hidden" value="@ViewBag.revisionNo" id="hf_revisionNo" name="hf_revisionNo" />
}
@*<script src="~/Scripts/SORTApplication/SORTAllocateUser.js?V@(Session["ProjectVersion"])"></script>*@
