@model STP.Domain.MovementsAndNotifications.Movements.SORTMovementFilter
@using STP.Web.Custom.Views

<style>
    #ui-datepicker-div th:nth-child(2) span {
        color: #212529 !important;
    }

    #viewstatus .edit-normal {
        padding-left: 0.5rem;
    }

    #viewotheroptions .datelabel {
        font-weight: 600 !important;
    }
</style>

<div class="filters" data-targetid="viewstatus">
    <div id="table-head">
        <div class="col-10 col-md-10 col-sm-10">
            <span>
                Movement Status
            </span>
        </div>
        <div class="col-2 col-md-2 col-sm-2  pl-3">
            <img id="chevlon-up-icon" src="~/Content/assets/images/up-chevlon-filter.svg" width="15"
                 style="display: none;">
            <img id="chevlon-down-icon" src="~/Content/assets/images/down-chevlon-filter.svg" width="15"
                 style="display: block">
        </div>
    </div>
</div>
<div class="pr-0 pl-4 mr-0 ml-0 mt-4 mb-0 input-field" id="viewstatus" style="display: none;">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.Agreed)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/agreed.svg" width="25" class="mr-1">
                    <span style="padding-left: 5px;">Agreed</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.AgreedRevised)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/agreed-reproposed.svg" width="30" height="28" class="mr-1">
                    <span>Agreed re-proposed</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.AgreedRecleared)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/agreed-recleared.svg"  width="30" class="mr-1">
                    <span>Agreed recleared</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Approved)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/images/completed.svg"  width="25" class="mr-1">
                    <span style="padding-left: 6px;">Approved</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Planned)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/new-planned.svg" width="30" height="30" class="mr-1">
                    <span>Planned</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.IsNotified)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/notified.svg"  width="30" height="30" class="mr-1">
                    <span>Notified</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.InProgress)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/images/WIP-icon.svg"  width="25" class="mr-1">
                    <span>In progress</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Withdrawn)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/images/withdrawn.svg"  width="25" class="mr-1">
                    <span>Withdrawn</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Proposed)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/Icons/proposed.svg"  width="25" height="23" class="mr-1">
                    <span>Proposed</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.ReProposed)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/Icons/re-proposed.svg"  width="26" height="34" class="mr-1">
                    <span style="padding-left: 1px;">Re-proposed</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Revised)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/Icons/revised.svg"  width="25" height="28" class="mr-1">
                    <span>Revised</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Declined)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/images/declined.svg"  width="25" class="mr-1">
                    <span>Declined</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-1 col-md-2">
                    @Html.CheckBoxFor(m => m.Unallocated)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    @*<img src="~/Content/assets/images/cancelled.svg" width="25" class="mr-1">*@
                    @*<span class="icon_status icon_status_unallocated " title="Unallocated" style="font-size: 26px; color: red; padding-left: 4px; font-weight: bolder;">U</span>*@
                    <img src="~/Content/assets/Icons/unallocated.svg"  title="Unallocated" width="20" class="mr-1 icon_status_unallocated">
                    <span style="padding-left: 5px;">Unallocated</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2 pl-3" id="input-entry">
        <div class="col-lg-8 col-sm-8 col-md-8">
            <div class="pl-0 mr-0 ml-0 mt-5 mb-0 input-field">
                @Html.TextBoxFor(m => m.ESDALReference, new { @class = "edit-normal", @placeholder = "ESDAL reference number" })
            </div>
            <div class="pl-0 mr-0 ml-0 mt-2 mb-0 input-field">
                @Html.TextBoxFor(m => m.HaulierName, new { @class = "edit-normal", @placeholder = "Haulier name" })
            </div>
            <div class="pl-0 mr-0 ml-0 mt-2 mb-0 input-field">
                @Html.TextBoxFor(m => m.AllocateUser, new { @class = "edit-normal", @placeholder = "Allocated user" })
            </div>
            <div class="pl-0 mr-0 ml-0 mt-2 mb-0 input-field">
                @Html.TextBoxFor(m => m.CheckingUser, new { @class = "edit-normal", @placeholder = "Checking user" })
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-1">
                    @*<input type="checkbox" id="ShowMyProjects" class="checkbox" name="ShowMyProjects"
                        width="20">*@
                    @Html.CheckBoxFor(m => m.ShowMyProjects)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">Show my projects</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
            <div class="row pb-3">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("InclHistoricMov", new { @class = "checkbox checkall", @name = "IncludeHistoricalDataOrNot", @id = "InclHistoricMov", @style = "width:20px;" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span>Include Historic Data</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4 filters" data-targetid="viewotheroptions">
    <div id="table-head">
        <div class="col-10 col-md-10 col-sm-10">
            <span>
                Dates
            </span>
        </div>
        <div class="col-2 col-md-2 col-sm-2 pl-3">
            <img id="chevlon-up-icon1" src="~/Content/assets/images/up-chevlon-filter.svg"  width="15"
                 style="display: none;">
            <img id="chevlon-down-icon1" src="~/Content/assets/images/down-chevlon-filter.svg"   width="15"
                 style="display: block">
        </div>
    </div>
</div>
<div id="viewotheroptions" style="display: none;">
    <div class="row pl-4" style="padding-top: 1rem;">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
            <div class="row pb-3">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.SOSignDateCheck, new { id = "SOSignDateCheck" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1 datelabel">SO signing date</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 pr-0"></div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">from</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("SOSignFromDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">to</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("SOSignToDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.MovDateCheck, new { id = "MovDateCheck" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1 datelabel">Movement date</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 pr-0"></div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">from</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("MovFromDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">to</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("MovToDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row pb-3">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.ApplicationDateCheck, new { id = "ApplicationDateCheck" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1 datelabel">Application date</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 pr-0"></div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">from</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("ApplicationFromDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">to</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("ApplicationToDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.WorkDueDateCheck, new { id = "WorkDueDateCheck" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1 datelabel">Work due date</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 pr-0"></div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">from</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("WorkDueFromDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 mr-0 ml-0 mt-0 mb-0 text-normal-hyperlink">
                            <span class="text-normal">to</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 mr-0 ml-0 mt-0 mb-0 input-field">
                            @Html.DatePicker("WorkDueToDate", new { @class = "datesearch", disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hf_DateTime", DateTime.Now.ToString("dd-MMM-yyyy"))

