@using System.Web.Optimization
@using STP.Domain
@using System.Globalization
@model List<STP.Domain.MovementsAndNotifications.Movements.SORTMovementList>


@{
    ViewBag.Title = "SORTAppMovementVersion";
    bool IsVR1App = false;
    if (ViewBag.IsVR1App != false)
    {
        IsVR1App = ViewBag.IsVR1App;
    }
    if (ViewBag.hauliermnemonic != "" && ViewBag.esdalref != 0)
    {
        if (IsVR1App == true)
        {
            ViewBag.Concate = ViewBag.hauliermnemonic + '/' + ViewBag.esdalref + '/';
        }
        else
        {
            ViewBag.Concate = ViewBag.hauliermnemonic + '/' + ViewBag.esdalref + '/' + 'S';
        }
    }
    else
    {
        ViewBag.Concate = "Movement version- ";
    }
    long ProjectID = 0;
    if (ViewBag.ProjectID != 0)
    {
        ProjectID = ViewBag.ProjectID;
    }

}
<style type="text/css">

    .headcc {
        background-color: #E9EEF4;
    }
</style>


<div class="main-table1" id="tableSOA">
    @{
        if ((Model.Count != 0)&& (ViewBag.esdalref != 0))
        {
            <table class="mt-5 table-white-bg">
                <thead class="table-soa">
                        <tr>
                            <th class="table-soa1 text-normal m-0 headcc">
                                Movement versions
                            </th>
                            <th class="text-normal m-0 headcc"></th>
                            <th class="table-soa1 text-normal m-0 headcc">Date</th>
                        </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var mov_ver = @ViewBag.Concate + item.VersionNo;
                    <tr>
                        @if (ViewBag.IsChooseCurrMovmOption == true)
                        {
                            <td class="table-soa text-color2"><a class="text-decoration-link currentmovement" id="mov_ver_@item.VersionID" data-id="@item.OrganisationID" arg1="@item.VersionID" arg2="M">@mov_ver</a></td>
                        }
                        else if (ViewBag.IsVehicleCurrentMovenet == true)
                        {
                            <td class="table-soa text-color2"><a class="text-decoration-link currentmovementvehicle" id="mov_ver_@item.VersionID" data-id="@item.OrganisationID" arg1="@item.VersionID" arg2="M" >@mov_ver</a></td>
                        }
                        else
                        {
                            <td class="table-soa text-color2"><a class="text-decoration-link showversion" id="mov_ver_@item.VersionID" data-id="@item.OrganisationID" arg1="@item.VersionNo" arg2="@item.VersionID" arg3="@item.RevisionNo" arg4="@item.RevisionID" arg5="@mov_ver">@mov_ver</a></td>
                        }

                        <td class="table-soa text-color3">
                            @if (item.IsNotified == 1)
                            {
                                <div title="Notified" class="text-normal-hyperlink statusinline">
                                    N
                                </div>
                            }
                        </td>

                        <td class="table-soa text-color3"style="color:black">
                            @if (item.DistributionDate == "")
                            {
                                @item.CommittedDate
                            }
                            else
                            {
                                @item.DistributionDate
                            }
                        </td>
                    </tr>
                    }                   
                </tbody>
            </table>
        }
        else
        {
            <table class="mt-5 table-white-bg">
                <thead class="table-soa">
                    <tr>
                        <th class="table-soa1 text-normal m-0 headcc">
                            Movement versions
                        </th>
                        <th class="table-soa1 text-normal m-0 headcc">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align: center; padding-left: 0px !important;"><span style="color: red">No movement versions for this application.</span></td>
                    </tr>
                </tbody>
            </table>
        }
    }
</div>

@{
<input type="hidden" value="@ViewBag.LatVer" id="hf_LatVer" name="hf_LatVer" />
<input type="hidden" value="@ViewBag.OwnerName" id="hf_OwnerName" name="hf_OwnerName" />
<input type="hidden" value="@ViewBag.Checker" id="hf_Checker" name="hf_Checker" />
<input type="hidden" value="@ViewBag.LatestVersionId" id="hf_LatestVersionId" name="hf_LatestVersionId" />
<input type="hidden" value="@ViewBag.LatestAnalysisId" id="hf_LatestAnalysisId" name="hf_LatestAnalysisId" />
}
@*<script src="~/Scripts/SORTApplication/SORTAppMovementVersion.js?V@(Session["ProjectVersion"])"></script>*@
