@using System.Web.Optimization
@using STP.Web.Custom.Views
@model STP.Domain.Applications.SOApplicationTabs
@using STP.Domain;
@{
    ViewBag.Title = "SORTListMovements";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("hfRouteID", 0)
@Html.Hidden("hfCandidatRouteID", 0)
@Html.Hidden("hfCandidatDescription", 0)
@Html.Hidden("hfCandidatName", 0)
@Html.Hidden("PrevMovESDALRefNum", "")
@Html.Hidden("IsSOvehicle", false)
@Html.Hidden("IsSOroute", false)
@Html.Hidden("IsVR1PreMovroute", false)
@Html.Hidden("IsEdit", false)
@Html.Hidden("tem_ReviosionId")
@Html.Hidden("temRList_type")
@Html.Hidden("StruRelatedMove", "No")
@Html.Hidden("IsMovListAvalabl", "No")
@Html.Hidden("PrevMove_projectid", "")
@Html.Hidden("PrevMove_hauliermnemonic")

@{
    string Owner = "";
    string Checker = "";
    string Work_Status = "";
    var SORTStatus = "";
    string Proj_Status = "";
    var SORTViewStatus = "";
    var msg = "";
    String hauliermnemonic = "";
    int esdalref = 0;
    int revisionno = 0;
    int versionno = 0;
    long revisionId = 0;
    bool VR1Applciation = false;
    bool Reduceddetailed = false;
    int movementId = 0;
    long analysis_id = 0;
    int versionStatus = 0;
    long ApprevId = 0;
    int OrganisationId = 0;
    long versionId = 0;
    string Notification_Code = "";
    string esdal_history = "";
    int projectid = 0;
    int arev_no = 0;
    int arev_Id = 0;
    int ver_no = 0;
    string concate = "";
    string SORTHeading = "";
    string SORTSubHeading = "";
    var MovLatestVer = 0;
    int cloneapprevid = 0;
    bool AppEdit = false;
    int EditFlag = 0;
    string LatestSpeOrder = "";
    int EnterBySort = 0;
    string VR1ContentRef = "";
    // bool hideleftpanel = false;
    ////var saveFlagSOGeneral = "";
    ////var tabStatus = "";
    long Pageflag = 0;
    int ViewFlag = 0;
    int VehicleClass = 0;
    if (Session["RouteFlag"].ToString() == "2")
    {
        Pageflag = 2;
    }
    if (Session["RouteFlag"].ToString() == "1")
    {
        Pageflag = 1;
    }
    @Html.Hidden("Pageflag", 2)

    if (ViewBag.SORTStatus != null)
    {
        SORTStatus = ViewBag.SORTStatus;
        //SORTStatus = "MoveVer";
    }
    if (ViewBag.SORTViewStatus != null)
    {
        SORTViewStatus = ViewBag.SORTViewStatus;
    }
    if (ViewBag.msg != null)
    {
        msg = ViewBag.msg;
    }
    long? OrgID = null;
    OrgID = ViewBag.OrgID;
    bool isReviseApp = ViewBag.isReviseApp;
    ////if (ViewBag.saveFlagSOGeneral != null)
    ////{
    ////    saveFlagSOGeneral = ViewBag.saveFlagSOGeneral;
    ////}
    ////if (ViewBag.tabStatus != null)
    ////{
    ////    tabStatus = ViewBag.tabStatus;
    ////}
    @Html.Hidden("isReviseApp", isReviseApp)
    string strSORTStatus = "";
    switch (SORTViewStatus)
    {
        case "CreateSO":
            strSORTStatus = "Create SO";
            break;
        case "SO":
            strSORTStatus = SORTViewStatus;
            break;
        case "VR-1":
            strSORTStatus = SORTViewStatus;
            break;
    }
    if (ViewBag.Owner != "")
    {
        Owner = ViewBag.Owner;
    }
    if (ViewBag.Checker != "")
    {
        Checker = ViewBag.Checker;
    }
    if (ViewBag.WorkStatus != "" && ViewBag.WorkStatus != null)
    {
        Work_Status = ViewBag.WorkStatus;
    }
    if (ViewBag.hauliermnemonic != null)
    {
        hauliermnemonic = ViewBag.hauliermnemonic;
    }
    if (ViewBag.esdalref != null)
    {
        esdalref = ViewBag.esdalref;
    }
    if (ViewBag.revisionno != null)
    {
        revisionno = ViewBag.revisionno;
    }
    if (ViewBag.versionno != null)
    {
        versionno = ViewBag.versionno;

    }
    if (ViewBag.versionId != null)
    {
        versionId = ViewBag.versionId;

    }
    if (ViewBag.revisionId != null)
    {
        revisionId = ViewBag.revisionId;
    }
    if (ViewBag.VR1Applciation != null)
    {
        VR1Applciation = ViewBag.VR1Applciation;
    }
    if (ViewBag.reduceddetailed != null)
    {
        Reduceddetailed = ViewBag.reduceddetailed;
    }
    if (ViewBag.movementId != null)
    {
        movementId = ViewBag.movementId;
    }
    if (ViewBag.analysis_id != null)
    {
        analysis_id = ViewBag.analysis_id;
    }
    if (ViewBag.ApprevisionId != null)
    {
        ApprevId = ViewBag.ApprevisionId;
    }

    if (ViewBag.Notification_Code != null)
    {
        Notification_Code = ViewBag.Notification_Code;
    }
    if (ViewBag.OrganisationId != null)
    {
        OrganisationId = ViewBag.OrganisationId;
    }
    if (ViewBag.VersionStatus != null && ViewBag.VersionStatus != 0)
    {
        versionStatus = ViewBag.VersionStatus;
    }
    if (ViewBag.Proj_Status != null && ViewBag.Proj_Status != "")
    {
        Proj_Status = ViewBag.Proj_Status;
    }
    if (ViewBag.esdal_history != null)
    {
        esdal_history = ViewBag.esdal_history;
    }
    if (ViewBag.projecid != null)
    {
        projectid = ViewBag.projecid;
    }
    if (ViewBag.arev_no != null)
    {
        arev_no = ViewBag.arev_no;
    }
    if (ViewBag.arev_Id != null)
    {
        arev_Id = ViewBag.arev_Id;
    }
    if (ViewBag.ver_no != null)
    {
        ver_no = ViewBag.ver_no;
    }
    if (ViewBag.MovLatestVer != null)
    {
        MovLatestVer = ViewBag.MovLatestVer;
    }
    if (ViewBag.cloneapprevid != null)
    {
        cloneapprevid = ViewBag.cloneapprevid;
    }
    if (ViewBag.EditRev != null)
    {
        AppEdit = ViewBag.EditRev;
    }
    if (ViewBag.EditFlag != null)
    {
        EditFlag = ViewBag.EditFlag;
    }
    if (ViewBag.LastSpecialOrderNo != "" && ViewBag.LastSpecialOrderNo != null)
    {
        LatestSpeOrder = ViewBag.LastSpecialOrderNo;
    }
    if (ViewBag.EnterBySORT != null)
    {
        EnterBySort = ViewBag.EnterBySORT;
    }
    if (ViewBag.VR1ContentRef != "" && ViewBag.VR1ContentRef != null)
    {
        VR1ContentRef = ViewBag.VR1ContentRef;
    }
    if (ViewBag.ViewFlag != null)
    {
        ViewFlag = ViewBag.ViewFlag;
    }
    if (ViewBag.VehicleClass != null)
    {
        VehicleClass = ViewBag.VehicleClass;
    }
    STP.Domain.Structures.DropDown a = new STP.Domain.Structures.DropDown();
    a.Id = 1;
    a.Value = "A";

    STP.Domain.Structures.DropDown b = new STP.Domain.Structures.DropDown();
    b.Id = 2;
    b.Value = "B";

    List<STP.Domain.Structures.DropDown> con = new List<STP.Domain.Structures.DropDown>();
    con.Add(a);
    con.Add(b);

    //ViewBag.DelegateArrange = con;
    List<STP.Domain.Structures.DropDown> delegationArrange = con; //ViewBag.DelegateArrange;


    //this portion is for status
    string strVersionStatus = "";
    switch (versionStatus)
    {
        //case 305001:
        //   // strVersionStatus = "- Work in progress";
        //    break;
        case 305002:
            strVersionStatus = "- Proposed";
            break;
        case 305003:
            strVersionStatus = "- Reproposed";
            break;
        case 305004:
            strVersionStatus = "- Agreed";
            //strVersionStatus = "";
            break;
        case 305005:
            strVersionStatus = "- Agreed revised";
            break;
        case 305006:
            strVersionStatus = "- Agreed recleared";
            break;

    }


    switch (Proj_Status)
    {
        case "Work In Progress":
            strVersionStatus = "- Work In Progress";
            break;
        case "Agreed Re-Proposed":
            strVersionStatus = "- Agreed Re-Proposed";
            break;
        case "Withdrawn":
            strVersionStatus = "- Withdrawn";
            break;
    }

    if (Proj_Status == "" && versionStatus == 0)
    {
        if (ViewBag.VR1Applciation == true)
        {
            strVersionStatus = "Apply for VR-1";
        }
        else
        {
            strVersionStatus = "Apply for SO ";
        }
    }
    //if (Proj_Status == "Work In Progress")
    //{
    //    if (ViewBag.VR1Applciation == true)
    //    {
    //        strVersionStatus = "Apply for VR-1";
    //    }
    //    else
    //    {
    //        strVersionStatus = "Apply for SO ";
    //    }
    //}


    if (ViewBag.ApplicationStatus == 308002)
    {
        strVersionStatus = "Submitted";
    }
    if (ApprevId != 0)
    {
        if (Proj_Status != "")
        {//Proj_Status != "Work In Progress" &&
            concate = hauliermnemonic + "/" + esdalref + " - ";
        }
        switch (SORTStatus)
        {
            case "Revisions":
                SORTSubHeading = "Application version - " + revisionno + " ";
                break;
            case "MoveVer":
                SORTSubHeading = "Movement version - " + versionno + " ";
                break;
            case "CandidateRT":
                SORTSubHeading = "Candidate route (" + ViewBag.CandName + " - Version " + ViewBag.CandVersionNo + ")";
                break;
            case "SpecOrder":
                // SORTSubHeading = "Special order - " + versionno;
                break;
        }
    }
    long candAnalysisid = ViewBag.CandAnalysisId;
    int CheckerStatus = ViewBag.Checking_Status;
    long CheckerId = ViewBag.CheckerId;
    bool isCandidateVersion = ViewBag.IsLastVersion;
    long PlannerUserId = ViewBag.PlannerUserId;
    long lastroutid = 0;
    long lastrevisionid = 0;
    long SortUserId = ViewBag.SortUserId;
    if (ViewBag.LatestCandidateRouteId != null)
    {
        lastroutid = ViewBag.LatestCandidateRouteId;
    }
    if (ViewBag.LatestCandidateRevisionId != null)
    {
        lastrevisionid = ViewBag.LatestCandidateRevisionId;
    }
    int appstatuscode = 0;
    if (ViewBag.AppStatusCode != null)
    {
        appstatuscode = ViewBag.AppStatusCode;
    }
    decimal ismovdistributed = 0;
    if (ViewBag.IsDistributed != null)
    {
        ismovdistributed = ViewBag.IsDistributed;
    }
    int LatestCandRevNo = 0;
    if (ViewBag.LatestCandRevisionNo != null)
    {
        LatestCandRevNo = ViewBag.LatestCandRevisionNo;
    }
    string Vr1Number = null;
    if (ViewBag.Vr1Number != null)
    {
        Vr1Number = ViewBag.Vr1Number;
    }
    long Routeanalysisid = 0;
    if (ViewBag.RouteAnalysisId != null)
    {
        Routeanalysisid = ViewBag.RouteAnalysisId;
    }
    //decimal MovIsDistributed = 0;
    //if(ViewBag.MovIsDistributed!=null)
    //{
    //    MovIsDistributed = ViewBag.MovIsDistributed;
    //}
    string SONumber = null;
    if (ViewBag.SONumber != null)
    {
        SONumber = ViewBag.SONumber;
    }
    int VersionIsDistributed = Model.IsDistributed;
    string HaJobfileref = null;
    if (ViewBag.HAJobFileRef != null)
    {
        HaJobfileref = ViewBag.HAJobFileRef;
    }
    decimal EnteredBySort = 0;
    if (ViewBag.EnteredBySort != null)
    {
        EnteredBySort = ViewBag.EnteredBySort;
    }
    decimal PreVerDistr = 0;
    if (ViewBag.PreVerDistributed != null)
    {
        PreVerDistr = ViewBag.PreVerDistributed;
    }
    long DistributedMovAnalysisId = 0;
    if (ViewBag.DistributedMovAnalysisId != null)
    {
        DistributedMovAnalysisId = ViewBag.DistributedMovAnalysisId;
    }
    //long MovAnalysisId = 0;
    //if(ViewBag.MovAnalysisId!=null)
    //{
    //    MovAnalysisId = ViewBag.MovAnalysisId;
    //}
    string sonum = null;
    if (ViewBag.sonum != null)
    {
        sonum = ViewBag.sonum;
    }
    long ApplicationStatus = 0;
    if (ViewBag.Application_Status != null)
    {
        ApplicationStatus = ViewBag.Application_Status;
    }
}

@Html.Hidden("sonum", sonum)
@Html.Hidden("Pageflag", Pageflag)
@Html.Hidden("Owner", Owner)
@Html.Hidden("Checker", Checker)
@Html.Hidden("Work_Status", Work_Status)
@Html.Hidden("VR1Applciation", VR1Applciation)
@Html.Hidden("ApprevId", ApprevId)
@Html.Hidden("projectid", projectid)
@Html.Hidden("Notification_Code", Notification_Code)
@Html.Hidden("OrganisationId", OrganisationId)
@Html.Hidden("movementId", movementId)
@Html.Hidden("analysis_id", analysis_id)
@Html.Hidden("Reduceddetailed", Reduceddetailed)
@Html.Hidden("SortStatus", SORTStatus)
@Html.Hidden("SortUserTypeId", 696008)
@Html.Hidden("esdal_history", esdal_history)
@Html.Hidden("hauliermnemonic", hauliermnemonic)
@Html.Hidden("esdalref", esdalref)
@Html.Hidden("revisionno", revisionno)
@Html.Hidden("versionno", versionno)
@Html.Hidden("versionId", versionId)
@Html.Hidden("versionStatus", versionStatus)
@Html.Hidden("SortUserTypeId", 696008)
@Html.Hidden("Msg", msg)
@Html.Hidden("revisionId", revisionId)
@Html.Hidden("ApplicationrevId", new { @id = "ApplicationrevId" })
@Html.Hidden("OrgID", OrgID, new { @id = "OrgID" })
@Html.Hidden("hdnApplicationStatus", null, new { @id = "hdnApplicationStatus" })
@Html.Hidden("MovLatestVer", MovLatestVer)
@Html.Hidden("cloneapprevid", cloneapprevid)
@Html.Hidden("Proj_Status", Proj_Status)
@Html.Hidden("AppEdit", AppEdit)
@Html.Hidden("EditFlag", EditFlag)
@Html.Hidden("hdn_esdalrefnumberVR1")
@Html.Hidden("VR1ContentRefNo")

@* these values are for haulier application revisions*@
@Html.Hidden("arev_no", arev_no)
@Html.Hidden("arev_Id", arev_Id)
@Html.Hidden("ver_no", ver_no)
@*application revisions*@

@Html.Hidden("vr1appln", false, new { @id = "vr1appln" })
@*@Html.Hidden("candAnalysisId", candAnalysisid)*@
@Html.Hidden("candAnalysisId", Routeanalysisid)
@Html.Hidden("CheckerStatus", CheckerStatus)
@Html.Hidden("CheckerId", CheckerId)
@Html.Hidden("SortUserId", SortUserId)
@Html.Hidden("IsCandVersion", isCandidateVersion)
@Html.Hidden("PlannrUserId", PlannerUserId)
@Html.Hidden("LastCandRouteId", lastroutid)
@Html.Hidden("LastCandRevisionId", lastrevisionid)
@Html.Hidden("AppStatusCode", appstatuscode)
@Html.Hidden("IsMovDistributed", ismovdistributed)
@Html.Hidden("LatestSpeOrder", LatestSpeOrder)
@Html.Hidden("LastCandVersion", LatestCandRevNo)
@Html.Hidden("Vr1Number", Vr1Number)
@Html.Hidden("EnterBySort", EnterBySort)
@Html.Hidden("VR1ContentRef", VR1ContentRef)
@*@Html.Hidden("MovIsDistributed", MovIsDistributed)*@
@Html.Hidden("SONumber", SONumber)
@Html.Hidden("Organisation_ID")
@Html.Hidden("Organisation_Name")
@Html.Hidden("SORTApplication", true)
@*@Html.Hidden("MovAnalysisId", MovAnalysisId)*@
@Html.Hidden("VersionDistributed", VersionIsDistributed)
@Html.Hidden("HaJobFileRef", HaJobfileref)
@Html.Hidden("EnteredBySort", EnteredBySort)
@Html.Hidden("PreVerDistr", PreVerDistr)
@Html.Hidden("DistributedMovAnalysisId", DistributedMovAnalysisId)
@Html.Hidden("Application_Status", ApplicationStatus)
@Html.Hidden("hdnCONTACTID")
@Html.Hidden("RtnHdnOrgFax")
@Html.Hidden("RtnHdnOrgEmailId")
@Html.Hidden("ShowPrevMoveSortRT")
@Html.Hidden("ViewFlag", ViewFlag)
@Html.Hidden("IsPreviousMvmnt", 0)
@Html.Hidden("IsBrokenCSCheck", 0)
@Html.Hidden("VehicleClass", VehicleClass)
<input type="hidden" id="isSORTList" value="0" />

<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
<link href="~/Content/Style/Common/tab_css.css" rel="stylesheet" />

@*<link href="~/Content/Web/bootstrap.min2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/Common/Layout/tab.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/SOApplication/jQuery.SOApplication.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Vehicle/VehicleConfig.Registration.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Vehicle/vehicleConfig.FleetGrid.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Movements/jQuery.movements.list.js?V@(Session["ProjectVersion"])"></script>*@

@*@System.Web.Optimization.Scripts.Render("~/bundles/SORTListMovements")*@


<style>

    .xslt-table-list table td {
        padding: 10px !important;
    }

    .dropdown-item:hover {
        color: inherit !important;
    }
</style>
<body id="SoprocRtDiv">
    <div id="sort-flow">
        <section id="banner">
            <div class="container-fluid" id="banner-container">
                <div id="displayConstraintHistory" style="display:none;">

                </div>
                <div id="vehicles" style="min-height:100%; position:relative;">
                    <div id="sort-menu-list">
                        <div class="tab-row">
                            @*<div id="tab_wrapper" style="width: 99.5%; padding-left:0px;">
                                    <ul>
                                        @Html.SORTTabs(SORTStatus, VR1Applciation, Reduceddetailed, AppEdit, EnterBySort, true, versionStatus, isCandidateVersion)
                                    </ul>
                                </div>*@


                            @Html.SORTTabs(SORTStatus, VR1Applciation, Reduceddetailed, AppEdit, EnterBySort, true, versionStatus, isCandidateVersion)

                        </div>
                    </div>


                    <div id="title" class="main-sort-content" style="background-color: white;">
                        <div class="main-title">
                            <span class="edit-normal mainhead"> @concate </span>
                            <span class="edit-normal sorthead" style="font-family: 'lato_light' !important"> @strSORTStatus  @strVersionStatus </span><br>
                            <span class="edit-normal sortsubhead" style="font-family: 'lato_light' !important"> @SORTSubHeading</span>
                            <br />



                        </div>
                        <div class="VR1GeneralDetailsdiv tab_content1" id="HaulOrg">
                        </div>
                        <div class="VR1GeneralDetailsdiv tab_content1" id="General" style="display: block;">
                        </div>
                        <div class="tab_content1" id="SupplInfo">
                        </div>
                        <div class="tab_content1" id="leftpanel"></div>
                        <div class="tab_content1" id="tab_3"></div>
                        <div class="tab_content1" id="tab_2"></div>
                        <div class="tab_content1" id="tab_7"></div>
                        <div class="tab_content1" id="tab_8"></div>

                        <div class="tab_content1" id="tab_4">
                            <div id="StruRelatedMov"></div>
                            <div id="mapTitle"></div>
                            <div id="RoutePart"></div>
                            <div id="RouteDetails">

                            </div>
                            <div id="divCurrentMovement"></div>
                            <div id="divCandiRouteDeatils"></div>
                            <table id="ShowDetail" style="display:none">
                                <tr><th colspan="2" class="headgrad">Route Part Name</th></tr>
                                <tr><td colspan="2"><span id="RouteName"></span></td></tr>
                                <tr id="trHeaderDescription"><th colspan="2" class="headgrad">Route Description</th></tr>
                                <tr id="trdesc"><td colspan="2"><span id="RouteDesc"></span></td></tr>
                                <tr><th colspan="2" id="trRoute" class="headgrad">Route</th></tr>
                                <tr id="trStarting"><td style="width:100px">Starting </td><td><span id="Starting"></span></td></tr>
                                <tr id="trVia">
                                    <td style="vertical-align:top">via / Waypoint </td>
                                    <td>
                                        <table id="Tabvia" class="table">
                                        </table>
                                    </td>
                                </tr>
                                <tr id="trEnding"><td>Ending </td><td><span id="Ending"></span></td></tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="RouteMap">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="TDbtnBackToRouteList">
                                        <button class="btn_reg_back next btngrad btnrds btnbdr" aria-hidden="true" data-icon="" type="button" id="btn-library">Back</button>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div class="row pt-4 tab_content1" id="generalDetailDiv">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6" id="SelectCurrentMovementsVehicle1" style="display:none;"></div>
                                <div class="col-lg-3 col-md-6 col-sm-6" id="SelectCurrentMovementsVehicle" style="display:none;"></div>
                                <div class="col-lg-3 col-md-6 col-sm-6" id="SelectCurrentMovementsVehicle2" style="display:none;"></div>
                            </div>
                            <div class="row">
                                <div class="button main-button mr-0 col-lg-2" id="previousMovementImportBack" style="display:none;">
                                    <button class="btn btn-primary btn-normal" role="button" id="mov-vehicle" aria-pressed="true">
                                        BACK
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-4 tab_content1" id="previousMovementListDiv">
                        </div>

                        <div class="tab_content1" id="divViewRouetDetail" style="display:none">
                            <span id="temRouteId" style="display:none"></span>
                            <table id="ViewRouetDetail" style="display:none">
                                <tr><th colspan="2" class="headgrad">Route Part Name</th></tr>
                                <tr><td colspan="2"><span id="RouteName1"></span></td></tr>
                                <tr id="trHeaderDescription1"><th colspan="2" class="headgrad">Route Description</th></tr>
                                <tr id="trdesc1"><td colspan="2"><span id="RouteDesc1"></span></td></tr>
                                <tr><th colspan="2" id="trRoute1" class="headgrad">Route</th></tr>
                                <tr id="trStarting1"><td style="width:100px">Starting </td><td><span id="Starting1"></span></td></tr>
                                <tr id="trVia1">
                                    <td style="vertical-align:top">via / Waypoint </td>
                                    <td>
                                        <table id="Tabvia1" class="table">
                                        </table>
                                    </td>
                                </tr>
                                <tr id="trEnding1"><td>Ending </td><td><span id="Ending1"></span></td></tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="RouteMap1">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="TDbtnBackToRouteList1">
                                        <button class="btn_reg_back next btngrad btnrds btnbdr" aria-hidden="true" data-icon="" type="button" id="back-move">Back</button>
                                        <button class="btn_reg_back next btngrad btnrds btnbdr" aria-hidden="true" data-icon="" type="button" id="import-view">Import</button>

                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="tab_content1" id="Cand_RouteVehicles">
                            <div id="vr1Route" style="display:none"></div>
                            <div id="ApplicationParts" style="display:none"></div>
                        </div>
                        <div class="tab_content1" id="Cand_CheckDeffrence"></div>
                        <div class="tab_content1" id="SOHaulierApplDetails"></div>

                    </div><!--end main-sort-content-->
                    <div style="display:none; position:absolute; top:88px; right:15px;" id="back_btn_Rt">
                        <button class="btn outline-btn-primary SOAButtonHelper" id="back-to-candid">BACK</button>
                    </div>
                    <div id="route" style="display:none; background:#fff;"></div>
                </div>
            </div>
        </section>
        <div id="filters_trans" class="sidenav filter-sidenav filters_trans" style="padding-top: 20px !important;">
            <div class="row sidenav-header">
                <div class="col-10 col-md-10 col-sm-10" style="text-align: center;margin-top: 15px;">
                    <span style="font-size:20px; font-family: lato_bold;">
                        FILTER
                    </span>
                </div>
                <div class="col-2 col-md-2 col-sm-2 pl-0" style="position: none;">
                    <a href="#" style="font-size: 40px; padding: 0px;" id="close-trans">&times;</a>
                </div>
            </div>
            <hr style="margin-top: 0;">
            <div class="sort-portal">
                <div class="filter-list" id="filter_SORT">
                    @{
                        Html.RenderAction("SearchTransmissionStatusPanel", "Notification");
                    }

                </div>
            </div>
        </div>
        <div id="addressBookFilterDiv" style="display:none;">

        </div>
    </div>
    <div id="div_ListSOMovements">
        <div id="divsovalidation" style="display:none;">


            <span class="spantd1"></span><span class="spantd">

                <span id="validationSucced"></span>
                <span class="green link" id="showwhyso" style="display:none;">Show Why </span>
                <span class="green link" id="showwhyvr1" style="display:none;">Show Why </span>
            </span>

        </div>


        <div class="tab_content1" id="sortGeneral">


        </div>
        <div id="div_deleg1">
            @foreach (var data in delegationArrange)
            {
                <input type="hidden" value="@data.Value" />
            }
        </div>
        <div class="tab_content1" id="tab_5">
            <div id="RouteAssesment"></div>
            <div id="div_StructureGeneralDetails"></div>
        </div>
        <div class="tab_content1" id="tab_6"></div>


        @*  <div class="tab_content1" id="divStructRelatedMovements"></div>*@
        <div class="tab_content1" id="tab_10"></div>
    </div>
    <div class="tab_content1" id="cand_tab"></div>

    <div id="SelectCurrentMovements1"></div>
    <div id="StruRelatedMov_viewDetails"></div>

    <div id="SelectCurrentMovements2"></div>
    <div id="btnBackToStruRelatedMov" style="display:none">
        <button type='button' class='btn_reg_back next btngrad btnrds btnbdr' id="back-struct">Back</button>

    </div>

    @*<div id="route" style="height:590px;display:none">
        </div>*@
    <div class="row mt-4" style="float: right;display:none" id="back_btn_Rt">
        <div class="mt-5 pl-0 ml-0">
            <button class="btn outline-btn-primary SOAButtonHelper ml2 mb-2" style="margin-top: 68px;" id="back-to-candid">BACK</button>
        </div>
    </div>

    <!-- popup box start here -->
    <div id="pop_dialog" style="display: none;" class="pop-overlay1">
        <div id="pop_warning_dialog" class="POP-dialogue1">
            <div class="popup1">
                <div class="message1">
                    <span aria-hidden="true" data-icon="&#xe0f3;" class="span clox"></span>
                    <div class="pop-message"></div>
                </div>
                <div class="footer1">
                    <button class="btngrad btnrds btnbdr box_Cancel_btn"></button>
                    <button class="btngrad btnrds btnbdr box_Ok_btn"></button>
                </div>

            </div>
        </div>
    </div>
    <div id="divCurrent"></div>

    <!-- popup box end here -->
    @Html.Hidden("hdnVRRouteTab", null, new { @id = "hdnVRRouteTab" })
    @Html.Hidden("hdnStructID")
    @Html.Hidden("hdnStructCode")
    <div id="div_form_post" style="display:none;">
        @using (Ajax.BeginForm("ListImportedVehicleConfiguration", "Application", new { }, new AjaxOptions { HttpMethod = "POST", OnBegin = "startAnimation", OnComplete = "stopAnimation", OnSuccess = "ListVehicles1" }, new { id = "form_list_vehicle" }))
        {
            @Html.Hidden("apprevisionId", null, new { id = "hidden_apprevisionId" })
            @Html.Hidden("routepartId", null, new { id = "hidden_routepartId" })
            @Html.Hidden("VRAPP", null, new { id = "hidden_VRAPP" })

            @Html.Hidden("SORTView", null, new { id = "hidden_SORTView" })
            @Html.Hidden("status", null, new { id = "hidden_status" })
        }
    </div>
    <div id="hiddendivsoroute" style="display:none"></div>

    @{
        string vHfRouteType = "planned";

    }
    @Html.Hidden("HfRouteType", vHfRouteType)
    @Html.Hidden("SearchPrevMoveVeh", "No")
</body>
<div id="dialogueSORTRelatedItems" class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" >
    <div class="modal-dialog modal-lg" role="document" style=" max-width: 1036px;">
        <div class="modal-content" style=" width: 100%;    padding: 30px;">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn outline-btn-primary btn-normal backtoStructurepopup" role="button" aria-pressed="true" data-dismiss="modal"
                        style="width: 12rem !important;">
                    CLOSE
                </button>
            </div>
        </div>
    </div>
</div>


<style>
    #generalDetailDiv {
        width: 100%;
        /*padding: 2% 3% !important;*/
    }

    #banner-container {
        padding-bottom: 0px;
    }

    .main-sort-content #vehicle-table {
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    #vehicles .createVehicleDiv {
        padding-right: 0% !important;
        padding-left: 0% !important;
    }

    #vehicle_Create_section #scoll-left-btn {
        margin-left: -2rem !important;
    }

    #vehicle_Create_section #scoll-right-btn {
        margin-right: -2rem !important;
    }

    #pop-warning {
        opacity: 1;
        padding: 3%;
    }

    #dialogueSORTRelatedItems table th {
        color: white;
    }

    .LeftpanelConst1 {
        margin-top: -4rem !important;
        height: auto !important;
        min-height: 19rem !important;
        width: 24rem !important;
    }

    .Imgswipwarning {
        margin-left: 23rem !important;
        position: relative !important;
        margin-top: -12rem !important;
    }

    .card {
        cursor: auto !important;
    }

    .tab-row .card {
        cursor: pointer !important;
    }
</style>

<input type="hidden" value="@ViewBag.ViewFlag" id="hf_ViewFlag" name="hf_ViewFlag" />
<input type="hidden" value="@ViewBag.ContentRefNo" id="hf_ContentRefNo" name="hf_ContentRefNo" />
<input type="hidden" value="@ViewBag.IsNotif" id="hf_IsNotif" name="hf_IsNotif" />
<input type="hidden" value="@ViewBag.SortUserId" id="hf_SortUserId" name="hf_SortUserId" />
<input type="hidden" value="@ViewBag.apprevid" id="hf_apprevid" name="hf_apprevid" />
<input type="hidden" value="@ViewBag.CandVersionNo" id="hf_CandVersionNo" name="hf_CandVersionNo" />
<input type="hidden" value="@ViewBag.CandName" id="hf_CandidateName" name="hf_CandidateName" />
<input type="hidden" value="@ViewBag.LatestCandidateRevisionId" id="hf_LatestCandRevisionId" name="hf_LatestCandRevisionId" />
@Html.Hidden("hf_RouteFlag", Session["RouteFlag"])

<script src="~/Scripts/jquery.unobtrusive-ajax.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTListMovemnets.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/JQuery.SORTMovements-1.0.2.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/CreateVehicle/createVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/CreateVehicle/VehicleAutoFill.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/CreateVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Contact/ContactView.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/CreateComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/jQuery.Cofig.VehicleConfigList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_ComponentSelection.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_Assessment.js?V@(Session["ProjectVersion"])"></script>
@*<script src="~/Scripts/Notification/PopUpAddressBookCsp.js"></script>*@
<script src="~/Scripts/CreateVehicle/VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/unitConversion.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuesry.Comp.General.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/VehicleComponentEdit.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Axle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/AxleComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Register.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Create.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/RegistrationComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_ConfigRegistration.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/SORTApplication/SORTProjectOverview.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTApplRevisions.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTLeftPanel.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/RouteAssessment/ListAffectedStructures.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedStructures.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/AffectedstructureSummaryPopup.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/Annotations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedRoads.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/DrivingInstruction.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedParties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAnnotations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListCautions.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListConstraints.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAffectedRoads.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/SORTApplication/ProjectOverviewLeftPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTAppMovementVersion.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTApplicationSummary.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/ApplSummaryLeftPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/AgreedRoutes.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/RouteAnalysisPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/CandiVersionRoutesList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/PartialView/_SortCandiRouteDetails.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Application/ViewApplication.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Application/ListImportedVehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/jQuery.vehicleConfig.List.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/vehicleConfig.Create.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/VehicleConfig.Registration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BPlanning.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTMovementHistory.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/HaulierApplVehicleParts.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ApplicationVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/ManualAddedParties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/AffectedParties.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Notification/PopUpAddressBookCsp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTAppCandidateRouteVersion.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTSpecialOrderView.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ApplicationRouteList.js?V@(Session["ProjectVersion"])"></script>
@*if (ViewBag.IsCandidateRoute == true)  // js file specific for candidate route
    {*@
<script src="~/Scripts/Movements/planCandidate.js?V@(Session["ProjectVersion"])"></script>
@*}*@
<script src="~/Scripts/Application/RouteVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/PartialView/_SortRouteDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/MovementRoute.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/LibraryRoutePartDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BLeftpanel.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/SORTApplication/MapFilter.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTInboxFilter.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTInboxAdvancedFilter.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/jQuery.hauliertfilter.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/ViewConfigurationGeneral.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/GeneralVehicleComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ViewSupplimentaryInfo.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTAllocateUser.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/CreateCandidateRouteVersion.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTAppEditCandiRouteName.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/routeAssessment.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/CreateCandidateRoute.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/CandidateCheckerAllocation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/UpdateCheckingStatusPopup.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/jquery.validate.min.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/SORTApplication/DistributionCommentsPopUp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/CollabHistoryPopList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/MoveSummaryLeftPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/CreateInternalCollaboration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/HaulierApplRouteParts.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/CollaborationStatusList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/DisplayCollaborationHistoryList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/HaulierNotes.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ViewContactDetails.js"></script>
<script src="~/Scripts/Web/redactor.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/SearchTransmissionStatusPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/ViewConfigDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/ViewConstraint.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/HaulierConstraintDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ViewAssessmentResult.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/enterRouteDetail.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Annotation/CreateAnnotation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Annotation/PartialView/_DisplayAnnotationListPopUp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Contact/ContactList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/TransmissionStatusList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/DistributionStatus/Retransmit.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/SORTInbox.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SORTApplication/CandiVersionVehicleList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/AddressBook/PartialView/_ManageAddressBookDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/UnsuitableStructureSummary.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/ReviewStructureSectionImposedConstraints.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/ReviewSummaryPopup.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/StructureContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/RoadContact.js?V@(Session["ProjectVersion"])"></script>