@using System.Web.Optimization
@using STP.Domain
@using System.Globalization
@model List<STP.Domain.MovementsAndNotifications.Movements.SORTMovementList>


@{
    ViewBag.Title = "SORTSpecialOrderView";
    string Sonumber = null;
    if (ViewBag.SoNumber != null)
    {
        Sonumber = ViewBag.SoNumber;
    }
}

<div class="main-table1" id="tableSOA">
    @{
        if (Model.Count != 0)
        {
            <div id="App_Special_Order_View">
                <table class="mt-5 table-white-bg">
                    <thead class="table-soa">
                        <tr>
                            <th class="table-soa1 text-normal m-0">
                                Special orders
                            </th>
                            <th class="table-soa1 text-normal m-0">Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="table-soa text-color2"><a class="text-decoration-link" id="btn-sp" href="#" data-id="@item.OrderNumber" data-vid="@item.VersionID">@item.OrderNumber</a></td>
                                <td class="table-soa text-color3">@item.ExpiryDate</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <table class="mt-5 table-white-bg">
                <thead class="table-soa">
                    <tr>
                        <th class="table-soa1 text-normal m-0">
                            Special orders
                        </th>
                        <th class="table-soa1 text-normal m-0">Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align: center; padding-left: 0px !important;"><span style="color: red">No special orders for this application.</span></td>
                    </tr>
                </tbody>
            </table>
        }
    }
</div>

@Html.Hidden("hf_Count", Model.Count)
@Html.Hidden("hf_Sonumber", Sonumber)
@*<script src="~/Scripts/SORTApplication/SORTSpecialOrderView.js?V@(Session["ProjectVersion"])"></script>*@