@using System.Web.Optimization
@using STP.Domain
@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.DocumentsAndContents.FeedbackDomain>


<div class="main-content">
    <div class="content-list">
        <div class="row mr-0 ml-0">
            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 pr-0 pb-0 news">
                Feedback
            </div>
        </div>
        <div class="row mr-0 ml-0">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sub-col1">
                    <hr class="mb-0 mt-0">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 line1">
                            <span style="color: #adb4b4;"> @item.FullName </span>-
                            @{
                                if (!string.IsNullOrEmpty(item.Description))
                                {
                                    int chopLength = 150;
                                    if (item.Description.Length < chopLength)
                                    {
                                        @Html.Raw(item.Description)
                                    }
                                    else
                                    {
                                        var first150Cahrs = item.Description.Substring(0, chopLength);
                                        //var after150Cahrs = item.Description.Substring(chopLength, item.Description.Length - chopLength);

                                        <span class="feedBack-less-@item.FeedBackId">@first150Cahrs...</span>
                                        @*<span class="feedBack-more-@item.FeedBackId" style="display:none;">@item.Description</span>
                                        <a class="btn-more-feedback more" data-feedabckId="@item.FeedBackId" style="color: #fff;text-decoration: underline;">
                                            Read more
                                        </a>*@
                                    }
                                }
                            }
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <a a href="#" FeedBackId="@item.FeedBackId" OpenCheck="@item.OpenCheck" class="view-feedbackDetails">
                                <img src="~/Content/assets/images/main-chevlon.svg" width="20">
                            </a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row mr-0 ml-0 pt-0">
        <div id="more-info" class="col-lg-12 col-md-12 col-sm-12 more-info">
            More feedback
            <span>
                <a href="../Feedback/ListFeedback">
                    <img src="~/Content/assets/images/down-chevlon.svg" width="20">
                </a>

            </span>
        </div>
    </div>
</div>

