@model STP.Domain.Applications.SupplimentaryInfo

<div class="row mt-4 pr-8" style="display: none;" id="cancel_suppli_info_btn_cntr">
    <div class="col-lg-6 col-md-6 col-sm-12" id="table-head"></div>
    <div class="col-lg-6 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
        <span id="table-head">
            <div class="button main-button mr-3" style=" width: 115px;">
                <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" id="CancelEditingSupplInfo">
                    CANCEL
                </button>
            </div>
            @*<span class="details pl-3 pt-2 pr-3" style="color:rgba(39, 87, 149, 1);">Show details</span>
                <img src="assets/images/down-chevlon-filter.svg" width="15">*@
        </span>
    </div>
</div>
@using (Html.BeginForm("SaveSupplimentaryInfo", "Application", FormMethod.Post, new { id = "supplimentaryinfo" }))
{
    @Html.HiddenFor(m => m.Shipment)
    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.LoadDivision)
    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: right">
        <label class="text-normal">* indicates mandatory fields</label>
    </div>
    <div class="row pt-6">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row mb-4">
                <div class="col-sm-6 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">Total distance of the road movement (in miles)*</label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 input-field">
                    @Html.TextBoxFor(m => m.TotalDistanceOfRoad, new { @class = "edit-normal onchangefunctionVR1Suppl",@data_maxlength="80" })
                    <span id="spTotalDistOfRoad" class="error invalid-feedback" style="display:block;"></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-normal">
                    miles
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">
                        What is the approximate value of the load?
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 input-field">
                    @Html.TextBoxFor(m => m.ApprValueOfLoad, new { @class = "edit-normal onchangefunctionVR1Suppl", @data_maxlength = "80" })
                    <span id="spApprValueOfLoad" class="error invalid-feedback" style="display:block;"></span>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-normal">
                    pounds
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-6 pr-3">
                    <label class="text-normal">
                        Give date of authority and starting point of any similar
                        movement previously authorised
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 input-field text-normal">
                    @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        style="width: 100%;"></textarea>*@
                    @Html.TextAreaFor(m => m.DateOfAuthority, new { @rows = "5", @style = "width:100%", @class = "form-control onchangefunctionVR1Suppl", @data_maxlength = "200" })
                    @Html.ValidationMessageFor(m => m.DateOfAuthority)
                    <span id="spDateOfAuthority" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row pt-6">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row align-items-center mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">
                        Would division of the load to
                        reduce width involve undue expense or risk of damage?
                        (if yes, state: (a) the additional cost (b) the nature of the risk
                    </label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 input-field">
                    <div class="flexer structureRadioHelper mt-0">
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="LoadDiv" value='1'
                                   id="YesLoadDiv" checked>
                            <label class="form-check-label label1 text-color3" for="flexRadioDefault1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="LoadDiv" value='0'
                                   id="NoLoadDiv" checked>
                            <label class="form-check-label label1 text-color3" for="flexRadioDefault1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">
                        The additional cost
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 input-field">
                    @Html.TextBoxFor(m => m.AdditionalCost, new { @class = "edit-normal onchangefunctionVR1Suppl", @data_maxlength = "80" })
                    <span id="spAdditionalCost" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-6 pr-3">
                    <label class="text-normal">
                        Nature of risk
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 input-field text-normal">
                    @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        style="width: 100%;"></textarea>*@
                    @Html.TextAreaFor(m => m.RiskNature, new { @rows = "5", @style = "width:100%", @class = "form-control onchangefunctionVR1Suppl", @data_maxlength = "200" })
                    @Html.ValidationMessageFor(m => m.RiskNature)
                    <span id="spRiskNature" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>

        </div>


    </div>

    <hr>

    <div class="row pt-6">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row align-items-center mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <label class="text-normal">Has part sea shipment been considered?</label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 input-field">
                    <div class="flexer structureRadioHelper mt-0">
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="partsea" value='1'
                                   id="partseatrue" checked>
                            <label class="form-check-label label1 text-color3" for="flexRadioDefault1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="partsea" value='0'
                                   id="partseafalse" checked>
                            <label class="form-check-label label1 text-color3" for="flexRadioDefault1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">
                        Port names
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 input-field">
                    @Html.TextBoxFor(m => m.PortNames, new { @class = "edit-normal onchangefunctionVR1Suppl", @data_maxlength = "80" })
                    @Html.ValidationMessageFor(m => m.PortNames)
                    <span id="spPortNames" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-6 pr-3">
                    <label class="text-normal">
                        Sea quotation details
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 input-field text-normal">
                    @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        style="width: 100%;"></textarea>*@
                    @Html.TextAreaFor(m => m.SeaQuotation, new { @rows = "5", @style = "width:100%", @class = "form-control onchangefunctionVR1Suppl", @data_maxlength = "200" })
                    @Html.ValidationMessageFor(m => m.SeaQuotation)
                    <span id="spSeaQuotation" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row pt-6">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="row align-items-center mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">
                        Is address given in this application of the
                        final destination (if no, give details of further proposed movements)?
                    </label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 input-field">
                    <div class="flexer structureRadioHelper mt-0">
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="Address" value='1'
                                   id="YesAddress" checked>
                            <label class="form-check-label label1 text-color3" for="flexRadioDefault1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="Address" value='0'
                                   id="NoAddress" checked>
                            <label class="form-check-label label1 text-color3" for="flexRadioDefault1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-6 pr-3">
                    <label class="text-normal">
                        Details of further proposed movements
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 input-field text-normal">
                    @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        style="width: 100%;"></textarea>*@
                    @Html.TextAreaFor(m => m.ProposedMoveDetails, new { @rows = "5", @style = "width:100%", @class = "form-control onchangefunctionVR1Suppl", @data_maxlength = "200" })
                    @Html.ValidationMessageFor(m => m.ProposedMoveDetails)
                    <span id="spProposedMoveDetails" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row pt-6">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row mb-4">
                <div class="col-sm-6 col-md-6 col-lg-5 pr-3">
                    <label class="text-normal">What is the approximate cost of road movement?</label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 input-field text-normal">
                    @*<input class="edit-normal" type="text" name="from">*@
                    @Html.TextBoxFor(m => m.ApprCostOfMovement, new { @class = "edit-normal onchangefunctionVR1Suppl", @data_maxlength = "80" })
                    <span id="spApprCostOfMovement" class="error invalid-feedback" style="display:block"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-6 pr-3">
                    <label class="text-normal">
                        Any additional consideration you wish to be
                        taken into account should be mentioned here
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 input-field text-normal">
                    @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        style="width: 100%;"></textarea>*@
                    @Html.TextAreaFor(m => m.AdditionalConsideration, new { @rows = "5", @class = "form-control onchangefunctionVR1Suppl", @style = "width: 100%", @data_maxlength = "800" })
                    @Html.ValidationMessageFor(m => m.AdditionalConsideration)
                    <span id="spAdditionalConsideration" class="error invalid-feedback" style="display:block;"></span>
                </div>
            </div>
        </div>
    </div>



}

@Html.Hidden("hf_Shipment", Model.Shipment)
@Html.Hidden("hf_LoadDivision", Model.LoadDivision)
@Html.Hidden("hf_TotalDistanceOfRoad", Model.TotalDistanceOfRoad)
@Html.Hidden("hf_Address", Model.Address)

@*<script src="~/Scripts/Application/_ApplicationSupplimentaryInfo.js?V@(Session["ProjectVersion"])"></script>*@
