@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.Applications.IndemnityConfirmation

@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }

}

<style>
    .detailsPopup {
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
    }

    .modal-body {
        margin-bottom: 0rem !important;
    }
    .indeminity-table tr {
        background-color: #fff !important;
    }
</style>
<div class="modal fade" id="contactDetails" tabindex="-1" role="dialog" style="cursor: pointer"
     aria-hidden="false">
    <div class="modal-dialog modal-lg detailsPopup" style="overflow:unset;">

        <div id="soa-structure-detail">

            <!--main content -->
            <section id="banner" class="map-icons">

                <div id="CloseViewCons" class="row" style="margin-left: auto;">
                    <div class="card" style="width: auto; height: auto; padding-bottom: 2rem; border-radius: 1rem;">
                        <div id="check-caution" style="margin-top:15px;margin-right:15px;">

                            <div class="row mt-1 main-entry">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row mb-1" id="table-head">

                                        <span class="text-normal pr-2" style="font-family: lato_light;font-size:25px;">
                                            Indemnity confirmation
                                            <span class="text-normal pr-1" style="color:rgba(39, 87, 149, 1);font-size:50px;float:right;margin-top: -23px;font-family: lato_light;" id="IDcloseMp">
                                                &times;
                                            </span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.NotificationId, new { Id = "NotificationId" })

                            <div class="modal-body pt-4 pl-3" style="margin-top: -2rem;">
                                <table class="tableStyle indeminity-table">
                                    <tr>
                                        <td colspan="2">
                                            <b>Form of Indemnity</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>
                                                THE INDEMNITY
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            1.
                                        </td>
                                        <td>
                                            We @Model.HaulierName
                                            @if (Model.OnBehalfOf != null)
                                            {
                                                @Html.Raw("(on behalf of ") @Model.OnBehalfOf @Html.Raw(")")
                                            }

                                            agree to indemnify you @Model.OrganisationName, in respect of any damage that is caused
                                            in the course of a journey of which you have been notified under the Road Vehicles (Authorisation of Special Types)(General) Order 2003 (which is
                                            referred to below as "the 2003 Order").
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            2.
                                        </td>
                                        <td>
                                            This indemnity relates to the journey scheduled to take place between @if (Model.FirstMoveDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                            {
                                                @Html.Raw(Model.FirstMoveDate.ToString("dd MMMM yyyy"))
                                            } and
                                            @if (Model.LastMoveDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                            {
                                                @Html.Raw(Model.LastMoveDate.ToString("dd MMMM yyyy"))
                                            }  starting with the date on which the indemnity was signed.
                                        </td>

                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <b>
                                                The damage covered:
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            3.
                                        </td>
                                        <td>
                                            Except as stated in paragraph 4, the damage in respect of which this indemnity is given is limited to any
                                            damage caused to any road or bridge for the maintenance of which you are responsible.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            4.
                                        </td>
                                        <td>
                                            This indemnity also extends to any damage caused to any other road or bridge that is used in the course of
                                            any journey to which the indemnity relates, in any case where a separate indemnity required by the 2003 Order
                                            has not been given to, or received by, the authority, body or person ("third party") which is responsible for the
                                            maintenance of that other road or bridge.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>
                                                The cause of damage:
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            5.
                                        </td>
                                        <td>
                                            The damage covered in this indemnity is limited to damage caused by - (a) the construction of any vehicle
                                            used; (b) the weight transmitted to the road surface by any vehicle used; (c) the dimensions, distribution or
                                            adjustment of the load carried on any vehicle used in the carriage of an abnormal indivisible load; (d) any vehicle
                                            other than the vehicle used in any case where that damage results from the vehicle used (but excluding any
                                            damage caused, or contributed to, by the negligence of the driver of the other vehicle).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>
                                                Enforcement of indemnity:
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            6.
                                        </td>
                                        <td>
                                            This indemnity is enforceable by you, to the extent of the damage specified in paragraph 3.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            7.
                                        </td>
                                        <td>
                                            This indemnity is enforceable by any third party referred to in paragraph 4, in its own right, to the extent of any
                                            damage caused to any road or bridge for the maintenance of which it is responsible (but only if it has not already
                                            recovered payment in respect of that damage by virtue of a claim made by it under the equivalent provision in
                                            another indemnity given under the 2003 Order).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            8.
                                        </td>
                                        <td>
                                            A claim in respect of damage covered by this indemnity will only be entertained if the claim - (a) states the
                                            occasion and place of the damage; and (b) is made before the end of the period of 12 months starting with the
                                            date on which the vehicle was last used in the course of the journey during which the damage occurred.
                                        </td>
                                    </tr>
                                    <tr class="bordernone">
                                        <td colspan="2">
                                            <table class="bordernone tableStyle">
                                                <tr class="bordernone">
                                                    <td class="bordernone">
                                                        <b>Date:</b>&nbsp;@if (Model.SentDateTime.ToString("dd/MM/yyyy") != "01/01/0001")
                                                        {
                                                            @Html.Raw(Model.SentDateTime.ToString("dd MMMM yyyy HH:mm:ss"))
                                                        }
                                                    </td>
                                                    <td class="bordernone">
                                                        <b>Signed:</b>&nbsp;@Model.HaulierContact
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                @*<img id="PrintPage" class="noborder" style="cursor: pointer" title="Print a detailed version" alt="Print a detailed version" src="~/Content/Images/printicon.png">*@

                            </div>
                            <div id="printbutton" style="float: right; padding-bottom: 0rem !important; margin-bottom: 0rem !important; margin-right: 40px; margin-top: 15px; " class="pb-6 mb-2">
                                <div class="button main-button">
                                    <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" id="PrintPage">
                                        PRINT
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>