@model STP.Domain.Applications.SupplimentaryInfo
@{
    
}
<div class="row mt-4 pr-8" id="edit_suppli_info_btn_cntr">
    <div class="col-lg-6 col-md-6 col-sm-12" id="table-head"></div>
    <div class="col-lg-6 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
        <span id="table-head">
            <div class="button main-button mr-3" style=" width: 115px;">
                <button class="btn btn-outline-primary btn-normal" id="btnEditSupplementaryInfo" role="button" aria-pressed="true">
                    EDIT
                </button>
            </div>
           
        </span>
    </div>
</div>
<div class="row pt-6">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">Total distance of the road movement (in miles)*</label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.TotalDistanceOfRoad miles
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            What is the approximate value of the load?
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @if (Model.ApprValueOfLoad != "")
                        {
                            <span>@Model.ApprValueOfLoad pounds</span>
                        }

                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            Give date of authority and starting point of any similar
                            movement previously authorised
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.DateOfAuthority
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            Would division of the load to
                            reduce width involve undue expense or risk of damage?
                            (if yes, state: (a) the additional cost (b) the nature of the risk
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">

                        @if (Model.LoadDivision == 1)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }

                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">The additional cost</label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.AdditionalCost
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            Nature of risk
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.RiskNature
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">Has part sea shipment been considered?</label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @if (Model.Shipment == 1)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 pr-8">
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            Port names
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.PortNames
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">Sea quotation details</label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.SeaQuotation
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            Is address given in this application of the
                            final destination (if no, give details of further proposed movements)?
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @if (Model.Address == 1)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal"> Details of further proposed movements</label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.ProposedMoveDetails
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">What is the approximate cost of road movement?</label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.ApprCostOfMovement
                    </div>
                </div>
                <div class="row pt-2 pb-2 custom-border">
                    <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                        <label class="text-normal">
                            Any additional consideration you wish to be
                            taken into account should be mentioned here
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-6 input-field edit-normal"  style="word-wrap: break-word;">
                        @Model.AdditionalConsideration
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-border {
        border: 1px solid #fcfcfc;
    }
</style>
@*<script src="~/Scripts/Application/_ViewSupplementary.js?V@(Session["ProjectVersion"])"></script>*@