@using System.Web.Optimization
@using STP.Domain
@model List<STP.Domain.Applications.AffectedStructures>

@{
    ViewBag.Title = "AgreedRoutes";
}
@{
    int VersionId = 0;
    if (ViewBag.VersionId != null) { VersionId = ViewBag.VersionId; }
    long Rtpartid = 0;
    //int revisionId = ViewBag.RevisionId;
}

@Html.Hidden("VersionID", VersionId)
@*@Html.Hidden("revisionId", revisionId)*@
<style>
    .form-check-input {
        float: none !important;
        margin-left: 0.5em !important;
    }

    .divPading {
        padding-left: 0em !important;
    }
</style>
<div id="AffectedStructures">
    <div class="div-agreed-routes" id="RoutePart">
        <div class="cardSOA1 mt-0 ml-1 mb-4">
            <h6 class="text-color3 stHeading1 m-0">Route parts</h6>
        </div>
        <div class="row pl-6 pt-3 pb-3">

            @{
                if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="form-check ml-2 text-align-center divPading">
                            @if (ViewBag.IsNotifRoute == true)
                            {
                                <input class="form-check-input rbn_routepart-agreed-routes" type="radio" name="chk" id="btnNotifRoutePart"
                                       data-RoutePartID="@item.RoutePartID"
                                       value="@item.RoutePartID" />
                                Rtpartid = item.RoutePartID;
                            }
                            else if (ViewBag.IsNotifRouteVehicle == true)
                            {
                                <input class="form-check-input rbn_routepart-agreed-routes" type="radio" name="chk" id="btnNotifVehicleRoutePart"
                                       value="@item.RoutePartID"
                                       data-RoutePartID="@item.RoutePartID"
                                       />
                                Rtpartid = item.RoutePartID;
                            }
                            else
                            {
                                <input class="form-check-input rbn_routepart-agreed-routes" type="radio" name="chk"
                                       value="@item.RoutePartID"
                                       data-RoutePartID="@item.RoutePartID" id="btnRoutePart"
                                       />
                            }
                            <label class="form-check-label edit-normal pl-3" for="flexRadioDefault1">
                                Route part @item.RoutePartNo<br>
                                @item.RoutePartName
                            </label>
                        </div>
                    }

                }
            }

        </div>
        <div class="col-lg-12 col-sm-md-12 col-sm-12" id="trHeaderDescription1">
            <div class="cardSOA1 mt-0 ml-1 mb-4">
                <h6 class="text-color3 stHeading1 m-0">Route description</h6>
            </div>
            <div class="row pb-1" id="trdesc1" style="display:none;">
                <div class="col-lg-4 col-sm-12 col-md-6 text-normal"></div>
                <div class="col-lg-8 col-sm-12 col-md-6 edit-normal">
                    <span id="id=" RouteDesc1""></span>
                </div>
            </div>
            @*</div>*@
        </div>
        <div class="col-lg-12 col-sm-md-12 col-sm-12" id="RoutePartsDescription" style="display:none">
            <div class="pl-6 pr-6 pt-2 pb-2">
                <div id="trRoute1" class="details2 pb-1">
                    Route
                </div>
                <div class="row pb-1">
                    <div class="col-lg-4 col-sm-12 col-md-6 text-normal">
                        Starting
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-6 edit-normal">
                        <span id="idstrDesc"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-6 text-normal">
                        Via Waypoint
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-6 edit-normal">
                        <table id="Tabvia" class="table"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-6 text-normal">
                        Ending
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-6 edit-normal">
                        <span id="idEndDesc"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 edit-normal">
                        <span id="TDaddButtons"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-6 text-normal" style="padding-right:2rem;">
                <div id="map" style="height: 590px;"></div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-6 edit-normal">
            </div>
        </div>
    </div>



</div>


@section scripts{
    @*<script src="~/Scripts/Application/jQuery.Application.Vehicle.js?V@(Session["ProjectVersion"])"></script>*@
}

@{
<input type="hidden" value="@ViewBag.IsNotifRouteVehicle" id="hf_IsNotifRouteVehicle" name="hf_IsNotifRouteVehicle" />
<input type="hidden" value="@ViewBag.IsNotifRoute" id="hf_IsNotifRoute" name="hf_IsNotifRoute" />
<input type="hidden" value="@ViewBag.ViewRout" id="hf_ViewRout" name="hf_ViewRout" />
@Html.Hidden("hf_Count", Model.Count)
@Html.Hidden("hf_Rtpartid", Rtpartid)
}
@*<script src="~/Scripts/Application/AgreedRoutes.js?V@(Session["ProjectVersion"])"></script>*@
