@using System.Web.Optimization
@using STP.Domain
@model List<STP.Domain.Applications.AffectedStructures>

@{
    ViewBag.Title = "HaulierApplRouteParts";
}
@{
    int RevisionId = 0;

    if (ViewBag.RevisionId != null)
    {
        RevisionId = ViewBag.RevisionId;
    }
    int VersionID = 0;
    if (ViewBag.VersionId != null)
    {
        VersionID = ViewBag.VersionId;
    }

}

@Html.Hidden("RevisionID", RevisionId)
@Html.Hidden("VersionID", VersionID)



@*<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
    <link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />*@
<style>
    .main-sort-content #vehicle-table {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-check-input {
        float: none !important;
        margin-left: 0.5em !important;
    }

    .divPading {
        padding-left: 0em !important;
    }
</style>
<div class="row" id="AffectedStructures">
    @if (ViewBag.approute == true)
    {
        <h4>Shown below is a summary of the route you previously selected. Click Import to use this route in your current application.</h4>
    }
    <div class="row" id="RoutePart">
        <div class="cardSOA1 mt-0 ml-1 mb-4">
            <h6 class="text-color3 stHeading1 m-0">Route parts</h6>
        </div>
        <div class="row pl-6 pt-3 pb-3">

            @{
                if (Model.Count != 0)
                {
                    int iterateCount = 0;
                    foreach (var item in Model)
                    {
                        <div class="form-check ml-2 text-align-center divPading 365-ooo">
                            @if (ViewBag.soapp == true)
                            {
                                if (Model.Count == 1)
                                {
                                    <input type="radio" class="form-check-input getsoappHaulierApplVehicleParts" name="chk" value="@item.PartId" arg1="@item.PartId" arg2="@item.RouteType" id="radio_chk" checked="checked" />
                                    ViewBag.PartId = @item.PartId;
                                }
                                else
                                {
                                    if (iterateCount == 0)
                                    {
                                        <input type="radio" checked class="form-check-input getsoappHaulierApplVehicleParts" name="chk" value="@item.PartId" arg1="@item.PartId" arg2="@item.RouteType" />
                                    }
                                    else
                                    {
                                        <input type="radio" class="form-check-input getsoappHaulierApplVehicleParts" name="chk" arg1="@item.PartId" arg2="@item.RouteType" value="@item.PartId" />
                                    }

                                }
                            }
                            else if (ViewBag.approute == true)
                            {
                                if (Model.Count == 1)
                                {
                                    <span data-name="@item.PartName" id="btnrouteimport_@item.PartId"></span>
                                    <input type="radio" checked class="form-check-input displaysorouteHaulierApplVehicleParts" id="radio_chk" name="chk" value="@item.PartId" data-type="@item.RouteType" arg1="@item.PartId" arg2="@item.RouteType" id="singelradiobtn" checked="checked" />
                                }
                                else
                                {
                                    if (iterateCount == 0)
                                    {
                                        <span data-name="@item.PartName" id="btnrouteimport_@item.PartId"></span>
                                        <input type="radio" checked class="form-check-input displaysorouteHaulierApplVehicleParts" name="chk" value="@item.PartId" arg1="@item.PartId" arg2="@item.RouteType" />
                                    }
                                    else
                                    {
                                        <span data-name="@item.PartName" id="btnrouteimport_@item.PartId"></span>
                                        <input type="radio" class="form-check-input displaysorouteHaulierApplVehicleParts" name="chk" arg1="@item.PartId" arg2="@item.RouteType" value="@item.PartId" />
                                    }

                                }
                            }
                            else if (ViewBag.VrOneRoute != null && ViewBag.VrOneRoute == true)
                            {
                                if (Model.Count == 1)
                                {
                                    <input type="radio" checked class="form-check-input getvr1routesHaulierApplVehicleParts" id="radio_chk" name="chk" arg1="@item.PartId" value="@item.PartId" id="singelradiobtn" checked="checked" />
                                }
                                else
                                {
                                    if (iterateCount == 0)
                                    {
                                        <input type="radio" checked class="form-check-input getvr1routesHaulierApplVehicleParts" name="chk" value="@item.PartId" arg1="@item.PartId" onchange="GetVrOneRoute(@item.PartId) " />
                                    }
                                    else
                                    {
                                        <input type="radio" class="form-check-input getvr1routesHaulierApplVehicleParts" name="chk" value="@item.PartId" arg1="@item.PartId" onchange="GetVrOneRoute(@item.PartId) " />
                                    }

                                }
                            }
                            else
                            {
                                if (ViewBag.SORTVehRoute == true)
                                {
                                    if (Model.Count == 1)
                                    {
                                        <input type="radio" checked class="form-check-input getsortrouteHaulierApplVehicleParts" id="radio_chk" name="chk" value="@item.PartId" data-type="@item.RouteType" arg1="@item.PartId" arg2="@item.RouteType" />
                                    }
                                    else
                                    {
                                        if (iterateCount == 0)
                                        {
                                            <input type="radio" checked class="form-check-input getsortrouteHaulierApplVehicleParts" name="chk" value="@item.PartId" arg1="@item.PartId" arg2="@item.RouteType" data-type="@item.RouteType" />
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input getsortrouteHaulierApplVehicleParts" name="chk" value="@item.PartId" data-type="@item.RouteType" arg1="@item.PartId" arg2="@item.RouteType" />
                                        }

                                    }
                                }
                                else
                                {
                                    if (Model.Count == 1)
                                    {
                                        <input type="radio" checked class="form-check-input gettingHaulierApplVehicleParts" id="radio_chk" name="chk" value="@item.PartId" data-type="@item.RouteType" arg1="@item.PartId" arg2="@item.RouteType" />
                                    }
                                    else
                                    {
                                        if (iterateCount == 0)
                                        {
                                            <input type="radio" checked class="form-check-input gettingHaulierApplVehicleParts"  name="chk" value="@item.PartId" data-type="@item.RouteType" arg1="@item.PartId" arg2="@item.RouteType" />
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input gettingHaulierApplVehicleParts"  name="chk" value="@item.PartId" data-type="@item.RouteType" arg1="@item.PartId" arg2="@item.RouteType" />
                                        }
                                    }
                                }
                            }
                            <label class="form-check-label edit-normal pl-3" for="flexRadioDefault1">
                                Route part @item.PartNo<br>
                                @item.PartName
                            </label>
                        </div>
                        iterateCount++;
                    }
                }
            }
        </div>



        @if (ViewBag.VrOneRoute != null && ViewBag.VrOneRoute == true)
        {
            <button class="btn_reg_back next btngrad btnrds btnbdr" id="btn_cancel" aria-hidden="true" data-icon="" type="button">Back</button>
        }
    </div>
    <div class="row col-lg-12 col-sm-md-12 col-sm-12" id="trHeaderDescription1">
        @*<div class="bgColor3 pl-6 pr-6 pt-2 pb-2">*@
        <div class="cardSOA1 mt-0 ml-1">
            <h6 class="text-color3 stHeading1 m-0">Vehicle Configurations</h6>
        </div>
        @*<div class="row pb-1" id="trdesc1" style="display:none;">
                <div class="col-lg-4 col-sm-12 col-md-6 text-normal"></div>
                <div class="col-lg-8 col-sm-12 col-md-6 edit-normal">
                    <span id="RouteDesc1"></span>
                </div>
            </div>*@
        @*</div>*@
        <div class="row" id="trVehicle_sort">
            <div class="col-lg-12 col-sm-12 col-md-6 text-normal">
                <div id="Vehicle_sort" style="display:none"></div>
                <div id="ApplicationVehicle" style="display:none"></div>
            </div>
            @*<div class="col-lg-5 col-sm-12 col-md-6 edit-normal">
                </div>*@
        </div>
    </div>

    @*<div class="row">
            <div class="col-lg-12 col-sm-12 col-md-6 text-normal">
                <div id="map"></div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-6 edit-normal">
            </div>
        </div>*@
    <div id="StruRelatedMov"></div>
    <div id="Suggestedroute1" style="display:none">
        <table class="margin0px">
            <tr>
                <th class="headgrad">Suggested route</th>
                <th class="headgrad"></th>
            </tr>
            <tr>
                <td colspan="2">
                    No description entered
                </td>
            </tr>
        </table>

    </div><br />
    @*<div id="map" style="height: 590px;" class="google-map"></div><br />*@
    <div id="PartDetail1"></div>
</div>
@if (ViewBag.VersionStatus == 305002 || ViewBag.VersionStatus == 305003 || ViewBag.VersionStatus == 305004 || ViewBag.VersionStatus == 305005 || ViewBag.VersionStatus == 305006)
{
    <div>
        <table class="margin0px">
            <tr>

                <th class="headgrad">Route parts (Submitted by SORT)</th>
                <th class="headgrad">Route type</th>
                <th class="headgrad"></th>
            </tr>
            @{
                if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        if (item.RouteType == "")
                        {
                            <tr>
                                <td>Route part @item.PartNo (@item.PartName)</td>

                                <td>@item.RouteType</td>
                                <td><input type="radio " name="chk" class="getsoappHaulierApplVehicleParts" value="@item.PartId" arg1="@item.PartId" arg2="@item.RouteType" /></td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>
}
<div id="routelist"></div>
<div id="ApplicationPartsForSORT" style="display:none;"></div>
<div id="div_vr_route_form" style="display:none">
    @using (Ajax.BeginForm("VROneApplicationImport", "Application", new { }, new AjaxOptions { OnBegin = "startAnimation", OnComplete = "stopAnimation", OnSuccess = "LoadOtherMovements" }, new { id = "form_vrone_route_parts" }))
    {
        @Html.Hidden("partId", null, new { id = "part_Id" })
    }
</div>

@*@System.Web.Optimization.Scripts.Render("~/bundles/HaulierApplRouteParts")*@

<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />


@{
    <input type="hidden" value="@(ViewBag.soapp!=null?ViewBag.soapp.ToString():"false")" id="hf_soapp" name="hf_soapp" />
    <input type="hidden" value="@(ViewBag.soap!=null?ViewBag.soap.ToString():"false")" id="hf_soap" name="hf_soap" />
    <input type="hidden" value="@(ViewBag.VrOneRout!=null?ViewBag.VrOneRout.ToString():"false")" id="hf_VrOneRout" name="hf_VrOneRout" />
    <input type="hidden" value="@(ViewBag.approute!=null?ViewBag.approute.ToString():"false")" id="hf_approute" name="hf_approute" />
    <input type="hidden" value="@(ViewBag.VrOneRoute!=null?ViewBag.VrOneRoute.ToString():"false")" id="hf_VrOneRoute" name="hf_VrOneRoute" />
    <input type="hidden" value="@(ViewBag.SORTVehRoute!=null?ViewBag.SORTVehRoute.ToString():"false")" id="hf_SORTVehRoute" name="hf_SORTVehRoute" />
    <input type="hidden" value="@(ViewBag.NotifShowVeh!=null?ViewBag.NotifShowVeh.ToString():"false")" id="hf_NotifShowVeh" name="hf_NotifShowVeh" />
    <input type="hidden" value="@(ViewBag.SORTVehRout!=null?ViewBag.SORTVehRout.ToString():"false")" id="hf_SORTVehRout" name="hf_SORTVehRout" />
    @Html.Hidden("hf_ModelCount", Model.Count)
    @Html.Hidden("hf_Count", Model.Count)
    @Html.Hidden("hf_RouteFlag", Session["RouteFlag"])
}
@if (Model.Count > 0)
{
    @Html.Hidden("hf_RouteType", Model[0].RouteType)}
@*<script src="~/Scripts/Application/HaulierApplVehicleParts.js?V@(Session["ProjectVersion"])"></script>*@
