@using System.Web.Optimization
@using STP.Domain
@model List<STP.Domain.Structures.StructureGeneralDetails>
@{
    Layout = null;

}
@Html.ValidationSummary(true)

<!DOCTYPE html>
<style>
    #idLength {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(206, 206, 206, 1);
        width: 100%;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneralStructure</title>
</head>
<body>
    @if (Model == null)
    {
        <h4><span style="color: red">@Resources.Resource.WrongStructureMsg</span></h4>
    }
    else
    {
        using (Html.BeginForm("EditStructureGeneralDetails", "Structures", FormMethod.Post, new { Id = "DimensionInfo" }))
        {

            <span id="manageGeneralDetails" style="display: none;">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 colHelper1 pr-4" style="padding-left: 0px;">
                        <div class="row mt-3">
                            <div class="col-lg-5 col-md-5 col-sm-12 pr-4" style="padding-left: 0px;">
                                <label for="maSpacingId" class="label2">ESRN</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 edit-normal">
                                <span id="text1" class="stHeading1 text1">@Model[0].ESRN</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-5 col-md-5 col-sm-12" style="padding-left: 0px;">
                                <label for="maSpacingId" class="label2">@Resources.Resource.SummaryClass</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <span id="text14" class="stHeading1 text1">@Model[0].StructureClass</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-5 col-md-5 col-sm-12" style="padding-left: 0px;">
                                <label for="maSpacingId" class="label2">@Resources.Resource.OSGR</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <span id="text4" class="stHeading1 text1">@Model[0].OSGRNorth, @Model[0].OSGREast</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-5 col-md-5 col-sm-12 pr-5" style="padding-left: 0px;">
                                <label for="maSpacingId" class="label2">@Resources.Resource.SummaryOwner</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                @foreach (var item in Model)
                                {
                                    <span id="text4" class="stHeading1 text1">@item.StructureOwner </span> <br />

                                }
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-5 col-md-5 col-sm-12" style="padding-left: 0px;">
                                <label for="maSpacingId" class="label2">@Resources.Resource.SummaryName</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                @*<input class="stHeading1 text1" type="text" name="from"
                                    value="ANI1/B/12-2 Marberly Street">*@
                                @Html.TextBoxFor(m => m[0].StructureName, new { @class = "stHeading1 text1", @id = "idStructureName" })

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-5 col-md-5 col-sm-12" style="padding-left: 0px;">
                                <label for="maSpacingId" class="label2">@Resources.Resource.AltName </label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6">
                                @{
                                    string AltName1 = null, AltName2 = null, AltName3 = null;
                                    string[] arrAltName = null;
                                    if (!string.IsNullOrEmpty(Model[0].StructureAlternateNameOne))
                                    {
                                        arrAltName = Model[0].StructureAlternateNameOne.Split(',');
                                        AltName1 = Convert.ToString(arrAltName[0]);
                                        AltName2 = arrAltName.Length > 1 ? arrAltName[1] : null;// Convert.ToString(arrAltName[1]);
                                        AltName3 = arrAltName.Length > 2 ? arrAltName[2] : null;// Convert.ToString(arrAltName[3]);
                                    }
                                }
                                @Html.TextBoxFor(m => m[0].StructureAlternateNameOne, new { @class = "stHeading1 text1 ", @id = "idStructureAlternateNameOne", @maxlength = "32" })
                                @Html.TextBoxFor(m => m[0].StructureAlternateNameTwo, new { @class = "stHeading1 text1 mb-3", @style = "margin-top:2px;", @id = "idStructureAlternateNameTwo", @maxlength = "32" })
                                @Html.TextBoxFor(m => m[0].StructureAlternateNameThree, new { @class = "stHeading1 text1  ", @style = "margin-top:2px;", @id = "idStructureAlternateNameThree", @maxlength = "32" })

                                @*<input class="stHeading1 text1 mb-3" type="text" name="from">*@
                                @*<input class="stHeading1 text1 mb-3" type="text" name="from">*@
                                @*<input class="stHeading1 text1 mb-3" type="text" name="from">*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 colHelper1">
                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="maSpacingId" class="label2"> @Resources.Resource.StructKey</label>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-6">
                                @Html.TextBoxFor(m => m[0].StructureKey, new { @class = "stHeading1 text1", @id = "idStructureKey" })

                                @*<input class="stHeading1 text1" type="text" name="from" value="ANI1/B/12-2">*@
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="maSpacingId" class="label2">@Resources.Resource.Description</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-6">
                                @Html.TextAreaFor(m => m[0].Description, new { @class = "form-control", @id = "idDescription", @rows = 5, @maxlength = "250", @style = "width: 100%;" })
                                @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                    style="width: 100%;"></textarea>*@
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="maSpacingId" class="label2"> @Resources.Resource.Notes</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-6">
                                @Html.TextAreaFor(m => m[0].Notes, new { @class = "form-control", @id = "idNotes", @rows = 5, @style = "width: 100%;", @maxlength = "250" })
                                @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                    style="width: 100%;"></textarea>*@
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="maSpacingId" class="label2">@Resources.Resource.Category</label>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6">
                                @Html.DropDownList("Category", (SelectList)(ViewBag.structCategory), new { @id = "structCategory", @name = "structCategory", @class = "form-select text-normal select1" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                @Html.TextBoxFor(m => m[0].CategoryUserDefined, new { @id = "CategoryUserDefined", @class = "stHeading1 text1 mb-3", @style = "margin-left:5px;", @maxlength = "35" })
                            </div>

                            @*<select class="form-select text-normal select1"
                                        id="movementClassificationId">
                                    <option selected>Select category</option>
                                    <option value="1">value1</option>
                                    <option value="2">value2</option>
                                </select>*@
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="maSpacingId" class="label2 pt-3">@Resources.Resource.Type</label>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6">
                                @Html.DropDownList("Type", (SelectList)(ViewBag.structType), new { @id = "structType", @name = "structType", @class = "form-select text-normal select1 mb-3" })
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6">
                                @Html.TextBoxFor(m => m[0].TypeUserDefined, new { @id = "TypeUserDefined", @class = "stHeading1 text1 mb-3", @style = "margin-left:5px;", @maxlength = "35" })
                            </div>


                            @*<select class="form-select text-normal select1 mb-3"
                                        id="movementClassificationId">
                                    <option selected>Select type</option>
                                    <option value="1">value1</option>
                                    <option value="2">value2</option>
                                </select>*@
                            <div class="col-lg-3 col-md-3 col-sm-12">
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6">
                                @Html.DropDownList("Type1", (SelectList)(ViewBag.structType), new { @id = "structTypeOne", @name = "structType", @class = "form-select text-normal select1 mb-3" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                @Html.TextBoxFor(m => m[0].Type1UserDefined, new { @id = "TypeOneUserDefined", @class = "stHeading1 text1 mb-3", @style = "margin-left:5px;margin-top:2px;", @maxlength = "35" })
                            </div>

                            @*<select class="form-select text-normal select1 mb-3"
                                        id="movementClassificationId">
                                    <option selected>Select type</option>
                                    <option value="1">value1</option>
                                    <option value="2">value2</option>
                                </select>*@
                            <div class="col-lg-3 col-md-3 col-sm-12">
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6">
                                @Html.DropDownList("Type2", (SelectList)(ViewBag.structType), new { @id = "structTypeTwo", @name = "structType", @class = "form-select text-normal select1 mb-3" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                @Html.TextBoxFor(m => m[0].Type2UserDefined, new { @id = "TypeTwoUserDefined", @class = "stHeading1 text1 mb-3", @style = "margin-left:5px;margin-top:2px;" })
                            </div>

                            @*<select class="form-select text-normal select1 mb-3"
                                        id="movementClassificationId">
                                    <option selected>Select type</option>
                                    <option value="1">value1</option>
                                    <option value="2">value2</option>
                                </select>*@
                            <div class="row mt-3">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <label for="maSpacingId" class="label2"> @Resources.Resource.StructLength</label>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    @Html.TextBoxFor(m => m[0].Length, new { @class = "edit-normal", @id = "idLength", @type = "number" })
                                    @*<input class="edit-normal" type="text" name="from">*@
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 text-normal">
                                    m
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flexer mt8" style="justify-content: left !important;margin-left: 164px;">
                        <button type="button" id="btn_sumbit" class="btn outline-btn-primary SOAButtonHelper">SAVE</button>

                        <button type="button" id="btnCancel" class="btn outline-btn-primary SOAButtonHelper ml2">CANCEL</button>

                    </div>
            </span>

            @Html.HiddenFor(m => m[0].StructureId);
            @Html.HiddenFor(m => m[0].OrganisationId);
            @Html.HiddenFor(m => m[0].ESRN);
            @Html.HiddenFor(m => m[0].CategoryCode, new { @id = "hdnCategory" });
            @Html.HiddenFor(m => m[0].TypeCode, new { @id = "hdnType" });
            @Html.HiddenFor(m => m[0].Type1Code, new { @id = "hdnTypeOne" });
            @Html.HiddenFor(m => m[0].Type2Code, new { @id = "hdnTypeTwo" });

            @Html.HiddenFor(m => m[0].Category, new { @id = "hdnCategoryName" });
            @Html.HiddenFor(m => m[0].Type, new { @id = "hdnTypeName" });
            @Html.HiddenFor(m => m[0].Type1, new { @id = "hdnTypeOneName" });
            @Html.HiddenFor(m => m[0].Type2, new { @id = "hdnTypeTwoName" });

        }
    }


</body>
</html>

@{
<input type="hidden" value="@ViewBag.Helpdest_redirect" id="hf_Helpdest_redirect" name="hf_Helpdest_redirect" />
<input type="hidden" value="@ViewBag.saveFlag" id="hf_saveFlag" name="hf_saveFlag" />
<input type="hidden" value="@ViewBag.StructureId" id="hf_StructureId" name="hf_StructureId" />
    @Html.Hidden("hf_StructureClass", Model[0].StructureClass)
}
    @*<script src="~/Scripts/Structures/GeneralStructure.js?V@(Session["ProjectVersion"])"></script>*@
