@{
    Layout = null;
}
@using STP.Domain
@model STP.Domain.Structures.ICAVehicleModel

@{
    int structureID = ViewBag.structureId;
    int sectionID = ViewBag.sectionId;
    string structName = ViewBag.structName;
    string ESRN = ViewBag.ESRN;
}

@Html.Hidden("structName", structName)
@Html.Hidden("sectionID", sectionID)
@Html.Hidden("structureID", structureID)
@Html.Hidden("ESRN", ESRN)



<style>
    .dropDown1 {
        width: 100% !important;
    }

    .wk40 {
        width: 40% !important;
    }
</style>
@if (Convert.ToInt16(TempData["TmpchkValidStructCnt"]) == 0)
{
    <h4><span style="color: red">@Resources.Resource.WrongStructureMsg</span></h4>
}
else
{

    using (Html.BeginForm("PerformICAVehicle", "Structures", FormMethod.Post, new { Id = "ICAVehicleInfo", structName = ViewBag.structName, ESRN = ViewBag.ESRN, structureId = structureID, sectionId = sectionID }))
    { 
        
<div class="row">

    <div class="col-lg-5 col-md-12 col-sm-12 colHelper1" id="checkSuitabilityOfVehicleId" style="display: none; margin-top: 30px">
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12" style="white-space: nowrap;font-size: 15px;">
                <label for="movementClassificationId" style="font-size: 15px;" class="label2">
                    Movement Classification*
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12" style="width: 269px; padding-left: 60px;">
                @Html.DropDownList("MovementClassConfig", (SelectList)(ViewBag.MovementClassConfig), "Select Classification", new { @id = "MovementClassConfig", @class = "form-select text-normal select1 dropDown1", @style = "margin-top: -8px;" })
                <span id="dropError" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Movement classification is required</span>

            </div>

        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12" style="white-space: nowrap; font-size: 15px; margin-top: 7px;">
                <label for="configurationTypeId" style="font-size: 15px;" class="label2">@Resources.Resource.ConfigType*</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12" style="width: 269px; padding-left: 60px;">
                @Html.DropDownList("ConfigType", (SelectList)(ViewBag.ConfigType), "Select Type", new { @id = "ConfigType", @class = "form-select text-normal select1 dropDown1", @style = "margin-top: -2px;" })
                <span id="dropError1" class="error invalid-feedback" style="display:none; white-space: nowrap ;">ConfigType is required</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12">
                <label for="grossWeightId" style="font-size: 15px;" class="label2">@Resources.Resource.GrossWeight*</label>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6" id="hideerr" style="width: 160px;  padding-left: 60px;">
                @Html.TextBoxFor(m => m.VhclGrossWeight, new { @id = "GrossWeight", @class = "edit-normal", @AutoPostBack = "True", @EnableViewState = "True" })
                <span id="grossValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numeric characters and '.' are allowed</span>
                <span id="grossValidateError" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Gross weight is required*</span>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-normal">
                kg
            </div>
            @Html.ValidationMessageFor(m => m.VhclGrossWeight)
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12">
                <label for="lengthId" style="font-size: 15px;" class="label2">@Resources.Resource.Length*</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" style="width: 160px;  padding-left: 60px;">
                @Html.TextBoxFor(m => m.VehicleLength, new { @id = "OverallLength", @class = "edit-normal" })
                <span id="lengthValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numeric characters and '.' are allowed</span>
                <span id="lengthValidateError" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Length is required*</span>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-normal">
                m
            </div>
            @Html.ValidationMessageFor(m => m.VehicleLength)
        </div>

        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12">
                <label for="widthId" style="font-size: 15px;" class="label2"> @Resources.Resource.Width*</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" style="width: 160px;  padding-left: 60px;">
                @Html.TextBoxFor(m => m.VehicleWidth, new { @id = "Width", @class = "edit-normal" })
                <span id="widthValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numeric characters and '.' are allowed</span>
                <span id="widthValidateError" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Width is required*</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-normal">
                m
            </div>
            @Html.ValidationMessageFor(m => m.VehicleWidth)
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12" style="white-space: nowrap;font-size: 15px;">
                <label for="maWeightId" style="font-size: 15px;" class="label2">Maximum Axle Weight*</label>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12" style="width: 160px;  padding-left: 60px;">
                @Html.TextBoxFor(m => m.VehicleMaxAxleWeight, new { @id = "AxleWeight", @class = "edit-normal" })
                <span id="maxAxlWValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numeric characters and '.' are allowed</span>
                <span id="maxAxlWValidateError" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Axle weight is required*</span>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-normal">
                m
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12" style="white-space: nowrap;font-size: 15px;">
                <label for="maSpacingId" style="font-size: 15px;" class="label2">Minimum Axle Spacing*</label>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12" style="width: 160px; height: 37px; padding-left: 60px;">
                @Html.TextBoxFor(m => m.VehicleMinAxleSpacing, new { @id = "MinAxleSpacing", @class = "edit-normal" })
                <span id="minAxlSValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numeric characters and '.' are allowed</span>
                <span id="minAxlSValidateError" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Axle spacing is required*</span>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-normal">
                m
            </div>
            @Html.ValidationMessageFor(m => m.VehicleMaxAxleWeight)
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12" style="white-space: nowrap;font-size: 15px;margin-top: 14px;">
                <label for="noComponentsId" style="font-size: 15px;" class="label2">Number of Components*</label>
            </div>
            <div class="col-8 c8Helper" style="width: 269px; height: 49px; padding-left: 60px;">
                @Html.DropDownList("CompNum", (SelectList)(ViewBag.CompNum), "Select", new { @id = "CompNum", @class = "form-select text-normal select1 dropDown1", @style = "margin-top: 4px;" })
                <span id="dropError2" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Number of Components is required</span>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12">
                <label for="tractor" style="font-size: 15px; margin-top: 11px;" id="tractor" class="label2">
                    @Resources.Resource.Tractor*
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12" style="width: 269px; padding-left: 60px;">
                @Html.DropDownList("TractorComponentType", (SelectList)(ViewBag.TractorComponentType), "Select", new { @id = "DDtractor", @class = "form-select text-normal select1 dropDown1", @style = "margin-top: 5px;" })
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12">
                <label for="tractor" style="font-size: 15px; margin-top: 11px;" id="trailer" class="label2">
                    @Resources.Resource.Trailer*
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12" style="width: 269px; padding-left: 60px;">
                @Html.DropDownList("TrailerComponentType", (SelectList)(ViewBag.TrailerComponentType), "Select", new { @id = "DDtrailer", @class = "form-select text-normal select1 dropDown1", @style = "margin-top: 5px;" })

            </div>
        </div>
    </div>

    <div class="col-lg-7 col-md-12 col-sm-12 colHelper1">
        <div class="col-12" id="div_component_details" style="display: block ">
            <div id="div_component_details">
            </div>
            <div class="main-table" id="tableSOA" style=" margin-top: -30px;">
                <div class="cardSOA1 mr-0">
                    <h6 class="text-color3 stHeading1 m-0 pl-2">
                        Component details
                    </h6>
                </div>

                <table class="mt-3">
                    <thead class="table-soa">
                        <tr>
                            <th class="table-soa text-color3 stHeading1 m-0">

                            </th>
                            <th class="table-soa text-color3 stHeading1 m-0">@Resources.Resource.Tractor</th>
                            <th class="table-soa text-color3 stHeading1 m-0">@Resources.Resource.Trailer</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="background:#fff;">
                            <td class="table-soa stHeading1 text1">
                                @Resources.Resource.GrossWeight*
                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TractorGrossWeight, new { @id = "TractorWeight", @class = "wk40" })
                                <span class="table-soa stHeading1 text1">kg</span><br />
                                <span id="tmwValidate1" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>

                                <span id="TD11Error" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Gross weight is required*</span>

                                @Html.ValidationMessageFor(m => m.TractorGrossWeight)

                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TrailerGrossWeight, new { @id = "TrailerWeight", @class = "wk40" })
                                <span class="table-soa stHeading1 text1">kg</span><br />
                                <span id="tmwValidate2" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                <span id="TD12Error" class="error invalid-feedback" style="display:none;">Gross weight is required*</span>

                                @Html.ValidationMessageFor(m => m.TrailerGrossWeight)

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding-left: 2rem;">
                                <div>
                                    <span id="tmwValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                </div>
                            </td>
                        </tr>
                        <tr style="background:#fff;">
                            <td class="table-soa stHeading1 text1">
                                @Resources.Resource.MaxAxleWt*
                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TractorMaxAxleWeight, new { @id = "TractorMaxAxleWeight", @class = "wk40" })
                                <span class="table-soa stHeading1 text1">kg</span><br />
                                <span id="tmawValidate1" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                <span id="TD21Error" class="error invalid-feedback" style="display:none;">Axle weight is required*</span>

                                @Html.ValidationMessageFor(m => m.TractorMaxAxleWeight)

                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TrailerMaxAxleWeight, new { @id = "TrailerMaxAxleWeight", @class = "wk40" })
                                <span class="table-soa stHeading1 text1">kg</span><br>
                                <span id="tmawValidate2" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                <span id="TD22Error" class="error invalid-feedback" style="display:none;">Axle weight is required*</span>

                                @Html.ValidationMessageFor(m => m.TrailerMaxAxleWeight)

                            </td>
                        </tr>
                        <tr style="background:#fff;">
                            <td class="table-soa stHeading1 text1">
                                @Resources.Resource.MinAxleSpacing*
                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TractorMinAxleSpacing, new { @id = "TractorMinAxleSpacing", @class = "wk40" })
                                <span class="table-soa stHeading1 text1">m</span><br />
                                <span id="tmasValidate1" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                <span id="TD31Error" class="error invalid-feedback" style="display:none;">Axle spacing is required*</span>

                                @Html.ValidationMessageFor(m => m.TractorMinAxleSpacing)

                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TrailerMinAxleSpacing, new { @id = "TrailerMinAxleSpacing", @class = "wk40" })
                                <span class="table-soa stHeading1 text1">m</span><br />
                                <span id="tmasValidate2" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                <span id="TD32Error" class="error invalid-feedback" style="display:none;">Axle spacing is required*</span>

                                @Html.ValidationMessageFor(m => m.TrailerMinAxleSpacing)

                            </td>
                        </tr>
                        <tr style="background:#fff;">
                            <td class="table-soa stHeading1 text1">
                                Number of tractor axles*
                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.TractorAxleCount, new { @id = "AxleCount", @class = "wk40" })<br />
                                <span id="NumValidate" class="error invalid-feedback" style="display:none; white-space: nowrap ;">Only numbers '.' allowed</span>
                                <span id="TD41Error" class="error invalid-feedback" style="display:none;">Number of tractor axles is required*</span>

                                @Html.ValidationMessageFor(m => m.TractorAxleCount)

                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" align="right">
                                @if (ViewBag.Helpdest_redirect != "true")
                                {
                                    <button type="button" id="PerformB" class="btn btn-outline-primary SOAButtonHelper" style=" border-color: #275795; padding-right: 55px; height: 40px; padding-left: 55px; font-weight: 700; color: #275795; background-color: white;">PERFORM ICA</button>
                                }
                                <button type="button" id="Cancel" class="btn btn-outline-primary SOAButtonHelper ml2" style="border-color: #275795;padding-right: 81px; height: 40px; padding-left: 69px; font-weight: 700; color: #275795; background-color: white; ">CANCEL</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="table_buttons" class="flexer justify-content-center mt-5 widthP40" align="right">

        @if (ViewBag.Helpdest_redirect != "true")
        {
            <button type="button" id="PerformBtn" class="btn outline-btn-primary SOAButtonHelper">PERFORM ICA</button>
            <button type="button" id="btnCancel" class="btn outline-btn-primary SOAButtonHelper ml2">CANCEL</button>
        }


    </div>


</div>

    }
}
@{
    <input type="hidden" value="@ViewBag.Helpdest_redirect" id="hf_Helpdest_redirect" name="hf_Helpdest_redirect" />
    <input type="hidden" value="@ViewBag.ICAResult" id="hf_ICAResult" name="hf_ICAResult" />
    <input type="hidden" value="@ViewBag.ICAResult" id="hf_ICAResult" name="hf_ICAResult" />
}
<input type="hidden" value="@ViewBag.structName" id="hf_structName" name="hf_structName" />
<input type="hidden" value="@ViewBag.ESRN" id="hf_ESRN" name="hf_ESRN" />
<input type="hidden" value="@ViewBag.structureId" id="hf_structureId" name="hf_structureId" />
<input type="hidden" value="@ViewBag.sectionId" id="hf_sectionId" name="hf_sectionId" />

@*<script src="~/Scripts/Structures/ICAVehicle.js?V@(Session["ProjectVersion"])"></script>*@
