@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.Structures.ManageStructureICA

@Html.ValidationSummary(true)

@{
    Layout = null;
}
@if (Model == null)
{
    <h4><span style="color: red;">@Resources.Resource.WrongStructureMsg</span></h4>
}
else
{
    <span id='manageICAId' style="display: none;">
        <div style="margin-left:-11px;" class="text-regular pl-2 pt-5">
            Weight screening
        </div>
        <div>
            <div class="row mt-2" style="margin-right: -90px;">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span class="text-regular-para" style="margin-left: -14px !important; white-space: nowrap; font-size: 16px !important;">Banding limit factors (Lower-Upper)</span>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    @*<label class="form-check-label text-regular-para text-color3" for="flexRadioDefault11">*@
                    @Html.RadioButton("chkWSBandingLimit", false, new { @id = "chkWSBandingLimitDefault", @class = "form-check-input", @name = "chkWSBandingLimit" })
                    @*<input class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault13" checked>*@
                    <label class="form-check-label text-regular-para text-color3"
                           for="flexRadioDefault1">
                        Use default @Html.ValueFor(m => m.DefaultWSBandLimitMin) - @Html.ValueFor(m => m.DefaultWSBandLimitMax)

                    </label>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">

                </div>
                <div class="col-lg-8 col-md-8 col-sm-12" style="display: flex; flex-wrap: wrap;">




                    @Html.RadioButton("chkWSBandingLimit", false, new { @id = "chkWSBandingLimitCustom", @name = "chkWSBandingLimit", @class = "form-check-input" })

                    <label class="form-check-label text-regular-para text-color3 pl-1"
                           for="flexRadioDefault1">
                        Use custom
                    </label>
                    <span class="wd10 pl-2 pr-2">
                        @Html.TextBoxFor(m => m.CustomWSBandLimitMin, new { @id = "txtWSBandingMin", @maxlength = "4", @class = "edit-normal" })

                        @Html.ValidationMessageFor(m => m.CustomWSBandLimitMin)
                    </span>
                    <span class="text-regular-para">-</span>
                    <span class="wd10 pl-2 pr-2">
                        @Html.TextBoxFor(m => m.CustomWSBandLimitMax, new { @id = "txtWSBandingMax", @maxlength = "4", @class = "edit-normal" })
                        @Html.ValidationMessageFor(m => m.CustomWSBandLimitMax)

                    </span>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row mt-5" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span class="text-regular-para" style="margin-left: -14px !important;font-size: 16px !important;">Gross weight</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnGrossWeight"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @*<input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault13" checked>*@
                        @Html.RadioButton("chkGrossWeight", false, new { @id = "chkGrossWeightEnable", @name = "chkGrossWeight", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkGrossWeight", false, new { @id = "chkGrossWeightDisable", @name = "chkGrossWeight", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span class="text-regular-para" style="margin-left: -14px !important;font-size: 16px !important;">Axle weight</span>
                </div>
                @*Spanid change*@
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnAxelWeight"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkAxelWeight", false, new { @id = "chkAxelWeightEnable", @name = "chkAxelWeight", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>

                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkAxelWeight", false, new { @id = "chkAxelWeightDisable", @name = "chkAxelWeight", @class = "form-check-input" })

                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span class="text-regular-para" style="margin-left: -14px !important;font-size: 15px !important;">Weight over distance</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnWeightOverDistance"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkWeightOverDistance", false, new { @id = "chkWeightOverDistanceEnable", @name = "chkWeightOverDistance", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkWeightOverDistance", false, new { @id = "chkWeightOverDistanceDisable", @name = "chkWeightOverDistance", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span class="text-regular-para" style="margin-left: -14px !important;font-size: 16px !important;">AWR screening</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnAwrScreening"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkAwrScreening", false, new { @id = "chkAwrScreeningEnable", @name = "chkAwrScreening", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkAwrScreening", false, new { @id = "chkAwrScreeningDisable", @name = "chkAwrScreening", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div style="margin-left: -11px;" class="text-regular mt-5 pl-2">
            SV
        </div>
        <div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span style="margin-left: -14px !important; white-space: nowrap; font-size: 16px !important;" class="text-regular-para">Banding limit factors (Lower-Upper)</span>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <label class="form-check-label text-regular-para text-color3" for="flexRadioDefault11">
                        @Html.RadioButton("chkSVBandingLimit", false, new { @id = "chkSVBandingLimitDefault", @name = "chkSVBandingLimit", @class = "form-check-input" })
                        Use default @Html.ValueFor(m => m.DefaultSVBandLimitMin) - @Html.ValueFor(m => m.DefaultSVBandLimitMax)

                    </label>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">

                </div>
                <div class="col-lg-8 col-md-8 col-sm-12" style="display: flex;flex-wrap: wrap;">
                    @Html.RadioButton("chkSVBandingLimit", false, new { @id = "chkSVBandingLimitCustom", @name = "chkSVBandingLimit", @class = "form-check-input" })
                    <!-- <div> -->
                    <label class="form-check-label text-regular-para text-color3 pl-1"
                           for="flexRadioDefault1">
                        Use custom
                    </label>
                    <span class="wd10 pl-2 pr-2">
                        @Html.TextBoxFor(m => m.CustomSVBandLimitMin, new { @id = "txtSVBandingMin", @maxlength = "4", @class = "edit-normal" })
                    </span>
                    <span class="text-regular-para">-</span>
                    <span class="wd10 pl-2 pr-2">
                        @Html.TextBoxFor(m => m.CustomSVBandLimitMax, new { @id = "txtSVBandingMax", @maxlength = "4", @class = "edit-normal" })
                    </span>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row mt-5" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span style="margin-left: -14px !important;font-size: 16px !important;" class="text-regular-para">SV - 80</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnSV_80"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSV_80", false, new { @id = "chkSV_80Enable", @name = "chkSV_80", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSV_80", false, new { @id = "chkSV_80Disable", @name = "chkSV_80", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>

            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span style="margin-left: -14px !important;font-size: 16px !important;" class="text-regular-para">SV - 100</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnSV_100"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSV_100", false, new { @id = "chkSV_100Enable", @name = "chkSV_100", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSV_100", false, new { @id = "chkSV_100Disable", @name = "chkSV_100", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span style="margin-left: -14px !important;font-size: 16px !important;" class="text-regular-para">SV - 150</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnSV_150"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSV_150", false, new { @id = "chkSV_150Enable", @name = "chkSV_150", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSV_150", false, new { @id = "chkSV_150Disable", @name = "chkSV_150", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
            <div class="row mt-2" style="margin-right:-90px">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <span style="margin-left: -14px !important;font-size: 16px !important;" class="text-regular-para">SV - Train</span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para" id="spnSV-Train"><b></b></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSVTrain", false, new { @id = "chkSVTrainEnable", @name = "chkSVTrain", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Enabled
                        </label>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <span class="text-regular-para">
                        @Html.RadioButton("chkSVTrain", false, new { @id = "chkSVTrainDisable", @name = "chkSVTrain", @class = "form-check-input" })
                        <!-- <div> -->
                        <label class="form-check-label text-regular-para text-color3 pl-1"
                               for="flexRadioDefault1">
                            Disabled
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="flexer justify-content-center mt-5">
            @if (ViewBag.Helpdest_redirect != "true")
            {
                <button type="button" id="btnSave" class="btn outline-btn-primary SOAButtonHelper">SAVE</button>
            }
            <button type="button" id="btnCancel" class="btn outline-btn-primary SOAButtonHelper ml2">CANCEL</button>


        </div>
    </span>
    @System.Web.Optimization.Scripts.Render("~/bundles/ManageICAUsage")

}
@{
<input type="hidden" value="@ViewBag.Helpdest_redirect" id="hf_Helpdest_redirect" name="hf_Helpdest_redirect" />
    @Html.Hidden("hf_CustomWSBandLimitMin", Model.CustomWSBandLimitMin)
    @Html.Hidden("hf_CustomWSBandLimitMax", Model.CustomWSBandLimitMax)
    @Html.Hidden("hf_EnableGrossWeight", Model.EnableGrossWeight)
    @Html.Hidden("hf_EnableAxleWeight", Model.EnableAxleWeight)
    @Html.Hidden("hf_EnableWeightOverDist", Model.EnableWeightOverDist)
    @Html.Hidden("hf_EnableAWR", Model.EnableAWR)
    @Html.Hidden("hf_CustomSVBandLimitMin", Model.CustomSVBandLimitMin)
    @Html.Hidden("hf_CustomSVBandLimitMax", Model.CustomSVBandLimitMax)
    @Html.Hidden("hf_EnableSV80", Model.EnableSV80)
    @Html.Hidden("hf_EnableSV100", Model.EnableSV100)
    @Html.Hidden("hf_EnableSV150", Model.EnableSV150)
    @Html.Hidden("hf_EnableSVTrain", Model.EnableSVTrain)
<input type="hidden" value="@ViewBag.StructureId" id="hf_StructureId" name="hf_StructureId" />
<input type="hidden" value="@ViewBag.SectionId" id="hf_SectionId" name="hf_SectionId" />
<input type="hidden" value="@ViewBag.StructName" id="hf_StructName" name="hf_StructName" />
<input type="hidden" value="@ViewBag.ESRN" id="hf_ESRN" name="hf_ESRN" />
}
    @*<script src="~/Scripts/Structures/ManageICAUsage.js?V@(Session["ProjectVersion"])"></script>*@
