@model STP.Domain.Structures.StructureContactModel

@{
    Layout = null;
    string mode = Request.QueryString["mode"];

    string StructureID = Convert.ToString(ViewBag.StructureID);
    @Html.Hidden("hdnStructureID", StructureID)
}
@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}
@{
    Layout = null;
}
<style>
    .countryDropDown {
        width: 100% !important;
    }

    .detailsPopup {
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
    }
</style>
<span id='addContactId' style="display: none;">
    @using (Html.BeginForm("SaveStructureContact", "Structures", FormMethod.Post, new { Id = "StructureContactInfo" }))
    {
        @Html.Hidden("mode", mode);
        @Html.HiddenFor(model => model.CautionId, new { Id = "CAUTION_ID" })
        @Html.HiddenFor(model => model.ContactNo, new { Id = "CONTACT_NO" })
        @Html.Hidden("CountryDropDown")
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 colHelper1">
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Owner *</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.OrganisationName, new { @class = "edit-normal", @maxlength = "70" })
                    </div>
                    <span id="ownerValidationMsg" class="error invalid-feedback" style="display:none">Owner name is required</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Name</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.FullName, new { @class = "edit-normal", @maxlength = "70" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Description</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextAreaFor(model => model.Description, new { @class = "w-100", @cols = "30", @rows = "6", @maxlength = "100" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Address</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.AddressLine1, new { @class = "edit-normal", @maxlength = "35" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.AddressLine2, new { @class = "edit-normal", @maxlength = "35" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.AddressLine3, new { @class = "edit-normal", @maxlength = "35" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.AddressLine4, new { @class = "edit-normal", @maxlength = "35" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.AddressLine5, new { @class = "edit-normal", @maxlength = "35" })
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 colHelper1">
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 colHelper1">
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.PostCode</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.PostCode, new { @class = "edit-normal", @maxlength = "15" })
                    </div>
                    <span id="postCodeValidationMsg" class="error invalid-feedback" style="display:none">Please enter a valid postcode</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal pt-3">@Resources.Resource.Country *</label>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-6">
                        @Html.DropDownListFor(model => model.CountryId, ViewBag.CountryDropDown as SelectList, "Select Country", new { @class = "form-select text-normal select1 countryDropDown" })
                    </div>
                    <span id="countryValidationMsg" class="error invalid-feedback" style="display:none">Please select a country</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Telephone</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.Telephone, new { @class = "edit-normal", @maxlength = "15" })
                    </div>
                    <span id="telephoneValidationMsg" class="error invalid-feedback" style="display:none">Please enter a valid telephone number</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Extension</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.Extension, new { @class = "edit-normal", @maxlength = "6" })
                    </div>
                    <span id="extensionValidationMsg" class="error invalid-feedback" style="display:none">Please enter a valid extension number</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.Mobile</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.Mobile, new { @class = "edit-normal", @maxlength = "15" })
                    </div>
                    <span id="mobileValidationMsg" class="error invalid-feedback" style="display:none">Please enter a valid mobile number</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.FaxNo</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.Fax, new { @class = "edit-normal", @maxlength = "15" })
                    </div>
                    <span id="faxValidationMsg" class="error invalid-feedback" style="display:none">Please enter a valid fax number</span>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <label for="maSpacingId" class="text-normal">@Resources.Resource.EmailId</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.Email, new { @class = "edit-normal", @maxlength = "250" })
                    </div>
                    <span id="emailValidationMsg" class="error invalid-feedback" style="display:none">Please enter a valid email</span>
                </div>
            </div>
        </div>
        <div class="flexer justify-content-center mt-5">
            <button type="button" id="btnsavestructurecontact" class="btn outline-btn-primary SOAButtonHelper">SAVE </button>
            <button type="button" id="btncancelstruct" class="btn outline-btn-primary SOAButtonHelper ml2">CANCEL</button>

        </div>
    }

</span>
<div class="modal fade" id="ownerContactDetails" tabindex="-1" role="dialog" style="cursor: pointer"
     aria-hidden="false">
    <div class="modal-dialog detailsPopup">

        <body style="overflow-y: auto;" id="soa-structure-detail">

            <!--main content -->
            <section id="banner" class="map-icons">

                <div id="CloseViewCons" class="row">
                    <div class="card" style="width: 30rem; height: auto; padding-bottom: 2rem;">
                        <div id="check-caution" style="margin-top:15px;margin-right:15px;">
                            <div class="row mt-1 main-entry">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row mb-1" id="table-head">

                                        <span class="text-normal pr-2" style="font-family: lato_light;font-size:25px;">
                                            Contact details
                                            <span class="text-normal pr-1"
                                                  style="color:rgba(39, 87, 149, 1);font-size:50px;float:right;margin-top: -23px;font-family: lato_light;" onclick="closeStructureContact()">
                                                &times;
                                            </span>

                                        </span>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Owner</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.OrganisationName)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Name</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.FullName)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Description</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.Description)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Address</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @if (Model.AddressLine1 != "")
                                            {
                                                @Html.DisplayFor(model => model.AddressLine1)
                                            }
                                        </div>
                                    </div>
                                    @if (Model.AddressLine2 != "")
                                    {
                                        <div class="row mb-1">
                                            <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                                @Html.DisplayFor(model => model.AddressLine2)<br />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.AddressLine3 != "")
                                    {
                                        <div class="row mb-1">
                                            <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                                @Html.DisplayFor(model => model.AddressLine3)<br />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.AddressLine4 != "")
                                    {
                                        <div class="row mb-1">
                                            <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                                @Html.DisplayFor(model => model.AddressLine4)<br />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.AddressLine1 != "")
                                    {
                                        <div class="row mb-1">
                                            <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                                @Html.DisplayFor(model => model.AddressLine5)<br />
                                            </div>
                                        </div>
                                    }
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.PostCode</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.PostCode)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Country</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.CountryName)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Telephone</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.Telephone)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Extension</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.Extension)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.Mobile</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.Mobile)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.FaxNo</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            @Html.DisplayFor(model => model.Fax)
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                            <label class="text-normal">@Resources.Resource.EmailId</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 text-normal">
                                            <a href="mailto:@Model.Email" class="text-color2" style="cursor:pointer;">@Html.DisplayFor(model => model.Email)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- end of check-caution -->
                </div>

            </section>
            <!--end of main content -->

        </body>
    </div>
</div>
<input type="hidden" value="@ViewBag.StructureID" id="hf_structureid" name="hf_structureid" />
<input type="hidden" value="@ViewBag.CautionID" id="hf_CautionId" name="hf_CautionId" />
<input type="hidden" value="@ViewBag.SectionID" id="hf_SectionID" name="hf_SectionID" />


<script src="~/Scripts/Structures/ManageStructureContact.js?V@(Session["ProjectVersion"])"></script>
