@using PagedList.Mvc
@using STP.Domain
@model PagedList.IPagedList<STP.Domain.Structures.DelegationList>

@{

    // Layout = "~/Views/Shared/_Layout.cshtml";
    int subflag = 0;
    int pageSize = 10;
    int listCount = 0;
    listCount = (int)Session["PageSize"];
    int? pageNum = ViewBag.page;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    int totalPageCount = Model.PageCount;
    long organisationID = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];

        organisationID = user.OrganisationId;
    };
    var sucessmsg = ViewBag.recordsavemessage;
    var searchType = ViewBag.searchtype;
    var searchValue = ViewBag.searchValue;

    var SearchListInfo = new List<STP.Domain.Structures.DelegationList>
{
                        //new STP.Domain.Structures.DelegationList {SearchType = "", SearchValue = "Select"},
                        new STP.Domain.Structures.DelegationList {SearchType = "Arrangement name", SearchValue = "Arrangement name"},
                        new STP.Domain.Structures.DelegationList {SearchType = "Delegating organisation name", SearchValue = "Delegating organisation name" },
                        new STP.Domain.Structures.DelegationList {SearchType = "Delegated organisation name", SearchValue = "Delegated organisation name" },
                    };
    ViewBag.SearchInfo = new SelectList(SearchListInfo, "SearchType", "SearchValue");

}
@{
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.STRUCTURES;
}
<style>
    .sorticon {
        filter: invert(100%);
    }

    .filtered-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
        background-size: 1rem;
    }

    .esdal-filter-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
        background-size: 1rem;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
    }

    .movements td:nth-child(1) {
        text-align: left;
    }

    .filter-table-icon {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 50px;
    }

    .filter-table-icons {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 19px;
    }
</style>



@Html.Hidden("orgId", organisationID)
@Html.Hidden("pageSizeVal", pageSize)
@Html.Hidden("pageNum", pageNum)

@{
    var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 1;//1-type
    var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;//0-asc
    var isArrangementnameEnabled = !string.IsNullOrEmpty(searchType) && searchType == "Arrangement name" && !string.IsNullOrEmpty(searchValue);
    var isdelegatingFilterEnabled = !string.IsNullOrEmpty(searchType) && searchType == "Delegating organisation name" && !string.IsNullOrEmpty(searchValue);
    var isdeligatedEnabled = !string.IsNullOrEmpty(searchType) && searchType == "Delegated organisation name" && !string.IsNullOrEmpty(searchValue);

    var isAllFilterEnabled = isArrangementnameEnabled || isdelegatingFilterEnabled ||
        isdeligatedEnabled;
}

<body id="soa-structure-list">
    <section id="banner">
        <div class="container-fluid" id="banner-container">
            <div class="vehicle">

                <div class="header">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="button mr-0">
                                <button class="btn btn-outline-primary btn-normal pl-8 pr-8" role="button"
                                        aria-pressed="true" id="btnCreateNew">
                                    NEW
                                    DELEGATION
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="title">
                                DELEGATION ARRANGEMENTS
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DelegId">
                    <div class="main-table movements" id="DelegationArrangement">
                        <table class="esdal-table">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,1)" data-action="DelegationArrangementSort" data-sortval="1"> Arrangement Name </span>
                                        <span class="filter-table-icon"><img id="filterimageArrange" style="display:@(isArrangementnameEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>@*<span><img src="~/Content/assets/images/down-chevlon.svg" width="15" height="6"></span>*@
                                    </th>
                                    <th><span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,3)" data-action="DelegationArrangementSort" data-sortval="3">Delegating Organisation </span> <span class="filter-table-icons"><img id="filterimagedelegator" style="display:@(isdelegatingFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span></th>
                                    <th><span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,2)" data-action="DelegationArrangementSort" data-sortval="2">Delegated Organisation </span>  <span class="filter-table-icons"><img id="filterimagedelegating" style="display:@(isdeligatedEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span></th>
                                    <th>Sub-Delegation </th>
                                    <th></th>
                                    <th class="table-filter">
                                        <img id="btnOpenFilter" class="open-filter-icon-common" data-width="350" src="~/Content/assets/images/filter-icon.svg" title="Open filter" width="38">
                                        <span class="filtered-icon-table "><img id="filterimage" style="display:@(isAllFilterEnabled?"block":"none")" src="~/Content/assets/images/filtered-icon.svg" title="Clear filter"></span>
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-color2">

                                        <a href="#" class="linkstructurecodeclick" arg1="@item.ArrangementId" arg2="@item.OrgToId" arg3="@ViewBag.OrgId" style="text-decoration: none; color: rgba(39, 87, 149, 1)">@item.ArrangementName</a>
                                    </td>

                                    <td class="text-color1">@item.DelegatedOrganisationName</td>
                                    <td class="text-color1">@item.OrganisationName</td>
                                    <td class="pt-0 pb-0">
                                        @if (item.SubDelegation == true)
                                        {

                                            <img src="~/Content/assets/Icons/sub delegation.svg" width="30" />
                                        }
                                    </td>
                                    <td colspan="2">
                                        @if (item.OrganisationId == organisationID)
                                        {
                                            <span class="pr-3">
                                                <img src="~/Content/assets/images/edit-icon.svg" width="20" title="Edit" class="editdelegation" style="cursor:pointer;" arg1="@item.ArrangementId" arg2="@item.OrgToId" arg3="@ViewBag.OrgId" arg4="@Model.PageSize">
                                            </span>
                                            <span class="pr-2">
                                                <img src="~/Content/assets/images/delete-icon.svg" width="18" title="Delete" class="deleteconfirmation" style="cursor:pointer;" arg1="@item.ArrangementId" arg2="@item.IsRoadDelegation" id="@item.ArrangementId" , name="@item.ArrangementName">
                                            </span>


                                        }
                                    </td>
                                </tr>
                            }

                            <!-- </tbody> -->
                        </table>
                    </div>

                    <div class="row pt-3">
                        <div class="col-lg-4 col-md-4">
                            @if (Model.TotalItemCount > 0)
                            {
                                <div class="text-color2 total-records-number">
                                    Total number of records : @Model.TotalItemCount
                                </div>
                            }
                        </div>
                        <div class="col-lg-5 pagination">
                            @if (@ViewBag.TotalCount > 0)
                            {

                                if (listCount < @ViewBag.TotalCount)
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("MyDelegationArrangement",
                                              new
                                              {
                                                  B7vy6imTleYsMr6Nlv7VQ =
                                                     STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page +
                                                     "&sortOrder=" + ViewBag.sortOrder +
                                                     "&sortType=" + ViewBag.sortType)
                                              }),
                                              new PagedListRenderOptions
                                              {
                                                  DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                  DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                  LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                                  LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                                  DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                  DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                  MaximumPageNumbersToDisplay = 3,
                                                  DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                                  EllipsesFormat = "...",
                                                  LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                              });
                                }

                            }
                            else
                            {
                                <div class="error invalid-feedback" style="display: block !important; text-align: center;">@Resources.Resource.NoRecordFound</div>
                            }
                        </div>
                        @if (Model.TotalItemCount > 10)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0 MyDelegationArrangement-Pag">
                                Number of items to display per page
                                <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelect">
                                    <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                    <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                    <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                    <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                                </select>
                            </div>
                        }
                    </div>
                </div>
                @{
                    string SearchString = ViewBag.SearchArrangName;
                    @Html.Hidden("hdnSearchString", SearchString)
                    @Html.Hidden("pageSizeVal", pageSize)
                }
            </div>
            <div class="text-decoration-link">@ViewBag.recordsavemessage</div>
            @{
                ViewBag.recordsavemessage = TempData["recordsavemessage"] = null;
            }
            <br />
            <div style="float: left; width: 100%; height: 32px;">

                <label class="text-normal">

                    <img style="background-color:cornsilk" src="~/Content/assets/Icons/sub delegation.svg" />Note: This icon indicates that you are sub-delegating structures which have already been delegated to you by another organisation.

                </label>

            </div>
            <!-- <div></div> -->
        </div>

    </section>
    <!-- end of main content-->
    <div id="filters" class="sidenav filter-sidenav">

        <div class="row sidenav-header mt-3">
            <div class="col-10 text-center">
                <div class="text-normal-hyperlink mt-3" style="font-size: x-large;">
                    SEARCH DELEGATION
                </div>
            </div>
            <div class="col-1 pl-0" style="position: none;">
                <a href="#" class="close-filter-icon-common" id="closeMovementFilters">&times;</a>
            </div>
        </div>


        <hr style="margin-top: 0;">
        <div class="filter-list">
            <div class="row" id="filterdelegation">
                <input type="hidden" name="SortOrderValue" id="SortOrderValue" value="@sortOrder" />
                <input type="hidden" name="SortTypeValue" id="SortTypeValue" value="@sortType" />
             
                <div class="col-12">
                    <select class="form-select mb-3" aria-label="form-select-lg example" id="SearchType" name="SearchListInfo" style="margin-right: 10%; width: 100%;">
                        <option selected value="">Select</option>
                        @{
                            var dropDownItems = (IEnumerable<SelectListItem>)ViewBag.SearchInfo;
                            if (dropDownItems.Count() > 0)
                            {
                                foreach (var item in dropDownItems)
                                {
                                    <option @(searchType == item.Value ? "selected" : "")>@item.Value</option>
                                }
                            }
                        }
                    </select>
                    @*@Html.DropDownList("SearchListInfo", (IEnumerable<SelectListItem>)ViewBag.SearchInfo, "Select", new { @id = "SearchType", @class = "form-select mb-3", @style = "overflow: scroll;float: left;width: -webkit-fill-available;" })*@
                </div>
                <div class="col-12">
                    <div class="mt-4 input-field">
                        <input class="edit-normal" type="text" id="Searchtext" name="Searchtype" value="@searchValue">
                    </div>
                </div>
            </div>


        </div>
        <div class="row pt-6 pl-4 pr-2" id="org_filter_btn">

            <div class="col-lg-7 col-md-7 col-sm-12 pl-0 pr-1 filter-entry">
                <div class="button mr-0 mb-2">
                    <button class="btn btn-outline-primary btn-normal" style="width:100%;" role="button" aria-pressed="true" id="btn_SearchDelegationFilter">
                        SEARCH
                    </button>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 pl-2 pr-3 filter-entry">
                <div class="button mr-0 mb-2">
                    <button class="btn btn-outline-primary btn-normal" style="width:100%;" role="button" aria-pressed="true" id="btn_ClearDelegationFilter">
                        CLEAR
                    </button>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

</body>
@{
    string GetSortDefaultClass(int sortTypeVal, int sortOrderVal, int valToCheck)
    {
        var sortClass = ""; //0-asc, 1-desc ,
        if (sortOrderVal == valToCheck)
        {
            sortClass = sortTypeVal == 1 ? "sorting_desc" : "sorting_asc";
        }
        return sortClass;
    }
}

<script src="~/Scripts/Structures/MyDelegationArrangement.js?V@(Session["ProjectVersion"])"></script>
