@using System.Collections.Concurrent;
@using System.Web.Optimization
@using STP.Domain
@model List<STP.Domain.Structures.StructureOwnerChain>

@{
    List<STP.Domain.Structures.StructureGeneralDetails> objListStructureGeneralDetails = ViewBag.ListStructureGeneralDetails;
    int cnt = 0;
    string sectionType = "";
    int? structureChain = 0, tmpChainNum = 0;
    //code portion to generate the order in which the structure's are delegated and owned by different organisation
    //The list contains sub list  in order of structure owner and sub delegation
    List<List<STP.Domain.Structures.StructureOwnerChain>> StructOwnerChainList = new List<List<STP.Domain.Structures.StructureOwnerChain>>();
    List<STP.Domain.Structures.StructureOwnerChain> StructOwnerChainObjList = null;
    STP.Domain.Structures.StructureOwnerChain StructChainObj = null;
    var StructureOwnChain = ViewBag.structureOwnerchain;
    if (ViewBag.UserValidateFlag == 1)
    {
        if (StructureOwnChain != null && StructureOwnChain.Count > 0)
        {
            foreach (var item in StructureOwnChain)
            {
                structureChain = (int)item.StructureChainNo;
                if (item.StructurePosition == 1 && tmpChainNum != structureChain)
                {   //then the this is an owner
                    StructOwnerChainObjList = new List<STP.Domain.Structures.StructureOwnerChain>();
                    StructChainObj = new STP.Domain.Structures.StructureOwnerChain();
                    StructOwnerChainObjList.Add(StructChainObj);
                    StructOwnerChainList.Add(StructOwnerChainObjList);
                    StructChainObj.ChainPosition = item.StructurePosition;
                    StructChainObj.ChainNo = item.StructureChainNo;
                    StructChainObj.ChainContactId = item.ContactId;
                    StructChainObj.ChainOwnerName = item.OwnerName;
                    tmpChainNum = structureChain;
                }
                else
                {
                    StructChainObj = new STP.Domain.Structures.StructureOwnerChain();
                    StructOwnerChainObjList.Add(StructChainObj);
                    StructChainObj.ChainPosition = item.StructurePosition;
                    StructChainObj.ChainNo = item.StructureChainNo;
                    StructChainObj.ChainContactId = item.ContactId;
                    StructChainObj.ChainOwnerName = item.OwnerName;
                    tmpChainNum = structureChain;
                }
            }
        }
    }
}
@{
    List<STP.Domain.Structures.StructureSectionList> objListStructureSections = ViewBag.ListStructureSections;

}
@{
    Layout = null;
}

@using System.Web.Mvc



<div class="form form_component review-summary-popup" id="form_component">
    <div class="modal" tabindex="-1" role="dialog" id="exampleModalCenter22" style="display: block; overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="ViewRoadContacts" style="overflow: unset; padding-bottom: 2rem; height: auto; border-radius: 0.3rem; width: 100%; ">
                @if (ViewBag.UserValidateFlag == 0)
                {
                    <div class="modal-header pt-4">
                        <span class="details pl-3 col-6">Structure details</span>
                        <span aria-hidden="true" class="close pl-0 closestructdetail" data-dismiss="modal" aria-label="Close"
                              style="cursor:pointer;">&times;</span>
                    </div>
                    <div class="modal-body pt-4 pl-3">
                        <div class="error invalid-feedback" style="display: block !important; text-align: center;">@Resources.Resource.WrongStructureMsg</div>
                    </div>
                }
                else
                {
                    <div class="modal-header pt-4">
                        <span class="details pl-3 col-6" style="font-size:25px;">Structure details</span>
                        <span aria-hidden="true" class="close pl-0 closestructdetail" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">&times;</span>
                    </div>
                    <div class="class=" col-lg-12 col-md-12 col-sm-12"">
                        @if (objListStructureGeneralDetails != null && objListStructureGeneralDetails.Count > 0)
                        {
                            cnt = objListStructureGeneralDetails.Count;
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].ESRN))
                            {
                                @Html.Hidden("Dimension", 1)

                                <div class="row ml-0 pt-4">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.ESRN
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].ESRN
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].StructureName))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.SummaryName
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].StructureName
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].StructureKey))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.StructKey
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].StructureKey
                                    </div>
                                </div>
                            }
                            if (objListStructureGeneralDetails[cnt - 1].OSGREast != 0 || objListStructureGeneralDetails[cnt - 1].OSGRNorth != 0)
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.OSGR
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].OSGREast, @objListStructureGeneralDetails[cnt - 1].OSGRNorth
                                    </div>
                                </div>
                            }
                            <div class="row ml-0 pt-1">
                                <div class="col-5 pl-5 text-normal">
                                    @Resources.Resource.SummaryOwner
                                </div>
                                <div class="col-7 details1">
                                    @if (StructChainObj != null && StructChainObj.ChainOwnerName != null)
                                    {
                                       
                                        <table class="col-8 c8Helper pl-0 col-7">
                                            <tbody>
                                                <tr>
                                                    @for (int i = 0; i < StructOwnerChainList.Count(); i++)
                                                    {
                                                        if (i >= 1)
                                                        {
                                                            <td class="col-1 c1Helper pl-0" style="vertical-align: top;padding:0px;">
                                                                <span id="text5" class="stHeading1 text-color2">
                                                                    +
                                                                </span>
                                                            </td>
                                                        }
                                                        <td style="vertical-align: top;padding:0px;">
                                                            <table>
                                                                <tbody>
                                                                    @foreach (var StructChainOwner in StructOwnerChainList[i])
                                                                    {
                                                                        <tr>
                                                                            <td style="padding:0px;">
                                                                                <span id="text5" class="stHeading1 text-color2 clickable">
                                                                                    <a class="displaycontact" arg1="@StructChainOwner.ChainContactId">@StructChainOwner.ChainOwnerName</a>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        if ((StructChainOwner.ChainPosition >= 2 || StructOwnerChainList[i].Count > 1) && (StructChainOwner.ChainPosition < StructOwnerChainList[i].Count)) // adding the down arrow for delegated structure
                                                                        {
                                                                            <tr>
                                                                                <td class="col-1 c1Helper pl-0" style="padding:0px;">
                                                                                    <img id="chevlon-down-icon1" src="~/Content/assets/images/down-chevlon-filter.svg" style="display: block;"
                                                                                         width="15">
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    @*<span id="text5" class="stHeading1 text-color2 clickable">

            <a style="cursor:pointer;" class="displaycontact" arg1="@StructChainObj.ChainContactId">@StructChainObj.ChainOwnerName</a>
        </span>*@
                                </div>
                            </div>
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Category))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        Category
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].Category
                                    </div>
                                </div>
                            }
                            if ((!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Type)) || (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Type1)) || (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Type2)))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.Type
                                    </div>
                                    @{
                                        string type1 = !string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Type1) ? "," + objListStructureGeneralDetails[cnt - 1].Type1 : null;
                                        string type2 = !string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Type2) ? "," + objListStructureGeneralDetails[cnt - 1].Type2 : null;
                                    }
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].Type @type1 @type2
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].StructureClass))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.SummaryClass
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].StructureClass
                                    </div>
                                </div>
                            }
                            if ((!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].StructureAlternateNameOne)) && (objListStructureGeneralDetails[cnt - 1].StructureAlternateNameOne.Trim() != ",,"))
                            {
                                string[] arrAltNames = objListStructureGeneralDetails[cnt - 1].StructureAlternateNameOne.Split(',');
                                string altName1 = null, altName2 = null, altName3 = null;
                                altName1 = arrAltNames[0];
                                if (arrAltNames.Length > 1)
                                {
                                    altName2 = !string.IsNullOrEmpty(arrAltNames[1]) ? "," + arrAltNames[1] : null;
                                    altName1 = altName1 + altName2;
                                }
                                if (arrAltNames.Length > 2)
                                {
                                    altName3 = !string.IsNullOrEmpty(arrAltNames[2]) ? "," + arrAltNames[2] : null;
                                    altName1 = altName1 + altName3;
                                }
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        Alternate Names
                                    </div>
                                    <div class="col-7 details1">
                                        @altName1
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Description))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.Description
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].Description
                                    </div>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(objListStructureGeneralDetails[cnt - 1].Notes))
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.Notes
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].Notes
                                    </div>
                                </div>
                            }
                            if (objListStructureGeneralDetails[cnt - 1].Length != 0)
                            {
                                <div class="row ml-0 pt-1">
                                    <div class="col-5 pl-5 text-normal">
                                        @Resources.Resource.StructLength
                                    </div>
                                    <div class="col-7 details1">
                                        @objListStructureGeneralDetails[cnt - 1].Length m
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="modal-header pt-4">
                        <span class="details pl-3">Structure sections</span>
                    </div>
                    int cntSectionOverbridge = 0, cntSectionUnderbridge = 0, cntSectionUnderOverbridge = 0, cntSectionLeverCross = 0;
                    sectionType = "";

                    if (objListStructureSections != null)
                    {
                        <div class="row ml-0 pt-3">
                            <div class="col-12 pl-5 text-normal">
                                Please select a section to view details
                            </div>
                        </div>

                        foreach (var items in objListStructureSections)
                        {
                            sectionType = items.StructureSections.ToLower().Trim();
                            <div class="row ml-0 pt-1">
                                <div class="col-5 pl-5 text-normal">
                                    @items.StructureSections <span>section</span>
                                    @if (sectionType == "underbridge")
                                    {
                                        cntSectionUnderbridge++;
                                        <span>@cntSectionUnderbridge</span>
                                    }
                                    @if (sectionType == "overbridge")
                                    {
                                        cntSectionOverbridge++;
                                        <span>@cntSectionOverbridge</span>
                                    }
                                    @if (sectionType == "under and over bridge")
                                    {
                                        cntSectionUnderOverbridge++;
                                        <span>@cntSectionUnderOverbridge</span>
                                    }
                                    @if (sectionType == "level crossing")
                                    {
                                        cntSectionLeverCross++;
                                        <span>@cntSectionLeverCross</span>
                                    }
                                </div>
                                <div class="col-7 details1">
                                    <input class="form-check-input showsection" type="radio" id="@items.SectionId" name="optSectionDetails" arg1="@ViewBag.StructureId" />
                                    @Html.Hidden("hdnsectionType", sectionType, new { @id = "hdnsectionType" })
                                </div>
                            </div>

                        }
                        <div id="divStructureSectionDetails">

                        </div>
                    }
                }


            </div>
        </div>
    </div>

</div>
<div id="contactDiv">

</div>


<input type="hidden" value="@ViewBag.StructureId" id="hf_StructureId" name="hf_StructureId" />
@Html.Hidden("hf_sectionType", sectionType)



<style>
    .form table {
        width: 100% !important;
    }
    
</style>

