@{
    Layout = null;
}
<style>
    .clickable {
        cursor: pointer;
    }
</style>
<div class="card sidebar-soa-Helper">
    <div class="card-header cardHeaderHelper divOpenStructure" id="sm1">
        <span class="sidebartitle-soa">Structure menu</span>
    </div>
    <div class="cbHelper" id="sm">
        <ul class="p-0 m-0">
            <li id="li1" class="list-soa mt-2 active1 clickable liViewGeneralDetail">General Details</li>
            <li id="li2" class="list-soa clickable liShowHistory">Show history</li>
            @if (ViewBag.Helpdest_redirect != "true")
            {
                <li id="li3" class="list-soa clickable liInboxItem">Related inbox items</li>
            }

            <li id="li4" class="list-soa clickable liManageGeneralDetail">
                Manage general details
            </li>
            <li id="li5" class="list-soa clickable liMostOnerousVehicle">Most onerous vehicle</li>
            @if (ViewBag.Helpdest_redirect != "true")
            {
                <li id="li6" class="list-soa clickable liShowStructureOnMap">
                    Show structure on map
                </li>
            }
            <li id="li7" class="list-soa clickable liViewCausion">
                Manage
                caution
            </li>
        </ul>
    </div>
    <div class="card-header cardHeaderHelper divOpenManage" id="msd1" style="display: none;">
        <span class="sidebartitle-soa">Managing section data</span>
    </div>
    <div class="card-body cbHelper" id="msd" style="display: none;">
        <ul class="p-0">
            <li id="li8" class="list-soa mt-2 clickable liManageConstruction">Manage dimensions and constructions</li>
            @if (ViewBag.Helpdest_redirect != "true")
            {
                <li id="li9" class="list-soa clickable liManageConstraints">Manage imposed constraints</li>
            }
            @if (Convert.ToString(ViewBag.sectionType) == "underbridge")
            {
                <li id="li10" class="list-soa clickable liManageSVData">Manage SV data</li>
            }
            @if (Convert.ToString(ViewBag.sectionType) == "underbridge")
            {
                <li id="li11" class="list-soa clickable liManageICA">Manage ICA usage</li>
                <li id="li12" class="list-soa clickable liConfigure">
                    Configure
                    default banding factors
                </li>
                <li id="li13" class="list-soa clickable liCheckSuitability">
                    Check suitability of
                    vehicle
                </li>
            }
        </ul>
    </div>
</div>

@{
    string structureName = ViewBag.structureName != null ? ViewBag.structureName : "";
<input type="hidden" value="@ViewBag.sectionType" id="hf_sectionType" name="hf_sectionType" />
<input type="hidden" value="@ViewBag.sectionType" id="hf_sectionType" name="hf_sectionType" />
<input type="hidden" value="@ViewBag.StructureId" id="hf_StructureId" name="hf_StructureId" />
    <input type="hidden" value="@(HttpUtility.UrlEncode(structureName))" id="hf_structureName" name="hf_structureName" />
<input type="hidden" value="@ViewBag.ESRN" id="hf_ESRN" name="hf_ESRN" />
<input type="hidden" value="@ViewBag.sectionId" id="hf_sectionId" name="hf_sectionId" />
<input type="hidden" value="@ViewBag.EncryptStructureId" id="hf_EncryptStructureId" name="hf_EncryptStructureId" />
<input type="hidden" value="@ViewBag.encryptESRN" id="hf_encryptESRN" name="hf_encryptESRN" />
}
@*<script src="~/Scripts/Structures/StructureReviewSummaryLeftPanel.js?V@(Session["ProjectVersion"])"></script>*@
