@using PagedList.Mvc
@using STP.Common.EncryptDecrypt
@using STP.Domain.Structures
@model PagedList.IPagedList<STP.Domain.Structures.StructureSummary>

@{
    int listCount = 0;
    int check = 0;
    listCount = (int)Session["PageSize"];
    int pageSize = 10;
    int? pageNum = ViewBag.page;
    STP.Domain.Structures.SearchStructures objfilter = null;
    if (ViewBag.filterObject != null)
    {
        objfilter = ViewBag.SORTMovementFilter;
    }
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    string Mode = "";

    if (Request["Mode"] != null)
    {
        Mode = Request["Mode"].ToString();
    }
    else if (!string.IsNullOrEmpty(Convert.ToString(TempData["Mode"])))
    {
        Mode = Convert.ToString(TempData["Mode"]);
    }

    if (ViewBag.filterObject != null)
    {
        objfilter = ViewBag.filterObject;
    }

    string arrId = "", EditOrgId = "", orgId = "";
    arrId = Convert.ToString(TempData["arrId"]);
    EditOrgId = Convert.ToString(TempData["EditOrgId"]);
    orgId = Convert.ToString(TempData["orgid"]);
    int EditFlag = 0;


    if (ViewBag.Mode == null)
    {
        Mode = "";
        TempData["Mode"] = null;
    }

    objfilter = (SearchStructures)ViewBag.filterObject;

    if (!string.IsNullOrEmpty(Convert.ToString(TempData["Mode"])))
    {
        Session["Page"] = 1;
        //Session["g_StructSearch"] = null;
        Session["PageNumber"] = 1;
    }

}
@{
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.STRUCTURES;
}
<style>
    .sorticon {
        filter: invert(100%);
    }

    .filtered-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
        background-size: 1rem;
    }

    .esdal-filter-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
        background-size: 1rem;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
    }

    .movements td:nth-child(1) {
        text-align: left;
    }

    .filter-table-icon {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 50px;
    }

    .filter-table-icons {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 19px;
    }
</style>

@if (TempData["EditFlag"] != null)
{
    EditFlag = 1;

}
else
{
    EditFlag = 0;

}


@Html.Hidden("arrId", arrId)
@Html.Hidden("EditOrgId", EditOrgId)
@Html.Hidden("orgId", orgId)

@Html.Hidden("pageSizeVal", pageSize)
@Html.Hidden("pageNum", pageNum)

<body style="overflow-y: auto;" id="soa-structure-list">
    @{var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 2;
        var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;
        var isESRNFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.SearchSummaryId);
        var isstructNameFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.SearchSummaryName);
        var isAlternateNameFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.AlternateName);
        var isDescriptionFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.Description);
        var isCarriesFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.Carries);
        var isCrossesFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.Crosses);
        var isStructureTypeFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.StructureType);
        var isICAMethodFilterEnabled = !string.IsNullOrWhiteSpace(objfilter.ICAMethod);
        var isAllSearchEnabled = isstructNameFilterEnabled || isAlternateNameFilterEnabled || isDescriptionFilterEnabled || isCarriesFilterEnabled
            || isCarriesFilterEnabled || isCrossesFilterEnabled || isStructureTypeFilterEnabled || isICAMethodFilterEnabled || isESRNFilterEnabled;
    }
    <section id="banner">
        <div class="container-fluid" id="banner-container">

            <div id="structure_table">
                <!-- table -->
                <div class="main-table movements" id="portal-table">

                    <table class="esdal-table" id="portaltable">

                        <thead>
                            <tr>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType, sortOrder, 1)" data-action="SoastructureSort" data-sortval="1">ESRN </span>
                                    <span class="filter-table-icon"><img id="filterimageESRNName" style=" display:@(isESRNFilterEnabled ? "block" : "none")" ; src="~/Content/assets/images/filter-table-icon.svg"></span>

                                </th>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType, sortOrder, 2)" data-action="SoastructureSort" data-sortval="2">Structure Name </span>
                                    <span class="filter-table-icons"><img id="filterimageSTRUName" style="display:@(isstructNameFilterEnabled ? "block" : "none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                                </th>
                                @if (Mode == "Edit" || EditFlag == 1)
                                {
                                    <th>
                                        <input id="checkall" type="checkbox" class="checkbox mr-2" />
                                        <span class="text-normal" style="vertical-align: super;color:white">Select all structures in this page</span>
                                    </th>
                                }
                                else
                                {
                                    
                                    <th style="width:20%;"></th>  
                                }
                                <th class="table-filter" style="width:5%;">
                                    <img id="imgOpenFilter" class="open-filter-icon-common" data-width="400" src="~/Content/assets/images/filter-icon.svg" title="Open filter" width="38">
                                    <span class="filtered-icon-table "><img id="filterimage" aria-pressed="true" style="display:@(isAllSearchEnabled ? "block" : "none")" src="~/Content/assets/images/filtered-icon.svg" title="Clear filter"></span>


                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-color2">
                                    <a href="#" class="structureCode" StructureId="@item.StructureId" style="text-decoration: none; color: rgba(39, 87, 149, 1)">@item.StructCode</a>
                                </td>
                                <td class="text-color1">@item.StructureName</td>

                                @if (Mode == "Edit" || EditFlag == 1)
                                {
                                    <td>
                                        <input id="Checkbox" type="checkbox" class="childcheckbox" value="@item.StructCode" checked="@item.StructCodeSelected" />
                                        <input id="PreviousValOfStructCode" type="checkbox" class="childcheckboxHide" value="@item.StructCode" checked="@item.StructCodeSelected" style="visibility:hidden" />
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td ></td>
                            </tr>
                        }

                    </table>

                    @if (ViewBag.filterObject.SearchSummaryName != null)
                    {
                    }
                    @if (ViewBag.filterObject.SearchSummaryName == null)
                    {
                    }
                </div>
                <!-- end of table -->

                <div>
                    @if (ViewBag.TotalCount > 0)
                    {
                        <div class="row pt-3">
                            <div class="col-lg-4 col-md-4">
                                @if (Model.TotalItemCount > 0)
                                {
                                    <div class="text-color2 total-records-number">
                                        Total number of records : @Model.TotalItemCount
                                    </div>
                                }
                            </div>
                            <div class="col-lg-5 pagination">
                                @if (listCount < ViewBag.TotalCount)
                                {

                                    @Html.PagedListPager(Model, page => Url.Action("StructureList",
                                                           new
                                                           {
                                                               B7vy6imTleYsMr6Nlv7VQ =
                                                                  STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page +
                                                                  "&sortOrder=" + ViewBag.sortOrder +
                                                                  "&sortType=" + ViewBag.sortType +
                                                                  "&Mode=" + ViewBag.Mode)
                                                           }),
                                                           new PagedListRenderOptions
                                                           {
                                                               DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                               DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                               LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                                               LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                                               DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                               DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                               MaximumPageNumbersToDisplay = 3,
                                                               DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                                               EllipsesFormat = "...",
                                                               LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                                               LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                                           });

                                }
                            </div>
                            @if (Model.TotalItemCount > 10)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0">
                                    Number of items to display per page
                                    <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelects">
                                        <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                        <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                        <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                        <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                                    </select>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="error invalid-feedback" style="display: block !important; text-align: center;">@Resources.Resource.NoRecordFound</div>

                    }
                </div>
            </div>

            @if (Mode == "Edit" || EditFlag == 1)
            {
                <label class="text-normal" style="font:bold">
                    Note: Click on "Save" button to save changes and select next set of structure(s) by navigating to another pages.
                </label>
                <div class="text-normal">
                    @Resources.Resource.TotPageCount : @ViewBag.TotalCount
                </div>
                <br />
                <div>
                    <table class="tdstyle">
                        <tr class="tdstyle">
                            <td class="tdstyle" style="text-align:center">
                                <button type="submit" id="btn_saveandcontinue" Mode="saveandcontinue" class="btn outline-btn-primary SOAButtonHelper" aria-hidden="true">SAVE</button>
                                <button type="submit" id="btn_save" Mode="save" class="btn outline-btn-primary SOAButtonHelper ml2" aria-hidden="true">SAVE AND RETURN</button>

                                @if (arrId != "0" && arrId != "")
                                {
                                    <button id="btnUnDelegated" class="btn outline-btn-primary SOAButtonHelper ml2">STRUCTURE NOT DELEGATED</button>
                                }

                                <button id="btn_cancel" type="button" class="btn outline-btn-primary SOAButtonHelper ml2">BACK</button>

                            </td>
                        </tr>
                    </table>

                </div>

            }

            <div>

            </div>

        </div>
        </div>
    </section>

    <div id="filterSection">
        @{Html.RenderAction("StructSummaryFilter", "Structures", new { page = pageNum, sortOrder = sortOrder, sortType = sortType });}
    </div>

</body>
@{
    string GetSortDefaultClass(int SORTType, int SORTOrder, int valToCheck)
    {
        var sortClass = ""; // 0-desc , 1-asc
        if (SORTOrder == valToCheck)
        {
            sortClass = SORTType == 1 ? "sorting_desc" : "sorting_asc";
        }
        return sortClass;
    }

    string ShowFilterIcon(int filterVal, int valToCheck)
    {
        return filterVal == valToCheck ? "block" : "none";
    }
}

@Html.Hidden("Mode", Mode)
@Html.Hidden("EditOrgId", EditOrgId)
@Html.Hidden("orgId", orgId)
@Html.Hidden("arrId", arrId)
@Html.Hidden("structureInDelegList", Session["structureInDelegList"] != null ? Session["structureInDelegList"].ToString() : "")

<script src="~/Scripts/Structures/StructureList.js?V@(Session["ProjectVersion"])"></script>
