@using PagedList.Mvc
@using STP.Common.EncryptDecrypt
@model PagedList.IPagedList<STP.Domain.Structures.StructureHistoryList>
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">


<body style="overflow-y: auto;">


    <!-- main-content -->
    <section id="banner">
        <div class="container-fluid" id="banner-container">
            <div id="caution">

                <!-- table -->
                <div class="col-lg-12 col-md-12 col-sm-12 header">
                    <div class="title" style="text-align: center;">
                        STRUCTURE HISTORY
                    </div>
                </div>
                <div class="main-table" id="portal-table">
                    <table>
                        <tr>
                            <th style="width: 20%; padding-left: 20px;">Date/Time</th>
                            <th style="width: 20%;">Username</th>
                            <th style="width:50%;">Details</th>
                        </tr>
                        <!-- sample examples -->
                        @{
                            if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="padding-left: 20px;" class="text-color1">@item.StructureDateTime</td>
                                        <td class="text-color1">@item.StructureUserName</td>
                                        <td class="text-color1">@Html.Raw(item.StructureDetails)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td  colspan="3" style="padding-left: 20px;" class="text-color1">No data found</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <!-- end of table -->
                @if (Model != null && Model.Any())
                {
                <div class="bottom-pagination structure-pagination">
                    <div class="pagination">
                        @*<a href="#"><img src="~/Content/assets/images/left-chevlon.svg" width="10"></a>
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">....</a>
                <a href="#">12</a>
                <a href="#"><img src="~/Content/assets/images/right-chevlon.svg" width="10"></a>*@
                        @Html.PagedListPager(Model, page => Url.Action("StructureHistory",
                        new
                        {page,
                            B7vy6imTleYsMr6Nlv7VQ =
                                            STP.Web.Helpers.EncryptionUtility.Encrypt("structId=" + @ViewBag.StructureId +
                                            "&structName=" + @ViewBag.StructName +
                                            "&ESRN=" + @ViewBag.ESRN +
                                            "&page=" + page +
                                            "&pageSize=" + @ViewBag.pageSize)
                        }),
                        new PagedListRenderOptions
                        {
                            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                            LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                            LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                            MaximumPageNumbersToDisplay = 3,
                            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                            EllipsesFormat = "...",
                            LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                            LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                        })
                    </div>
                </div>
                }
                <div class="button main-button mr-0 mb-2 mt-4">
                    <button class="btn btn-outline-primary btn-normal" id="btnBack" role="button" aria-pressed="true"
                            style="width: 10rem;float: right;" StructureId="@ViewBag.StructureId">
                        BACK
                    </button>
                </div>
            </div>
                </div>
    </section>
    <!-- end of main-content -->
    <!-- filter settings -->
    <div id="filters" class="sidenav filter-sidenav">
    </div>
    <!-- end of fikter settings -->
    <!-- bootsrap css for vertical menu bar-->
</body>
</html>
