
@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.Structures.StructureNotification>

@{
    int pageNum = 10;
    if (ViewBag.pageSize != null)
    {
        pageNum = ViewBag.pageSize;
    }

    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

    long structureId = Convert.ToInt64(TempData["structureId"]);

}
@{
    string structureID = ViewBag.structureId;
}

@Html.Hidden("hstructure_Id", structureID)
@{
    Layout = null;
}
<span id='mostOnerousId' style="display: none;">
    <div class="main-table mt-5">
        @Html.Hidden("pageSizeVal", pageNum)
        <table>
            <thead>
                <tr>
                    <th>ESDAL Reference</th>
                    <th style="width:14rem;">Haulier Name</th>
                    <th>Received <br> Date</th>
                    <th style="width:8rem;">Movement <br>Date</th>
                    <th>ICA</th>
                    @if (ViewBag.ColumnToDisplay == "Gross")
                    {
                        <th>Gross Weight</th>
                    }
                    else
                    {
                        <th>Axle weight</th>
                    }
                    <th>Movement<br> Status</th>
                    <th id="openFilters" class="table-filter open-filter-icon-common" data-width="500">
                        <img src="~/Content/assets/images/filter-icon.svg" title="Open filter"  width="38">
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-color2">
                                <a href="#" class="text-color2 showVehicleSummary" style="text-decoration:none;" ESDALRef="@item.ESDALReference" >@item.ESDALReference</a>
                            </td>
                            <td class="text-color1">@Html.DisplayFor(modelItem => item.HaulierName)</td>
                            <td class="text-color1">@item.ReceivedDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-color1">
                                @item.MovementStartDate.ToString("dd/MM/yyyy")
                                to
                                @item.MovementEndDate.ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-color1">
                                @if (item.GrossWeight > 0)
                                {
                                    if (item.ICA == 0)
                                    {
                                        <div>Pass</div>

                                    }
                                    else if (item.ICA == 1)
                                    {
                                        <div>Fail</div>
                                    }
                                }
                            </td>
                            <td class="text-color1">
                                @if (ViewBag.ColumnToDisplay == "Gross")
                                {
                                    <div>@item.GrossWeight kg</div>
                                }
                                else
                                {
                                    <div>@item.MaxAxleWeight kg</div>
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (item.ApplicationStatus == 327002 || item.ApplicationStatus == 327006)
                                {
                                    <img src="~/Content/assets/images/no-icon.svg" width="20" title="Declined">
                                }
                                else if (item.ApplicationStatus == 327003 || item.ApplicationStatus == 327005)
                                {
                                    <div class="text-color1" style="font-size: 30px;" title="Under assessment">?</div>
                                }
                                else if (item.ApplicationStatus == 327004)
                                {
                                    <div class="text-color1" style="font-size: 30px;" title="Unspecified">?</div>
                                }
                                else if (item.ApplicationStatus == 327001)
                                {
                                    <img src="~/Content/assets/images/yes-icon.svg" width="20" title="Agreed">
                                }
                            </td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="bottom-pagination">
            @if (ViewBag.TotalCount > 0)
            {
                <div class="pagination" id="mostOnerousPaginator" style="justify-content:center">
                    @Html.PagedListPager(Model, page => Url.Action("StructureMostOnerousVehicleList",
                             new
                             {
                                 page,
                                 B7vy6imTleYsMr6Nlv7VQ =
                                                    STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page +
                                                    "&sortOrder=" + ViewBag.CurrentSort +
                                                    "&currentFilter=" + ViewBag.CurrentFilter +
                                                    "&structureId=" + ViewBag.structureId +
                                                    "&PageStatus=" + ViewBag.PageStatus)
                             }),
                             new PagedListRenderOptions
                             {
                                 DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                 DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                 LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                 LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                 DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                 DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                 MaximumPageNumbersToDisplay = 3,
                                 DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                 EllipsesFormat = "...",
                                 LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                 LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                             });
                </div>
            }
            else
            {
                <div class="error invalid-feedback" style="display: block !important; text-align: center;">@Resources.Resource.NoRecordFound</div>
            }
        </div>        
    </div>
    
</span>
<div id="viewDetails">

</div>
<div class="button main-button mr-0 mb-2 mt-4">
    <button class="btn btn-outline-primary btn-normal" id="btnBack" role="button" aria-pressed="true" style="width: 10rem;float: right;">
        BACK
    </button>
</div>
<input type="hidden" value="@ViewBag.structureId" id="hf_structureId" name="hf_structureId" />
<input type="hidden" value="@ViewBag.StructureName" id="hf_StructureName" name="hf_StructureName" />

@*<script src="~/Scripts/Structures/StructureMostOnerousVehicleList.js?V@(Session["ProjectVersion"])"></script>*@
