@model STP.Domain.Structures.SpanData

@Html.ValidationSummary(true)
@using (Html.BeginForm("SaveStructSectionSpan", "Structures", FormMethod.Post, new { Id = "SpanInfo", structureId = ViewBag.structureId, sectionId = ViewBag.sectionId, editSaveFlag = ViewBag.EditSaveFlag }))
{
<div class="row structure-section-span">
    <div class="col-lg-6 col-md-12 col-sm-12 colHelper1 pl-0">
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
                <label for="maSpacingId" class="text-normal">Span number</label>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                @Html.TextBoxFor(m => m.SpanNo, new { @class = "edit-normal" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
                <label for="maSpacingId" class="text-normal">Span sequence</label>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12"  >
                @Html.TextBoxFor(m => m.Sequence, new { @class = "edit-normal span-value-text", @maxLength = "2" })
                <span id="spanSequenceValidate" class="error invalid-feedback" style="display:none">The field sequence must be a number</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
                <label for="maSpacingId" class="text-normal">Span position</label>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                @Html.TextBoxFor(m => m.Position, new { @class = "edit-normal span-value-text valueEditable", @maxLength = "2" })
                @Html.TextBoxFor(m => m.Position, new { @class = "edit-normal", @type = "hidden", @id = "hiddenPosition" })
                <span id="positionValidate" class="error invalid-feedback" style="display:none">The field position must be a number</span>
                <span id="positionReqValidate" class="error invalid-feedback" style="display:none">
                    The span position is required
                </span>
                <span id="duplicateCheck" class="error invalid-feedback" style="display:none">This span position already exist</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
                <label for="maSpacingId" class="text-normal">Span length</label>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12" >
                @Html.TextBoxFor(m => m.Length, new { @class = "edit-normal spLength span-value-text", @*@id = "spLength",*@ @name = "spLength" })
                <span id="spLengthValidate" class="error invalid-feedback" style="display:none">Please enter valid length</span>
                <span id="spLengthReqValidate" class="error invalid-feedback" style="display:none">
                    The span length is required
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
                <label for="maSpacingId" class="text-normal">Span description</label>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                @Html.TextBoxFor(m => m.Description, new { @class = "edit-normal" ,@id="des"})
            </div>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
                    <label for="maSpacingId" class="text-normal pt-3">Structure Type</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.StructType1, ViewBag.StructTypeList as SelectList, "Select type", new { @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtStructType1, null, new { @class = "edit-normal span-type-text", data_custom_attribute = "StructType1" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.StructType2, ViewBag.StructTypeList as SelectList, "Select type", new { @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtStructType2, null, new { @class = "edit-normal span-type-text", data_custom_attribute = "StructType2" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.StructType3, ViewBag.StructTypeList as SelectList, "Select type", new { @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtStructType3, null, new { @class = "edit-normal span-type-text", data_custom_attribute = "StructType3" })
                </div>
            </div>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
                    <label for="maSpacingId" class="text-normal pt-3">@Resources.Resource.ConstructType</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.ConstructionType1, ViewBag.ConstructTypeList as SelectList, "Select type", new { @id = "SpanConstructionType1", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtConstructionType1, null, new { @id = "SpanTxtConstructionType1", @class = "edit-normal span-type-text", data_custom_attribute = "SpanConstructionType1" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.ConstructionType2, ViewBag.ConstructTypeList as SelectList, "Select type", new { @id = "SpanConstructionType2", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtConstructionType2, null, new { @id = "SpanTxtConstructionType2", @class = "edit-normal span-type-text", data_custom_attribute = "SpanConstructionType2" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.ConstructionType3, ViewBag.ConstructTypeList as SelectList, "Select type", new { @id = "SpanConstructionType3", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtConstructionType3, null, new { @id = "SpanTxtConstructionType3", @class = "edit-normal span-type-text", data_custom_attribute = "SpanConstructionType3" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 colHelper1">
        <div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label for="maSpacingId" class="text-normal pt-3">@Resources.Resource.DeckMaterial</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.DeckMaterial1, ViewBag.DeckMaterialList as SelectList, "Select type", new { @id = "SpanDeckMaterial1", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtDeckMaterial1, null, new { @id = "SpanTxtDeckMaterial1", @class = "edit-normal span-type-text", data_custom_attribute = "SpanDeckMaterial1" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.DeckMaterial2, ViewBag.DeckMaterialList as SelectList, "Select type", new { @id = "SpanDeckMaterial2", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtDeckMaterial2, null, new { @id = "SpanTxtDeckMaterial2", @class = "edit-normal span-type-text", data_custom_attribute = "SpanDeckMaterial2" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.DeckMaterial3, ViewBag.DeckMaterialList as SelectList, "Select type", new { @id = "SpanDeckMaterial3", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtDeckMaterial3, null, new { @id = "SpanTxtDeckMaterial3", @class = "edit-normal span-type-text", data_custom_attribute = "SpanDeckMaterial3" })
                </div>
            </div>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label for="maSpacingId" class="text-normal pt-3">@Resources.Resource.Bearings</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.SpanBearing1, ViewBag.Bearings1List as SelectList, "Select type", new { @id = "SpanBearingsType1", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtBearingsType1, null, new { @id = "SpanTxtBearingsType1", @class = "edit-normal span-type-text", data_custom_attribute = "SpanBearingsType1" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.SpanBearing2, ViewBag.Bearings1List as SelectList, "Select type", new { @id = "SpanBearingsType2", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtBearingsType2, null, new { @id = "SpanTxtBearingsType2", @class = "edit-normal span-type-text", data_custom_attribute = "SpanBearingsType2" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.SpanBearing3, ViewBag.Bearings1List as SelectList, "Select type", new { @id = "SpanBearingsType3", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtBearingsType3, null, new { @id = "SpanTxtBearingsType3", @class = "edit-normal span-type-text", data_custom_attribute = "SpanBearingsType3" })
                </div>
            </div>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label for="maSpacingId" class="text-normal pt-3">@Resources.Resource.Foundations</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.SpanFoundation1, ViewBag.FoundationsList as SelectList, "Select type", new { @id = "SpanFoundationType1", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtFoundationType1, null, new { @id = "SpanTxtFoundationType1", @class = "edit-normal span-type-text", data_custom_attribute = "SpanFoundationType1" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.SpanFoundation2, ViewBag.FoundationsList as SelectList, "Select type", new { @id = "SpanFoundationType2", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtFoundationType2, null, new { @id = "SpanTxtFoundationType2", @class = "edit-normal span-type-text", data_custom_attribute = "SpanFoundationType2" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @Html.DropDownListFor(m => m.SpanFoundation3, ViewBag.FoundationsList as SelectList, "Select type", new { @id = "SpanFoundationType3", @class = "form-select text-normal select1 spanTypeDrpDwn" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.TextBoxFor(m => m.TxtFoundationType3, null, new { @id = "SpanTxtFoundationType3", @class = "edit-normal span-type-text", data_custom_attribute = "SpanFoundationType3" })
                </div>
            </div>
        </div>
    </div>
    <div class="row ah1 mt-5">
        <button type="button" id="btnSave" class="btn outline-btn-primary btn-normal btn-layout1 mb-2 mr-r1">SAVE</button>
        <button type="button" id="btnSpanCancel" class="btn outline-btn-primary btn-normal btn-layout1 mr-r1 mb-2 ml2">CANCEL</button>

    </div>
</div>
}
@{
<input type="hidden" value="@ViewBag.EditSaveFlag" id="hf_EditSaveFlag" name="hf_EditSaveFlag" />
<input type="hidden" value="@ViewBag.sectionId" id="hf_sectionId" name="hf_sectionId" />
<input type="hidden" value="@ViewBag.structureName" id="hf_structureName" name="hf_structureName" />
<input type="hidden" value="@ViewBag.ESRN" id="hf_ESRN" name="hf_ESRN" />
<input type="hidden" value="@ViewBag.structureType" id="hf_structureType" name="hf_structureType" />
<input type="hidden" value="@ViewBag.structureId" id="hf_structureId" name="hf_structureId" />
}
@*<script src="~/Scripts/Structures/StructureSectionSpan.js?V@(Session["ProjectVersion"])"></script>*@