@using System.Web.Optimization
@using STP.Domain
@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.Structures.StructureContactModel>

@{
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }

    int pageSize = ViewBag.pageSize;
    int? pageNum = ViewBag.page;
    string StructureID = Convert.ToString(ViewBag.StructureID);
    string CautionID = Convert.ToString(ViewBag.CautionID);

    @Html.Hidden("pageSizeVal", pageSize)
    @Html.Hidden("pageNum", pageNum)
    @Html.Hidden("hdnStructureID", StructureID)
    @Html.Hidden("hdnCautionID", CautionID)
}

@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }

}
@Html.Hidden("TotalPages", Model.PageCount)
@{
    Layout = null;
}
<span id="viewContactListId" style="display: none;">
    <div class="flexer justify-content-start mt-5 widthP40">
        <button class="btn outline-btn-primary SOAButtonHelper fAdd CreateContact" >ADD CONTACT</button>
    </div>   
    <div class="main-table mt-5" id="caution-soa">
        <table>
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            @if (@ViewBag.TotalCount > 0)
            {
                <tbody class="tbColor">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-color2 tbColor align-value-top pl-5">
                                <a href="#" class="text-color2 contactView" style="text-decoration:none;" ContactNo="@item.ContactNo" ContactId="@item.ContactId" >@item.OrganisationName</a>
                            </td>
                            <td class="text-color1 tbColor align-value-top pl-5">
                                @item.FullName
                            </td>
                            <td class="text-color1 tbColor align-value-top pl-5">
                                @item.Description
                            </td>
                            <td class="tbColor align-value-top">
                                <span class="iconPack flexer justify-content-around w-75">
                                    <img class="mCtrl" width="22">
                                    <img src="~/Content/assets/images/edit-icon.svg" class="mCtrl clickable editContact" width="22" ContactNo="@item.ContactNo" CautionId="@item.CautionId" >
                                    <img src="~/Content/assets/images/delete-icon.svg" class="mCtrl clickable deleteContact" width="18" CautionId="@item.CautionId" id="@item.ContactNo" name="@item.FullName">
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <div class="bottom-pagination">
            @if (@ViewBag.TotalCount > 0)
            {
                <div class="pagination" id="reviewContactPaginator">
                    @Html.PagedListPager(Model, page => Url.Action("ViewStructureContactsList",
                             new
                             {
                                 B7vy6imTleYsMr6Nlv7VQ =
                                                            STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page +
                                                            "&pageSize=" + pageSize +
                                                            "&CautionID=" + @ViewBag.CautionID)
                             }),
                             new PagedListRenderOptions
                             {
                                 DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                 DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                 LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                 LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                 DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                 DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                 MaximumPageNumbersToDisplay = 3,
                                 DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                 EllipsesFormat = "...",
                                 LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                 LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                             });
                </div>
            }
            else
            {
        <div class="error invalid-feedback" style="display: block !important; text-align: center;">No record found</div>
            }
        </div>
    </div>

</span>
<div class="main-button button mr-0 mb-2 mt-4">
    <button class="btn btn-outline-primary btn-normal" id="btn_back" role="button" aria-pressed="true"
            style="width: 10rem;float: right;" >
        BACK
    </button>
</div>
@{
<input type="hidden" value="@ViewBag.StructureID" id="hf_StructureID" name="hf_StructureID" />
<input type="hidden" value="@ViewBag.StructureId" id="hf_StructureId1" name="hf_StructureId1" />
<input type="hidden" value="@ViewBag.CautionID" id="hf_CautionID" name="hf_CautionID" />
<input type="hidden" value="@ViewBag.SectionID" id="hf_SectionID" name="hf_SectionID" />
<input type="hidden" value="@ViewBag.sectionId" id="hf_sectionId1" name="hf_sectionId1" />
}
<script src="~/Scripts/Structures/ViewStructureContactsList.js?V@(Session["ProjectVersion"])"></script>
