@using STP.Domain.Applications;
@using STP.Domain.VehiclesAndFleets.Configuration;
@{
    var RouteList = (List<AffectedStructures>)ViewBag.MovementRouteList;
    var RouteId = (RouteList != null && RouteList.Count > 0) ? RouteList.First().RoutePartID : 0;
    var RouteIdArr = (RouteList != null && RouteList.Count > 0) ? RouteList.Select(x => x.RoutePartID).ToArray() : new long[] { };
}
@Html.Hidden("chkRouteID", RouteId)
<div class="row">
    <div class="col-lg-8 col-sm-md-8 col-sm-12">
        <div class="main-table mt-0 pt-0">
            <table>
                <tr>
                    <th>Route parts (submitted by Haulier)</th>
                    <th>Route Part Name</th>
                    <th>Route type</th>
                    <th></th>
                </tr>
                @foreach (var route in RouteList)
                {
                    <tr class="bgColor3">
                        <td class="text-color1">Route part @route.RoutePartNo (@route.RoutePartName)</td>
                        <td class="text-color1">@route.RoutePartName</td>
                        <td class="text-color1">Planned</td>
                        <td><input type="radio" class="form-check-input getRouteVehicleDetails" name="chk" id="rbtn_@route.RoutePartID" value="" RoutePartId=@route.RoutePartID /></td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-lg-3 col-sm-md-4 col-sm-12" id="route_address_sectn" style="display: none;width:33%;">
        <div class="bgColor3 pl-6 pr-6 pt-2 pb-2">
            <div class="details2 pb-1">
                Route
            </div>
            <div class="row pb-1">
                <div class="col-lg-4 col-sm-12 col-md-6 text-normal">
                    Starting
                </div>
                <div class="col-lg-7 col-sm-12 col-md-6 edit-normal" id="idstrDesc">

                </div>
            </div>
            <div class="row pb-1">
                <div class="col-lg-4 col-sm-12 col-md-6 text-normal">
                    Via Waypoint
                </div>
                <div class="col-lg-7 col-sm-12 col-md-6 edit-normal">
                    <table id="idViaWay" class="table">
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-6 text-normal">
                    Ending
                </div>
                <div class="col-lg-7 col-sm-12 col-md-6 edit-normal" id="idEndDesc">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pl-3 pr-3 pt-4">
    <div id="agreedRouteMap" style="height: 650px; display: none;" class="pl-0 pr-0">

    </div>
</div>

<div id="vehicleList">
    <div class="cardSOA1 ml-1 mb-4 mr-0">
        <h6 class="text-color3 stHeading1 m-0">Vehicle configurations</h6>
    </div>
    <div id="route_vehicle">

    </div>
</div>


<style>
    div.olMap {
        height: 650px !important;
    }

    .main-sort-content #vehicle-table {
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
@Html.Hidden("hf_RouteId", RouteId)
@Html.Hidden("hf_RouteListCount", RouteList.Count)
<input type="hidden" value="@ViewBag.IsHistory" id="hf_IsHistory" name="hf_IsHistory" />


