@model STP.Domain.MovementsAndNotifications.Notification.NotificationGeneralDetails
@{
    var contactId = ViewBag.contactId;
    var sessionUserInfo = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
}
<div class="pr-3">
    <div class="col-12 " style="display:inline-block;">

        @*@using (Html.BeginForm("", "Notification", FormMethod.Post, new { id = "NotificationPrintPanel" }))
            {
                if (Model.NotificationId != null && contactId != null)
                {*@

        <button id="PrintNotificationReport" class="btn btn-primary btn-normal mb-2 float-end" role="button" aria-pressed="true" style="width:12.25rem;" NotificationId=@Model.NotificationId ContactId=@contactId>
            PRINT
        </button>
        @*}
            }*@

    </div>
</div>


<div class="cardSOA1 mt-0 ml-1 mb-4">
    <h6 class="text-color3 stHeading1 m-0">General Details</h6>
</div>

<div class="pl-6 pr-3">
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Movement name
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.FromSummary to @Model.ToSummary
        </div>

    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            ESDAL reference
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.ESDALReference
        </div>
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal"> </div>
    </div>

    @{
        if (Model.VehicleCode == 241001)
        {
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    VSO Number
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.VSONumber
                </div>
            </div>
        }
        else if (Model.RequiresVR1 == 1 || (Model.VR1Number != "" && Model.VR1Number != null && Model.VehicleCode != 241002))
        {
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    VR1 Number
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.VR1Number
                </div>
            </div>
        }
        else if (Model.SONumbers.Length > 0 && Model.SONumbers != "0")
        {
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    SO Number
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                    @Model.SONumbers
                </div>
            </div>

        }
    }

    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            My reference
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.MyReference
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Client name
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.ClientName
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Haulier's operator licence
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.HaulierOprLicence
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.ActingOnBehalfOf))
    {
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                On Behalf of
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.ActingOnBehalfOf
            </div>
        </div>
    }
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            From
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.FromAddress
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            To
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.ToAddress
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Classification
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.Classification
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Movement date from
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.MovementDateFrom
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Movement date to
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.MovementDateTo
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Number of movements
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.NoOfMovements
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Maximum pieces per load
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.MaxPiecesPerLoad
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Load description
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.LoadDescription
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Notification notes from haulier
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.Notes
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
            Notes on escort
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            @Model.NotesOnEscort
        </div>
    </div>
    @if (Model.NotificationDispensationList != null && Model.NotificationDispensationList.Count > 0)
    {

        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                Dispensations
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">

            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <span id="ShowHideDetails" target=6>
                    <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-sog-icon6"
                         style="float: right; display: none; cursor: pointer;">
                    <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-sog-icon6" style="float: right; cursor: pointer;">
                </span>
            </div>
            <hr>
        </div>
        <div id="dispensation-div" style="display:none;margin-top:0px;" class="main-table">
            <table>
                <tbody>
                    <tr style="background-color: rgba(39, 87, 149, 0.1);">
                        <th style="width: 2px;">DRN</th>
                        <th style="width: 2px; white-space: nowrap;">Summary</th>

                    </tr>
                </tbody>
                @foreach (var item in Model.NotificationDispensationList)
                {
                    <tr>
                        <td class="colum2" style="width: 5%; white-space: nowrap;">@item.DRN</td>
                        <td class="colum2" style="width: 5%; white-space: nowrap;">@item.Summary</td>
                    </tr>
                }
            </table>
        </div>

    }
    <div class="flexer justify-content-left pt-4 pb-3" id="menu-buttons">
        @if (sessionUserInfo.HelpdeskRedirect != "true")
        {
            if (ViewBag.ReNotify == true && ViewBag.IsHistory == 0)
            {
                <button id="Renotify" class="btn outline-btn-primary SOAButtonHelper" PreviousNotificationCode=@Model.ESDALReference notificationId=@Model.NotificationId RevisionId=@Model.RevId data-versionStatus=@Model.VersionStatus>
                    <span class="pr-3">
                        <img src="/Content/assets/images/Group 1067.svg" width="20" class="init_img">
                        <img src="/Content/assets/images/Group 1067.svg" width="20" class="hover_img notify">
                    </span>RE-NOTIFY
                </button>
            }

            <button id="Clone" class="btn outline-btn-primary SOAButtonHelper" style="width: auto;" data-contentreferencenum="@Model.ContentReferenceNo" data-notifcode=@Model.ESDALReference data-notifid=@Model.NotificationId data-historic="@ViewBag.IsHistory">
                <span class="pr-3">
                    <img src="~/Content/assets/images/Group 1360-new.svg" width="15" class="init_img">
                    <img src="~/Content/assets/images/Group 1360-new.svg" width="15" class="hover_img notify">
                </span>CLONE
            </button>
        }

    </div>
    @if (ViewBag.ShowWarning)
    {
        <div id="ShowWanring" class="error-message" style="">
            <div class="card ml-0" style="width: 100%;">
                <div class="row pt-2 pb-2" style="background-color: #f1f1f1;">
                    <div class="err-msg">
                        <span class="" style="font-size: 15.00px;color: #eb6e6e;">
                            You are unable to re-notify because:<br>
                            A work in progress notification already exists. You must either delete it, or complete it.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@Html.Hidden("hf_ContentReferenceNo", Model.ContentReferenceNo)
@Html.Hidden("hf_AnalysisId", Model.AnalysisId)
@Html.Hidden("hf_ProjectId", Model.ProjectId)
@Html.Hidden("hf_VersionId", Model.VersionId)
@Html.Hidden("hf_ProjectStatus", Model.ProjectStatus)
@Html.Hidden("hf_ESDALReference", Model.ESDALReference)


