@using STP.Web.Custom.Views

@{
    long NotificationId = ViewBag.NotificationId;
    string NotificationCode = ViewBag.NotificationCode;
    string huallierNotes = string.Empty;
    int IsHistory = ViewBag.IsHistory;
    if (ViewBag.huallierNotes != null)
    {
        huallierNotes = ViewBag.huallierNotes;
    }
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.MOVEMENTS;
}
@Html.Hidden("DisplayNotif", 1)
@Html.Hidden("NotificationId", NotificationId)
@Html.Hidden("CRNo")
@Html.Hidden("NotifAnalysisId")
@Html.Hidden("NotificationCode", NotificationCode)
@Html.Hidden("ProjectId")
@Html.Hidden("ProjectStatus")
@Html.Hidden("MoveStat")
@Html.Hidden("VersionId")
@Html.Hidden("IsAcknowledged", null, new { id = "hidden_acknowledged" })
@Html.Hidden("hidden_huallierNotes", huallierNotes)
@Html.Hidden("Historical", IsHistory)

<input type="hidden" value="@ViewBag.VersionStatus" id="hf_versionstatus" name="hf_versionstatus" />



<section id="banner">
    <div class="container-fluid" id="banner-container">
        <div id="vehicles">
            <div id="sort-menu-list">
                <div>
                    <div class="tab-row">
                        @Html.NotificationTabs()
                    </div>
                </div>
            </div>

            <div class="main-sort-content" style="background-color: white;">
                <div class="main-title mb-4">
                    <span class="edit-normal" id="notif_code"> @ViewBag.NotificationCode - <span class="text-normal">@ViewBag.VersionStatus</span> </span><br>
                </div>
                <div id="general_details">
                </div>
                <div id="route_vehicle_details">
                </div>
                <div id="route_assessment_details">

                </div>
                <div id="notif_parties">
                </div>
                <div id="trans_status_details" style="display:none; text-align: center;">
                    <span style="text-align: center; color: black; ">No Records found</span>
                </div>
                <div id="collaboration_details" style="display: none; text-align: center;">
                    <span style="text-align: center; color: black; ">No Records found</span>
                </div>
                <div id="notif_history_details">

                </div>
            </div>


        </div>
    </div>
</section>
<div id="addressBookFilterDiv" style="display:none;">

</div>

<style>
    #banner-container {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(201, 205, 229, 0.44) 100%);
        color: white !important;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    #vehicles {
        background-color: transparent !important;
        padding: 0 !important;
    }

    .vehicle-setting td {
        text-align: left;
    }

    #vehicles .main-table table tbody tr:not(.no-background-tr):nth-child(odd) {
        background-color: #f4f6fa !important;
    }

    #vehicles .main-table table tbody tr:not(.no-background-tr):nth-child(even) {
        background-color: white !important;
    }

    #pop-warning {
        opacity: 1;
        padding: 3%;
    }
</style>
@{
    <input type="hidden" value="@(ViewBag.Helpdesk_redirect!=null?ViewBag.Helpdesk_redirect.ToString():"false")" id="hf_Helpdesk_redirect" name="hf_Helpdesk_redirect" />
}


<script src="~/Scripts/Notification/DisplayNotificationCsp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/DisplayNotification.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/jQuery.hauliertfilter.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/_DisplayNotificationGeneralDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/_DisplayNotificationRouteVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/RouteAnalysisPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/DisplayNotifiedparties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/TransmissionStatusList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/DistributionStatus/Retransmit.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/ViewUnacknowledgedCollaboration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BPlanning.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/unitConversion.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/CreateVehicle/VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/ViewConfigurationGeneral.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/GeneralVehicleComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAffectedStructures.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedStructures.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/AffectedstructureSummaryPopup.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/Annotations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAnnotations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListCautions.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListConstraints.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAffectedRoads.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedRoads.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/DrivingInstruction.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/SearchTransmissionStatusPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ViewContactDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/ViewConstraint.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/HaulierConstraintDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/UnsuitableStructureSummary.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/ReviewStructureSectionImposedConstraints.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/StructureContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/RoadContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Annotation/CreateAnnotation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/MovementCloneReviseRenotif.js?V@(Session["ProjectVersion"])"></script>