@{
    var OrgID = ViewBag.orgID;
    string UpdatedAffectedParties = null;
    if (ViewBag.AffectedParties != null)
    {
        UpdatedAffectedParties = ViewBag.AffectedParties;

    }
    int stringindex = -1;
    if (UpdatedAffectedParties != null)
    {
        stringindex = UpdatedAffectedParties.IndexOf(">Additional parties");
    }
    if (stringindex != -1)
    {
        UpdatedAffectedParties = UpdatedAffectedParties.Remove(stringindex);
    }
}

<input type="hidden" value="@ViewBag.IsSortSide" id="hf_IsSortSide" name="hf_IsSortSide" />
<input type="hidden" value="@ViewBag.AffectFlag" id="hf_AffectFlag" name="hf_AffectFlag" />
<input type="hidden" value="@ViewBag.AnalysisIdManual" id="hf_AnalysisIdManual" name="hf_AnalysisIdManual" />
@Html.Hidden("HiddenUpdatedAParties", Html.Raw(UpdatedAffectedParties))
@Html.Hidden("HaulOrganisationName", "")
@Html.Hidden("HaulName", "")

<div id="ManuallyAddedContact">
    <div>
        @{

            if ((ViewBag.AffectedParties == null || ViewBag.AffectedParties == "") && ViewBag.IsSortSide != "SortSideCall")
            {
                <div class="cardSOA1 mt-0" style="text-align:center;">
                    <h6 class="text-color3 stHeading1 m-0">No affected parties</h6>
                </div>
            }
            else
            {
                if (ViewBag.IsSortSide != "SortSideCall")
                {
                    <div class="error-message" style="padding-bottom: 6%; cursor:default !important;">
                        <div class="card ml-0" style="width: 100%;">
                            <div class="row pt-2 pb-2" style="flex-wrap: unset; background-color: #ffe6e6;">
                                <div class="err-msg">
                                    <img src="~/Content/assets/images/warning-icon2.svg" alt="vehicle-2"
                                         class="mr-2" width="20" style="text-align: initial;">
                                    <span class="edit-normal pr-2" style="font-size: 12px;">
                                        ESDAL
                                        does not check the height of the load in relation to overhead
                                        cables belonging to power and telecommunication companies.<br>
                                        Please confirm the suitability of a route with these parties
                                        directly if you are moving a high load.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div style="margin-top: -44px;">@Html.Raw(ViewBag.AffectedParties) </div>
            }
        }
    </div>
</div>
@if (ViewBag.IsSortSide == "SortSideCall")
{
    if (ViewBag.isVR1Sort == false)
    {
        <div class="pl-0 pt-2">
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-1 pr-0">
                    <input type="checkbox" id="SortaddMeAsAffected" class="checkbox" name="submitted" value="submitted" width="20">
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 pl-0">
                    <span class="details">Add Haulier as recipient</span>
                </div>
            </div>
        </div>
    }
}
else
{
    <div id="notif_section">
        <div class="pl-0 pt-2" id="notif_section">
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-1 pr-0">
                    <input type="checkbox" id="addMeAsAffected" class="checkbox" name="submitted" value="submitted" width="20">
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 pl-0">
                    <span class="details">Add yourself to the notification as an ad-hoc contact</span>
                </div>
            </div>
            <div style="padding-left: 10px;">
                <br /><span><b style="color:red">*</b><i><b style="color: #5C5C5C;"> - No longer affected </b></i></span>
            </div>
        </div>
    </div>
}