
@model STP.Domain.DocumentsAndContents.TransmissionModelFilter

<style>
    .AddButtonWidth {
        width: 48% !important;
        margin-top: 3px !important;
        margin-bottom: 3px !important;
        margin-left: 5px !important;
        padding-bottom: 5px !important;
    }

    .TopRowHeight {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .RowHeight {
        height: 50px;
    }

    .RowHeightLess {
        height: 45px;
    }

    .TextWidth {
        width: 223px;
    }
</style>


@using (Html.BeginForm("TransmissionStatusList", "Notification", FormMethod.Get, new { id = "SearchPanelForm" }))
{  
    <div class="filter-list">
        <div class="filter-entry">
            <div class="pr-0 pl-0 mr-0 ml-0 mt-4 mb-0">
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="text-normal">Select transmission status</label>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.EditorFor(model => model.All)
                        <label for="All" style="color: rgba(39, 87, 149, 1); margin-left: 5px;"> All</label><br>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.EditorFor(model => model.Delivered)
                        <label for="Delivered" style="color: rgba(39, 87, 149, 1); margin-left: 5px;"> Delivered</label><br>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.EditorFor(model => model.Failed)
                        <label for="Failed" style="color: rgba(39, 87, 149, 1); margin-left: 5px;"> Failed</label><br>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.EditorFor(model => model.Pending)
                        <label for="Pending" style="color: rgba(39, 87, 149, 1); margin-left: 5px;"> Pending</label><br>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.EditorFor(model => model.Sent)
                        <label for="Sent" style="color: rgba(39, 87, 149, 1); margin-left: 5px;"> Sent</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-6" id="org_filter_btn">
            <div class="col-lg-4 col-md-4 col-sm-12 pl-0">
                <div class="button mr-0 mb-2">
                    <button class="btn btn-outline-primary btn-normal" id="ClearTransmission" type="button" aria-pressed="true"
                            style="width: 5rem; background-color: white;">
                        CLEAR
                    </button>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 pl-0">
                <button id="SearchTransmission" style="width: 11rem; background-color: white;" class="btn btn-outline-primary btn-normal" type="submit">SEARCH</button>
            </div>
        </div>
    </div>

}
@*<script src="~/Scripts/CspJs/Notification/SearchTransmissionStatusPanel.js?V@(Session["ProjectVersion"])"></script>*@
