@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.DocumentsAndContents.TransmissionModel>

@{
    int pageSize = 10;
    int listCount = 0;
    listCount = (int)ViewBag.pageSize;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
    }
    int? pageNumber = ViewBag.page;
    int totalPageCount = Model.PageCount;
    int totalItemCount = Model.TotalItemCount;

    int TotalCount = Convert.ToInt32(ViewBag.TotalCount);
    int SortAppStatus = 0;
    bool showtrans = false;
    if (ViewBag.SortStatus != 0)
    {
        SortAppStatus = ViewBag.SortStatus;
    }
    if (ViewBag.showtrans != null)
    {
        showtrans = ViewBag.showtrans;
    }

    string[] splitSeperator = { "##**##" };
}
<style>
    .filters_trans span {
        color: rgba(39, 87, 149, 1);
        font-weight: 300;
        font-style: normal;
        /* font-size: 20.00px; */
        font-family: lato_medium;
        letter-spacing: 0;
        text-decoration: none;
        text-align: center;
        font-size: 16.00px;
    }

    th, td {
        box-sizing: content-box !important;
    }
</style>
@Html.Hidden("SortAppStatus", SortAppStatus)
@Html.Hidden("showtrans", showtrans)

@Html.Hidden("pageSizeVal", pageSize)
@Html.Hidden("TotalCount", TotalCount)

<div style="background-color: white;" id="TransmissionStatus">
    <div class="row pt-4" id="divTransmission">
        <span class="edit-normal sortsubhead" style="color:grey" ;>  This page is generated at @DateTime.Now.ToString("ddd MMM dd HH:mm:ss 'GMT' yyyy") </span>
        <div class="main-table" id="distribution-status">

            <table>
                <tbody>
                    <tr>
                        <th style="border-radius: 40px 0 0 0;">
                            @Resources.Resource.Name
                        </th>
                        <th>
                            @Resources.Resource.Organisation
                        </th>
                        <th style="width:15%">
                            @Resources.Resource.Medium
                        </th>
                        <th>
                            @Resources.Resource.Details
                        </th>
                        <th style="width: 12%;">
                            @Resources.Resource.StatusChangedOn
                        </th>
                        <th>
                            @Resources.Resource.Status
                        </th>
                        <th style="width: 20%;"></th>
                        @if (showtrans)
                        {
                            <th style="background-color: rgba(39, 87, 149, 1) !important"></th>
                        }

                        @*<th id="trans"  style="background-color: rgba(39, 87, 149, 0.1) !important;"><img src="/Content/assets/images/filter-icon.svg" width="38"></th>*@
                        @*}*@

                    </tr>
                    @if (Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="edit-normal">
                                    @if (item.FullName.IndexOf("##**##") != -1)
                                    {

                                        string[] fullName = item.FullName.Split(splitSeperator, StringSplitOptions.None);

                                        if (fullName.Length == 2)
                                        {
                                            <span>@fullName[1]</span>
                                        }
                                        else
                                        {
                                            <span>@fullName[0]</span>
                                        }
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    }
                                </td>
                                <td class="edit-normal">
                                    @if (item.OrganisationName.IndexOf("##**##") != -1)
                                    {

                                        string[] organisationName = item.OrganisationName.Split(splitSeperator, StringSplitOptions.RemoveEmptyEntries);

                                        if (organisationName.Length == 2)
                                        {
                                            <span>@organisationName[1]</span>
                                        }
                                        else
                                        {
                                            <span>@organisationName[0]</span>
                                        }
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.OrganisationName)
                                    }
                                </td>
                                <td class="edit-normal" style="width:15%">
                                    @if (String.IsNullOrEmpty(item.Email) && String.IsNullOrEmpty(item.Fax))
                                    {
                                        <span id="spnOnlineOnly">@Resources.Resource.OnlineOnly</span>
                                        
                                    }
                                    else if (String.IsNullOrEmpty(item.Email))
                                    {
                                        if (item.IsManuallyAdded == 0)
                                        {
                                            <span>@Resources.Resource.OnlineAndFax</span>
                                        }
                                        else
                                        {
                                            <span>Fax</span>
                                        }
                                    }
                                    else if (String.IsNullOrEmpty(item.Fax) || (item.Email != "" && item.Fax != ""))
                                    {
                                        if (item.IsManuallyAdded == 0)
                                        {
                                            <span id="spnonlinenadmail">@Resources.Resource.OnlineAndMail</span>
                                        }
                                        else
                                        {
                                            <span>Email</span>
                                        }
                                    }
                                </td>
                                <td style="width: 11%;" class="text-color2">
                                    @if (string.IsNullOrEmpty(item.Email))
                                    {
                                        @Html.DisplayFor(modelItem => item.Fax)
                                    }
                                    else if (string.IsNullOrEmpty(item.Fax) || (item.Email != "" && item.Fax != ""))
                                    {
                                        if (item.Email.IndexOf("##**##") != -1)
                                        {
                                            string[] emailDetails = item.Email.Split(splitSeperator, StringSplitOptions.RemoveEmptyEntries);

                                            if (emailDetails.Length == 2)
                                            {
                                                <a href="mailto:@emailDetails[1]">@emailDetails[1]</a>

                                            }
                                            else
                                            {
                                                <a href="mailto:@emailDetails[1]">@emailDetails[0]</a>

                                            }
                                        }
                                        else
                                        {
                                            <a href="mailto:@item.Email" class="text-color2">@item.Email</a>
                                            @*@Html.DisplayFor(modelItem => item.Email,new{ @class="text-color2"})</a>*@

                                        }
                                    }
                                </td>
                                <td class="edit-normal">
                                    @if (item.StatusUpdateTime.ToString("dd-MM-yyyy") != "01-01-0001")
                                    {
                                        @item.StatusUpdateTime.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td class="edit-normal">
                                    @if (!string.IsNullOrEmpty(item.TransmissionStatusName))
                                    {
                                        @item.TransmissionStatusName.Substring(0, 1).ToUpper()@item.TransmissionStatusName.Substring(1).ToLower()
                                    }
                                    else
                                    {<span></span>}
                                </td>
                                @if (showtrans)
                                {
                                    <td class="text-color1" style="text-align: center;">
                                        <span>
                                            @if (SortAppStatus == 1)
                                            {
                                                <button type="button" class="btn site-button btn-normal btn_ViewProposal" style="padding: 4% 4% !important" aria-hidden="true" TransmissionId=@item.TransmissionId ContactId=@item.ContactID OrganisationID=@item.OrganisationID>VIEW PROPOSAL</button>
                                            }
                                            else if (SortAppStatus == 2)
                                            {
                                                <button type="button" class="btn site-button btn-normal btn_ViewReproposed" style="padding: 4% 4% !important" aria-hidden="true" TransmissionId=@item.TransmissionId ContactId=@item.ContactID OrganisationID=@item.OrganisationID>VIEW REPROPOSED</button>
                                            }
                                            else if (SortAppStatus == 3)
                                            {
                                                <button type="button" class="btn site-button btn-normal btn_ViewAgreed" style="padding: 4% 4% !important" aria-hidden="true" TransmissionId=@item.TransmissionId ContactId=@item.ContactID OrganisationID=@item.OrganisationID>VIEW AGREED</button>
                                            }
                                            else if (SortAppStatus == 4)
                                            {
                                                <button type="button" class="btn site-button btn-normal btn_ViewAgreedRevised" style="padding: 4% 4% !important" aria-hidden="true" TransmissionId=@item.TransmissionId ContactId=@item.ContactID OrganisationID=@item.OrganisationID>VIEW AGREED REVISED</button>
                                            }
                                            else if (SortAppStatus == 5)
                                            {
                                                <button type="button" class="btn site-button  btn-normal btn_ViewAgreedRecleared" style="padding: 4% 4% !important" aria-hidden="true" TransmissionId=@item.TransmissionId ContactId=@item.ContactID OrganisationID=@item.OrganisationID>VIEW AGREED RECLEARED</button>
                                            }
                                        </span>
                                    </td>
                                    <td class="text-color1">
                                        <div id="mid_row">

                                            <span id="mid_row_data">
                                                @if (ViewBag.Helpdest_redirect != "true")
                                                {
                                                    if (String.IsNullOrEmpty(item.Email) && String.IsNullOrEmpty(item.Fax))
                                                    {
                                                        <button type="button" id='@item.TransmissionId' arg1="@Resources.Resource.OnlineOnly" class="RetransmitButton" aria-hidden="true" style="border:0;background:none;" data-toggle="modal" data-target="#exampleModalCenter4" title="Retransmit"><img src="~/Content/assets/images/message-icon.svg" width="30"></button>
                                                    }
                                                    else
                                                    {
                                                    <button type="button" id='@item.TransmissionId' arg1="" class="RetransmitButton" aria-hidden="true" style="border:0;background:none;" data-toggle="modal" data-target="#exampleModalCenter4" title="Retransmit"><img src="~/Content/assets/images/message-icon.svg" width="30"></button>
                                                    }
                                                }
                                            </span>

                                        </div>

                                    </td>

                                }
                                else
                                {
                                    <td></td>
                                    <td class="text-color1">
                                        <div id="mid_row">
                                            <span style="color:rgb(110, 105, 105);font-weight: 500;">
                                                <button type="button" id='@item.TransmissionId' class="RetransmitButton" aria-hidden="true" style="border:0;background:none;" data-toggle="modal" data-target="#exampleModalCenter4"><img src="~/Content/assets/images/message-icon.svg" width="30"></button>
                                            </span>
                                        </div>
                                    </td>
                                }

                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="bgColor2">
                            <td colspan="8" style="text-align: center; color:red">
                                @Resources.Resource.NoRecordFound
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        @if (listCount < totalItemCount)
        {
            if (Model.Count > 0)
            {
                <div class="row pagination-container-new" id="comp-pagination">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 text-center">
                        <div class="table-pagination" id="transamissionListPagination">
                            @Html.PagedListPager(Model, page => Url.Action("TransmissionStatusList",
                              new
                              {
                                  B7vy6imTleYsMr6Nlv7VQ =
                                                                            STP.Web.Helpers.EncryptionUtility.Encrypt("isFromConfig=" + ViewBag.isFromConfig),
                                  page
                              }), new PagedListRenderOptions
                              {
                                  DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                  DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                  LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                  LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                  DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                  DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                  MaximumPageNumbersToDisplay = 3,
                                  DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                  EllipsesFormat = "...",
                                  LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                  LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                              });
                        </div>
                        @Html.Hidden("TotalPages", totalPageCount)
                        @Html.Hidden("pageSizeVal", pageSize)
                        @Html.Hidden("pageNum", pageNumber)
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            }
        }
    </div>

    @*@if (!showtrans)
        {*@
    <!-- filter settings -->
    @*<div id="filters" class="sidenav filter-sidenav filters_trans">
            <div class="row sidenav-header">
                <div class="col-10 col-md-10 col-sm-10" style="text-align: center;margin-top: 5px;">
                    <span style="font-size:30px;">
                        FILTER
                    </span>
                </div>
                <div class="col-2 col-md-2 col-sm-2 pl-0" style="position: none;">
                    <a href="javascript:void(0)" style="font-size: 40px; padding: 0px;" >&times;</a>
                </div>
            </div>
            <hr style="margin-top: 0;">
            <div class="sort-portal">
                <div class="filter-list" id="filter_SORT">
                    @{
                        Html.RenderAction("SearchTransmissionStatusPanel", "Notification");
                    }

                </div>
            </div>
        </div>*@
    <!-- end of filter settings -->
    @*}*@

</div>


<style>
    #distribution-status th:last-child {
        background-color: white !important;
        text-align: center;
        cursor: pointer;
    }

    .pagination {
        color: rgba(92, 92, 92, 1);
    }
</style>
@{
    <input type="hidden" value="@(ViewBag.isFromConfig!=null?ViewBag.isFromConfig.ToString():"")" id="hf_isFromConfig" name="hf_isFromConfig" />
    <input type="hidden" value="@ViewBag.NoDataFound" id="hf_NoDataFound" name="hf_NoDataFound" />
    <input type="hidden" value="@ViewBag.catcherr" id="hf_catcherr" name="hf_catcherr" />

}


@*<script src="~/Scripts/CspJs/Notification/TransmissionStatusList.js?V@(Session["ProjectVersion"])"></script>*@
