@using PagedList.Mvc
@using System.Globalization
@model STP.Domain.MovementsAndNotifications.Notification.CollaborationModel

@{
    int pageNum = 10;
    if (ViewBag.pageSize != null)
    {
        pageNum = ViewBag.pageSize;
    }
    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
    }
    string esdalRefNumber = "";
    esdalRefNumber = ViewBag.notificationCode;
}
@Html.Hidden("pageSizeVal", pageNum)
<div id="div_so_movement_list">
    <div class="cardSOA1 mt-0 ml-1 mb-4">
        <h6 class="text-color3 stHeading1 m-0" style="text-align: left;">Acknowledge collaboration</h6>
    </div>
    <div>
        <div class="row pb-3">
            <p class="edit-normal" style="text-align: start;margin-left: 1.2rem;"">Acknowledging these collboration notes will let the note author know that you have read them and then take you to any further notes that have been made. </p>
        </div>
    </div>

    <table>
        <tr>
            <th class="headgrad">
                @Model.Title @Model.FirstName @Model.SurName of @Model.OrganisationName supplied these notes on notification
                @Model.NotificationCode at @Model.DateAndTime.ToString("HH:mm",CultureInfo.InvariantCulture) on @Model.DateAndTime.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)
            </th>
        </tr>
        <tr>
            <td class="edit-normal">
                <i>
                    @if (!string.IsNullOrEmpty(Model.Notes))
                    {
                        @Html.Raw(Model.Notes.Replace("\n", "<br />"))
                    }

                </i>
            </td>
        </tr>
    </table>
    @if (ViewBag.Helpdesk_redirect!=null && ViewBag.Helpdesk_redirect.ToString() != "true")
    {
        <span>
            <button id="SaveAcknowledgement" DocumentId=@Model.DocumentId CollaborationNo= @Model.CollaborationNo EsdalRefNumber=@esdalRefNumber class="btn btn-primary btn-normal mb-2 float-end" aria-hidden="true">ACKNOWLEDGE</button>
        </span>
    }
</div>
<div style="display:none">
    @using (Ajax.BeginForm("SaveAcknowledgement", "Notification", new { DocID = Model.DocumentId, ColNo = Model.CollaborationNo, esdalRefNumber = esdalRefNumber }, new AjaxOptions { OnSuccess = "CheckAcknowledged", OnBegin = "startAnimation", OnComplete = "stopAnimation" }, new { id = "form_save_unack" })) { }
</div>
@*<script src="~/Scripts/Notification/ViewUnacknowledgedCollaboration.js?V@(Session["ProjectVersion"])"></script>*@
