@model STP.Domain.RoadNetwork.RoadDelegation.RoadDelegationData

@{
    string mode = ViewBag.mode;
    string mapViewFlag = "false";
    long delegId = ViewBag.delegId;
    string originpage = ViewBag.orginflag;
}
<style>
        #exampleModalCenter22 {
            overflow-y: auto;
        }

        #ViewRoadContacts {
            height: 717px;
            width: 506px;
        }

            #ViewRoadContacts .close {
                padding-left: 0;
            }

        .invalid {
            color: #e80c4d;
            display: none;
            margin: 3px 0px 3px 0px;
        }

        .load {
            display: block;
        }

        .bodyc {
            height: 0px;
            width: 0px;
            overflow: hidden;
        }

        
        .bannercfulls {
            padding-bottom: 0px !important;
            margin-top: 0px;
        }

        .containerfulls {
          
            background-color: white;
            padding-left: 0px !important;
            padding-right: 1px !important;
        }

        .helpdeskfulls {
           
            padding-left: -26px;   
            margin-right: -10px;
            padding-left: -21px;
            margin-top: -40px !important;
        }

        .movementfulls {           
         margin-left: -8px !important;
        }

        .mvpmapfulls {
            width: 100.5%;
            position: absolute;
            padding-right: 0px !important;
            padding-left: -33px;
           
        }

    .mapfulls {

          height: 100vh !important;
          position: absolute;
          padding-right: 0px !important;
          padding-left: -33px !important;
          z-index: 0;
    }

    .iconfulls {
        margin: 189px !important;
        padding: -6px;
        top: -183px !important;
        right: -180px !important;
    }
    .horizontalMapRoad {
        margin-top: 22px  !important;
        margin-left: 470px !important;
    }
    .banner-align{
        min-height:auto !important;
    }
    #banner-container {
        padding-bottom: 70px !important;
    }
    #notifBar {
        width:50%!important;
      left:25%!important;
      right:25%!important;
      margin-left:0% !important;
    }

</style>
@Html.Hidden("DelegationId", delegId)
@Html.Hidden("mode", mode)
@Html.Hidden("mapViewFlag", mapViewFlag)
@Html.Hidden("LastOpenPage")
@Html.Hidden("Delegatororg")
@Html.Hidden("originpage", originpage)

<section id="banner"> 

<div class="container-fluid" id="banner-container">
    <div id="container-sub" style="background-color: white;padding-left: 4%; padding-right: 1%;">
        <div class="row" id="helpdeskDelegation">
            <input id="hdnTriggerflag" name="hdnFromOrgId" type="hidden" value="0">
            @if (Model.ArrangementId == 0)
            {
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-8" id="movement-details" style="position: relative;">
			<div class="row mb-4">
				<div class="col-sm-12 col-md-6 col-lg-5 pr-0">
					<label class="text-normal">Delegation arrangement name*</label>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 input-field">
					<input class="edit-normal" type="text" name="from" id="arrangName">
					<label id="validarranName" class="text-normal invalid">Delegation arrangement name is required.</label>

				</div>

			</div>
			<div class="row mb-4">
				<div class="col-sm-12 col-md-6 col-lg-5 pr-0">
					<label class="text-normal">Delegator organisation name*</label>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 input-field">
					<input class="edit-normal" type="text" name="Search" id="txtDelegatorOrganisation">
					<label id="fromvalidorganisation" class="text-normal invalid">Delegator organisation is required.</label>

					<input id="hdnFromOrgId" name="hdnOrgId" type="hidden" value="">
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-sm-12 col-md-6 col-lg-5 pr-0">
					<label class="text-normal">Delegate organisation name*</label>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
					<input class="edit-normal" type="text" name="Search" id="txtDelegateOrganisation">
					<input id="hdnToOrgId" name="hdnToOrgId" type="hidden" value="">
					<label id="tovalidorganisation" class="text-normal invalid">Delegate organisation is required.</label>

				</div>
			</div>
			<div class="row mb-4">
				<div class="col-sm-12 col-md-6 col-lg-5 pr-0">
					<label class="text-normal" style="vertical-align: sub;">Copy movement notification to me?</label>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
					<input type="checkbox" id="reNotify" class="checkbox" name="bulldozer"
						   value="true" width="28">
					@Html.HiddenFor(model => model.RetainNotification, new { @id = "retainNotification" })

				</div>
			</div>
			<div class="row mb-4">
				<div class="col-sm-12 col-md-6 col-lg-5 pr-0">
					<label class="text-normal" style="vertical-align: sub;">Delegate all roads</label>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
					<input type="checkbox" id="delAll" class="checkbox" name="bulldozer"
						   value="true" width="28">
					@Html.HiddenFor(model => model.DelegateAll, new { @id = "delegateAll" })

				</div>
			</div>
			<div id="inboxCount">
				<div class="row mb-4">
					<div class="col-sm-12 col-md-6 col-lg-5 pr-0">
						<label class="text-normal" style="vertical-align: sub;">Link ID</label>
					</div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                        @*<input type="text" id="txtLinkSearch" onkeypress="handleSearch(event, this)">*@
                        <input type="text" id="txtLinkSearch">

                    </div>
				</div>
				<div class="row mb-4">
					@*<div class="col-sm-12 col-md-8 col-lg-8 pr-0">
						<div class="button main-button pt-3">
							<button id="btnsearchroads" class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" style="width: 60%;">
								SELECT
								ROADS ON MAP
							</button>
						</div>
					</div>*@
				</div>
			</div>
			@*<div id="inboxCount" style="color: black;position: absolute;
					bottom: 0;
					right:0;">

			<input type="text" id="txtLinkSearch" style="width: 200px; margin-bottom: 29px;" placeholder="Search road segment by ID" title="Link ID of the location. Press ENTER after entering the Link ID" onkeypress="handleSearch(event, this)">

		</div>*@
			@*<div class="row mb-4">
			<div class="col-sm-12 col-md-8 col-lg-8 pr-0">
				<div class="button main-button pt-3">
					<button class="btn btn-primary btn-normal" role="button" aria-pressed="true" style="width: 60%;">
						SELECT
						ROADS ON MAP
					</button>
				</div>
			</div>
		</div>*@
		</div>
            }
            else
            {
                if (ViewBag.mode == "View")
                {
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-8" id="movement-details">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegation arrangement name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                    <input class="edit-normal" type="text" name="from" value="@Model.ArrangementName" id="arrangName" readonly>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegator organisation name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                    <input class="edit-normal" type="text" name="Search" id="txtDelegatorOrganisation" value="@Model.FromOrgName" readonly>
                    <input id="hdnFromOrgId" name="hdnFromOrgId" type="hidden" value="@Model.FromOrgId">

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegator contact  name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                    <input class="edit-normal" type="text" name="Search" value="@Model.FromContactName" readonly>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegate organisation name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                    <input class="edit-normal" type="text" name="Search" id="txtDelegateOrganisation" value="@Model.ToOrgName" readonly>
                    <input id="hdnToOrgId" name="hdnToOrgId" type="hidden" value="@Model.ToOrgId">

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegate contact  name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                    <input class="edit-normal" type="text" name="Search" value="@Model.ToContactName" readonly>

                </div>
            </div>
            @*<table style="display:none">
            <tr style="display:none">
                <td></td>
                <td>
                    @Html.TextBoxFor(model => model.FromContactName, new { @id = "fromContactName", disabled = "disabled", @class = "text_my frmbdr", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.FromContactId, new { @id = "fromContactId" })

                    <button type="button" style="display:none;" id="search_fromorgContact" class=" btn_height_28 create btngrad btnrds btnbdr searchbtn" aria-hidden="true" data-icon="&#xe07f;" >Search </button>

                    <br />
                    <br />
                    <div id="validfromContacttype" class="invalid">
                        Delegator contact name is required.
                    </div>
                </td>
            </tr>
            <tr style="display:none">
                <td></td>
                <td>
                    @Html.TextBoxFor(model => model.ToContactName, new { @id = "toContactName", disabled = "disabled", @class = "text_my frmbdr", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.ToContactId, new { @id = "toContactId" })
                    <button type="button" id="search_toorgContact" style="display:none;" class=" btn_height_28 create btngrad btnrds btnbdr searchbtn" aria-hidden="true" data-icon="&#xe07f;" >Search </button>
                    <br />
                    <br />
                    <div id="validtoContacttype" class="invalid">
                        Delegate contact name is required.
                    </div>
                </td>
            </tr>
            <tr style="display:none">
                <td><span>Allow sub-delegation?</span> </td>
                <td>
                    @Html.CheckBox("sub_delegation",new { @readonly = "readonly" })

                    @Html.HiddenFor(model => model.AllowSubdelegation, new { @id = "allowSubdelegation" })

                </td>
            </tr>
            <tr style="display:none">
                <td><span>Receive notification when delegation arrangement fails?</span> </td>
                <td>
                    @Html.HiddenFor(model => model.AcceptFailure, new { id = "AcceptFailure" })
                    <table class="radiotablewidth">
                        <tr>
                            <td>
                                @Html.RadioButton("selectedRadio1", "yes", new { id = "rdoYes" })
                                <span>Yes</span>
                            </td>
                            <td>
                                @Html.RadioButton("selectedRadio1", "No", new { id = "rdoNo" })
                                <span>No</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>*@

            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal" style="vertical-align: sub;">Copy movement notification to me?</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                    <input type="checkbox" id="reNotify" class="checkbox" name="bulldozer"
                           value="true" width="28" disabled>

                    <input id="retainNotification" name="retainNotification" type="hidden" value="">

                </div>
            </div>

            @if (Model.DelegateAll == 1)
            {
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                        <label class="text-normal" style="vertical-align: sub;">Full delegation</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                        <input type="checkbox" id="Fulldelegation" class="checkbox" name="bulldozer"
                               value="true" width="28" disabled checked>


                    </div>
                </div>
            }
            else if (Model.DelegateAll != 1)
            {
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                        <label class="text-normal" style="vertical-align: sub;">Partial delegation</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                        <input type="checkbox" id="Partialdelegation" class="checkbox" name="bulldozer"
                               value="true" width="28" disabled checked>


                    </div>
                </div>
            }



            @*<div class="row mb-4">
            <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                <label class="text-normal" style="vertical-align: sub;">Deleagte all roads</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                <input type="checkbox" id="delAll" class="checkbox" name="bulldozer"
                       value="true" width="28">
            </div>
        </div>*@
            @*<div class="row mb-4">
            <div class="col-sm-12 col-md-8 col-lg-8 pr-0">
                <div class="button main-button pt-3">
                    <button class="btn btn-primary btn-normal" role="button" aria-pressed="true" style="width: 60%;">
                        SELECT
                        ROADS ON MAP
                    </button>
                </div>
            </div>
        </div>*@
        </div>
                }
                else
                {
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-8" id="movement-details" style="position: relative;">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegation arrangement name*</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                    <input class="edit-normal" type="text" name="from" value="@Model.ArrangementName" id="arrangName">
                    <label id="validarranName" class="text-normal invalid">Delegation arrangement name is required.</label>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegator organisation name*</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                    <input class="edit-normal" type="text" name="Search" id="txtDelegatorOrganisation" value="@Model.FromOrgName" readonly>
                    <input id="hdnFromOrgId" name="hdnFromOrgId" type="hidden" value="@Model.FromOrgId">

                </div>
            </div>
            @if (ViewBag.mode == "Edit" && (Model != null && Model.ArrangementId != 0))
            {
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                        <label class="text-normal">Delegator contact name *</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field">
                        <input class="edit-normal" type="text" name="Search" id="fromContactName" value="@Model.FromContactName" readonly>

                    </div>
                </div>
            }
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal">Delegate organisation name*</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                    <input class="edit-normal" type="text" name="Search" id="txtDelegateOrganisation" value="@Model.ToOrgName">
                    <input id="hdnToOrgId" name="hdnToOrgId" type="hidden" value="@Model.ToOrgId">
                    <label id="tovalidorganisation" class="text-normal invalid">Delegate organisation is required.</label>

                </div>
            </div>
            @if (ViewBag.mode == "Edit" && (Model != null && Model.ArrangementId != 0))
            {
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                        <label class="text-normal">Delegate contact name *</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                        <input class="edit-normal" type="text" name="Search" id="toContactName" value="@Model.ToContactName" readonly>
                    </div>
                </div>
            }
            <table style="display:none">
                <tr style="display:none">
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.FromContactName, new { @id = "fromContactName", disabled = "disabled", @class = "text_my frmbdr" })
                        @Html.HiddenFor(model => model.FromContactId, new { @id = "fromContactId" })

                        <button type="button" style="display:none;" id="search_fromorgContact" class=" btn_height_28 create btngrad btnrds btnbdr searchbtn" aria-hidden="true" data-icon="&#xe07f;">Search </button>

                        <br />
                        <br />
                        <div id="validfromContacttype" class="invalid">
                            Delegator contact name is required.
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.ToContactName, new { @id = "toContactName", disabled = "disabled", @class = "text_my frmbdr" })
                        @Html.HiddenFor(model => model.ToContactId, new { @id = "toContactId" })
                        <button type="button" id="search_toorgContact" style="display:none;" class=" btn_height_28 create btngrad btnrds btnbdr searchbtn" aria-hidden="true" data-icon="&#xe07f;">Search </button>
                        <br />
                        <br />
                        <div id="validtoContacttype" class="invalid">
                            Delegate contact name is required.
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td><span>Allow sub-delegation?</span> </td>
                    <td>
                        @Html.CheckBox("sub_delegation")

                        @Html.HiddenFor(model => model.AllowSubdelegation, new { @id = "allowSubdelegation" })

                    </td>
                </tr>
                <tr style="display:none">
                    <td><span>Receive notification when delegation arrangement fails?</span> </td>
                    <td>
                        @Html.HiddenFor(model => model.AcceptFailure, new { id = "AcceptFailure" })
                        <table class="radiotablewidth">
                            <tr>
                                <td>
                                    @Html.RadioButton("selectedRadio1", "yes", new { id = "rdoYes" })
                                    <span>Yes</span>
                                </td>
                                <td>
                                    @Html.RadioButton("selectedRadio1", "No", new { id = "rdoNo" })
                                    <span>No</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal" style="vertical-align: sub;">Copy movement notification to me?</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                    <input type="checkbox" id="reNotify" class="checkbox" name="bulldozer"
                           value="true" width="28">

                    <input id="retainNotification" name="retainNotification" type="hidden" value="">

                </div>
            </div>
           
            @if (Model.DelegateAll == 1)
            {
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                        <label class="text-normal" style="vertical-align: sub;">Full delegation</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                        <input type="checkbox" id="Fulldelegation" class="checkbox" name="bulldozer"
                               value="true" width="28" disabled checked>


                    </div>
                </div>
            }
            else
            {
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                        <label class="text-normal" style="vertical-align: sub;">Partial delegation</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                        <input type="checkbox" id="Partialdelegation" class="checkbox" name="bulldozer"
                               value="true" width="28" disabled checked>


                    </div>
                </div>
            }
        <div class="row mb-4">
            <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                <label class="text-normal" style="vertical-align: sub;">Link ID</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 input-field">

                <input type="text" id="txtLinkSearch">

            </div>
        </div>
                @*<div id="inboxCount" style="
            color: black;
            position: absolute;
            bottom: 0;
            right:0;">
                <input type="text" id="txtLinkSearch" style="width: 200px; margin-bottom: 29px;" placeholder="Search road segment by ID" title="Link ID of the location. Press ENTER after entering the Link ID" onkeypress="handleSearch(event, this)">


            </div>*@

                @*<div class="row mb-4">
                <div class="col-sm-12 col-md-6 col-lg-5 pr-0">
                    <label class="text-normal" style="vertical-align: sub;">Deleagte all roads</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 input-field text-normal">
                    <input type="checkbox" id="delAll" class="checkbox" name="bulldozer"
                           value="true" width="28">
                </div>
            </div>*@
                @*<div class="row mb-4">
                <div class="col-sm-12 col-md-8 col-lg-8 pr-0">
                    <div class="button main-button pt-3">
                        <button class="btn btn-primary btn-normal" role="button" aria-pressed="true" style="width: 60%;">
                            SELECT
                            ROADS ON MAP
                        </button>
                    </div>
                </div>
            </div>*@
            </div>
            }

            }
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="movement-map">
                <div id="mvpmap">
                    @*<div id="map" style="height: 350px;" onmouseenter="mouseoveron()" onmouseleave="mouseoveroff()" class="google-map"></div>*@
                    <div id="map" style="height: 350px;" class="google-map"></div>
                    @*<div id="mapdata" onmouseenter="mouseoveron()" onmouseleave="mouseoveroff()">*@
                    <div id="mapdata">
                        <button draggable="false" id="btnmap" aria-label="Toggle fullscreen view" type="button"
                                style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 39px; width: 41px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 180px; right: 26px;z-index:99;">
                            <img id="Minimzeicon" src="~/Content/assets/Icons/maximize-map.svg" alt="" style="height: 123px; width: 152px; margin-top: -42px; margin-left: -56px; margin-right: -19px; margin-bottom: -6px;" title="Toggle full screen view">
                            <img id="MaxmizeIocn" src="~/Content/assets/Icons/minimise-map.svg" alt="" style="height: 123px; width: 152px; margin-top: -42px; margin-left: -56px; margin-right: -4px; margin-bottom: -4px;" title="Toggle normal screen view">
                        </button>

                    </div>
                    <form>
                        <input type='hidden' name='lat' id='lat'>
                        <input type='hidden' name='lng' id='lng'>
                    </form>
                    <div id="soa-portal-map">
                        <div id="margin-space">
                        </div>
                        <div class="horizontal-center">
                            <ul class="nav navbar-nav navbar-left new-list">
                                @*<li class="nav-item">
                                <a class="nav-link pl-0 pr-0 pt-1" href="#"><img src="assets/images/Group 539.svg" width="25"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  pl-0 pr-0 pt-1" href="#"><img src="assets/images/Group 540.svg" width="25"></a>
                            </li>*@
                            </ul>
                        </div>
                    </div>
                    @if (ViewBag.mode != "View")
                    {
                        <div id="checkbox" class="row pt-4">
                            <div class="col-sm-6 col-md-6 col-lg-6 pr-0">
                                <div class="row mb-4">
                                    <div class="col-sm-2 col-md-2 col-lg-2 input-field text-normal">
                                        <input type="checkbox" id="owned" class="checkbox" name="owned" checked
                                               value="owned" width="28">
                                    </div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 pr-0">
                                        <label class="text-normal" style="vertical-align: sub;">Owned by delegator organisation</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 pr-0">
                                <div class="row mb-4">
                                    <div class="col-sm-2 col-md-2 col-lg-2 input-field text-normal">
                                        <input type="checkbox" id="managed" class="checkbox" name="managed" checked
                                               value="managed" width="28">
                                    </div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 pr-0">
                                        <label class="text-normal" style="vertical-align: sub;">Managed by delegator organisation</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row pt-4"></div>

                    }


                    <!-- <ul class="dropdown-menu" aria-labelledby="movements" id="printOptions" >
                <li><a class="dropdown-item" href="#">Print a detailed version</a></li>
                <hr>
                <li><a class="dropdown-item" href="#">Print a reduced version(no recipient list)</a></li>
            </ul> -->
                </div>
            </div>
        </div>
        <div id="bottom" class="flexer justify-content-center mt8" style="margin-top: auto;">

            @if (ViewBag.mode != "View")
            {
                <button class="btn outline-btn-primary SOAButtonHelper " id="savedelegdata">SAVE</button>
            }
            <button id="btnback" class="btn outline-btn-primary SOAButtonHelper ml2">BACK</button>
        </div>
        <!-- table -->
        <!-- end of table -->
    </div>
</div>

</section>
@{
<input type="hidden" value="@ViewBag.mode" id="hf_mode" name="hf_mode" />
    @Html.Hidden("hf_DelegateAll", Model.DelegateAll)
    @Html.Hidden("hf_ArrangementId", Model.ArrangementId)
<input type="hidden" value="@ViewBag.delegId" id="hf_delegId" name="hf_delegId" />
    @Html.Hidden("hf_AllowSubdelegation", Model.AllowSubdelegation)
<input type="hidden" value="@ViewBag.RetainNotification" id="hf_RetainNotification" name="hf_RetainNotification" />
<input type="hidden" value="@ViewBag.AcceptFailure" id="hf_AcceptFailure" name="hf_AcceptFailure" />
}
<script src="~/Scripts/RoadDelegation/CreateRoadDelegation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/RoadContact.js?V@(Session["ProjectVersion"])"></script>
