@using PagedList.Mvc
@using STP.Domain.RoadNetwork.RoadDelegation
@model  PagedList.IPagedList<STP.Domain.RoadNetwork.RoadDelegation.RoadDelegationData>
@{
    int listCount = 0;
    listCount = (int)Session["PageSize"];
    int totalItemCount = Model.TotalItemCount;
    int pageSize = 1;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    int? pageNum = ViewBag.page;
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.ROADS;
}

<style>
    .btn.btn-outline-primary:hover {
        color: white;
        background-color: rgba(39, 87, 149, 1);
    }
</style>
<style>
    .sorticon {
        filter: invert(100%);
    }


    .filtered-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
        background-size: 1rem;
    }

    .esdal-filter-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
        background-size: 1rem;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
    }

    .movements td:nth-child(1) {
        text-align: left;
    }
    th {
        padding: 22px 8px 22px 21px;
        text-align: left;
        font-size: 15.00px;
        font-weight: 400;
        font-style: normal;
        font-family: lato_medium, Arial;
        background-color: rgba(39, 87, 149, 1);
    }
    #helpdesk .main-table table td:nth-child(1), #soa-structure-list .main-table table td:nth-child(1), #soa-structure-list .main-table table th:nth-child(1), #soa-structure-delgation .main-table table th:nth-child(1), #soa-structure-delgation .main-table table td:nth-child(1), #showDrivingdetails .main-table th:nth-child(1), #soa-landing-page .main-table table td:nth-child(1), #mostOnerousId .main-table table td:nth-child(1), #mostOnerousId .main-table table th:nth-child(1), #affectedRoads .main-table table th:nth-child(1), #affectedRoads .main-table table td:nth-child(1), #affectedstructure .main-table table td:nth-child(1), #affectedstructure .main-table table th:nth-child(1), #affectedParties .main-table table td:nth-child(1), #affectedParties .main-table table th:nth-child(1), #helpdesk #soa-modal .main-table table th:nth-child(1), #manage-news th:nth-child(1), #manage-user th:nth-child(1), #distribution-status th:nth-child(1), #distribution-status td:nth-child(1), #admin-log td:nth-child(1), #admin-log th:nth-child(1), #sort-org-view th:nth-child(1), .main-sort-content .main-table table th:nth-child(1), .main-sort-content .main-table table td:nth-child(1), #exampleModalCenter3 .main-table table td:nth-child(1), #exampleModalCenter3 .main-table table th:nth-child(1), #contact-list .main-table table th:nth-child(1), #contact-list .main-table table td:nth-child(1), #showaudit .main-table table td:nth-child(1), #showaudit .main-table table th:nth-child(1) {
        padding-left: 21px !important;
    }
    .filter-table-icon {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
    }
    td {
        padding: 15px 8px 15px 22px;
        text-align: left;
        font-size: 15.00px;
        /* font-weight: 400; */
        font-style: normal;
        font-family: lato_regular, Arial;
        /* color: rgba(92, 92, 92, 1); */
    }

    .filter-table-icons {
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
    }
</style>
<div id="helpdesk">
    <!-- banner -->
    <section id="banner">
        <div class="container-fluid" id="banner-container">
            @Html.Hidden("pageSizeVal", pageSize)
            @Html.Hidden("pageNum", pageNum)
            @{
                var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 1;
                var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;
                var isSearchStringFilterEnabled = !string.IsNullOrEmpty(ViewBag.SearchString);
                var isAllFilterEnabled = isSearchStringFilterEnabled;
            }
            <div>
                <div class="header">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="button mr-0">
                                <button id="btndelegation" class="btn btn-outline-primary btn-normal" style="padding-left: 20px !important;"  role="button" aria-pressed="true">
                                    NEW
                                    DELEGATION
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="title">
                                MANAGE ROAD DELEGATIONS
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table -->
                <div class="main-table movements">
                    <table class="esdal-table">
                        <thead>
                            <tr>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,1)" data-action="SortRoadDelegation" data-sortval="1">Arrangement Name</span>
                                    <span class="filter-table-icons"><img id="filterimageArrange" style="display:@(isSearchStringFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                                </th>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,2)" data-action="SortRoadDelegation" data-sortval="2">Delegator Organisation</span>
                                    
                                </th>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,3)" data-action="SortRoadDelegation" data-sortval="3">Delegate Organisation</span>
                                    
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="table-filter-header">
                                    <img id="btnopen" src="~/Content/assets/images/filter-icon.svg" class="open-filter-icon-common" data-width="450" title="Open filter" width="38">
                                    <span class="filtered-icon-table "><img id="filterimage" style="display:@(isAllFilterEnabled?"block":"none")" src="~/Content/assets/images/filtered-icon.svg" title="Clear filter"></span>
                                </th>
                            </tr>
                        </thead>
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="8" style="text-align: center;">
                                    <span style="color: red">No records found</span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-color2 viewdelegation" style="cursor: pointer;" data-ArrangementId="@item.ArrangementId">@item.ArrangementName</td>
                                    <td class="text-color1">@item.FromOrgName</td>
                                    <td class="text-color1">@item.ToOrgName</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="#" class="editdelegation" style="cursor: pointer;" data-ArrangementId="@item.ArrangementId" >
                                            <img src="~/Content/assets/images/edit-icon.svg" width="20" title="Edit">
                                        </a>
                                    </td>
                                    <td  colspan="2">
                                        <a href="#" class="deletedelegation" style="cursor: pointer;" data-ArrangementId="@item.ArrangementId" >
                                            <img src="~/Content/assets/images/delete-icon.svg" width="18" title="Delete">
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    @if (Model.Count > 0)
                    {
                        //if (listCount < ViewBag.TotalCount)
                        //{
                <div class="row pt-3" style="margin-top:30px;">
                    <div class="col-lg-4 col-md-4">
                        @if (Model.TotalItemCount > 0)
                        {
                            <div class="text-color2 total-records-number">
                                Total number of records : @Model.TotalItemCount
                            </div>
                        }
                    </div>
                    <div class="col-lg-5 mt-3 text-center">
                        @if (listCount < ViewBag.TotalCount)
                        {
                        <div class="table-pagination">
                            @Html.PagedListPager(Model, page => Url.Action("GetRoadDelegationList",
                             new
                             {
                                 B7vy6imTleYsMr6Nlv7VQ =
                                                    STP.Web.Helpers.EncryptionUtility.Encrypt(
                                                    "page=" + page +
                                                    "&sortOrder=" + sortOrder +
                                                    "&sortType=" + sortType)
                             }),
                             new PagedListRenderOptions
                             {
                                 DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                 DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                 LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                 LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                 DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                 DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                 MaximumPageNumbersToDisplay = 3,
                                 DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                 EllipsesFormat = "...",
                                 LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                 LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                             });

                        </div>
                        }
                    </div>
                    @if (Model.TotalItemCount > 10)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0 DelegationList-Pag">
                            Number of items to display per page
                            <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelect">
                                <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                            </select>
                        </div>
                    }
                    </div>
                           
                        }
                    @*}*@
                </div>
                <!-- end of table -->


            </div>
        </div>
     
    </section>

    <!-- filter settings -->
    <div id="filters" class="sidenav filter-sidenav">

        <div class="row sidenav-header">
            <div class="col-10 col-md-10 col-sm-10" style="text-align: center;margin-top: 5px;">
                <span>
                    FILTER
                </span>
            </div>
            <div class="col-2 col-md-2 col-sm-2 pl-0" style="position: none;">
                <a href="#" class="closefilter close-filter-icon-common">&times;</a>
            </div>
        </div>
        <hr>
        <div class="filter-list">
            <div class="filters">
                <span>Search delegation</span>
            </div>
            <div class="pr-0 pl-0 mr-0 ml-0 mt-3 mb-0 input-field" style="width:95%">
                <input class="edit-normal pl-3 ms-4" type="text" id="searchText" name="search" value="@ViewBag.SearchString" placeholder="Search delegation">
            </div>


            <div class="row pt-6 pl-3 pr-2" id="org_filter_btn">

                <div class="col-lg-8 col-md-8 col-sm-12 filter-entry">
                    <!-- <div class="header mt-4"> -->
                    <div class="button mr-0 mb-2">
                        <input type="hidden" name="sortOrder" id="SortOrderValue" value="@sortOrder" />
                        <input type="hidden" name="sortType" id="SortTypeValue" value="@sortType" />
                        <button class="btn btn-outline-primary btn-normal search" role="button" aria-pressed="true">
                            SEARCH
                        </button>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 filter-entry">
                    <!-- <div class="header mt-4"> -->
                    <div class="button mr-0 mb-2">
                        <button class="btn btn-outline-primary btn-normal cleardelegation" role="button" aria-pressed="true">
                            CLEAR
                        </button>
                    </div>
                    <!-- </div> -->
                </div>
            </div>

        </div>
    </div>
    <!-- end of fikter settings -->

</div>
@{
    string GetSortDefaultClass(int sortTypeVal, int sortOrderVal, int valToCheck)
    {
        var sortClass = ""; //0-asc, 1-desc ,
        if (sortOrderVal == valToCheck)
        {
            sortClass = sortTypeVal == 1 ? "sorting_desc" : "sorting_asc";
        }
        return sortClass;
    }
}

<style>
    .pagination {
        overflow: inherit;
    }

        .pagination li a {
            color: rgba(92, 92, 92, 1);
            float: left;
            padding: 8px 5px;
            text-decoration: none;
            font-size: 15px;
            font-family: lato_bold;
            transition: background-color .3s;
        }

        .pagination li.active {
            background-color: rgba(39, 87, 149, 1);
            border-radius: 10px 10px 10px 10px;
            color: white;
        }

    .disabled {
        color: rgba(92, 92, 92, 1);
    }
</style>

<script src="~/Scripts/RoadDelegation/RoadDelegationList.js?V@(Session["ProjectVersion"])"></script>
