@using System.Web.Optimization
@using STP.Domain.SecurityAndUsers
@model STP.Domain.SecurityAndUsers.UserRegistration
@{
    Layout = null;
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.ADMIN;
}
@{
    int isAdmin = 0;
    int userTypeID = 0;
    long Organisation_ID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        Organisation_ID = sessionValues.OrganisationId;
        if (sessionValues.IsAdmin == 1)
        {
            isAdmin = 1;
        }
    }
    var UserTypeRole = new List<UserRegistration>
{
                       new UserRegistration{UserType = 696001, UserTypeNameDrop = "Haulier"},
                       new UserRegistration{UserType = 696007, UserTypeNameDrop = "SOA"},
                       new UserRegistration{UserType = 696002, UserTypeNameDrop = "Police ALO"},
                       new UserRegistration{UserType = 696006, UserTypeNameDrop = "Helpdesk"},
                       new UserRegistration{UserType = 696008, UserTypeNameDrop = "SORT"}
                   };

    ViewBag.UserTypeRole = new SelectList(UserTypeRole, "UserType", "UserTypeNameDrop");
}
@if (ViewBag.mode != "View")
{
    {
        ViewBag.Title = "CreateNewUser";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <style>
        .field-validation-error {
            color: red;
        }
        
        .header .title {
            font-size: 30px;
            font-style: normal;
            list-style: none;
            font-family: lato_bold, Arial;
            color: rgba(39, 87, 149, 1) !important;
            text-align: center;
        }

        .font-size-small {
            font-size: small;
        }
    </style>

    <div id="helpdesk">
        <!--main content -->
        <section id="banner">
            <div class="container-fluid" id="banner-container">
                <div class="header">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @if ((ViewBag.mode == "Edit") && ((ViewBag.userID != "0") || (ViewBag.userID != null)) && (ViewBag.contactID == null))
                            {
                                <div class="title">
                                    EDIT USER
                                </div>
                            }
                            else if ((ViewBag.mode == "Edit") && ((ViewBag.contactID != "0") || (ViewBag.contactID != null)) && (ViewBag.userID == null))
                            {
                                <div class="title">
                                    EDIT CONTACT
                                </div>
                            }
                            else
                            {
                                <div class="title">
                                    CREATE USER/CONTACT
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="register">
                    @using (Ajax.BeginForm("Register", "Users", new { mode = ViewBag.mode, User_id = ViewBag.userID, Contact_id = ViewBag.contactID }, new AjaxOptions { OnBegin = "startAnimation", OnComplete = "stopAnimation", OnSuccess = "LoadUserList" }))
                    {
                        @*@Html.AntiForgeryToken()*@
                        @Html.ValidationSummary(true)
                        @Html.Hidden("SecurityQuestionList")
                        @Html.Hidden("UserTypeListInfo")
                        @Html.Hidden("CountryDropDown")
                        @Html.HiddenFor(model => model.Country)
                        @Html.Hidden("OrgTypeListInfo ")
                        @Html.HiddenFor(m => m.OrganisationName)
                        @Html.HiddenFor(m => m.ContactId, new { @id = "HContactID" })
                        @Html.HiddenFor(m => m.Selectorg_Id)
                        @Html.HiddenFor(m => m.UserType);
                        @Html.Hidden("userTypeId", userTypeID);
                        @Html.Hidden("Organisation_ID", Organisation_ID)

                        <div id="vehicles" style="margin-bottom: 30%;height:min-content; padding-left:1%!important">

                            <div class="row pt-6 pb-2 pr-3">

                                <div class="col-lg-4 col-md-4 col-sm-12 pb-2 pr-4 pl-4">
                                    <div class="row pb-2 align-items-center" id="IsContactOnly">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Is only a contact
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.CheckBoxFor(m => m.OnlyContact, new { @id = "OnlyContact", @width = "20" })
                                        </div>
                                    </div>
                                    @if (isAdmin == 1 && userTypeID == 696006)
                                    {
                                        <div class="pb-3 wd-align">
                                            <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                                Organisation Name*
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                @Html.TextBoxFor(m => m.OrgUser)
                                                @Html.ValidationMessageFor(m => m.OrgUser, "", new { @class = "font-size-small" })
                                                <span id="err_OrgUser_exists" class="field-validation-error"></span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.Hidden("OrgUser", "000")
                                    }
                                    <div class="pb-2 wd-align" id="div_usertype">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            User Type*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12" id="td_drop_user" style="display:none;">
                                            @Html.DropDownListFor(m => m.UserTypeNameDrop, ViewBag.UserTypeRole as SelectList, new
                                            {
                                                @class = "form-select mb-3 pt-3 pb-3",
                                                @style = "overflow: scroll;width: 100%;color: rgba(39, 87, 149, 1);"
                                            })
                                            @Html.ValidationMessageFor(m => m.UserTypeNameDrop)
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12" id="td_display_user">
                                            @Html.TextBoxFor(m => m.UserTypeName, new { @readonly = "readonly", @style = "border-bottom:none" })
                                            @Html.ValidationMessageFor(m => m.UserTypeName)
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align" id="div_isadmin">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Is Admin
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.CheckBoxFor(m => m.IsAdministrator)
                                            @Html.ValidationMessageFor(m => m.IsAdministrator)
                                        </div>
                                    </div>
                                    @if (isAdmin == 1 && userTypeID != 696001)
                                    {
                                        <div class="pb-2 wd-align" id="div_role_within_org">
                                            <div class="col-lg-6 col-md-6 col-sm-12 text-normal">
                                                Formal Role within Organisation
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="mb-2">

                                                    @Html.CheckBoxFor(m => m.DataHolder, new { @class = "checkbox mr-2" })
                                                    <span class="text-normal">Data holder</span>
                                                </div>
                                                <div class="mb-2" style="white-space: nowrap;">

                                                    @Html.CheckBoxFor(m => m.NotificationContact, new { @class = "checkbox mr-2" })
                                                    <span class="text-normal">Notification contact</span>
                                                </div>
                                                <div class="mb-2">

                                                    @Html.CheckBoxFor(m => m.OfficialContact, new { @class = "checkbox mr-2" })
                                                    <span class="text-normal">Official contact</span>
                                                </div>
                                                <div class="mb-2">

                                                    @Html.CheckBoxFor(m => m.ItContact, new { @class = "checkbox mr-2" })
                                                    <span class="text-normal">IT contact</span>
                                                </div>
                                                <div class="mb-2">

                                                    @Html.CheckBoxFor(m => m.DataOwner, new { @class = "checkbox mr-2" })
                                                    <span class="text-normal">Data owner</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (ViewBag.mode != "Edit" || ViewBag.contactID != null)
                                    {
                                        <div class="pb-2 wd-align" style="display:none;" id="div_contact_pref1">
                                            <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                                Contact Preference
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <span class="text-normal">Email</span>
                                                @Html.RadioButtonFor(m => m.ContactPref, "695002",
                                               new { @checked = "checked", @id = "RB_Email", @name = "ContactPref" })
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <span class="text-normal">Fax</span>
                                                @Html.RadioButtonFor(m => m.ContactPref, "695001", new { @id = "RBFax", @name = "ContactPref" })
                                            </div>
                                        </div>

                                    }
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            First Name*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.FirstName)
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Surname*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.SurName)
                                            @Html.ValidationMessageFor(m => m.SurName, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align" id="div_username">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Username*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.UserName, new { @id = "UserName" })
                                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "font-size-small" })
                                            <span id="err_UserName_exists" class="field-validation-error font-size-small"></span>
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal" id="span_role">
                                            Role
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.Title, new { @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 pb-2 pr-4 pl-4">


                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Address*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <div class="pb-3"> @Html.TextBoxFor(m => m.AddressLine1, new { @maxlength = "200" })   </div>
                                            <div class="pb-3"> @Html.TextBoxFor(m => m.AddressLine2, new { @maxlength = "200" })   </div>
                                            <div class="pb-3"> @Html.TextBoxFor(m => m.AddressLine3, new { @maxlength = "200" })   </div>
                                            <div class="pb-3"> @Html.TextBoxFor(m => m.AddressLine4, new { @maxlength = "200" })   </div>
                                            <div class="pb-1"> @Html.TextBoxFor(m => m.AddressLine5, new { @maxlength = "200" })   </div>
                                            <span id="addrchk" class="field-validation-error font-size-small"></span>
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Country*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.DropDownListFor(m => m.CountryId, ViewBag.CountryDropDown as SelectList, new
                                            {
                                                @class = "form-select mb-3 pt-3 pb-3",
                                                @style = "overflow: scroll;width: 100%;color: rgba(39, 87, 149, 1);"
                                            })
                                            @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Postcode*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.PostCode, new { @maxlength = 15 })
                                            @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Telephone*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.Telephone)
                                            @Html.ValidationMessageFor(m => m.Telephone, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Extension
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.Extension, new { @maxlength = "6" })
                                            @Html.ValidationMessageFor(m => m.Extension, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Mobile
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.Mobile, new { @maxlength = "15" })
                                            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal" id="span_Fax">
                                            Fax
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.Fax, new { @id = "Fax" })
                                            <span id="error_Fax" class="field-validation-error"></span>
                                        </div>
                                    </div>

                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal" id="span_Email">
                                            Email*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.TextBoxFor(m => m.Email, new { @id = "Email", @maxlength = "100" })<br />
                                            <span id="error_Email" class="field-validation-error"></span>
                                            @Html.ValidationMessageFor(m => m.Email, "Email is required", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 pb-2 pr-4 pl-4">
                                   

                                    @if ((ViewBag.mode == "Edit" || ViewBag.mode == null || (ViewBag.mode == "View" && ViewBag.contactID == "")) && isAdmin == 1 && userTypeID == 696006)//if ((ViewBag.mode == "Edit" || (ViewBag.mode == "View" && ViewBag.contactID == "")) && isAdmin == 1 && userTypeID == 696006)
                                    {
                                        <div class="pb-2 wd-align" id="div_securityquest">
                                            <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                                Security Question
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">

                                                @Html.DropDownListFor(m => m.SecurityQuestion, ViewBag.SecurityQuestionList as SelectList, new
                                           {
                                               @class = "form-select mb-3 pt-3 pb-3",
                                               @style = "overflow: scroll;width: 100%;color: rgba(39, 87, 149, 1);"
                                           })
                                            </div>
                                        </div>
                                        <div class="pb-2 wd-align" id="div_securityans">
                                            <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                                Security Answer
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                @Html.TextBoxFor(m => m.SecurityAnswer, new { @id = "SecurityAnswer" })
                                            </div>
                                        </div>
                                    }
                                    @if (ViewBag.mode == "Edit")
                                    {
                                        <div class="pb-2 wd-align" id="div_resetpwd">
                                            <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                                Reset Password
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                @Html.CheckBoxFor(m => m.IsResetPW)
                                            </div>
                                        </div>
                                    }
                                    @if ((ViewBag.mode == null || ViewBag.mode == "Edit") && userTypeID == 696006)
                                    {
                                        <div class="pb-2 wd-align" id="div_systempwd">
                                            <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                                Auto Password
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-12">
                                                @Html.CheckBoxFor(m => m.IsSystemPW)
                                                <br />
                                                <span id="autopassword" class="text-normal"></span>
                                            </div>
                                        </div>
                                    }
                                    <div class="pb-2 wd-align" id="div_password">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Password*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.PasswordFor(m => m.password, new { @maxlength = "12", @id = "Password", @autocomplete = "new-password" })
                                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>

                                    <div class="pb-2 wd-align" id="div_confirmpwd">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-normal">
                                            Confirm Password*
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ConfirmPassword", @maxlength = "12" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    <div class="pb-2 wd-align">
                                        <div class="col-lg-12 col-md-12 col-sm-12 text-normal">
                                            Notes
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <textarea class="form-control" id="Notes" name="Notes"
                                                      rows="4" style="width: -webkit-fill-available;"></textarea>
                                            @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "font-size-small" })
                                        </div>
                                    </div>
                                    @if (isAdmin == 1)
                                    {
                                        <div class="pb-2 wd-align" id="div_role_sort_user" style="display:none;">
                                            <div class="col-lg-6 col-md-6 col-sm-12 text-normal">
                                                SORT User Roles
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="mb-2">
                                                    <input type="checkbox" id="chkSORTCreateJob" name="chkSORTCreateJob" data-hidden="hdnSORTCreateJob" class="checkbox mr-2" />
                                                    <span class="text-normal">Can create jobs on behalf of hauliers</span>
                                                </div>
                                                <div class="mb-2">

                                                    <input type="checkbox" id="chkSORTAllocateJob" name="chkSORTAllocateJob" data-hidden="hdnSORTAllocateJob" class="checkbox mr-2" />
                                                    <span class="text-normal">Can allocate jobs to others, can withdraw and decline.</span>
                                                </div>
                                                <div class="mb-2">
                                                    <input type="checkbox" id="chkSORTCanAgreeUpto150" name="chkSORTCanAgreeUpto150" data-hidden="hdnSORTCanAgreeUpto150" class="checkbox mr-2" />
                                                    <span class="text-normal">QA check SO's.</span>
                                                </div>
                                                <div class="mb-2">
                                                    <input type="checkbox" id="chkSORTCanApproveSignVR1" name="chkSORTCanApproveSignVR1" data-hidden="hdnSORTCanApproveSignVR1" class="checkbox mr-2" />
                                                    <span class="text-normal">Can check and approve VR-1's.</span>
                                                </div>
                                                <div class="mb-2">

                                                    <input type="checkbox" id="chkSORTCanAgreeAllSO" name="chkSORTCanAgreeAllSO" data-hidden="hdnSORTCanAgreeAllSO" class="checkbox mr-2" />
                                                    <span class="text-normal">Can check final SO's.</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="flexer justify-content-center">
                                <button class="btn outline-btn-primary SOAButtonHelper ml2" type="submit" id="btn_register">SAVE</button>
                                <button id="btnback" class="btn outline-btn-primary SOAButtonHelper ml2" type="button">BACK</button>


                            </div>
                        </div>
                        @Html.HiddenFor(m => m.SORTCreateJob, new { @id = "hdnSORTCreateJob" })
                        @Html.HiddenFor(m => m.SORTAllocateJob, new { @id = "hdnSORTAllocateJob" })
                        @Html.HiddenFor(m => m.SORTCanApproveSignVR1, new { @id = "hdnSORTCanApproveSignVR1" })
                        @Html.HiddenFor(m => m.SORTCanAgreeUpto150, new { @id = "hdnSORTCanAgreeUpto150" })
                        @Html.HiddenFor(m => m.SORTCanAgreeAllSO, new { @id = "hdnSORTCanAgreeAllSO" })
                        @Html.HiddenFor(m => m.UserTypeNameDrop, new { @id = "hdnUserName" })
                        @Html.HiddenFor(m => m.OnlyContact, new { @id = "hdnOnlyContact" })
                    }

                </div>
            </div>
        </section>
        <!-- end of main content -->
    </div>
}
else
{
    var id = "";
    if (ViewBag.userID != "")
    {
        id = ViewBag.userID;
    }
    else
    {
        id = ViewBag.contactID;
    }
    <td class="pt-6 pb-6 bg-white border-bottom" colspan="7" id=@id>
        <div id="desc-entry" style="display: flex;flex-wrap: wrap;width: 100% !important;">
            <div style="width: 44%;">
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Organisation name
                    </div>
                    <div class="edit-normal wd50" id="userOrgName" style="white-space: normal;">
                    </div>
                </div>

                @if (ViewBag.userID != "")
                {
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            User type
                        </div>
                        <div class="edit-normal wd50" id="userType">
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Is admin
                        </div>
                        <div class="edit-normal wd50" id="viewIsAdminTrue" style="display:none;">
                            <img src="~/Content/assets/images/yes-icon.svg" width="20">
                        </div>
                        <div class="edit-normal wd50" id="viewIsAdminFalse" style="display:none;">
                            <img src="~/Content/assets/images/no-icon.svg" width="20">
                        </div>
                    </div>
                }

                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Formal role within organisation
                    </div>
                    <div class="edit-normal wd50" id="userFormalRole" style="white-space: normal;">
                    </div>
                </div>
                @if (ViewBag.contactID != "")
                {
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Contact Preference
                        </div>
                        <div class="edit-normal wd50">
                            <span class="text-normal">Email</span>
                            <input type="radio" id="rbEmail" disabled />
                            <span class="text-normal">Fax</span>
                            <input type="radio" id="rbFax" disabled />
                        </div>
                    </div>

                }
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        First name
                    </div>
                    <div class="edit-normal wd50" id="userFirstName">
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Surname
                    </div>
                    <div class="edit-normal wd50" id="userSurname">
                    </div>
                </div>

                @if (ViewBag.userID != "")
                {
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            User name
                        </div>
                        <div class="edit-normal wd50" id="userName">
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Role
                        </div>
                        <div class="edit-normal wd50" id="userRole" style="white-space: normal;">
                        </div>
                    </div>
                }
                @if (ViewBag.contactID != "")
                {
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Title
                        </div>
                        <div class="edit-normal wd50" id="userTitle" style="white-space: normal;">
                        </div>
                    </div>
                }
            </div>
            <div style="width: 28%;">
                @if (ViewBag.userID != "")
                {
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Security question
                        </div>
                        <div class="edit-normal wd50" id="userSecurityQues">
                            @Html.DropDownListFor(m => m.SecurityQuestion, ViewBag.SecurityQuestionList as SelectList, new { @id = "userSecurityId", @style = "display:none;" })
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Security answer
                        </div>
                        <div class="edit-normal wd50" id="userSecurityAns" style="white-space: normal;">
                        </div>
                    </div>
                }

                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Address
                    </div>
                    <div class="edit-normal wd50">
                        <div class="edit-normal pb-3 wd100" id="AddressLine1" style="white-space: normal;">
                        </div>
                        <div class="edit-normal pb-3 wd100" id="AddressLine2" style="white-space: normal;">
                        </div>
                        <div class="edit-normal pb-3 wd100" id="AddressLine3" style="white-space: normal;">
                        </div>
                        <div class="edit-normal pb-3 wd100" id="AddressLine4" style="white-space: normal;">
                        </div>
                        <div class="edit-normal pb-3 wd100" id="AddressLine5" style="white-space: normal;">
                        </div>
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Country
                    </div>
                    <div class="edit-normal wd50" id="userCountry">
                        @Html.DropDownListFor(m => m.CountryId, ViewBag.CountryDropDown as SelectList, new { @id = "userCountryID", @style = "display:none;" })

                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Postcode
                    </div>
                    <div class="edit-normal wd50" id="userPostCode">
                    </div>
                </div>

            </div>
            <div style="width: 28%;">
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Telephone
                    </div>
                    <div class="edit-normal wd50" id="userTelephone">
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Extension
                    </div>
                    <div class="edit-normal wd50" id="userExtension">
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Mobile
                    </div>
                    <div class="edit-normal wd50" id="userMobile">
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Fax
                    </div>
                    <div class="edit-normal wd50" id="userFax">
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Email
                    </div>
                    <div class="edit-normal wd50" id="userEmail" style="white-space: normal;">
                    </div>
                </div>
                <div class="pb-3 wd-align">
                    <div class="text-normal wd40">
                        Notes
                    </div>
                    <div class="edit-normal wd50" id="userNotes" style="white-space: normal;">
                    </div>
                </div>
            </div>

        </div>
    </td>
    <td class="closedet bg-white text-center border-bottom" valign="top" id="description1" data-id="@id">
        <img class="cusror-pointer rotate-180" src="~/Content/assets/images/down-chevlon-filter.svg" width="20">
    </td>
}


@{
    <input type="hidden" value="@ViewBag.mode" id="hf_mode" name="hf_mode" />
    <input type="hidden" value="@ViewBag.userID" id="hf_userID" name="hf_userID" />
    <input type="hidden" value="@ViewBag.contactID" id="hf_contactID" name="hf_contactID" />
    @Html.Hidden("hf_userTypeID", userTypeID)
    @Html.Hidden("hf_IsAdmin", isAdmin)
}
@if (ViewBag.mode != "View")
{
    <script src="~/Scripts/jquery.validate.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Users/jQuery.ManageUser.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Users/Register.js?V@(Session["ProjectVersion"])"></script>
}
