
@{
    Layout = null;
}

@model STP.Domain.Applications.AgreedRoute


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
				initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
    <link href="~/Content/Style/Common/document.css" rel="stylesheet" />
    <link href="~/Content/Style/Common/style.css" rel="stylesheet" />

    <style>
        body {
            width: 230mm;
            height: 100%;
            margin: 0 auto;
            padding: 0;
            font-size: 12pt;
            background: rgb(204, 204, 204);
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }


        .main-page {
            width: 210mm;
            min-height: 297mm;
            margin: 10mm auto;
            background: white;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        .sub-page {
            padding: 1cm;
            height: 297mm;
        }

        .page-margin {
            padding: 1cm;
        }

        .text-head {
            color: black;
            font-size: 35px;
            font-family: lato_medium, Arial;
            font-style: normal;
            font-weight: 400;
        }

        .text-highlight {
            letter-spacing: 0.00px;
            color: black;
            font-size: 15.00px;
            font-weight: 700;
            font-style: normal;
            font-family: lato_medium, Arial;
        }

        .text-normal-hyperlink {
            line-height: 35.00px;
            letter-spacing: 0.00px;
            color: rgba(39, 87, 149, 1);
            -webkit-text-stroke: unset;
            font-size: 15.00px;
            font-weight: 500;
            font-style: normal;
            font-family: lato_medium, Arial;
        }

        .text-normal,
        p,
        li {
            line-height: 22.00px;
            letter-spacing: 0.00px;
            color: black;
            -webkit-text-stroke: unset;
            font-size: 14.00px;
            font-weight: 500;
            font-style: normal;
            font-family: lato_medium, Arial;
            text-align: justify;
        }

        ol {
            padding-left: 1rem !important;
        }

        ul {
            padding-left: 0.5rem !important;
            list-style-type: "*";
        }

        p {
            margin: 0px !important;
            padding: 0px !important;
        }

        .text-title {
            color: black;
            font-size: 25px;
            font-family: lato_light, Arial;
            font-style: normal;
            font-weight: 100;
        }

        .text-normal-light {
            color: black;
            font-size: 16px;
            font-family: lato_light, Arial;
            font-style: normal;
            font-weight: 300;
        }

        .text-normal-link {
            color: rgba(39, 87, 149, 1);
            font-size: 16px;
            font-family: lato_medium, Arial;
            font-style: normal;
            font-weight: 100;
        }

        .notes-highlight {
            background-color: rgba(39, 87, 149, 0.1);
            padding: 1.5rem 4rem;
            margin-left: 4rem;
        }

        .notes-highlight1 {
            background-color: rgba(39, 87, 149, 0.1);
            padding: 1.5rem 4rem;
        }

        .wd1 {
            flex: 0 0 auto;
            width: 16.6666666667%;
        }

        .wd1 {
            flex: 0 0 auto;
            width: 16.6666666667%;
        }

        .wd2 {
            flex: 0 0 auto;
            width: 50%;
        }

        .wd3 {
            flex: 0 0 auto;
            width: 83.3333333333%;
        }

        .wd4 {
            flex: 0 0 auto;
            width: 41.6666666667%;
        }

        .wd5 {
            flex: 0 0 auto;
            width: 58.3333333333%;
        }

        .wd6 {
            flex: 0 0 auto;
            width: 8.3333333333%;
        }

        .wd7 {
            flex: 0 0 auto;
            width: 33.3333333333%;
        }

        .wd8 {
            flex: 0 0 auto;
            width: 50%;
        }

        .wd9 {
            flex: 0 0 auto;
            width: 50%;
        }

        hr {
            margin: 0.2rem 0rem;
        }

        .pl-3 {
            padding-left: 1.5rem;
        }
    </style>


    <title>ESDAL</title>
</head>

<body style="overflow-y: auto; padding: 0; margin: 0; width: 100%; background: rgb(252 252 252);">
    <!-- main-content -->
    <div class="main-page">
        <div>
            <div style="text-align: end;padding-top: 1cm;padding-right: 2cm;">
                <img src="~/Content/assets/images/logo.png" width="120" />
            </div>
        </div>
        <div class="text-normal-light pb-3" style="padding-left: 1cm;">
            FACSIMILE MESSAGE
        </div>
        <div class="notes-highlight1">
            <span class="text-head">Agreed route</span><br>
            <p class="text-normal-light">Classification: <span class="text-normal-link">special order</span></p>
        </div>
        <div class="page-margin">
            <div class="textContents">
                <div class="row" style="padding-bottom: 2rem;">
                    <div class="wd1">
                        <div class="text-highlight">
                            Date sent <br>All Contact
                        </div>
                    </div>
                    <div class="wd2">
                        <p>
                            @Model.SentDateTime<br />
                            @Model.HAContact.Contact<br />
                            @foreach (var item in Model.HAContact.Address.Line)
                            {
                                @item<br />
                            }
                            @Model.HAContact.Address.PostCode<br />
                            @Model.HAContact.Address.Country<br />
                            Direct tel @Model.HAContact.TelephoneNumber<br />
                            Email address @Model.HAContact.EmailAddress<br />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="wd1">
                        <div class="text-highlight">
                            To
                        </div>
                    </div>
                    <div class="wd3">
                        <p>
                            Abnormal Loads Officer Craig Whyte, Autolink M6 ROM
                        </p>
                        <p>
                            Abnormal Loads Officer David Saint, Bedfordshire/Hertfordshire/Cambridgeshire
                            Constabulary
                        </p>
                        <p> Abnormal Loads Officer Sue Hume, Cheshire Constabulary</p>
                        <p>
                            Abnormal Load Coordinator Area 5 Mark Coomber, Shelly Newnham, Connect Plus Services -
                            Area 5
                        </p>
                        <p> Ian Carruthers: ext 44118, Cumbria Constabulary</p>
                        <p> PSE 42070361 Susan Rees, Essex Police</p>
                        <p> GMP Abnormal Loads, Greater Manchester Police</p>
                        <p>Abnormal Loads Coordinator Liz Marshall-Walker, National Highways Area 7</p>
                        <p> Abnormal Loads Manager Sally Waterfall, National Highways ASC Area 9</p>
                        <p> Network Occupancy Manager Lee Cornwell, National Highways East Region</p>
                        <p> Abnormal Loads Officer Tania Howell, National Highways Historical Railways Estate</p>
                        <p>Abnormal Loads Co-ordinator Gordon Beattie, National Highways North West Region</p>
                        <p></p> Abnormal Loads Officer Traffic Management Unit Operations Planning, Kent Police</p>
                        <p> Abnormal Load Administration Abnormal Load Officer, Lancashire Police</p>
                        <p> Abnormal Loads Officer Angela Atton, Leicestershire Police</p>
                        <p> Senior Engineer Gillian Redrup, Lewisham London Borough Council</p>
                        <p> Iain Franklin, M8 DBFO (Scottish Roads Partnership)</p>
                        <p> Commercial Vehicle Unit, Merseyside Police</p>
                        <p> Met Abloads Dept, Metropolitan Police</p>
                        <p> Motorway Operations Team Leader Grant Hughes, Midland Expressway Ltd</p>
                        <p> Abnormal Loads Officer, Network Rail LC & Rail over Road</p>
                        <p> Engineer Gordon Stewart, North Lanarkshire Council</p>
                        <p> Safer Roads Team, Northamptonshire Police</p>
                        <p> Abnormal Loads Scotland, Police Scotland</p>

                    </div>
                </div>

            </div>



            <div class="notes-highlight">
                <p class="pb-3">Amended Agreed route is attached.</p>
                <p class="pb-3">
                    The route was amended at the start of the route. *** <br>
                    The previously sent out agreed route did not include the ‘P’ number.<br>
                    Special Order P164/2020 is still valid for this and expires 19/12/2020 ****
                </p>
                <p>Thank yo</p>
            </div>
            <div class="pt-5">
                <div class="text-title">Route summary for</div>
                <div class="pt-2">
                    <div class="row" style="flex-wrap: none;align-items: center">
                        <div style="width: 2rem">
                            <img src="~/Content/assets/Icons/map-startpoint.svg" width="15" alt="vehicle-2" />

                        </div>
                        <div style="width: auto" class="pl-0">
                            <p>
                                SNHH/4/S6 - Lanarkshire Welding Co Ltd, John Street, WISHAW, Lanarkshire, ML2 7TQ
                            </p>
                        </div>
                    </div>
                    <div>
                        <div style="width: 2rem;padding-left: 4px; margin-top: -11px;">
                            <p style="display: flex;flex-direction: column; padding-top: -4px;">
                                <span style="height: 6px;">.</span>
                                <span style="height: 6px;">.</span>
                                <span style="height: 6px;">.</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2" style="flex-wrap: none;align-items: center;">
                        <div style="width: 2rem">
                            <img src="~/Content/assets/Icons/map-endpoint.svg" width="15" alt="vehicle-2" />
                        </div>
                        <div style="width: auto" class="pl-0">
                            <p> Fordmill Road, Catford, LONDON, SE6 3JH</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <div class="text-title pb-2">Agreed Route for the movement of </div>
                <p>Girder sections: 4.0m (H) x 1m (W) x 35m (L) x 100,000kgs</p>
            </div>

            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        ESDAL reference
                    </div>
                </div>
                <div class="wd5">
                    <p>SNHH/4/S6</p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        Haulier referenc
                    </div>
                </div>
                <div class="wd5">
                    <p>SNHH/4/S6</p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        Approximate date of first movement
                    </div>
                </div>
                <div class="wd5">
                    <p>09 July 2020 to 31 August 2020</p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        From
                    </div>
                </div>
                <div class="wd5">
                    <p>
                        Lanarkshire Welding Co Ltd,<br>
                        John Street, WISHAW,<br>
                        Lanarkshire, ML2 7TQ
                    </p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        To
                    </div>
                </div>
                <div class="wd5">
                    <p>
                        Fordmill Road, Catford,<br>
                        LONDON, SE6 3JH
                    </p>
                    <br>
                    <p>S Nixon Heavy Haulage</p>
                    <br>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        Haulier
                    </div>
                </div>
                <div class="wd5">
                    <p>Steve Nixon</p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        Haulier contact details
                    </div>
                </div>
                <div class="wd5">
                    <p>
                        2A Dunnswood Road<br>
                        Cumbernauld<br>
                        G67 3EN<br>
                        Scotland
                    </p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        Telephone number
                    </div>
                </div>
                <div class="wd5">
                    <p>07799334659</p>
                </div>
            </div>
            <div class="row pb-1">
                <div class="wd4">
                    <div class="text-highlight">
                        Email address
                    </div>
                </div>
                <div class="wd5">
                    <p>
                        snhh@abhaulier.co.uk
                    </p>
                </div>
            </div>
            <div class="pt-4">
                <p>
                    If, subsequent to the receipt of the agreed route below, emergency road or bridge works,
                    including statutory undertaker’s works,
                    become necessary on any road shown in this route, the authority concerned is asked to inform the
                    AIL contact and the
                    haulier concerned without delay. Proposals for alternative routing should be formulated at this
                    stage, if possible.
                </p>
                <ol type="a">
                    <li>
                        Contact all police authorities before movement takes place to arrange for suitable timings
                        and escorts where
                        required.
                    </li>
                    <li>
                        Comply with all cautions specified in the route.
                    </li>
                    <li>
                        Survey the route prior to movement to satisfy himself of the negotiability of the vehicles
                        concerned.
                    </li>
                    <li>
                        Make arrangements with the highway authority for the removal, at his own expense, of any
                        street furniture that
                        may be
                        necessary.
                    </li>
                    <li>
                        Ensure that if the driver is unable to follow this route due to road-works or any other
                        cause, he should telephone
                        0121 6788068 for instructions on the diversion to be followed to avoid the obstructed route.
                        At weekends and
                        outside normal working hours (8.30 -16.30) he should telephone 020 7944 5999 and inform the
                        Duty Officer of
                        thesituation.
                    </li>
                    <li>
                        Note that the issue of this route does not constitute authority to carry out the movement,
                        which should not be
                        under taken until the relevant Special Order has been issued.
                    </li>
                </ol>
                <p class="pt-4">
                    The Secretary of State, in proposing the attached route, has satisfied themselves as far
                    possible that all bridges which
                    will be passed over can safely carry the loads which have been reported to their provided that
                    the conditions contained
                    in the Special Order and the agreed route are complied with. They accept no responsibility that
                    any vehicle described
                    in the Special Order can negotiate the proposed route and neither the owner nor the operator of
                    any such vehicle is
                    relieved of any of their obligations or liabilities either under the Road Vehicle (Authorisation
                    of Special Types)(General)
                    Order 2003 or otherwise.
                </p>
            </div>

            <div class="text-title pb-3">
                Route overview
            </div>
            <div>
                <p>
                    Number of movements: 2<br>
                    Number of pieces moved at one time: 1
                </p>
            </div>
            <div class="text-title pt-4 pb-3">
                LEG 1
            </div>
            <div>
                <div class="row pb-1">
                    <div class="wd6 text-highlight">
                        Leg
                    </div>
                    <div class="wd7 text-highlight">
                        Route
                    </div>
                    <div class="wd7 text-highlight">
                        Distance
                    </div>
                </div>
                <div class="row">
                    <div class="wd6 text-normal">
                        1
                    </div>
                    <div class="wd7 text-normal">
                        Wishaw to Bromley, London
                    </div>
                    <div class="wd7 text-normal">
                        713 km
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <div class="row" style="flex-wrap: none;align-items: center">
                    <div style="width: 2rem">
                        <img src="~/Content/assets/Icons/map-startpoint.svg" width="15" alt="vehicle-2" />
                    </div>
                    <div style="width: auto" class="pl-0">
                        <p>
                            SNHH/4/S6 - Lanarkshire Welding Co Ltd, John Street, WISHAW, Lanarkshire, ML2 7TQ
                        </p>
                    </div>
                </div>
                <div>
                    <div style="width: 2rem;padding-left: 4px; margin-top: -11px;">
                        <p style="display: flex;flex-direction: column; padding-top: -4px;">
                            <span style="height: 6px;">.</span>
                            <span style="height: 6px;">.</span>
                            <span style="height: 6px;">.</span>
                        </p>
                    </div>
                </div>
                <div class="row mt-2" style="flex-wrap: none;align-items: center;">
                    <div style="width: 2rem">
                        <img src="~/Content/assets/Icons/map-endpoint.svg" width="15" alt="vehicle-2" />
                    </div>
                    <div style="width: auto" class="pl-0">
                        <p> Fordmill Road, Catford, LONDON, SE6 3JH</p>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <div class="row">
                    <div class="wd4 pl-3 text-highlight">
                        Road
                    </div>
                    <div class="wd4 pl-3 text-highlight">
                        Distance
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        JOHN STREET
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        200 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        A721
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        800 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        UNCLASSIFIED
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        500 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        ROBBERHALL ROAD
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        700 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        NEW CRAIG ROAD
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        1.5 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        A723
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        2.7 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        UNCLASSIFIED
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        6A/CHAPELHALL JUNCTION
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        M8
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        3.1 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        7A/SHAWHEAD JUNCTION
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        700 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        A725
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        4.1 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        UNCLASSIFIED
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        500 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        M74
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        42.6 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        A74(M)
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        78.7 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        M6
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        374.9 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        M1
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        98.3 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        UNCLASSIFIED
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        900 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        A282
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        6.09 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        M25
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        12.7 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        A21 1
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        7.4 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        CANADIAN AVENUE
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        200 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        FORDMILL ROAD
                    </div>
                    <div class="wd4 pl-3 text-normal">
                        200 m
                    </div>
                </div>
                <hr>
            </div>

            <div class="text-title pb-4">
                Vehicle Details
            </div>
            <div class="pt-4">
                <div class="row">
                    <div class="wd4 pl-3 text-highlight">
                        Semi trailer
                    </div>
                    <div class="wd5 pl-3 text-highlight">
                        Semi Trailer
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Gross weight:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        148000 kg
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Axle weight:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        9000 kg x 2 , 10000 kg x 2 , 10000 kg x 11
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Wheel per axle:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        2 x 2 , 4 x 2 , 4 x 5 , 8 x 6
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Axle spacing:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        3.2 m x 1 , 1.36 m x 2 , 5 m x 1 , 1.36 m x 4 , 18.2 m<br>
                        x 1 , 1.5 m x 5
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Tyre size:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        385/65x22.5 x 2 , 315/80x22.5 x 2 , 245/70x17.5 x 5 ,<br>
                        215/75x17.5 x 6
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Tyre centres:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        2.15 x 2 , 0.3,1.85,0.3 x 2 , 0.25,2.0,0.25 x 5 ,<br>
                        0.25,0.5,0.25,0.8,0.25,0.5,0.25 x 6
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Length:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        42 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Width:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        3 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Max. height:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        4.8 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Reducible height:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        4.65 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Wheelbase:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        42.06 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Left overhang:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        0 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Right overhang:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        0 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Rear overhang:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        5 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Ground clearance:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        0 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Reduced ground clearance:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        0 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd4 pl-3 text-normal">
                        Outside track:
                    </div>
                    <div class="wd5 pl-3 text-normal">
                        2.95 m
                    </div>
                </div>
                <hr>
            </div>
            <div class="text-title pt-4">
                LEG 1
            </div>
            <div class="pt-2">
                <div class="row" style="flex-wrap: none;align-items: center">
                    <div style="width: 2rem">
                        <img src="~/Content/assets/Icons/map-startpoint.svg" width="15" alt="vehicle-2">

                    </div>
                    <div style="width: auto" class="pl-0">
                        <p>
                            SNHH/4/S6 - Lanarkshire Welding Co Ltd, John Street, WISHAW, Lanarkshire, ML2 7TQ
                        </p>
                    </div>
                </div>
                <div>
                    <div style="width: 2rem;padding-left: 4px; margin-top: -11px;">
                        <p style="display: flex;flex-direction: column; padding-top: -4px;">
                            <span style="height: 6px;">.</span>
                            <span style="height: 6px;">.</span>
                            <span style="height: 6px;">.</span>
                        </p>
                    </div>
                </div>
                <div class="row mt-2" style="flex-wrap: none;align-items: center;">
                    <div style="width: 2rem">
                        <img src="~/Content/assets/Icons/map-endpoint.svg" width="15" alt="vehicle-2">
                    </div>
                    <div style="width: auto" class="pl-0">
                        <p> Fordmill Road, Catford, LONDON, SE6 3JH</p>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <div class="row">
                    <div class="wd8 pl-3 text-highlight">
                        Route directions
                    </div>
                    <div class="wd8 pl-3 text-highlight">
                        Cautions
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Start from JOHN STREET
                    </div>
                    <div class="wd8 pl-3">
                        <div class="text-highlight" style="font-size:18px;">Start point further details:</div>
                        <br>
                        <p>
                            <span class="text-highlight">GridRef:</span> : 277408, 655552<br>
                            Lanarkshire Welding Co Ltd, John Street,<br>
                            WISHAW, Lanarkshire, ML2 7TQ
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue JOHN STREET for 200 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd-8 pl-3 text-normal">
                        ET for 200 m
                        Turn Left onto A721
                    </div>
                </div>
                <hr>
            </div>

            <div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A721 for 400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 1st exit onto A72
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A721 for 400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 3rd exit onto UNCLASSIFIED
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue UNCLASSIFIED for 500 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto ROBBERHALL
                        ROAD
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue ROBBERHALL ROAD for 400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 1st exit onto ROBBERHALL
                        ROAD
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue ROBBERHALL ROAD for 300 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 1st exit onto NEW CRAIG
                        ROAD
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue NEW CRAIG ROAD for 200 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto A723
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A723 for 400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto A723
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A723 for 300 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto A723
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A723 for 500 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto A723
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A723 for 1.2 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 1st exit onto A723
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A723 for 300 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto B799
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue B799 for 700 m
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto UNCLASSIFIED
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue UNCLASSIFIED for 400 m
                    </div>
                    <div class="wd8 pl-3 ">
                        <p>
                            After 20 m<br>
                            GridRef: 277112, 661611
                        </p>
                        <p class="text-highlight">Join M8 Westbound</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto 6A/CHAPELHALL JUNCTION
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue 6A/CHAPELHALL JUNCTION for 400 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue M8 for 3.1 km
                    </div>
                </div>
                <hr>
            </div>

            <div>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue 7A/SHAWHEAD JUNCTION for 700 m
                    </div>
                    <div class="wd8">
                        <p style="font-size:18px;" class="text-highlight">
                            Apply motorway caution
                        </p>
                        <p>
                            After 100 m<br>
                            GridRef:273927, 662271
                        </p>
                        <p class="text-highlight"> Join A725 Southbound</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue 7A/CHAPELHALL JUNCTION for 700 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        At the roundabout, take the 2nd exit onto UNCLASSIFIED
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A725 for 4.1 km
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue UNCLASSIFIED for 500 m
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue M74 for 42.6 km
                    </div>
                    <div class="wd8">
                        <p style="font-size:18px;" class="text-highlight pb-3">
                            Apply motorway caution
                        </p>
                        <p class="text-highlight"> After 30 m</p>
                        <p class="pb-3">GridRef: 271774, 657876</p>
                        <p>
                            <span class="text-highlight"> Caution: </span>: When crossing Raith Bridge, any vehicle
                            over
                            100te but not
                            exceeding 150te MUST straddle lanes 1 and 2. No
                            othertraffic should be on the bridge at the same time
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue A74(M) for 78.7 km
                    </div>
                    <div class="wd8">
                        <p style="font-size:18px;" class="text-highlight">
                            Apply motorway caution
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue M6 for 10.2 km
                    </div>
                    <div class="wd8">
                        <p style="font-size:18px;" class="text-highlight pb-3">
                            Apply motorway caution
                        </p>
                        <p class="text-highlight"> After 200 m</p>
                        <p class="pb-3">
                            GridRef: 333499, 566609<br>
                            M6
                        </p>
                        <p>
                            <span class="text-highlight"> Caution: </span>: When crossing Raith Bridge, any vehicle
                            over
                            100te but not
                            exceeding 150te MUST straddle lanes 1 and 2. No
                            othertraffic should be on the bridge at the same time
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                        Continue M6 for 234 km
                    </div>
                    <div class="wd8">
                        <p style="font-size:18px;" class="text-highlight pb-3">
                            Apply motorway caution
                        </p>
                        <div>
                            <p class="text-highlight"> After 30 m</p>
                            <p class="pb-3">GridRef:361305, 504521</p>
                            <p>
                                <span class="text-highlight"> Caution: </span>Vehicle is to straddle Lanes 1 and 2
                                only when
                                travelling over M6 Tebay Bridge. M6 Junctions 38 and
                                37 at marker post M6/431/9
                            </p>
                            <hr>
                        </div>
                        <div>
                            <p class="text-highlight"> After 60 m</p>
                            <p class="pb-3">GridRef:349643, 464256</p>
                            <p>
                                <span class="text-highlight"> Caution: </span>Vehicle is to travel in Lane 2 only
                                when travelling over M6 Caton Road bridge. M6 Junction 34,
                                marker post M6/387/4.
                            </p>
                            <hr>
                        </div>
                        <div class="wd8">
                            <div>
                                <p class="text-highlight"> After 20 m</p>
                                <p class="pb-3">GridRef:349643, 464256</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="wd8 pl-3 text-normal">
                    </div>
                    <div class="wd8">
                        <div>
                            <!-- <p class="text-highlight"> After 20 m</p>
                                <p class="pb-3">GridRef:349643, 464256</p> -->
                            <p>
                                <span class="text-highlight"> Caution: </span>Vehicle is to travel in Lane 2 only
                                when travelling over M6 Caton Road bridge. M6 Junction 34,
                                marker post M6/387/4.
                            </p>
                            <hr>
                        </div>
                        <div>
                            <p class="text-highlight"> After 30 m</p>
                            <p class="pb-3">GridRef:361305, 504521</p>
                            <p>
                                <span class="text-highlight"> Caution: </span>: Vehicle is to travel in Lane 2 only
                                when travelling over M6 Caton Road bridge. M6 Junction 34,
                                marker post M6/387/4.
                            </p>
                            <hr>
                        </div>
                        <div>
                            <p>
                                Work is due to start on or shortly after the 28th June
                                2020 for approximately two weeks. Closures will be
                                in place for 24 hours for 3 weeks with daytime lane 1
                                closures and narrowed lanes (width restriction), overnight the closure will be
                                extended to lane 2 allowing
                                traffic through in lane 3 only. All overnight work will be
                                undertaken between 8pm and 6am, subject to traffic
                                flows.Two full closures are planned from Junction 42
                                to 41 Southbound on 28th June 2020 and 12th July
                                2020, closures will be implemented overnight between
                                8pm and 6am.For safety purposes, overnight lane
                                closures will be in place during the dates and times
                                stated above and access for road users will be maintained.<br>
                                C1-10007561-P1
                            </p>
                            <hr>
                        </div>
                        <div>
                            <p class="pb-1"> <span class="text-highlight"> CAUTION: </span> After 20.9 km</p>
                            <p class="pb-3">
                                C1-10007561-P1 M6 North of
                                Southwaite Services Southbound Re-surfacing
                            </p>
                            <p class="pb-3">GridRef: 346154, 541457</p>
                            <p>
                                Vehicle is to straddle lanes 1 and 2 when travelling
                                through Tebay gorge between Tebay Service area
                                (approx. MP 434/4) and split-level carriageway (approx.
                                MP 428/3). C1-10006340-P1
                            </p>
                            <hr>
                        </div>
                        <div>
                            <p class="pb-1"> <span class="text-highlight"> CAUTION: </span> After 59.4 km</p>
                            <p class="pb-3">
                                C1-10006340-P1 Vehicle is to straddle lanes 1 and 2
                                when travelling through Tebay gorge
                            </p>
                            <p class="pb-3">GridRef: 360111, 506962</p>
                            <p>
                                Vehicle must straddle lanes 1 and 2 going over M6
                                Castle Howe Bridge. The haulier is advised to check
                                Traffic England website www.trafficengland.co.uk inthe
                                24 hours.
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="wd3 pb-3">
                <div class="text-title">METROPOLITAN POLICE </div>
                <p>
                    The Loads must be Self Escorted and movement must take place between 7pm and 7am.
                    The load must have Police in attendance when the reversing manoeuvre takes please on
                    Fordmill Road in order for a road closure to be put in to facilitate the movement safely.
                    The Metropolitan Police requires +15 working days notice in order to assist with this, haulier
                    to
                    contact direct when required.
                </p>
            </div>
            <div class="wd3 pb-3">
                <div class="text-title">NATIONAL HIGHWAYS AREA 5</div>
                <p class="pb-2">
                    A confirmed movement date/time will be required to reserve the road space. When
                    consultations take place with the various Police forces & escort agencies etc regarding
                    planned movement commencement date/time the haulier must involve the Area 5 team so that
                    planned Road Works can be considered and accommodated around the movement date. It
                    should be noted that all stand down costs or additional costs incurred by any Contractors will
                    have to be reimbursed by the Haulier.
                </p>
                <p class="pb-2">
                    Under STGO legislation it is the Hauliers responsibility to survey the route to
                    ensure its
                    complete suitability for the actual submitted vehicle.
                </p>
                <p class="text-highlight"> Cautions to be noted:</p>
                <p>
                    The load must use off/on slip roads at M25 Junction 30, Mar Dyke, to avoid weak structure.
                    QEII Bridge - Only one vehicle to be allowed on North Viaduct, south viaduct or main span at
                    a time. Vehicle to travel either straddling lanes 1-2, 2-3, or 3-4. Following the centre line
                    between the two lanes. A traffic free zone to be maintained for 25 metres in front and behind
                    the vehicle for the lanes in which it is travelling. The remaining two lanes may be occupied by
                    normal traffic. All bridge cable stays to be in place and taking load.
                </p>
            </div>
            <div class="wd3 pb-2">
                <div class="text-title">NETWORK RAIL LC AND RAIL OVER ROAD</div>
                <p class="pb-1">
                    Network Rail have no objections to the proposed route with respect to Network Rail
                    owned
                    Rail over Road bridges or Level Crossings. However, please note Network Rail only checks
                    the load carrying capacity of Road over Rail bridges, and do not check anything else including:
                </p>
                <ul>
                    <li class="pl-3">Load carrying capacity of level crossings</li>
                    <li class="pl-3"> Clearance to overhead wires at level crossing</li>
                    <li class="pl-3">Clearance to bridge parapets</li>
                    <li class="pl-3">Clearance under a rail bridge</li>
                </ul>
            </div>
            <div class="wd3 pb-2">
                <div class="text-title">MOTORWAY CAUTIONS</div>
                <ol type="a">
                    <li>
                        (a) When travelling on the motorway, vehicles must not travel on the hard shoulder or in the
                    </li>
                    <li>right hand lane</li>
                    <li>Page 29 of 30</li>
                    <li>(b) When crossing motorway bridges, vehicles must travel in the left hand lane, unless</li>
                    <li>otherwise stated in specific route cautions</li>
                    <li>
                        (c) If over 4.877 m in height, height of load must be reduced to a minimum when travelling
                    </li>
                    <li>under motorway bridges</li>
                    <li>
                        (d) If under but near 4.877 m in height, extreme caution must be exercised when travelling
                    </li>
                    <li>under motorway bridges.</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- end of main-content -->
    <!-- bootstrap css for vertical menu -->
    <script src="~/Scripts/Common/bootstrap-5.0.0-beta2.bundle.min.js?V@(Session["ProjectVersion"])"></script>
</body>

<script src="~/Scripts/CspJs/Document/AgreedRouteV.js?V@(Session["ProjectVersion"])"></script>
