@{
    Layout = null;
}
@model STP.Domain.SecurityAndUsers.ChangePasswordInfo
@{
    bool firstLogin = false;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        if (sessionValues.LastLogin == DateTime.MinValue)
        {
            firstLogin = true;
        }
    }

    int? needTerms = ViewBag.NeededTerms;
    int? ShowonlyNeedTerms = ViewBag.ShowonlyNeedTerms;
    int? varTandConlyAndPass = ViewBag.varTandConlyAndPass;

    bool isAdmin = false;
    int portalType = 0;
    string SecurityQuestion=null;
    int iSecurityQuestion = 0;
    string SecurityAnswer = null;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
        SecurityQuestion = user.SecurityQuestion;
        SecurityAnswer = user.SecurityAnswer;
        if (SecurityQuestion == "MAIDEN NAME OF MOTHER")
        {
            iSecurityQuestion = 1;
        }
        else if (SecurityQuestion == "FIRST SCHOOL ATTENDED")
        {
            iSecurityQuestion = 2;
        }
        else if (SecurityQuestion == "PLACE OF BIRTH")
        {
            iSecurityQuestion = 3;
        }
    }
}
@Html.Hidden("NeedTerms", needTerms)
@Html.Hidden("FirstLogin", firstLogin)
@Html.Hidden("ShowonlyNeedTerms", ShowonlyNeedTerms)
@Html.Hidden("varTandConlyAndPass", varTandConlyAndPass)
@Html.Hidden("SecurityQuestion", SecurityQuestion)
<script src="~/Scripts/jquery.validate.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js?V@(Session["ProjectVersion"])"></script>
<style>
    .field-validation-error {
        color: #e80c4d;
        font-size: 12px;
        font-family: lato_medium !important;
    }
   
</style>

<div class="modal fade" role="dialog" id="FirstTimeLoginPopup" aria-labelledby="exampleModalCenterTitle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="width: inherit;height: auto;">
            <div class="modal-header pt-2" style="justify-content: end;">
                @*<span aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close" id="span-close">&times;</span>*@
            </div>
            <div class="modal-body pt-0">
                <div class="row mb-1 pb-3">
                    <span class="text-normal pr-2 text-align-center"
                          style="font-family: lato_light; font-size: 25px; display: none" id="dyntitle">
                        CHANGE PASSWORD
                    </span>
                </div>
                <div class="row pb-3 pl-4 pr-4">
                    <div id="form_FTChangePassword" style="display:none">
                        @*@if (ShowonlyNeedTerms != 1 || varTandConlyAndPass == 1)
                        {*@
                            @using (Html.BeginForm("ChangePassword", "Account"))
                            {
                                <div class="form">
                                    @Html.ValidationSummary(true)
                                    @Html.Hidden("SecurityQuestionList")
                                    @Html.HiddenFor(model => model.AcceptedTerms, new { @id = "hdn_AcceptedTerms" })
                                    @Html.HiddenFor(model => model.AcceptedTermId, new { @id = "AcceptedTermId" })
                                    @Html.HiddenFor(model => model.RequiredTerm, new { @id = "RequiredTerm" })

                                    <div class="row mb-4">
                                        <div class="col-sm-4 col-md-4 col-lg-4 pr-0 pl-11 text-align-left">
                                            <label class="text-normal">Old Password * </label>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                            @Html.PasswordFor(model => model.OldPassword, new { @maxlength = "12", @id = "OldPassword"})
                                            <span class="p-viewer">
                                                <img id="Img_Hide" class="displayBlock show-password" data-number="1" src="~/Content/assets/images/password-eye.jpg" width="20"  />
                                                <img id="Img_show" class="displayNone show-password" data-number="1" src="~/Content/assets/images/password-eye2.jpg" width="20"  />
                                            </span>
                                            @Html.ValidationMessage("OldPassword", new { @class = "text-align-left" })
                                            <span id="errorOldPassword" class="field-validation-error"  style="display:block"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-4 col-md-4 col-lg-4 pr-0 pl-11 text-align-left">
                                            <label class="text-normal">New Password * </label>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                            @Html.PasswordFor(model => model.NewPassword, new { @maxlength = "12", @id = "NewPassword"})
                                            <span class="p-viewer">
                                                <img id="Img_Hide1" class="displayBlock show-password" data-number="2" src="~/Content/assets/images/password-eye.jpg" width="20" />
                                                <img id="Img_show1" class="displayNone show-password" data-number="2" src="~/Content/assets/images/password-eye2.jpg" width="20" />
                                            </span>
                                            @Html.ValidationMessage("NewPassword", new { @class = "text-align-left" })
                                            <span id="errorNewPassword" class="field-validation-error" style="display:block"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-4 col-md-4 col-lg-4 pr-0 pl-11 text-align-left">
                                            <label class="text-normal">Confirm Password * </label>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @maxlength = "12", @id = "ConfirmPassword" })
                                            <span class="p-viewer">
                                                <img id="Img_Hide2" class="displayBlock show-password" data-number="3" src="~/Content/assets/images/password-eye.jpg" width="20" />
                                                <img id="Img_show2" class="displayNone show-password" data-number="3" src="~/Content/assets/images/password-eye2.jpg" width="20" />
                                            </span>
                                            @Html.ValidationMessage("ConfirmPassword")
                                        </div>
                                    </div>
                                    @if((firstLogin) || (ShowonlyNeedTerms == 1 || varTandConlyAndPass == 1))//Convert.ToString(Session["PasswordUpdateFlag"]) != "1")
                                    {
                                        if (SecurityQuestion == null || SecurityQuestion == "")
                                        {
                                        <div class="row mb-4">
                                            <div class="col-sm-4 col-md-4 col-lg-4 pr-0 pl-11 text-align-left">
                                                <label class="text-normal">Security Question * </label>
</div>
                                            <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                                @Html.DropDownListFor(model => model.SecurityQuestion, ViewBag.SecurityQuestionList as SelectList, "Select", new { @id = "securityQue", @class = "form-select pt-3 pb-3", @style = "width:100% !important" })
                                                <span id="validationQue" class="field-validation-error">Please select question.</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-4 col-md-4 col-lg-4 pr-0 pl-11 text-align-left">
                                                <label class="text-normal">Security Answer * </label>
</div>
                                            <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                                @Html.TextBoxFor(model => model.SecurityAnswer,SecurityAnswer, new { @minlength = "2", @maxlength = "50", @autocomplete = "off", @id = "securityAns", @contentEditable = "true" })
                                                <span id="validationAns" class="field-validation-error">Please enter an answer between 2 to 50 characters.</span>
                                            </div>
                                        </div>
                                        }
                                    }

                                </div> 
                                <div class="row ah1 mt-4 pt-5 mb-2 mr-r2">
                                    <button class="btn btn-primary btn-normal btn-layout mr-r1 mb-2" role="button" aria-pressed="true" type="submit" id="savechanges">
                                        ACCEPT
                                    </button>
                                    <button class="btn outline-btn-primary btn-normal btn-layout mr-r1 mb-2 btn-close-popup" type="button"
                                            aria-pressed="true" id="btn_PasswordDecline">
                                        DECLINE
                                    </button>



                                </div>
                            }

                        @*}*@
                    </div>
                    <div id="divTerms" style="display:none">
                        <div id="TermConditions">

                        </div>

                    </div>
                    <div id="divCookies" style="display:none">
                        <div id="CookiesDetail">

                        </div>

                    </div>

                </div>
            </div>
            <div class="row ah1 mt-4 pt-5 mb-2 mr-r2">
                <button class="btn btn-primary btn-normal btn-layout mr-r1 mb-2 btn-accept-terms-cp" type="button" aria-pressed="true" id="divTermsButtons" style="display:none">
                    ACCEPT
                </button>




                <button class="btn btn-primary btn-normal btn-layout mr-r1 mb-2 btn-accept-cookies-cp" type="button" aria-pressed="true" id="divCookiesButtons" style="display:none">
                    ACCEPT
                </button>
                <button class="btn outline-btn-primary btn-normal btn-layout mr-r1 mb-2 btn-close-popup" type="button"
                        aria-pressed="true" id="btn_Decline" style="display:none">
                    DECLINE
                </button>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Account/ChangePassword.js?V@(System.Configuration.ConfigurationManager.AppSettings["projectVersion"])"></script>

