 
 
<div class="ml-l2 mr-r2" style="text-align:left;width: fit-content;">
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">1. Using <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink fs-size-18" target="_blank" style="font-weight:800">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a></p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            Esdal means the Electronic Service Delivery for Abnormal Loads providing a notification and route
            planning system to assist in the management of Abnormal Indivisible Loads. All correspondence other
            than through the on-line feedback service should be directed to the Abnormal Loads Team, National Highways
            , 9th Floor, The Cube, 199 Wharfside Street, Birmingham B1 1RN.
            Website means the website at <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink" target="_blank">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a>, operated by National Highways. You agree to use
            this site only for lawful purposes, and in a manner that does not infringe the rights of or restrict
            or inhibit the use of this site by any third party.
            By using this website, you indicate that you accept these terms of use and that you agree to abide by
            them. If you do not agree to these terms of use, please refrain from using this site.
        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
            2. Changes to the website and these
            terms
        </p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            While every effort is made to keep the Website up to date, we don’t provide any guarantees, conditions
            or warranties as to the accuracy of the information on the site.
            We do not accept liability for loss or damage incurred by users of the Website, whether direct,
            indirect or consequential, whether caused by tort, breach of contract or otherwise, in connection with
            our site, the inability to use, or results of the use of the site, any websites linked to it and any
            materials posted on it. This includes loss of: income or revenue, business, profits or contracts,
            anticipated savings, data, goodwill or tangible property.
            This does not affect our liability for death or personal injury arising from our negligence, nor our
            liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any
            other liability which cannot be excluded or limited under applicable law.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
            3. Warranty and liabilities
        </p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
         While every effort is made to keep the Website up to date, we don’t provide any guarantees, conditions or warranties as to the accuracy of the information on the site.
         We do not accept liability for loss or damage incurred by users of the Website, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise, in connection with our site, the inability to use, or results of the use of the site, any websites linked to it and any materials posted on it. This includes loss of: income or revenue, business, profits or contracts, anticipated savings, data, goodwill or tangible property.
         This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.
        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">4. Copyright</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            Notwithstanding Clause 5 below, all text, data, charts, tables, software, video, music, sound,
            graphics, photographs, illustrations, artwork, names, logos, and all other material of whatever nature
            contained on the Website and all copyright which may subsist in this Website (together, the Content)
            belongs to and shall remain at all times the property of National Highways or licensed source. You may
            retrieve and display Content from the Website on an electronic visual display device, print individual
            pages on paper (but not photocopy them) and store such information in electronic form on disk (but not
            on any server or other storage device connected to the network) solely for the purposes of planning
            and managing the movement of abnormal loads. You agree not to adapt, alter or create a derivative work
            from any of the Content on the Website or to use it for any purpose whatsoever other than for the
            intended use or as otherwise expressly permitted by these terms.
            Certain files are available for download from this website. These files are also subject to these
            terms.
            By accessing and using this Website you confirm that you agree to keep any information provided to you
            as management information as confidential and only to use it for purposes directly related to abnormal
            load movement. You also agree not to publish such information.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">5. Crown copyright</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">

            Crown copyright information featured on the National Highways website (other than departmental or
            agency logos) may be used and re-used free of charge under the terms and conditions of the Open
            Government Licence (OGL) www.nationalarchives.gov.uk/doc/open-government-licence/version/3/. Where
            Crown copyright information is being republished or copied to others, the source of the material must
            be identified and the copyright status acknowledged.
            A maximum of ten (10) copies may be made of the results of a map or route search for your own personal
            use, or for the purposes of planning and managing the movement of an abnormal load.
            The permission to use contained in this clause does not extend to anything on this site which is not
            identified as being Crown copyright or as being the copyright of a third party. Authorisation to
            reproduce such material must be obtained from the copyright holders concerned.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
            6. Other intellectual property rights
        </p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            The trade marks, service marks and logos used and displayed on this Website (trade marks) are the
            property of National Highways or a third party. Nothing on this Website should be construed as
            granting, by implication or otherwise, any licence or right to use any Trade Mark, service mark or
            logo without written permission from National Highways or the third party owner. The name of National
            Highways or the third party owner may not be used in any way, including in advertising or publicity
            pertaining to distribution of Content without the prior written permission of National Highways or
            third party owner as appropriate
        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">7. Data coverage and disclosure</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            Esdal uses data supplied from many sources. Whilst every reasonable effort is made to ensure that
            data coverage is sufficient to provide the Esdal service, National Highways cannot guarantee that data
            will cover all areas of the highways network. Data supplied by you for the purposes of Esdal will not
            be disclosed to other parties other than for the purposes of Esdal. Where data about structures is
            made available, this will only be disclosed to the extent that the data is already in the public
            domain or published elsewhere.
        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
            8. Unlawful use
        </p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            You must not misuse this site by knowingly introducing viruses, trojans, worms, logic bombs or other
            material which is malicious or technologically harmful. You must not attempt to gain unauthorised
            access to this site, the server on which the site is stored or any server, computer or database
            connected to the site. You must not attack the site via a denial of service attack or a distributed
            denial of service attack.
            By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990.
            We will report any such breach to the relevant law enforcement authorities and will co-operate with
            those authorities by disclosing your identity to them.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
            9. Security, username and password
        </p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">

            You will be issued with a username and an initial password on completion of registration to the site.
            You will be required to change your password to a password of your choosing when you first login to
            the Website. You are responsible for all actions taken under your Username and password and shall only
            use or utilise the Website using your own Username and password. You must make every effort to keep
            your password safe and should not disclose it to any other person, including persons within your own
            organisation. You should inform the Esdal Helpdesk immediately if you have any reason to believe that
            your password has become known to anyone else, or if the password is being, or is likely to be, used
            in an unauthorised manner. You shall not transfer your Username to any other person. You shall also
            not permit, either directly or indirectly, any other person to utilise your Username or password,
            including persons within your own organisation.
        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">10. Jurisdiction</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            These terms shall be governed by and construed in accordance with the laws of England and Wales. Any
            dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the
            courts of England and Wales.
        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">11. General</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason,
            the remaining terms and conditions shall nevertheless continue in full force.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">12. Events beyond our control</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            National Highways accepts no liability for any failure to comply with these terms and conditions where such failure is due to circumstances beyond our reasonable control.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">13. Linking to and from <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink fs-size-18" target="_blank">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a></p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            We welcome and encourage other websites to link to the information that is hosted on the public pages of this website and you do not have to ask permission to link to it.
            However we do not give permission to suggest that your website is associated with or endorsed by Esdal or National Highways.
            Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.


        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">14. Privacy policy</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            National Highways have fully committed to adherence of the General Data Protection Regulations (GDPR) following implementation on the 25th May 2018. In relation to our collection and processing of personal data, please see the below information.


            <h6><i style="float:left;text-decoration:underline;color: #414193;">Section 1 – Collection of Data</i></h6><br />
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            1)	National Highways will be the data controller and the contact details for the company are:<br />
            <span style="padding-left: 1.8em">a)	Data Protection Officer: Graham Woodhouse</span><br />
            <span style="padding-left: 1.8em">b)	Email: <a class="text-decoration-link" href='mailto:DataProtectionAdvice@nationalhighways.co.uk'>DataProtectionAdvice@nationalhighways.co.uk</a> </span>  <br /><br />

            2)	The data is being collected for: The ESDAL (Electronic Service Delivery for Abnormal Loads) Service<br /> <br />
            3)	The data processor, working on behalf of National Highways in relation to this will be:<br /><br />
            ARS T & TT<br /><br />
            4)	Collected data will be stored within secure electronic records management systems, with the system being dependant on the nature of information. The systems used by National Highways are: ESDAL<br /><br />
            5)	Information stored by third parties will be held on the following systems: Oracle in UK
        </p>
        <h6><i style="float:left;text-decoration:underline;color: #414193;">Section 2 – Processing of data </i></h6>  <br />
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            In addition to the information referred to in section 1, at the point of collection we will, at the time when personal data are obtained, provide you with the following further information necessary to ensure fair and transparent processing:

            1)	The personal data will be stored until the user asks to be removed from the system or we are informed they are no longer employed by the company which their data is held under.  <br /> <br />
            2)	Under GDPR you have rights to request information from the company <br /> <br />
            <span style="padding-left: 1.8em">•	Right of access to the data (Subject Access Request)</span><br />
            <span style="padding-left: 1.8em">•	Right for the rectification of errors</span><br />
            <span style="padding-left: 1.8em">•	Right to erasure of personal data – not an absolute right</span><br />
            <span style="padding-left: 1.8em">•	Right to restrict of processing or to object to processing</span><br />
            <span style="padding-left: 1.8em">•	the right to data portability;</span><br /><br />
            3)	As this processing is based on receiving the consent of the data subject then we have an obligation to inform the data subject that they have the right to withdraw their consent at any time, without affecting the lawfulness of processing based on consent before its withdrawal.<br /><br />
            4)	You have the right to lodge a complaint with a supervisory authority (in the UK that is the Information Commissioners Office). <br /><br />
            5)	The provision of this personal data is a contractual requirement and you are obliged to provide this information for this requirement to be fulfilled. <br /><br />
            6)	If we are to process the personal data we hold for a purpose other than that for which it was originally collected then we will provide the you with information on what that other purpose is prior to that further processing taking place.  The extra information will include any relevant further information as referred to above including the right to object to that further processing.
        </p>
        </p>

    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">15. Haulier portal terms</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation or business to submit notifications and indemnities on behalf of your organisation or business.
            Your personal data and organisational data may be used to communicate abnormal load notifications as a legal requirement in accordance with Section 44 of the Road Traffic Act.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">16. Police portal terms</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation to accept or reject on behalf of your organisation or business proposed special order routes submitted to you.
            Your personal data and organisational data may be used to communicate abnormal load notifications as a legal requirement in accordance with Section 44 of the Road Traffic Act.

        </p>
    </div>
    <div>
        <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">17. Structure owner portal terms</p>
        <p class="edit-normal text-left pl-4 pr-4 pt-0">
            By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation to accept or reject on behalf of your organisation or business proposed special order routes submitted to you.
            Data - By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation to modify, add or delete data related to those structures you own or manage on behalf of your organisation.
            Your personal data and organisational data may be used to communicate abnormal load notifications as a legal requirement in accordance with Section 44 of the Road Traffic Act.

        </p>
    </div>
</div>
 
