@using System.Web.Optimization
@using STP.Domain
@using PagedList.Mvc
@using STP.Common.Constants

@{
    int Month = Convert.ToInt32(ViewBag.Month);
    int Year = Convert.ToInt32(ViewBag.Year);

    string MonthName = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month);

    @Html.Hidden("hdnMonth", Month)
    @Html.Hidden("hdnYear", Year)
}
<div class="main-sort-content" id="structure_History_Pagination" style="background-color: white; ">
   
    <div id="div_session_length_list">
        <div id="div_tbl_grid" runat="server">
            <div class="pl-6 pr-3">
                <div class="row pt-4">
                    <div class="cardSOA1 mt-0 ml-1 mb-4">
                        <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.IndustryLiaisonReport @MonthName -  @Year</h6>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="cardSOA1 mt-0 ml-1 mb-4">
                        <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.Haulier </h6>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofRegEnabledHauAcc
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofRegEnabledHauAcc)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofRegHauOrg
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofRegHaulierOrganisation)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofHauSession
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofHaulierSession)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofPlannedRoute
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofPlanRouteSO)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofPlannedRouteVr1
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofPlanRouteVR1)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofPlannedRouteNotification
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofPlanRouteNotification)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="cardSOA1 mt-0 ml-1 mb-4">
                        <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.PoliceALO </h6>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofRegEnabledPoliceAcc
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofRegEnabledPoliceAcc)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofRegPoliceOrg
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofRegPoliceOrg)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoPolicePrefInboxOnly
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoPolicePrefInboxOnly)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofPoliceSession
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofPoliceSession)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="cardSOA1 mt-0 ml-1 mb-4">
                        <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.SOA </h6>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofRegSOAAcc
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofRegSOAAcc)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofRegSOAOrg
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofRegSOAOrg)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoSOAPrefInboxOnly
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoSOAPrefInboxOnly)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.NoofSOASession
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoofSOASession)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="cardSOA1 mt-0 ml-1 mb-4">
                        <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.Movement</h6>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.SoAppSubmited
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOAppSubEnterByHau
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOAppSubEnterByHauForSO)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOAppSubEnterByHauForVR1
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOAppSubEnterByHauForVR1)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOAppSubEnterBySort
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOAppSubEnterBySortForSO)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOAppSubEnterBySortForVR1
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOAppSubEnterBySortForVR1)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.SoAppProcessed
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOProcssedAgreed
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOProcssedAgreed)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOProcssedDeclinedWithdrawn
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOProcssedDeclined)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SOProcssedWithdrawn
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SOProcssedWithdrawn)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.NoPropoAgreedSentSORT
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.NoPropoAgreedSentEmail
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoPropoAgreedSentEmail)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.NoPropoAgreedSentInbox
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.NoPropoAgreedSentInbox)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.TotalNumberOfNotification
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.SpecialOrders
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.SpecialOrders)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.AllSTGONotified
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.STGOCategory1
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.STGOCategory1)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.STGOCategory2
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.STGOCategory2)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.STGOCategory3
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.STGOCategory3)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.MobileCraneCategoryA
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.MobileCraneCategoryA1)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.MobileCraneCategoryB
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.MobileCraneCategoryA2)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.MobileCraneCategoryC
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.MobileCraneCategoryA3)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.STGOOtherDetails
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.STGOOtherDetails)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.CAndUNotification
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.CAndUNotification)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.OtherNotification
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.OtherNotification)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.NotificationReplies
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.TotalNumberOfSOANotification (so display @Model.TotalNumberOfSOANotificationToShow of @Model.TotalNumberOfSOANotificationToDisplay)
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.TotalNumberOfPoliceNotification (so display @Model.TotalNumberOfPoliceNotificationToShow of @Model.TotalNumberOfPoliceNotificationToDisplay)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.NumberOfOpenNotification
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.TotalNumberOfSOANotification (so display @Model.TotalNumberOfSOANotificationOpenToShow of @Model.TotalNumberOfSOANotificationOpenToDisplay)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Resource.TotalNumberOfPoliceNotification (so display @Model.TotalNumberOfPoliceNotificationOpenToShow of @Model.TotalNumberOfPoliceNotificationOpenToDisplay)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-11 col-lg-9 text-normal">
                        @Resources.Resource.NumberOfNotifiationAndReNotification
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.EmailNotification
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.EmailNotification)
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-8 col-md-8 col-lg-8 text-normal">
                        @Resources.Resource.InBoxNotification
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @((int)Model.InBoxNotification)
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="flexer justify-content-center">
                    <button id="btnExport" class="btn outline-btn-primary SOAButtonHelper ml2">@Resources.Resource.Export</button>
                </div>
            </div>
        </div>
    </div>
</div>


