@using System.Web.Optimization
@using STP.Domain
@using PagedList.Mvc
@using STP.Common.Constants
@model PagedList.IPagedList<STP.Domain.LoggingAndReporting.SessionLengthModel>

@{
    int pageNum = 10;
    int pageSize = 0;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    if (ViewBag.page != null)
    {
        pageNum = ViewBag.page;
    }

    int Month = Convert.ToInt32(ViewBag.Month);
    int Year = Convert.ToInt32(ViewBag.Year);
    int UserTypeId = Convert.ToInt32(ViewBag.UserTypeId);
    string UserType = ViewBag.UserType;

    @Html.Hidden("pageSizeVal", pageSize)
    @Html.Hidden("pageNum", pageNum)
    @Html.Hidden("hdnMonth", Month)
    @Html.Hidden("hdnYear", Year)
    @Html.Hidden("hdnUserTypeId", UserTypeId)
    @Html.Hidden("hdnUserType", UserType)
}
@Html.Hidden("TotalPages", Model.PageCount)


<div class="" id="structure_History_Pagination">
    <div class="" id="div_session_length_list">
        <div id="div_tbl_grid" runat="server" class="main-table">
            <table>
                <tr>
                    <th class="first-column-padding">@Resources.Resource.Organisation</th>
                    <th>@Resources.Resource.TotalSessionInMonth</th>
                    <th>@Resources.Resource.NoofSessionInPeakDay</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-color1">@item.Organisation</td>
                        <td class="text-color1">@((int)item.TotalSessionInMonth)</td>
                        <td class="text-color1">@((int)item.NoofSessionInPeakDay)</td>
                    </tr>
                }
            </table>
            <br />
            @if (ViewBag.TotalCount > 0)
            {
                <div class="bottom-pagination">
                    <div class="pagination">
                        <div id="periodicsessionlengthpaginator" class="table-pagination">
                            @{
                                if (Model.PageCount > 1)
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("PeriodicSessionLengthDetails",
                                     new
                                     {
                                         B7vy6imTleYsMr6Nlv7VQ =
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page +
                                                                                "&pageSize=" + pageSize +
                                                                                "&month=" + ViewBag.Month +
                                                                                "&year=" + ViewBag.Year +
                                                                                "&userTypeId=" + UserTypeId +
                                                                                "&userType=" + UserType)
                                     }
                                     ),
                                     new PagedListRenderOptions
                                     {
                                         DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                         DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                         LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                         LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                         DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                         DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                         MaximumPageNumbersToDisplay = 3,
                                         DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                         EllipsesFormat = "...",
                                         LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                         LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                     })
                                }
                            }

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="redcolor aligncenter">@Resources.Resource.NoRecordFound</div>
            }

        </div>
        <div id="div_export_list">
            @if (ViewBag.TotalCount > 0)
            {
                <button id="btnExport" type="submit" class="btn outline-btn-primary SOAButtonHelper ml2">@Resources.Resource.Export</button>
            }
            &nbsp;<button type="button" id="BackShowPeriodic" class="btn outline-btn-primary SOAButtonHelper ml2">@Resources.Resource.BtnBack</button>


        </div>
        <br />
    </div>
</div>



<script src="~/Scripts/CspJs/Report\PartialView/_PeriodicSessionLengthDetails.js?V@(Session["ProjectVersion"])"></script>
