@using System.Web.Optimization
@using STP.Domain
@using PagedList.Mvc
@using STP.Common.Constants 
@{

    int Month = Convert.ToInt32(ViewBag.Month);
    int Year = Convert.ToInt32(ViewBag.Year);
    @Html.Hidden("hdnMonth", Month)
    @Html.Hidden("hdnYear", Year)
} 
<div class="" id="structure_History_Pagination">
    <div class="main-table" id="div_session_length_list">
        <div id="div_tbl_grid" runat="server">
            <table>
                <tr>
                    <th class="first-column-padding">@Resources.Resource.UserType</th>
                    <th>@Resources.Resource.TotalSessionInMonth</th>
                    <th>@Resources.Resource.MostSessionOneDay</th>
                    <th>
                        @Resources.Resource.AverageSessionLengthUnit<br />
                        @Resources.Resource.InMinutes
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    if (ViewBag.TotalCount > 0)
                    {
                        <tr>
                            <td class="text-color2 showsession" style="cursor: pointer;" data-usertype="@item.UserType">@item.UserType</td>
                            <td class="text-color1">@((int)item.TotalSessionInMonth)</td>
                            <td class="text-color1">@((int)item.MostSessionInDay) </td>
                            <td class="text-color1">@item.AvgSessionLength</td>
                        </tr>
                       
                    }
                }
            </table>
                @if (ViewBag.TotalCount <= 0)
                {
                    <div class="redcolor aligncenter">@Resources.Resource.NoRecordFound</div>
                } 
        </div>
        <div id="div_export_list">
            @if (ViewBag.TotalCount > 0)
            {
                <button id="btnExport" type="button" class="btn outline-btn-primary SOAButtonHelper ml2" >@Resources.Resource.Export</button>
            }
        </div> 
    </div>
</div>



