
<div class="row mt-4">
    <div class="col-lg-12 col-md-12 col-sm-12" id="route_importlist_cntr">
        <span id="list_heading" class="title"></span>

    </div>

</div>

<style>
    /* th {
        text-align: center;
    }

    .vehicle th:nth-child(1) {
        padding-left: 0px;
    }

    a:not([href]):not([class]), a:not([href]):not([class]):hover {
        color: rgba(92, 92, 92, 1);
    }
    */
    .routes, .movements {
        margin-left: 0%;
        padding-left: 0%;
    }

    /*.vehicle-setting .main-table {
        border-radius: 25px 0px 0px 0px;
    }*/
    .vehicle-setting td {
        text-align: left;
    }

    .vehicle th:nth-child(10) {
        background: white;
    }
</style>

@{
<input type="hidden" value="@ViewBag.ImportFrm" id="hf_ImportFrm" name="hf_ImportFrm" />
<input type="hidden" value="@ViewBag.isApplicationVehicle" id="hf_isApplicationVehicle" name="hf_isApplicationVehicle" />
<input type="hidden" value="@ViewBag.IsFavourite" id="hf_IsFavourite" name="hf_IsFavourite" />
<input type="hidden" value="@ViewBag.IsSort" id="hf_IsSort" name="hf_IsSort" />
<input type="hidden" value="@(ViewBag.BackToMovementPreviousList!=null?ViewBag.BackToMovementPreviousList.ToString():"False")" id="hf_BackToMovementPreviousList" name="hf_BackToMovementPreviousList" />
}

