@using System.Web.Optimization
@model STP.Domain.Routes.RouteModel.RoutePartDetails

@{
    ViewBag.Title = "enterRouteDetail";
    bool isAdmin = false;
    int portalType = 0;
    bool IsNotification = ViewBag.IsNotification != null ? (bool)ViewBag.IsNotification : false;
    bool Isrflag = ViewBag.ReturnRouteExist != null ? (bool)ViewBag.ReturnRouteExist : false;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
}
<!--<div class="form form_component" id="form_component"; style="display:none">
    <div class="modal" tabindex="-1" role="dialog" id="exampleModalCenterRoute1" style="display: block; overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="ViewSaveRoute" style="overflow: unset; padding-bottom: 2rem; height: auto; border-radius: 0.3rem; width: 100%; ">
                <div class="modal-body pt-4">
                    <div class="row ml-0">
                        <div class="col-lg-4 col-md-4 col-sm-4 pl-3 text-normal">
                            Route Name
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 text-align-left">
                            <input class="edit-normal" type="text" name="from" id="Routenameold">
                            <span class="error-message" style="color:red;white-space:pre" id="RN_validatnold"></span>
                            <span class="error-message" style="color:red;white-space:pre" id="RP_validatnold"></span>
                        </div>
                    </div>
                    <div class="row p-1">
                    </div>-->
                    <!----------Save as new ------------------------------------------------------>
                    <!--if (ViewBag.mode == "Edit")
                    {
                        <div class="row ml-0">
                            <div class="col-lg-4 col-md-4 col-sm-4 pl-3 text-normal" id="SaveNewDIV">
                                Save as new
                            </div>
                            <div class="col-lg-1 col-md-12 col-sm-12">
                                <input type="checkbox" id="SaveAsNew">
                            </div>
                        </div>
                    }-->


                    <!-------------------------------------------------------------------->
                <!--</div>

                <div class="card-footer pt-6">
                    <div class="flexer justify-content-center">
                        <div class="button main-button pr-3">
                            <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" id="Back_RtSaveold">
                                BACK
                            </button>
                        </div>
                        <div class="button main-button mr-0 ml-3">
                            <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" id="btn_saveold">
                                SAVE ROUTE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->


<div class="form div-enter-route-detail" style="display:none" >

    <div class="head headgrad" id="plannedhead">
        <div class="dyntitleConfig" style="float: left;">@Resources.Resource.Routedetails</div>
        <span aria-hidden="true" data-icon="&#xe0f3;" id="span-close" class="span-close" ></span>
        <form action="../Generic/HelpBuilder" id="form_html_helpbuilder" method="post" novalidate="novalidate" style="width: auto !important; float: right;" target="_blank">
            @if (isAdmin)
            {
                <span id="span-Edit_help"  title="Create Help"></span>
            }
            <input id="url_html" name="url" type="hidden" value="">
            <input id="flag" name="flag" type="hidden" value="1">
        </form>
        <span id="span-help"  title="Help"></span>
    </div>
    <div class="body" id="plannedbody">
        <div id="tbl_route_details" style="margin-left: 12px">
            <table class="table margintop0px" style="float: left; width: 390px; margin-bottom: 0px !important;">
                <tr>
                    <td class="width130"><span>@Resources.Resource.Routename *</span></td>
                    <td>
                        <input type="text" id="Routename1" tabindex="1" />
                        <br />
                        <span class="error" id="RN_validatn1"></span>
                    </td>
                </tr>
                <tr style="display: none">
                    <td class="width130">@Resources.Resource.RouteDescription</td>
                    <td>   <input type="text" id="routeDescr" tabindex="2" /></td>
                </tr>
            </table>
            <table class="table" style="float: left; width: 390px; margin-top: 0px !important;">
                <tr>
                    <td colspan="2">
                        <div id="pathcounttabs" style="width: 390px; height: 170px;">
                            <ul id="pathnumber"></ul>
                            <div id="ui-tabs-0">
                                <div id="path_details">
                                    <table class="table" style="width: 390px; margin-bottom: 0px; float: left;">
                                        <tr id="pathdescr" style="display: none">
                                            <td class="width130">Path description</td>
                                            <td>@Html.TextBox("pathDescr")  </td>
                                        </tr>
                                        <tr>
                                            <td class="width100"><span>Point type</span></td>
                                            <td>
                                                <select id="Pointtype1" style="width: 120px; height: 25px" class="dropdown">
                                                    <option>Start</option>
                                                    <option>End</option>
                                                </select>
                                            </td>
                                        </tr>
            
                                        <tr>
                                            <td style="vertical-align: top" colspan="2"><span id="GroupboxDetails1" class="groupbox_title">@Resources.Resource.StartPointDetails</span></td>
                                        </tr>
                                        <tr>
                                            <td class="tblbdrtop tblbdrleft tblbdrbottum">Full address </td>
                                            <td class="tblbdrtop tblbdrright tblbdrbottum">
                                                <input type="text" id="startDesc1" tabindex="3" />

                                            </td>

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><span class="error" id="RP_validatnold"></span></td>
                                        </tr>
                                        @if (portalType == 696008)
                                        {
                                            <tr id="tr_SORT_candidate" style="display: none;">
                                                <td class="width100">
                                                    <span>Include dock cautions</span>
                                                </td>
                                                <td>
                                                    <div style="float: right; width: 270px">
                                                        <input type="text" id="chk_dock_caution" />
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="div_save" style="width: 390px; margin-top: -10px; float: left;">
                <table class="table" style="width: 390px; margin-top: 0px !important; margin-bottom: 0px; float: left;">
                    <tr>
                        <td class="width130" style="text-align: right">
                            @* <div id="div_saving" class="search_anim">
                                    <img src="~/Content/Images/Common/gallery-dark-loading.gif">
                                </div>*@
                        </td>
                        @*<td style="width: 110px; text-align: center">          ESDAL4 2022
                            @if (ViewBag.mode == "Edit")
                            {
                                <div style="float: right; width: 110px" id="SaveNewDIV">Save as new  </div>
                                <input type="checkbox" id="SaveAsNew" />
                            }
                        </td>*@
                        <td style="float: right;">
                            <button type="button" id="btn_saveold" class="nextnorightmargin btngrad btnrds btnbdr table_no_margin" aria-hidden="true" data-icon="&#xe0f4; " tabindex="9">Save</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- New Integrated Popup starts here-->
<div class="modal" id="exampleModalCenterRoute" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 40rem;">
        <div class="modal-content" style="width:40rem;height: auto;position: absolute;">
            <div class="modal-header pt-0 justify-content-end">
                <span aria-hidden="true" id="IDCloseRtpop" class="close" aria-label="Close" >&times;</span>
            </div>
            <div class="modal-body pl-6 pr-6 mb-0">
                <div class="text-normal-hyperlink" style="font-size: x-large;">Save route</div>
                <div class="pb-3">
                    <input class="text-decorate pl-3 save-routehead txt-routename-valid" type="text" name="from" placeholder="Route name" id="Routename">
                    <span class="error-message" style="color:red;white-space:pre" id="RN_validatn"></span>

                </div>

                <div class="p-3" style="background-color: #EBEBEB;border: solid 1px #EBEBEB;">
                    <div id="sort-menu-list" class="pt-0" style="overflow:hidden">
                        <div class="row" id="pathnumberTb">

                        </div>
                    </div>
                    <div id="save-pop-up-details" class="pb-4 m-0">
                        <div id="createnew">
                            <div>
                                <div class="row pb-4 pt-3 align-items-center">
                                    <div class="col-lg-4 col-md-4 col-sm-12 text-normal text-align-left pl-5">
                                        Point Type
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <select class="form-select text-normal select1"
                                                style="width:100% !important" id="PontTy">
                                            <option selected="selected">Start</option>
                                            <option>End</option>

                                        </select>
                                    </div>
                                    <span class="error-message" style="color:red;white-space:pre" id="RP_validatn"></span>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 detailEntry pr-4">
                            <div class="text-normal mb-2">
                                <span id="GroupboxDetails">Start point address</span>

                            </div>
                            <div>
                                <input class="details1" type="text" id="startDesc" name="from">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row mt-4" id="divSaveToRouteLibrary" style="display:none;">
                    <div class="col-lg-1">
                        <input type="checkbox" id="chk_saveToRouteLibrary" name="SaveToRouteLibrary" value="false">
                    </div>
                    <div class="col-lg-5 edit-normal" style="text-align: left; margin-top: 0.3rem;"> Save to Route Library </div>
                    @if (IsNotification && !Isrflag)
                    {

                        <div class="col-lg-1">
                            <input type="checkbox" id="chk_addReturnRoute" name="AddReturnRoute" value="false">
                        </div>
                        <div class="col-lg-5 edit-normal" style="text-align: left; margin-top: 0.3rem;"> Add return route </div>

                    }
                </div>



                <!----------Save as new ------------------------------------------------------>

                @if (ViewBag.mode == "Edit")
                {
                    <div class="pl-8 pt-2">
                        <div class="row align-items-center">
                            <div class="col-lg-1 col-md-1 col-sm-12">
                                <input type="checkbox" class="checkbox" name="bulldozer"
                                       value="bulldozer" width="20" id="SaveAsNew">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 text-normal" id="SaveNewDIV">
                                Save as new
                            </div>
                        </div>
                    </div>
                }
                @if (portalType == 696008)
                {
                    <div class="pl-8 pt-3">
                    <div class="row align-items-center">
                    <div class="col-lg-1 col-md-1 col-sm-12">
                        <input type="checkbox"  class="checkbox" 
                                       value="bulldozer" width="20" id="chkdockcaution" name="chk_dock_caution" >
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-normal" id="chk_dockcaution">
                        Include dock cautions
                    </div>
                    </div>
                    </div>


                }
                <!-------------------------------------------------------------------->

            </div>
            <div class="flexer text-align-center pt-4 pb-4" style="margin-left: auto;margin-right: auto;">
                <div class="button main-button mr-2">
                    <button class="btn btn-outline-primary btn-normal pl-8 pr-8" role="button"
                            aria-pressed="true" id="btn_save">
                        SAVE
                    </button>
                </div>
                <div class="button  main-button mr-0">
                    <button class="btn btn-outline-primary btn-normal pl-7 pr-7" role="button"
                            aria-pressed="true" id="Back_RtSave">
                        CANCEL
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------Ends Here---------------------------------------------------------------------------------------------------------------->
<div id="contactpopup"></div>
@{
    @Html.Hidden("HFrouteID", "0")
}
<style>
    /*#contactpopup{display:block; float:left; width:100%;}*/


    input {
        /*padding-right:30px;*/ /* button padding */
    }
</style>
@*<script src="~/Scripts/SOApplication/jQuery.SOApplication.js?V@(Session["ProjectVersion"])"></script>*@
@*@System.Web.Optimization.Scripts.Render("~/bundles/enterRouteDetails")*@

@{
<input type="hidden" value="@ViewBag.RouteFLag" id="hf_RouteFLag" name="hf_RouteFLag" />
    @Html.Hidden("hf_UDockCaution", Session["UDockCaution"])
    @Html.Hidden("hf_UFlag", Session["UFlag"])
    @Html.Hidden("hf_URouteName", Session["URouteName"])
    @Html.Hidden("hf_URouteID", Session["URouteID"])
    @Html.Hidden("hf_RouteFlagSession", Session["RouteFLag"])
}
@*<script src="~/Scripts/Routes/enterRouteDetail.js?V@(Session["ProjectVersion"])"></script>*@
