@{
    ViewBag.Title = "LibraryRoutePartDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var RouteList = (List<STP.Domain.Routes.AppRouteList>)ViewBag.routeList;
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.ROUTES;
}
@{var flag = ViewBag.flag;}
<style>
    From_location
    .error-default {
        color: red;
        -webkit-tap-highlight-color: red;
        background: #fdedec;
    }

    .dropdown-item.active, .dropdown-item:active,
    .dropdown-item:focus, .dropdown-item:hover {
        color: #fff;
        text-decoration: none;
        background-color: #e9eef4;
    }

    #route .modal.show .modal-dialog { /*style added for resolving HE-2329*/
        margin-top: 4rem !important;
        margin-left: auto !important;
    }

    .txtStyle {
        color: #7d7d83 !important;
    }

    .nenfulls {
        background-color: white;
        width: 1357px;
        margin-left: -39px;
        margin-top: -27px;
    }

    .bannercfulls {
        margin-top: -33px !important;
        padding: 0 !important;
    }

    .bannerfulls {
        margin: 0 !important;
        padding: 0 !important;
    }

    .bannerfullss {
        margin: -34px 0 !important;
    }

    .mapsize {
        height: 100vh !important;
    }

    .banner1 {
        margin-top: -16px !important;
        padding: 0 !important;
    }

    .bannerNotif {
        margin-top: -35px !important;
        margin-left: -96px !important;
        margin-right: -17px !important;
    }

    .veh {
        background-color: white !important;
        margin: 0% 0% 0% 0% !important;
        padding-left: 0% !important;
    }
</style>
@if(flag == "true")
{
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="flexer back-btn-outline" style="justify-content:right" id="backbuttondiv">
        <button id="btnbackroute" class="btn btn-outline-primary btn-normal " style="background:white;width: 10%;" ; role="button" aria-pressed="true">
            BACK
        </button>
    </div>
</div>
}
@*<link href="~/Content/Style/Common/map.css" rel="stylesheet" />*@
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />
<div id="CreateRoute">
    <div id="sort-inner-map" class="inner-map-sort-tab">
        <div></div>
        @{ if (ViewBag.plannedRouteName != null)
            {

                <h3 class="route-head" id="RoteHeading">@ViewBag.plannedRouteName</h3>

            }
            else
            {
                <h3 class="route-head" id="RoteHeading">&nbsp;</h3>
            }}
        @*<h3 class="route-head" id="RoteHeading">@ViewBag.plannedRouteName</h3>*@
        <div style="text-align:left; display:none;" id="Notificationwarndiv">
            <span class="text-normal-bold" style="color:black"> Please note: To view only the unsuitable affected structures and constraints on the map you must choose the route from the Route Assessment page</span>
        </div>
        <body style="overflow-y: auto;" id="route">

            <!--main content -->
            <section id="banner1" class="map-icons">
                <!-- google-map-setting-start -->
                <!-- google-map-setting-start -->
                <div id="map" style="" class="google-map map-height hp-map"></div>

                <button draggable="false" id="IDEnLargeMap" aria-label="Toggle fullscreen view" type="button"
                        style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 39px; width: 41px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 14px; right: 2px;">
                    <img id="Minimzeicon" src="~/Content/assets/Icons/maximize-map.svg" alt="" style="height: 123px; width: 152px; margin-top: -42px; margin-left: -56px; margin-right: -19px; margin-bottom: -6px;" title="Toggle full screen view">
                    <img id="MaxmizeIocn" src="~/Content/assets/Icons/minimise-map.svg" alt="" style="height: 123px; width: 152px; margin-top: -43px; margin-left: -56px; margin-right: -4px; margin-bottom: -4px;" title="Toggle normal screen view">
                </button>
                <div style="height: 20px;">
                </div>

                <div class="filter-icon" id="IDopenRouteFilters" style="padding-left: 7px;">
                    <img src="~/Content/assets/images/filter-icon2.svg" title="Open filter" width="30" style="color: black; cursor: pointer; margin-right: 3px; ">
                </div>
                <div>
                    <input type="hidden" value="@ViewBag.PageFlag" id="Pageflag" />
                    <input type="hidden" value="@ViewBag.Origin" id="origin" />
                    <input type="hidden" value="@ViewBag.Routetype" id="Routetype" />
                </div>
                <form>
                    <input type='hidden' name='lat' id='lat'>
                    <input type='hidden' name='lng' id='lng'>
                </form>
                <!-- google-map-setting-end -->

                <div id="soa-portal-map">
                    <img id="card-swipe1" src="~/Content/assets/images/card-swipe-on.svg" style="position: absolute;margin: 3.125em 0 0 0; cursor:pointer;"
                         class="demo">
                    <img id="card-swipe2" src="~/Content/assets/images/card-swipe-off.svg"
                         style="position: absolute; margin: 3.125rem 0 0 25rem; cursor: pointer; display: none;">
                    <div id="mySidenav1" class="mapsidenav" style="display: none;">
                        <div id="divViewRouteContainer" style="display:none;">
                            <div class="p-2">
                                <button class="validationmsg dropdwon_new w-100" id="movements" role="button" data-bs-toggle="dropdown" aria-expanded="false">VIEW ROUTE</button>
                                <ul class="dropdown-menu plan_mom_drop action_drpdwn" aria-labelledby="movements" style="min-width:384px;">
                                    @if (RouteList != null)
                                    {
                                        foreach (var item in RouteList)
                                        {
                                            <li class="li_viewRoute" data-flag=2>
                                                <a class="edit-normal EditRouteCLS" href="#" data-routeid="@item.RouteID" data-routename="@item.RouteName.Replace("'", "\\'")" data-routetype="@item.RouteType"> @item.RouteName</a>
                                                <a class="DeleteRouteCls"
                                                   data-routeid="@item.RouteID" data-routetype="@item.RouteType" data-routename="@item.RouteName.Replace("'", "\\'")" title="Delete">
                                                    <img src="~/Content/assets/images/delete-icon.svg" alt="" />
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- add-caution -->
                        <!-- <div class="card"> -->
                        <div id="route-content-1" style="display: none;">
                            <div class="card-content pt-2 pl-2" style="background-color: #275795;position: relative;">
                                <div class="card-text pb-3" style="color: white;">
                                    <div class="options">
                                        <!-- <div class="row edit-normal" style="color: white;font-family: lato_light;">
                                    </div> -->
                                        <div class="row" style="flex-wrap: none;">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/Icons/map-startpoint.svg" width="25" alt="vehicle-2">

                                            </div>
                                            <div style="width: 16rem">
                                                <input class="edit-normal" type="text" name="from" style="color: white;"
                                                       value="51 Carlisle St,Goole DN14 5DU">
                                            </div>
                                            <div style="width: 2rem;margin-left: -35px;">
                                                <img src="~/Content/assets/images/Group 264.svg" width="15" alt="vehicle-2">
                                            </div>
                                        </div>
                                        @*<div class="row" style="flex-wrap: none;">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/images/Path 333-route.svg" width="3" alt="vehicle-2"
                                                     style="margin-left: 5px;margin-top: 2px;">
                                                <img src="~/Content/assets/images/Path 333-route.svg" width="3" alt="vehicle-2"
                                                     style="margin-left: 5px;">
                                            </div>
                                        </div>*@
                                        <div class="row" style="flex-wrap: none;">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/Icons/map-endpoint.svg" width="25" alt="vehicle-2">
                                            </div>
                                            <div style="width: 16rem">
                                                <input class="edit-normal" type="text" name="from" style="color: white;"
                                                       value="51 Carlisle St,Goole DN14 5DU">
                                            </div>
                                        </div>
                                        <div class="row  pt-3" style="flex-wrap: none;">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/images/Group 270.svg" width="15" alt="vehicle-2">
                                            </div>
                                            <div style="width: 16rem;color: white;" class="text-decorate">
                                                Add Wavepoint
                                                <div class="col-sm-6 col-md-6 col-lg-6 options">
                                                    <div class="card ml-0" style="height: 3.5rem;">
                                                        <div>
                                                            <ul>
                                                                <li class="details1"
                                                                    style="background-color: rgb(204,204,204,0.2);">
                                                                    Road part
                                                                </li>
                                                                <hr>
                                                                <li class="details1">Non road part</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <span class="edit-normal pl-4" style="color: white;">51 Carlisle St,Goole DN14 5DU</span> -->
                                        <!-- <hr> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pt-6">
                                <div class="flexer justify-content-center">
                                    <div class="button main-button pr-3">
                                        <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true">
                                            BACK
                                        </button>
                                    </div>
                                    <div class="button main-button mr-0 ml-3">
                                        <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true">
                                            SAVE ROUTE
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="route-content-2" style="display: none; width:400px;">
                            <div class="card-content pt-2 pl-2" style="background-color: #275795;position: relative;">
                                <div class="card-text pb-3" style="color: white;">
                                    <div class="options">
                                        <!-- <div class="row edit-normal" style="color: white;font-family: lato_light;">
                                    </div> -->
                                        <div style="width: 18rem;padding-bottom:1rem" id="table-head">
                                            <div class="dropdown11" style="float: left;cursor:pointer">
                                                <a class="account text-normal route-label" style="color: white;width: 13rem;letter-spacing: 0.00px;-webkit-text-stroke: 3px rgba(0, 0, 0, 0);font-size: 15.00px;font-weight: 500;font-style: normal;font-family: lato_medium, Arial;text-decoration: none;box-shadow: none;">Path1</a>
                                                <div class="submenu">
                                                    <ul class="root">
                                                        <li><a>Path1</a></li>
                                                    </ul>
                                                </div>
                                                <span style="color: white;font-size: 18px;float:right;" class="text-normal">
                                                    <img src="~/Content/assets/images/down-chevlon.svg" width="12" id="ddlRt" alt="vehicle-2" class="mr-2">
                                                    <span id="deletepath" style="display: none;"> × </span>
                                                </span>
                                            </div>

                                        </div>

                                        <div class="row" style="flex-wrap: none;" id="movements" role="button"
                                             aria-expanded="false">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/Icons/map-startpoint.svg" id="startflag" width="25" alt="vehicle-2" style="display:block;">
                                                <img src="~/Content/assets/Icons/map-startpoint-alt.svg" id="startflagalt" width="25" alt="vehicle-2" style="display:none;">

                                            </div>
                                            <div style="width: 20rem">
                                                <input class="edit-normal serchlefttxtone AutocompleteElement" type="text" name="from" style="color: white;"
                                                       autocomplete="on" id="From_location" pointNo=0 pointType=0 title="Address of location. Press ENTER key after entering the address. Separate street and city by a comma." url="../QAS/Search" origin="a2bLeft">
                                            </div>
                                            <div style="width: 2rem;" class="pl-0">
                                                <img src="~/Content/assets/images/Group 264.svg" width="15" id="IDswap" alt="vehicle-2">
                                            </div>
                                        </div>
                                        <ul id="sortable" class="ui-sortable">
                                        </ul>
                                        @*<div class="row" style="flex-wrap: none;">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/images/Path 333-route.svg" width="3" alt="vehicle-2"
                                                     style="margin-left: 5px;margin-top: 2px;">
                                                <img src="~/Content/assets/images/Path 333-route.svg" width="3" alt="vehicle-2"
                                                     style="margin-left: 5px;">
                                            </div>
                                        </div>*@
                                        <div class="row" style="flex-wrap: none;">
                                            <div style="width: 2rem">
                                                <img src="~/Content/assets/Icons/map-endpoint.svg" id="endflag" width="25" alt="vehicle-2" style="display:block;">
                                                <img src="~/Content/assets/Icons/map-endpoint-alt.svg" id="endflagalt" width="25" alt="vehicle-2" style="display:none;">
                                            </div>
                                            <div style="width: 20rem">
                                                <input class="edit-normal serchlefttxtone AutocompleteElement" type="text" name="To_location" style="color: white;"
                                                       autocomplete="on" id="To_location" pointNo=1 pointType=1 title="Address of location. Press ENTER key after entering the address. Separate street and city by a comma." url="../QAS/Search" origin="a2bLeft">
                                            </div>
                                        </div>


                                        <!-- <span class="edit-normal pl-4" style="color: white;">51 Carlisle St,Goole DN14 5DU</span> -->
                                        <!-- <hr> -->
                                    </div>
                                    <div class=" main-button flexer divgap10">
                                        <div class="waypointstyle" id="div_waypoint" style="display: none; margin-left:2%;">
                                            <img src="~/Content/assets/images/circular-add-icon-whitebackground.svg" id="btn_addwaypoint" width="25">
                                            Add waypoint
                                        </div>
                                        <div class="waypointstyle" id="div_viapoint" style="display: none; margin-left: 18%; ">
                                            <img src="~/Content/assets/images/anchorpointW.svg" id="btn_addviapoint" width="25">
                                            Add stopping point
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div id="ReturnLegForNotif">
                                    <div id="ReturnLegDiv" style="display: none;">

                                        <div style="width: 2rem">
                                        </div>
                                        <div style="width: 16rem;">
                                            <span class="text-normal" style="vertical-align: super;">
                                                Include return
                                                route?
                                            </span><span>
                                                <input type="checkbox" id="ReturnLeg" class="checkbox"
                                                       name="bulldozer" value="bulldozer" width="28">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-1">

                                    <div class=" main-button justify-content-between flexer">
                                        <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" type="submit" id="btn_plan" style="display:none">
                                            PLAN
                                        </button>

                                        <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" type="submit" id="btn_re_plan" style="display:none">
                                            RE-PLAN
                                        </button>




                                        @{ if (ViewBag.IsNewRoute == false)
                                            {

                                                <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" type="submit" id="btn_updateRoute" style="display:none">
                                                    SAVE ROUTE
                                                </button>

                                            }
                                            else
                                            {
                                                <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" type="submit" id="btn_saveRoute" style="display:none">
                                                    SAVE ROUTE
                                                </button>
                                            }}


                                        <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" type="submit" id="btn_finishedit" style="display:none">
                                            FINISH EDIT
                                        </button>
                                        <button class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" type="submit" id="btn_clear" style="display: none;margin-left:auto;">
                                            CLEAR
                                        </button>
                                    </div>

                                </div>



                            </div>
                        </div>
                        <div id="esdaldclaimer" class="esdal-disclaimer" style="display: block; color: rgba(92, 92, 92, 1); width:400px">
                            <p class="text-align-justify">
                                Type Start postcode or partial address (comma separated) into the first box, hit Enter to display matches and select address. Repeat with End box.
                            </p>
                            <p class="text-align-justify mb-0">
                                The ESDAL route planner does not automatically avoid restrictions. This is your responsibility. Please ensure you check and edit the route before submitting if necessary.
                            </p>

                        </div>

                    </div>
                    <div id="margin-space">
                    </div>
                    <div class="horizontal-center" id="MapToolbar" style="display: none;opacity:0">
                        <ul class="nav navbar-nav navbar-left new-list">
                            <li class="nav-item">
                                <a class="nav-link"><img src="~/Content/assets/Icons/map-startpoint.svg" width="20"></a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link"><img src="~/Content/assets/Icons/map-endpoint.svg" width="20"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="~/Content/assets/images/Group 279.svg"
                                         style="margin-left: 5px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="~/Content/assets/images/Group 277.svg"
                                         style="margin-left: 5px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="~/Content/assets/images/Group 280.svg"
                                         style="margin-left: 0px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="~/Content/assets/images/Group 282.svg"
                                         style="margin-left: -14px;position: absolute;"><img src="~/Content/assets/images/Group 284.svg">
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link"><img src="~/Content/assets/images/Group 1077.svg" width="30"></a>
                            </li>
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link active" href="#" id="movements" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false"><img src="~/Content/assets/images/Group 539.svg" width="30"></a>
                                <ul class="dropdown-menu" aria-labelledby="movements">
                                    <li><a class="dropdown-item" href="#">Show all structures</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Show affected structures</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Show unsuitable structures</a></li>
                                    <hr>
                                    <ul class="sub-list">
                                        <li><a class="dropdown-item" href="#">Show underbridge</a></li>
                                        <hr>
                                        <li><a class="dropdown-item" href="#">Show overbridge</a></li>
                                        <hr>
                                        <li><a class="dropdown-item" href="#">Show underbridge and overbridge</a></li>
                                        <hr>
                                        <li><a class="dropdown-item" href="#">Show level rossing</a></li>
                                    </ul>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Don't show structures</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link active" href="#" id="movements" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false"><img src="~/Content/assets/images/Group 540.svg" width="30"></a>
                                <ul class="dropdown-menu" aria-labelledby="movements">
                                    <li><a class="dropdown-item" href="#">Show all constraints</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Show affected constraints</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Show unsuitable constraints</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Don't show contraints</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Launch demo modal
            </button> -->
                <ul class="dropdown-menu" aria-labelledby="movements" style="position:fixed;">
                    <li class="pl-4 pr-2 pt-2 pb-2">
                        <a class="dropdown-item text-normal" href="#">
                            <span class="text-normal" style="width:3rem">
                                Phillip Stoner the
                                Jeweller, G20, Spinningfields square, Manchester, M3 3AP
                            </span>
                        </a>
                    </li>
                    <hr>
                    <li class="pl-4 pr-2 pt-2 pb-2 menu-active">
                        <a class="dropdown-item text-normal"
                           href="#">
                            Shoezone,
                            G20, Middleton Shopping Centre, Middleton, Manchester, M24 4EL
                        </a>
                    </li>
                    <hr>
                    <li class="pl-4 pr-2 pt-2 pb-2">
                        <a class="dropdown-item text-normal" href="#">
                            Chips
                            Away, A4, Acre Business Park, Acre Road, Reading, RG2 0SA
                        </a>
                    </li>
                    <hr>
                    <li class="pl-4 pr-2 pt-2 pb-2">
                        <a class="dropdown-item text-normal" href="#">
                            Electronic
                            3D, B4, Acre Business Park, Acre Road, Reading, RG2 0SA
                        </a>
                    </li>
                    <hr>
                    <li class="pl-4 pr-2 pt-2 pb-2">
                        <a class="dropdown-item text-normal" href="#">
                            C4, Acre
                            Business Park, Acre Road, Reading, RG2 0SA
                        </a>
                    </li>
                    <hr>
                    <li class="pl-4 pr-2 pt-2 pb-2">
                        <a class="dropdown-item text-normal" href="#">
                            D4, Acre
                            Business Park, Acre Road, Reading, RG2 0SA
                        </a>
                    </li>
                    <hr>
                </ul>

            </section>
            <!--end of main content -->
            <!-- filter settings -->
            <div id="planRouteFilterDiv">
                <style>
                    .slider {
                        /*width: 7rem;*/
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #9E9D9D;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    /* input:checked + .slider {
                            background-color: #9E9D9D;
                            width: 4.5rem;
                        }*/
                </style>
                <div id="filters" class="sidenav filter-sidenav planRouteFilter">
                    <div class="row sidenav-header pl-3 pr-3 mt-3">
                        <div class="col-10 col-md-10 col-sm-10" style="text-align: center;">
                            <div class="text-normal-hyperlink mt-3" style="font-size: x-large;">
                                SEARCH
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-sm-2 pl-0">
                            <a href="#" class=" btn-close-filter" id="closebtn" style="font-size: 45px;">&times;</a>
                        </div>
                    </div>
                    <hr style="margin-top: 0;">

                    <div class="filter-list">
                        <div class="filters">
                            <div class="row" id="IDviewStructuresConstraints">
                                <div class="col-10 col-md-10 col-sm-10">
                                    <span>
                                        Structures and Constraints
                                    </span>
                                </div>
                                <div class="col-2 col-md-2 col-sm-2">
                                    <img id="chevlon-up-icon1" src="~/Content/assets/images/up-chevlon-filter.svg" width="20"
                                         style="display: none;">
                                    <img id="chevlon-down-icon1" src="~/Content/assets/images/down-chevlon-filter.svg" width="20"
                                         style="display: block">
                                </div>
                            </div>
                        </div>
                        <div class="pr-0 pl-0 mr-0 ml-0 mt-4 mb-0 input-field" id="viewStructuresConstraints" style="display: none;">
                            <div class="row mt-4 align-items-center" style="display:none">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="All" class="checkbox" name="All" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">All</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center" style="display:none">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Affected" class="checkbox" name="Affected" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span id="AffectedLabel" class="txtStyle">Affected</span>
                                </div>
                            </div>
                            <label class="switchstructure switch">
                                <input type="checkbox" id="toggleAllAffected" name="toggleAllAffected" value="true">
                                <div class="slider round">
                                    <!--ADDED HTML -->
                                    <span id="All" class="on" style="color:white !important">All</span>
                                    <span id="Affected" class="off" style="color:white !important">Affected</span>
                                    <!--END-->
                                </div>
                            </label>
                            <hr>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Structs" class="checkbox" name="Structs" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Structures</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center pl-7">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Underbridge" class="checkbox" name="Underbridge" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Underbridge</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center pl-7">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Overbridge" class="checkbox" name="Overbridge" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Overbridge</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center pl-7">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="UnderAndOverbridge" class="checkbox" name="UnderAndOverbridge" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Under and Over bridge</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center pl-7">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="LevelCrossing" class="checkbox" name="LevelCrossing" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Level Crossing</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Constraints" class="checkbox" name="Constraints" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Constraints</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 filters">
                            <div class="row" id="IDviewBoundaries">
                                <div class="col-10 col-md-10 col-sm-10">
                                    <span>
                                        Boundaries
                                    </span>
                                </div>
                                <div class="col-2 col-md-2 col-sm-2">
                                    <img id="chevlon-up-icon2" src="~/Content/assets/images/up-chevlon-filter.svg" width="20"
                                         style="display: none;">
                                    <img id="chevlon-down-icon2" src="~/Content/assets/images/down-chevlon-filter.svg" width="20"
                                         style="display: block">
                                </div>
                            </div>
                        </div>
                        <div class="pr-0 pl-0 mr-0 ml-0 mt-4 mb-0 input-field" id="viewBoundaries" style="display: none;">
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="PoliceBoundaries" class="checkbox" name="PoliceBoundaries" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Police Authority Boundaries</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="LABoundaries" class="checkbox" name="LABoundaries" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Local Authority Boundaries</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 filters">
                            <div class="row" id="IDviewRoads">
                                <div class="col-10 col-md-10 col-sm-10">
                                    <span>
                                        Search roads
                                    </span>
                                </div>

                                <div class="col-2 col-md-2 col-sm-2">
                                    <img id="chevlon-up-icon21" src="~/Content/assets/images/up-chevlon-filter.svg" width="20"
                                         style="display: none;">
                                    <img id="chevlon-down-icon21" src="~/Content/assets/images/down-chevlon-filter.svg" width="20"
                                         style="display: block">
                                </div>

                            </div>
                        </div>
                        <div id="viewroads" style="display: none;">
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="NHBoundaries" class="checkbox" name="NHBoundaries" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">NH and DBFO Area Boundaries</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="TfLRoads" class="checkbox" name="TfLRoads" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">TfL Roads</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="WelshTrunkRoads" class="checkbox" name="bulldozer" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">
                                        Welsh Trunk Roads
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="ScottishTrunkRoads" class="checkbox" name="bulldozer" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Scottish Trunk Roads</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 filters">
                            <div class="row" id="IDviewMapFeatures">
                                <div class="col-10 col-md-10 col-sm-10">
                                    <span>
                                        Map Features
                                    </span>
                                </div>

                                <div class="col-2 col-md-2 col-sm-2">
                                    <img id="chevlon-up-icon212" src="~/Content/assets/images/up-chevlon-filter.svg" width="20"
                                         style="display: none;">
                                    <img id="chevlon-down-icon212" src="~/Content/assets/images/down-chevlon-filter.svg" width="20"
                                         style="display: block">
                                </div>

                            </div>
                        </div>

                        <!--Map Extra Features--------------->
                        <div id="viewmapfeat" style="display: none;">
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="ParkAndRec" class="checkbox" name="ParkAndRec" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Parks and Recreation</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="TravelDest" class="checkbox" name="TravelDest" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Travel Destinations</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="TransHub" class="checkbox" name="TransHub" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">
                                        Transportation Hubs
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="AutMob" class="checkbox" name="AutMob" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Automobile Maintenance</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="EduIn" class="checkbox" name="EduIn" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Educational Institutions</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Shopping" class="checkbox" name="Shopping" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Shopping</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="CMSServ" class="checkbox" name="CMSServ" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Community Service Centers</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="BuisFeci" class="checkbox" name="BuisFeci" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Business Facilities</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Entertainment" class="checkbox" name="Entertainment" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Entertainment</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="FiInst" class="checkbox" name="FiInst" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Financial Institutions</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Parkbay" class="checkbox" name="Parkbay" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Parking bays</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Hospital" class="checkbox" name="Hospital" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Hospitals</span>
                                </div>
                            </div>
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="Restaurants" class="checkbox" name="Restaurants" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">Restaurants</span>
                                </div>
                            </div>

                        </div>
                        <!--End Here ------------------------>

                        <div class="pr-0 pl-0 mr-0 ml-0 mt-4 mb-0 input-field" id="viewAllstructures" style="display: none;">
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-1 col-sm-2 col-md-1 mr-2">
                                    <input type="checkbox" id="AILStructs" class="checkbox" name="bulldozer" value="bulldozer"
                                           width="25">
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10">
                                    <span class="txtStyle">
                                        AIL related Structures whether over under or both,
                                        public or private
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-6 pl-3 pr-2 pb-6" id="org_filter_btn">

                            <!-- <div class="header mt-4"> -->
                            <div style="align-content: center; padding-left: 25%;">
                                <button class="btn outline-btn-primary btn-normal" role="button" id="IDClearall" aria-pressed="true">
                                    CLEAR
                                </button>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- end of filter settings -->
            @*<div id="filters" class="sidenav filter-sidenav">

            </div>*@


        </body>


        <link href="~/Content/Style/Common/dropdownlist.css" rel="stylesheet" />
        @{
            <input type="hidden" value="@ViewBag.ShowReturnLeg" id="hf_ShowReturnLeg" name="hf_ShowReturnLeg" />
        }
        @Html.Hidden("hf_RouteFlag", Session["RouteFlag"])
        <input type="hidden" value="@ViewBag.routeID" id="hf_RouteID" name="hf_RouteID" />
        <input type="hidden" value="@ViewBag.PageFlag" id="hf_PageFlag" name="hf_PageFlag" />
    </div>
</div>

<script src="~/Scripts/Routes/LibraryRoutePartDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BPlanning.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BLeftpanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SOApplication/jQuery.SOApplication.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/enterRouteDetail.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Annotation/CreateAnnotation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/PopUpAddressBookCsp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/ViewConstraint.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/HaulierConstraintDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Contact/ContactList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/ReviewSummaryPopup.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/RoadContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/StructureContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Annotation/PartialView/_DisplayAnnotationListPopUp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/_SelectRouteByImport.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/RoutePartLibrary.js?V@(Session["ProjectVersion"])"></script>
