@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.SecurityAndUsers.Organization
@{
    Layout = null;
    int userTypeID = 0;
    int RevisionId = 0;
    string SortStatus = "";
    if (ViewBag.RevisionId != null)
    {
        RevisionId = ViewBag.RevisionId;
    }
    if (ViewBag.SortStatus != null)
    {
        SortStatus = ViewBag.SortStatus;
    }
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }
    @Html.Hidden("UserType", userTypeID)
    @Html.Hidden("SortStatus", SortStatus)
    @Html.Hidden("RevisionId", RevisionId)
    @Html.Hidden("KeyValidator", "")
}
<style>
    .spanFont {
        font-family: 'Roboto Condensed', sans-serif !important;
    }

    /*.esdal-table > thead th, .esdal-table > tbody td {
        white-space: unset;
    }*/
</style>
<!--main-content -->
@using (Html.BeginForm("SaveOrganisation", "Organisation", new { mode = ViewBag.mode, orgID = ViewBag.orgID, sortApp = ViewBag.sortApp, RevisionId = RevisionId, SORTStatus = SortStatus }, FormMethod.Post, new { @id = "form_Organisation" }))
{

    @Html.ValidationSummary(true)
    @Html.Hidden("OrgTypeList")
    @Html.Hidden("CountryDropDown")
    @Html.Hidden("hdnOrgName")
    @Html.Hidden("hdnOrgType")
    @Html.Hidden("hdnOrgCode")
    @Html.Hidden("hdnLICENSE_NR")
    @Html.Hidden("hdnIsReceiveNEN")
    @Html.Hidden("hdnAccessToALSAT")
    @Html.Hidden("hdnAddressLine_1")
    @Html.Hidden("hdnAddressLine_2")
    @Html.Hidden("hdnAddressLine_3")
    @Html.Hidden("hdnAddressLine_4")
    @Html.Hidden("hdnAddressLine_5")
    @Html.Hidden("hdnPostCode")
    @Html.Hidden("hdnCountryID")
    @Html.Hidden("hdnPhone")
    @Html.Hidden("hdnWeb")
    @Html.Hidden("hdnHaulierContactName")
    @Html.Hidden("hdnEmailId")
    @Html.Hidden("hdnFax")
    @Html.Hidden("hdnApplCountryID")
    @*@Html.AntiForgeryToken()*@
    <div id="vehicles" style="margin-bottom: 30%;height: max-content; padding-left:1%!important">
        <div colspan="6" style="background-color: white !important;">

            <div id="desc-entry" class="pt-6 pb-0" style="display: flex;flex-wrap: wrap;width: 100% !important;">
                <div style="width: 33%;">
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Organisation Name*
                        </div>
                        <div class="edit-normal wd60">
                            @Html.TextBoxFor(m => m.OrgName, new { @id = "OrgName", maxlength = 100, @class = "edit-normal" })
                            @Html.ValidationMessageFor(m => m.OrgName, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            <span id="ownerValidationMsg" class="error invalid-feedback spanFont" style="display:none">Organisation name is required</span>
                            <span id="err_OrgName_exists" class="error invalid-feedback spanFont" style="display:block"></span>
                            @if (ViewBag.mode == "SORTSO" || ViewBag.sortApp == "SORTSO")
                            {
                                <span id="err_select_existing_haulier" class="error invalid-feedback spanFont" style="display:block"></span>
                            }
                        </div>
                    </div>
                    @if (ViewBag.mode == "SORTSO" || ViewBag.sortApp == "SORTSO")
                    {
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd40">
                                Haulier Contact Name*
                            </div>
                            <div class="edit-normal wd60">
                                @Html.TextBoxFor(m => m.HaulierContactName, new { @id = "HaulierContactName", @class = "edit-normal" })
                                <span id="err_Haulier_contact_name" class="error invalid-feedback spanFont" style="display:block"></span>
                            </div>
                        </div>
                    }
                    @if (ViewBag.mode != "SORTSO" && ViewBag.sortApp != "SORTSO")
                    {
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd40">
                                Organisation Type*
                            </div>
                            <div class="edit-normal wd60">
                                @Html.DropDownListFor(m => m.OrgType, ViewBag.OrgTypeList as SelectList, "Select organisation type", new { @class = "form-select pt-3 pb-3", @id = "OrgType", @style = "width: 100%;color: rgba(39, 87, 149, 1);" })
                                @Html.ValidationMessageFor(m => m.OrgType, null, new { @class = "error" })
                                <span id="err_OrgType_exists" class="error invalid-feedback spanFont" style="display:block"></span>
                            </div>
                        </div>
                    }

                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            Organisation Code<span id="spnSymbolMandetoryCode" style="display:none">*</span>
                        </div>
                        <div class="edit-normal wd60">
                            @Html.TextBoxFor(m => m.OrgCode, new { @id = "OrgCode", @maxlength = "4", @class = "edit-normal" })
                            @Html.ValidationMessageFor(m => m.OrgCode, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            <span id="codeExistsValidation" class="error invalid-feedback spanFont" style="display:block"></span>
                            <span id="err_OrgCode_exists" class="error invalid-feedback spanFont" style="display:block"></span>
                            <span id="orgCodeCodeIsRequiredMsg" class="error invalid-feedback spanFont" style="display:block"></span>


                        </div>
                    </div>
                    @if (ViewBag.mode != "SORTSO" && ViewBag.sortApp != "SORTSO")
                    {
                        <div class="pb-3 wd-align" id="divReceiveNENs" style="display: none;">
                            <div class="text-normal wd40">
                                Receive NENs
                            </div>
                            <div class="edit-normal wd40">
                                @Html.CheckBoxFor(m => m.IsNENsReceive, new { @id = "IsReceiveNEN", @class = "checkbox", @width = "20" })
                            </div>
                        </div>
                    }

                    <div class="pb-3 wd-align" id="divAccessToALSAT" style="display: none;">
                        <div class="text-normal wd40">
                            Access To ALSAT
                        </div>
                        <div class="edit-normal wd40">
                            @Html.CheckBoxFor(m => m.AccessToALSAT, new { @id = "AccessToALSAT", @class = "checkbox", @width = "20" })
                        </div>
                    </div>

                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40">
                            License Number
                        </div>
                        <div class="edit-normal wd60">
                            @Html.TextBoxFor(m => m.Licence_NR, new { @id = "LICENSE_NR", @class = "edit-normal" })
                            @Html.ValidationMessageFor(m => m.Licence_NR, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            <span id="licenseRequiredMsg" class="error invalid-feedback spanFont" style="display:none">License number is required</span>
                        </div>
                    </div>
                </div>
                <div style="width: 33%; padding-left:3%">
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd30">
                            Address*
                        </div>
                        <div class="edit-normal wd60">
                            <div class="pb-3 wd100">
                                @Html.TextBoxFor(m => m.AddressLine1, new { @id = "AddressLine_1", @class = "edit-normal mb-2" })
                            </div>
                            <div class="pb-3 wd100">
                                @Html.TextBoxFor(m => m.AddressLine2, new { @id = "AddressLine_2", @class = "edit-normal mb-2" })
                            </div>
                            <div class="pb-3 wd100">
                                @Html.TextBoxFor(m => m.AddressLine3, new { @id = "AddressLine_3", @class = "edit-normal mb-2" })
                            </div>
                            <div class="pb-3 wd100">
                                @Html.TextBoxFor(m => m.AddressLine4, new { @id = "AddressLine_4", @class = "edit-normal mb-2" })
                            </div>
                            <div class="wd100">
                                @Html.TextBoxFor(m => m.AddressLine5, new { @id = "AddressLine_5", @class = "edit-normal mb-2" })
                            </div>
                            <br />
                            <span id="addrchk" class="error invalid-feedback spanFont" style="display:block"></span>
                        </div>
                    </div>
                </div>
                <div style="width: 33%;">
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd30">
                            Postcode*
                        </div>
                        <div class="edit-normal wd60">
                            @Html.TextBoxFor(m => m.PostCode, new { @id = "PostCode", @maxlength = "10", @class = "edit-normal" })
                            @Html.ValidationMessageFor(m => m.PostCode, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            <span id="postCodeIsRequiredMsg" class="error invalid-feedback spanFont" style="display:none">Postcode is required</span>
                            <span id="errorPostcodevalidation" class="error invalid-feedback spanFont" style="display:block"></span>
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd30">
                            Country*
                        </div>
                        <div class="edit-normal wd50">

                            @Html.DropDownListFor(m => m.CountryID, ViewBag.CountryDropDown as SelectList, "Select Country", new { @class = "form-select pt-3 pb-3", @id = "CountryID", @style = "color: rgba(39, 87, 149, 1);" })
                            @Html.ValidationMessageFor(m => m.CountryID, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            <span id="countryValidationMsg" class="error invalid-feedback spanFont" style="display:none">Country is required</span>
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd30">
                            Phone*
                        </div>
                        <div class="edit-normal wd60">
                            @Html.TextBoxFor(m => m.Phone, new { @id = "Phone", @maxlength = "15", @class = "edit-normal" })
                            @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            <span id="phoneIsRequiredMsg" class="error invalid-feedback spanFont" style="display:none">Phone Number is required</span>
                            <span id="phonevalidationMsg" class="error invalid-feedback spanFont" style="display:block"></span>
                        </div>
                    </div>
                    @if (ViewBag.mode == "SORTSO" || ViewBag.sortApp == "SORTSO")
                    {
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd30">
                                Email Address*
                            </div>
                            <div class="edit-normal wd60">
                                @Html.TextBoxFor(m => m.EmailId, new { @id = "EmailId", @maxlength = "50", @class = "edit-normal" })
                                @Html.ValidationMessageFor(m => m.EmailId, null, new { @class = "error invalid-feedback", @style = "display:block" })
                            </div>
                        </div>
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd30">
                                Fax Number
                            </div>
                            <div class="edit-normal wd60">
                                @Html.TextBoxFor(m => m.Fax, new { @id = "Fax", @maxlength = "30", @class = "edit-normal" })
                                @Html.ValidationMessageFor(m => m.Fax, null, new { @class = "error invalid-feedback", @style = "display:block" })
                                <span id="emailFaxValid1" class="error invalid-feedback spanFont" style="display:block"></span>
                            </div>
                        </div>
                    }
                    @if (ViewBag.mode != "SORTSO" && ViewBag.sortApp != "SORTSO")
                    {
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd30">
                                Website
                            </div>
                            <div class="edit-normal wd60">
                                @Html.TextBoxFor(m => m.Web, new { @id = "Web", @maxlength = "30", @class = "edit-normal" })
                            </div>
                        </div>
                    }

                </div>
                @if (ViewBag.mode == "Edit" && ViewBag.mode != "SORTSO" && ViewBag.sortApp != "SORTSO")
                {
                    <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                        <div class="pb-3 wd-align">
                            <div class="text-normal pt-3">
                                Authentication key*
                            </div>
                            <div class="edit-normal col-lg-4 col-sm-12 col-md-6 col-xs-12 pl-5 pt-3">
                                @Html.TextBoxFor(m => m.AuthenticationKey, new { @id = "AuthKeyEdit", @maxlength = "40", @class = "edit-normal" })
                                <span id="authKeyIsRequiredMsg" class="error invalid-feedback spanFont" style="display:none">Generate authentication key</span>
                            </div>
                            <button type="button" id="authKey" class="btn outline-btn-primary SOAButtonHelper fAdd" style="margin-left: 2rem; padding: 0.675rem 0.75rem !important;">
                                REGENERATE
                            </button>
                        </div>
                    </div>
                }
                else if (ViewBag.mode == "Save" && ViewBag.mode != "SORTSO" && ViewBag.sortApp != "SORTSO")
                {
                    <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                        <div class="pb-3 wd-align">
                            <div class="text-normal pt-3">
                                Authentication key*
                            </div>
                            <div class="edit-normal col-lg-4 col-sm-12 col-md-6 col-xs-12 pl-5 pt-3">
                                @Html.TextBoxFor(m => m.AuthenticationKey, new { @id = "AuthKeySave", @maxlength = "40", @class = "edit-normal" })
                                <span id="authKeyIsRequiredMsg" class="error invalid-feedback spanFont" style="display:none">Generate authentication key</span>
                            </div>
                            <button type="button" id="authKey" class="btn outline-btn-primary SOAButtonHelper fAdd" style="margin-left: 2rem; padding: 0.675rem 0.75rem !important;">
                                GENERATE
                            </button>
                        </div>
                    </div>

                }
                @if (ViewBag.mode != "SORTSO" && ViewBag.sortApp != "SORTSO")
                {
            <div class="flexer justify-content-center mt-5" style="margin-left: auto;margin-right: auto;">
                <button type="button" id="btn_save" class="btn outline-btn-primary SOAButtonHelper mr-2">SAVE</button>
                <button type="button" id="btn_reset" class="btn outline-btn-primary SOAButtonHelper ml-2">RESET</button>
            </div>
                }
            </div>
            <div id="desc-all-entr" style="width: 100% !important;display: flex;flex-wrap: wrap;display: none;">
                <div style="width: 33%;">
                    <div class="pb-3 wd-align">
                        @if (ViewBag.mode == "View")
                        {
                            <div class="text-normal wd40 me-4">
                                Organisation name
                            </div>
                        }
                        else
                        {
                            <div class="text-normal wd40 me-4">
                                Organisation name*
                            </div>
                        }
                        <div class="edit-normal wd50" id="viewOrgName">

                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        @if (ViewBag.mode == "View")
                        {
                           <div class="text-normal wd40 me-4">
                             Organisation type
                           </div>
                        }
                        else
                        {
                        <div class="text-normal wd40 me-4">
                            Organisation type*
                        </div>
                        }
                        <div class="edit-normal wd50" id="viewOrgType">
                            @Html.DropDownListFor(m => m.OrgType, ViewBag.OrgTypeList as SelectList, "Select organisation type", new { @class = "form-select pt-3 pb-3", @id = "ViewOrgType", @style = "width: 100%;color: rgba(39, 87, 149, 1);" })
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40 me-4">
                            Organisation code <span id="spnSymbolMandetoryCode" style="display:none">*</span>
                        </div>
                        <div class="edit-normal wd50" id="viewOrgCode">

                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40 me-4">
                            Receive NENs
                        </div>
                        <div class="edit-normal wd50" id="viewIsNenValidTrue" style="display:none;">
                            <img src="~/Content/assets/images/yes-icon.svg" width="20">
                        </div>
                        <div class="edit-normal wd50" id="viewIsNenValidFalse" style="display:none;">
                            <img src="~/Content/assets/images/no-icon.svg" width="20">
                        </div>
                    </div>
                    <div class="pb-3 wd-align" id="divAlsatAccess" style="display:none;">
                        <div class="text-normal wd40 me-4">
                            Access To ALSAT
                        </div>
                        <div class="edit-normal wd50" id="viewAccessToALSATTrue" style="display:none;">
                            <img src="~/Content/assets/images/yes-icon.svg" width="20">
                        </div>
                        <div class="edit-normal wd50" id="viewAccessToALSATFalse" style="display:none;">
                            <img src="~/Content/assets/images/no-icon.svg" width="20">
                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd40 me-4">
                            License number
                        </div>
                        <div class="edit-normal wd50" id="viewLicenseNumber">

                        </div>
                    </div>
                </div>
                <div style="width: 33%;">
                    <div class="pb-3 wd-align">
                        @if (ViewBag.mode == "View")
                        {
                            <div class="text-normal wd30">
                                Address
                            </div>
                        }
                        else
                        {
                            <div class="text-normal wd30">
                                Address*
                            </div>
                        }
                        
                        <div class="edit-normal wd50">
                            <div class="pb-3 wd100 edit-normal" id="viewAddr1">

                            </div>
                            <div class="pb-3 wd100 edit-normal" id="viewAddr2">

                            </div>
                            <div class="pb-3 wd100" id="viewAddr3">

                            </div>
                            <div class="pb-3 wd100 edit-normal" id="viewAddr4">

                            </div>
                            <div class="pb-3 wd100 edit-normal" id="viewAddr5">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 33%;">
                    <div class="pb-3 wd-align">
                        @if (ViewBag.mode == "View")
                        {
                            <div class="text-normal wd30">
                                Postcode
                            </div>
                        }
                        else
                        {
                             <div class="text-normal wd30">
                                Postcode*
                                </div>
                        }
                        
                        <div class="edit-normal wd50" id="viewPostCode">

                        </div>
                    </div>
                    <div class="pb-3 wd-align">
                        @if (ViewBag.mode == "View")
                        {
                            <div class="text-normal wd30">
                                Country
                            </div>
                        }
                       else
                        {
                            <div class="text-normal wd30">
                                Country*
                            </div>
                        }
                            <div class="edit-normal wd50" id="viewCountry">
                                @Html.DropDownListFor(m => m.CountryID, ViewBag.CountryDropDown as SelectList, "Select Country", new { @class = "form-select pt-3 pb-3", @id = "ViewCountryID", @style = "width: 100%;color: rgba(39, 87, 149, 1);" })
                            </div>
                        </div>
                    <div class="pb-3 wd-align">
                        @if (ViewBag.mode == "View")
                        {
                            <div class="text-normal wd30">
                                Phone
                            </div>
                        }
                        else
                        {
                            <div class="text-normal wd30">
                                Phone*
                            </div>
                        }
                        <div class="edit-normal wd50" id="viewPhone">

                        </div>
                    </div>
                    @if (ViewBag.sortApp == "SORTSO")
                    {
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd30">
                                Email Address
                            </div>
                            <div class="edit-normal wd50" id="viewEmail">

                            </div>
                        </div>
                        <div class="pb-3 wd-align">
                            <div class="text-normal wd30">
                                Fax Number
                            </div>
                            <div class="edit-normal wd50" id="viewFax">

                            </div>
                        </div>
                    }
                    <div class="pb-3 wd-align">
                        <div class="text-normal wd30">
                            Website
                        </div>
                        <div class="edit-normal wd50" id="viewWebsite">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}



@{
<input type="hidden" value=@ViewBag.mode id="hf_mode" name="hf_mode" />
<input type="hidden" value=@ViewBag.sortApp id="hf_sortApp" name="hf_sortApp" />
<input type="hidden" value=@ViewBag.orgID id="hf_orgID" name="hf_orgID" />
<input type="hidden" value=@ViewBag.showHaulCnt id="hf_showHaulCnt" name="hf_showHaulCnt" />
<input type="hidden" value=@ViewBag.RevisionId id="hf_RevisionId" name="hf_RevisionId" />
<input type="hidden" value=@ViewBag.RevisionId id="hf_SortStatus" name="hf_SortStatus" />
}
@*<script src="~/Scripts/Organisation/_CreateOrganisation.js?V@(Session["ProjectVersion"])"></script>*@
