@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.DocumentsAndContents.InformationModel>
@using System.Web.Optimization
@using STP.Domain
@{
    ViewBag.Title = "NewsOverview";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string type = Convert.ToString(TempData["type"]);
    string PageName = Convert.ToString(TempData["PageName"]);
    string heading = Convert.ToString(TempData["heading"]);
    string button = Convert.ToString(TempData["button"]);

    int pageNum = 10;
    int pageSize = 10;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    pageNum = ViewBag.page;
}
@{
    var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
    int portalType = 0;
    int listCount = 0;
    listCount = (int)Session["PageSize"];
    bool haulierportal = false;
    if (Session["UserInfo"] != null)
    {
        portalType = sessionValues.UserTypeId;
        if (portalType == 696001)
        {
            haulierportal = true;
        }
    }
    @Html.Hidden("haulierportal", haulierportal);
    @Html.Hidden("listCount", listCount);
}
@{
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.INFORMATION;
}
<style>
    .NewsOverview a {
        text-decoration: none !important;
        line-height: 35.00px;
        letter-spacing: 0.00px;
        color: rgba(39, 87, 149, 1);
        -webkit-text-stroke: unset;
        font-style: normal;
        font-family: lato_medium, Arial;
        text-decoration: none;
        box-shadow: none;
        font-size: large;
        font-weight: 700;
        vertical-align: middle;
    }

    .dropdown-item.active, .dropdown-item:active,
    .dropdown-item:focus, .dropdown-item:hover {
        color: #fff;
        text-decoration: none;
        background-color: #e9eef4;
    }

    .NewsOverview #table-head .btn {
        width: 7rem;
        padding: 0.25rem;
    }

    .NewsOverview .btn.btn-outline-primary:hover {
        color: white;
        background-color: rgba(39, 87, 149, 1);
    }

    .NewsOverview .btn.btn-outline-primary:focus {
        color: white;
    }
</style>
@if (Model.Count > 0)
{
    <section id="banner" class="vehicle-setting">
        <div class="container-fluid" id="banner-container">
            <div id="vehicles" class="news-info NewsOverview">
                <div class="title pt-4 row">
                    NEWS
                    <div class="col-lg-11 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
                        <span id="table-head">
                            <div class="button main-button mr-3">
                                <button id="btnbackprev" class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true">
                                    Back
                                </button>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row pt-4 pb-4">
                    @Html.Hidden("pageSizeVal", pageSize)
                    @Html.Hidden("pageNum", pageNum)
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12 news-card">

                            @if (item.MimeType == "image/jpeg" || item.MimeType == "image/bmp" || item.MimeType == "image/x-png" || item.MimeType == "image/pjpeg" || item.MimeType == "image/png")
                            {

                                var base64 = Convert.ToBase64String(item.FileContent);
                                var imgSrc = String.Format("data:" + item.MimeType + ";base64,{0}", base64);
                                @*<img src="@imgSrc" class="imgSize" />*@

                                if (item.FileContent.Length == 3320)
                                { <div class="pb-2">
                                        <img src="~/Content/assets/images/logo.png" class="mr-4" width="130">
                                    </div>
                                }
                                else if (item.FileContent.Length == 4269)
                                { <div class="pb-2">
                                        <img src="~/Content/assets/images/National Highways Logo.svg" class="mr-4" width="150">
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(base64))
                                {
                                    <div class="pb-2" style="padding-top:2rem;">
                                        <img src="@imgSrc" class="mr-4" width="150">
                                    </div>
                                }
                                else
                                {
                                    <div class="pb-2" style="padding-top:4rem;"></div>
                                }

                            }
                            else
                            {
                                <div class="pb-2" style="padding-top:4rem;"></div>
                            }

                            <div style="display:inline-flex;">
                                <div class="pb-2">
                                    <img src="~/Content/assets/images/chevlon-right.svg" width="30">
                                </div>
                                <div class="pb-2">
                                    <span class="text-normal-hyperlink">
                                        @if (item.FileCount != null && item.FileCount > 0)
                                        {
                                            var Name = item.Name.Replace("ESDAL2", " ESDAL");
                                            @Html.ActionLink(Name, "ViewInformation", new { id = item.ContentId })
                                        }
                                        else
                                        { @Html.DisplayFor(modelItem => item.Name)}
                                    </span>
                                </div>
                            </div>
                            <div class="text-normal pb-2">
                                @{
                                    var dateVal = item.UploadedDate.ToString("dd/MM/yyyy hh:mm tt");
                                }
                                @Html.DisplayFor(modelItem => dateVal)
                            </div>
                            <div class="edit-normal text-align-justify pb-2">
                                @{
                                    var Description = item.Description.Replace("ESDAL2", " ESDAL");
                                }
                                @Html.DisplayFor(modelItem => Description)
                            </div>

                        </div>
                    }
                </div>
                @if (Model.Count > 0)
                {
                    <div class="row pagination-container-new">
                        <div class="col-lg-3">
                            @if (Model.TotalItemCount > 0)
                            {
                                <div class="text-color2 total-records-number">
                                    Total number of records : @Model.TotalItemCount
                                </div>
                            }
                        </div>

                        <div class="col-lg-6 text-center">
                            @if (listCount < Model.TotalItemCount)
                            {
                                <div class="table-pagination news-overview-pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("NewsOverview",
                                       new
                                       {
                                           page
                                       }),
                                       new PagedListRenderOptions
                                       {
                                           DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                           DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                           LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                           LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                           DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                           DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                           MaximumPageNumbersToDisplay = 3,
                                           DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                           EllipsesFormat = "...",
                                           LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                           LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                       });
                                </div>
                            }
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0 absolute">
                            Number of items to display per page
                            <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelectoverview">
                                <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                            </select>
                        </div>
                        @*<div class="col-lg-3"></div>*@
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section id="banner" class="vehicle-setting">
        <div class="container-fluid" id="banner-container">
            <div id="vehicles" class="news-info" style=" padding-bottom: 3rem;">
                <div class="title pt-4">
                    NEWS
                </div>
                <div class="cardSOA1 mt-0" style="text-align:center;">
                    <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.NoRecordFound</h6>
                </div>
            </div>
        </div>
    </section>
}

<script src="~/Scripts/Information/ManageNews.js?V@(Session["ProjectVersion"])"></script>
