@model STP.Domain.DocumentsAndContents.InformationModel 
@{
    ViewBag.Title = "View News";

    //Layout = "~/Views/Shared/_Layout.cshtml";
    string heading = Convert.ToString(TempData["heading"]);
    var data = (List<STP.Domain.DocumentsAndContents.WebContentFile>)Model.AssociatedFiles;
}
@{
    var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
    int portalType = 0;
    bool haulierportal = false;
    if (Session["UserInfo"] != null)
    {
        portalType = sessionValues.UserTypeId;
        if (portalType == 696001)
        {
            haulierportal = true;
        }
    }
    @Html.Hidden("haulierportal", haulierportal);
}
<style>
    h2 {
        font-size: 1.8rem !important;
    }

    .ViewInformation #banner-container {
        color: black !important;
    }

    .ViewInformation h2, h1 {
        font-weight: bold;
        color: black;
    }

    .ViewInformation h2 {
        font-size: 14px !important;
    }

    .ViewInformation P {
        padding-left: 0px;
        padding-top: 10px;
        text-align: left;
    }
    .ViewInformation #table-head .btn {
        width: 7rem;
        padding: 0.25rem;
    }
    .ViewInformation .btn.btn-outline-primary:hover {
        color: white;
        background-color: rgba(39, 87, 149, 1);
    }
    .ViewInformation .btn.btn-outline-primary:focus {
        color: white;
    }

</style>

    <section id="banner" class="vehicle-setting ViewInformation">
        <div class="container-fluid" id="banner-container">
            <div id="vehicles" class="news-info" style=" padding-left: 0px !important;">
                <div class="title row pt-4 pl-5 pr-5 pb-0">
                    @if (@heading.ToLower() == "help & information")
                    {
                        <div class="col-lg-6 col-md-6 col-sm-12" >
                            <span>@Resources.Resource.HelpAndInformationStory</span>
                        </div>
                    }
                    else //if (@heading.ToLower() == "news")
                    {
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <span style="padding-left:4rem;">NEWS</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
                            <div id="table-head">
                                <div class="button main-button mr-3">
                                    <button id="btnbackprev" class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true">
                                        Back
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    }

                </div>
                <div class="row pt-3" id="hotNews" style="padding-bottom:0rem !important;">
                    <div class="news-card">
                        <div class="pb-1 d-flex justify-content-start">

                            @if (Model.PriorityName == "hot" && @heading.ToLower() != "help & information")
                            {
                                <div>
                                    <img src="~/Content/assets/images/news-announce.svg" width="60" height="60" style="width: auto;">
                                </div>
                            }
                            else
                            {
                                <div class="pl-8"></div>
                            }
                            <div class="pl-6 pt-2">
                                <span class="text-highlight" style="font-size: 20px;">
                                    @Model.Name
                                </span>
                            </div>
                        </div>
                        <div style="padding-left: 4.2rem;">
                            @*<div class="text-normal pb-2 ">
                                @Model.EndDate.ToString("dd-MM-yyyy")
                            </div>
                            <br>*@
                            <div class="edit-normal text-align-justify pb-3">
                               @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-4" style="padding-right: 14rem;padding-left:7rem;">
                    <div class="col-lg-12 col-md-12 col-sm-12 news-card">
                        <div>
                            @foreach (var item in data)
                            {
                                if (item.FileID == 1)
                                {
                                    if (item.FileContentUpload != null)
                                    {
                                        string str = System.Text.Encoding.Default.GetString(item.FileContentUpload);
                                        var str1 = str.Replace("ESDAL2", " ESDAL");
                                        @Html.Raw(str1);
                                    }
                                }

                                if (item.FileID != 1 && item.FileID != 2 && item.FileName != string.Empty)
                                {
                                    <div>
                                        @Html.ActionLink(item.FileName, "SendFile", new { FileID = item.FileID, ContentID = item.ContentID })
                                    </div> 
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="~/Scripts/Information/ViewInformation.js?V@(Session["ProjectVersion"])"></script>