@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.DocumentsAndContents.InformationModel>
@{
    var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
    int portalType = 0;
    int listCount = 0;
    int pageSize = 10;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    int? pageNum = ViewBag.page;
    listCount = pageSize;
    bool haulierportal = false;
    if (Session["UserInfo"] != null)
    {
        portalType = sessionValues.UserTypeId;
        if (portalType == 696001)
        {
            haulierportal = true;
        }
    }
    @Html.Hidden("haulierportal", haulierportal);
    @Html.Hidden("listCount", listCount)
}
@{
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.INFORMATION;
}
@if (Model.Count > 0)
{
    <section id="banner" class="vehicle-setting">
        <div class="container-fluid" id="banner-container">
            <div id="vehicles" class="news-info">
                <div class="title pt-4">
                    EXTERNAL LINKS
                </div>
                <div class="row pt-4 pb-4">
                    @Html.Hidden("pageSizeVal", pageSize)
                    @Html.Hidden("pageNum", pageNum)
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12 news-card">
                            <div class="pb-2">
                                <img src="~/Content/assets/images/chevlon-right.svg" width="30">
                                <a href=@item.LinkUrl target="_blank" style="text-decoration: none;">
                                    <span class="text-normal-hyperlink">
                                        @item.Name
                                    </span>
                                </a>
                            </div>
                            <div class="edit-normal text-align-justify pb-2">
                                @item.Description
                            </div>
                        </div>
                    }
                </div>
                @if (listCount < Model.TotalItemCount)
                {
                    if (Model.Count > 0)
                    {
                        <div class="row pagination-container-new">
                            <div class="col-lg-3">
                                @if (Model.TotalItemCount > 0)
                                {
                                    <div class="text-color2 total-records-number">
                                        Total number of records : @Model.TotalItemCount
                                    </div>
                                }
                            </div>
                            <div class="col-lg-6 text-center">
                                <div class="table-pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("ViewLinkList",
                                     new
                                     {
                                         B7vy6imTleYsMr6Nlv7VQ = STP.Web.Helpers.EncryptionUtility.Encrypt("page=" + page)
                                     }),
                                     new PagedListRenderOptions
                                     {
                                         DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                         DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                         LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                         LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                         DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                         DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                         MaximumPageNumbersToDisplay = 3,
                                         DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                         EllipsesFormat = "...",
                                         LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                         LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                     });
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0 absolute">
                                Number of items to display per page
                                <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeLink">
                                    <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                    <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                    <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                    <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                                </select>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </section>
}
else
{
    <section id="banner" class="vehicle-setting">
        <div class="container-fluid" id="banner-container">
            <div id="vehicles" class="news-info" style=" padding-bottom: 3rem;">
                <div class="title pt-4">
                    EXTERNAL LINKS
                </div>
                <div class="cardSOA1 mt-0" style="text-align:center;">
                    <h6 class="text-color3 stHeading1 m-0">@Resources.Resource.NoRecordFound</h6>
                </div>
            </div>
        </div>
    </section>
}
<script src="~/Scripts/Information/ViewLinkList.js?V@(Session["ProjectVersion"])"></script>