@model List<STP.Domain.VehiclesAndFleets.Configuration.MovementVehicleList>
@{
    var SelectedMovementType = ViewBag.SelectedMovementType;
}

<div class="pb-4">
    <div class="bgoutline pr-4">
        @if (ViewBag.IsVehicleImport)
        {
            @Html.Hidden("BackToPreviousList", true);
        }
        else
        {
            @Html.Hidden("BackToRoutePreviousList", true);
        }
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                string SubmittedBy = "";
                int flag = 0;

                if (item.IsSort == 1)
                {
                    SubmittedBy = "SORT";
                    flag = 1;
                }
                else
                {
                    SubmittedBy = "Haulier";
                    if ((SelectedMovementType != "special order" && SelectedMovementType != "SO") || ViewBag.IsNotifVehicle)
                    {
                        flag = 1;
                    }
                    else
                    {
                        flag = 3;
                    }
                }
                if (ViewBag.IsVehicleImport)
                {
                    <div class="filter_button pl-1 pr-1 pb-3 mb-2" style="text-align: justify;">
                        <div class="row mt-4 main-entry">
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                <div class="button mr-0">
                                    <button class="btn btn-primary btn-normal pt-3 pb-3" role="button"
                                            aria-pressed="true">
                                        ROUTE PART @item.RoutePartNo
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 align-items-center">
                                <div class="row mb-2">
                                    @item.RoutePartName (Submitted by @SubmittedBy)
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-12 col-md-2 col-lg-1 col-xs-4 pr-0">
                                        <label class="text-normal">Start</label>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-11 col-xs-7 options">
                                        <img src="~/Content/assets/Icons/map-startpoint.svg" width="15" alt="vehicle-2">
                                        <input class="edit-normal pl-0 pr-0" type="text" name="from"
                                               value="@item.FromAddress">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-12 col-md-2 col-lg-1 pr-0 col-xs-4">
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-8 col-xs-7">
                                        <img src="~/Content/assets/images/dotted.svg" alt="vehicle-2"
                                             style="position:relative;padding-left: 0.3rem;height: 5rem;">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-12 col-md-2 col-lg-1 pr-0" style="margin-top: -1.5rem;">
                                        <label class="text-normal">End</label>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-11 options">
                                        <img src="~/Content/assets/Icons/map-endpoint.svg" width="15" alt="vehicle-2">
                                        <input class="edit-normal pl-0 pr-0" type="text" name="from"
                                               value="@item.ToAddress">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 pr-2 pl-0 align-items-center"
                                 id="content-header">
                                <div class="row divcls ml-1" style="width:100%;">
                                    @foreach (var vehicle in item.VehicleList)
                                    {
                                        <div class="filter_button pt-3 pb-3 vchl-width">
                                            <input class="form-check-input vehicleformovement " type="radio" name="movementVehicle" data-vehicleid="@vehicle.VehicleId" data-flag="@flag"
                                                   id="YesLoadDiv" style="float: right; width: 15px;">
                                            <div class="d-flex justify-content-center">
                                                @foreach (var image in vehicle.VehicleNameList)
                                                {
                                                    var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + image + "_small.png";
                                                    <img class="pr-2 mt-2"
                                                         src="@Url.Content(ImageName)" alt="vehicle-2"><br>
                                                }
                                            </div>
                                            <span class="details">@vehicle.VehicleName</span>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="filter_button pl-1 pr-1 pb-3 mb-2" style="text-align: justify;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 pt-3 pb-3">
                                @item.RoutePartName (Submitted by @SubmittedBy)
                            </div>

                        </div>
                        <div class="row mt-2 main-entry">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row mb-2">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pr-0">
                                        <label class="text-normal">Route start address</label>
                                    </div>
                                    <div class="d-flex col-sm-6 col-md-6 col-lg-3 options">
                                        <img src="~/Content/assets/Icons/map-startpoint.svg" width="15" alt="vehicle-2">
                                        <span>
                                            <input class="edit-normal mlinput" type="text" name="from"
                                                   value="@item.FromAddress" title="@item.FromAddress" style="width: 180%;">
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pr-0 pt-3">
                                        <label class="text-normal">Route end address</label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3 options pt-3" style="display: flex; width: 30%">
                                        <img src="~/Content/assets/Icons/map-endpoint.svg" width="15" alt="vehicle-2">
                                        <span>
                                            <input class="edit-normal mlinput" type="text" name="from"
                                                   value="@item.ToAddress" title="@item.ToAddress" style="width: 180%;">
                                        </span>
                                    </div>
                                    <div class="d-flex col-sm-2 col-md-2 col-lg-1 pr-0 info-card" style="width: 50%">
                                        @if (item.RoutePartId != 0)
                                        {
                                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 button main-button mr-0" style="cursor: pointer; width: 30%;">

                                                <button class="btn btn-outline-primary btn-normal btnviewroute" role="button"
                                                        aria-pressed="true" data-routepartid="@item.RoutePartId" data-routepartname='@item.RoutePartName'>
                                                    VIEW ROUTE
                                                </button>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 button main-button" ma style="cursor: pointer; width: 100%;">
                                                <button class="btn btn-outline-primary btn-normal" role="button" id="btnImport"
                                                        aria-pressed="true" data-routepartname='@item.RoutePartName' data-routepartid="@item.RoutePartId" data-routetype="planned">
                                                    USE ROUTE
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <span style="margin-top: -12px; width: 25%;">

                                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 filterbtnimport" style="cursor: pointer; width: 100%;" data-routepartid="@item.RoutePartId" data-routetype="planned">

                                                    <div class="filter_button">IMPORT</div>
                                                </div>
                                            </span>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>