@model STP.Domain.VehiclesAndFleets.Configuration.SearchVehicleCombination
@using STP.Domain.VehiclesAndFleets.Configuration


<div class="row mt-4" id="combinationlst_cntr">
    <div class="col-lg-7 col-md-12 col-sm-12">
        <span class="title">Enter dimensions to get similar vehicles from fleet library</span>
        <div class="row mt-4 main-entry">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @using (Html.BeginForm("GetFilteredCombinations", "Application", FormMethod.Post, new { Id = "VehicleConfigInfo" }))
                {
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">Configuration name</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field">
                                    @Html.TextBoxFor(model => model.VehicleName, null, new { @class = "edit-normal" })
                                    @*<input class="edit-normal" type="text" name="from">*@
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">Vehicle Fleet number</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field">
                                    @Html.TextBoxFor(model => model.FleetId, null, new { @class = "edit-normal" })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">Gross Weight</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                    @Html.TextBoxFor(model => model.GrossWeight, null, new { @class = "edit-normal" })
                                    kg
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">Rigid length including load</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                    @Html.TextBoxFor(model => model.RigidLength, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">Overall length</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                    @Html.TextBoxFor(model => model.OverAllLength, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">Overall width</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field text-normal">
                                    @Html.TextBoxFor(model => model.OverAllWidth, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-sm-12 col-xs-12">
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-7 pr-0">
                                    <label class="text-normal">Rear Projection</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-5 input-field text-normal">
                                    @Html.TextBoxFor(model => model.RearOverhang, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-7 pr-0">
                                    <label class="text-normal">Left Projection</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-5 input-field text-normal">
                                    @Html.TextBoxFor(model => model.LeftOverhang, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-7 pr-0">
                                    <label class="text-normal">Front Projection</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-5 input-field text-normal">
                                    @Html.TextBoxFor(model => model.FrontOverhang, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-7 pr-0">
                                    <label class="text-normal">Right Projection</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-5 input-field text-normal">
                                    @Html.TextBoxFor(model => model.RightOverhang, null, new { @class = "edit-normal" })
                                    m
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-7 pr-0">
                                    <label class="text-normal">Number of Axles Tractor</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-5 input-field">
                                    @Html.TextBoxFor(model => model.NoOfAxlesTractor, null, new { @class = "edit-normal" })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-7 pr-0">
                                    <label class="text-normal">Number of Axles Trailer</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-5 input-field">
                                    @Html.TextBoxFor(model => model.NoOfAxlesTrailer, null, new { @class = "edit-normal" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 pr-4" id="similar_vehicles_contnr">

    </div>

</div>