@using STP.Domain.VehiclesAndFleets.Configuration;
@using STP.Domain.VehiclesAndFleets.Configuration
@{
    var VehicleDetails = (MovementVehicleConfig)ViewBag.SelectedVehicle;
    var FavoriteVehicles = (List<VehicleList>)ViewBag.FavoriteVehicles;
    var isAgreedNotif = false;
    string style = "";
    if (VehicleDetails.HighlightVehicle)
    {
        style = "style=background-color:yellow";
    }

    if (ViewBag.IsAgreedNotif != null)
    {
        isAgreedNotif = ViewBag.IsAgreedNotif;
    }
    int vehicleCount = ViewBag.VehicleCount;
}

<div class="new-vehicle vehicle-list-@VehicleDetails.VehicleId" data-vehiclename="@VehicleDetails.VehicleName">
    <div class="row mt-4 pr-8">
        <div class="col-lg-10 col-md-6 col-sm-12" id="table-head">
            <span>
                @for (int i = 0; i < VehicleDetails.VehicleNameList.Count; i++)
                {
                    var image = VehicleDetails.VehicleNameList[i];
                    var imageTitle = VehicleDetails.VehicleCompList[i].ComponentType;
                    var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + image + ".png";
                    <img src="@Url.Content(ImageName)" style="mix-blend-mode: darken; flex: 33.33%;"
                         alt="@image" title="@imageTitle">
                }
                <span class="details" @style>@VehicleDetails.VehicleName</span>
            </span>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
            <span id="table-head" class="align-items-center pb-4">

                <span class="pl-3 pr-3">
                    <img src="~/Content/assets/images/Group 1016.svg" width="25" style="cursor: pointer;" alt="Copy Vehicle" id="imgcopyvehicle" title="Copy Vehicle" data-vehicleid="@VehicleDetails.VehicleId" data-flag=4>
                </span>
                <span class="pl-3 pr-3">
                    <img src="~/Content/assets/images/save-to-library.svg" width="25" style="cursor: pointer;" alt="Save to Fleet" id="imgaddmovement" title="Save to Fleet" data-vehicleid="@VehicleDetails.VehicleId" data-vehiclename='@VehicleDetails.VehicleName'>
                </span>
                @if (!isAgreedNotif)
                {
                    <span class="pl-3 pr-3" data-toggle="modal">
                        <img src="~/Content/assets/images/edit-icon.svg" width="20" style="cursor: pointer;" id="imgeditmovement" alt="Edit Component" title="Edit Component" data-vehicleid="@VehicleDetails.VehicleId">
                    </span>
                }
                @if (!isAgreedNotif || (isAgreedNotif && vehicleCount != 1))
                {
                    <span class="pl-3 pr-3">
                        <img src="~/Content/assets/images/delete-icon.svg" width="20" style="cursor: pointer;" alt="Remove Vehicle" id="imgdltmovement" title="Delete Vehicle" data-vehicleid="@VehicleDetails.VehicleId" data-mainvehicleid="@VehicleDetails.MainVehicleId">
                    </span>
                }
                @if (isAgreedNotif || Session["AmendVehicle"] != null)
                {
                    <span class="pl-3 pr-3">
                        <img src="~/Content/assets/images/amendment.png" width="20" style="cursor: pointer;" alt="Amend Vehicle" id="imgamendmovement" title="Amend Vehicle" data-vehicleid="@VehicleDetails.VehicleId">
                    </span>
                }
                <!--This will display only for semitailer 0 axle tractor vehicle-->
                <span class="pl-3 pr-3 amend-axle amend-axle-@VehicleDetails.VehicleId" data-vehicleid="@VehicleDetails.VehicleId" style="display:none">
                    <img src="~/Content/assets/images/amendment.png" width="20" style="cursor: pointer;" alt="Amend Axle Details" class="imgAmendComponentAxle" title="Amend Axle Details" data-vehicleid="@VehicleDetails.VehicleId">
                </span>

                <span class="pl-3" id="spnviewvehicle" data-vehicleid="@VehicleDetails.VehicleId">
                    <img id="chevlon-down-icon_@VehicleDetails.VehicleId" src="~/Content/assets/images/down-chevlon-filter.svg" style="cursor: pointer;" width="15">
                    <img id="chevlon-up-icon_@VehicleDetails.VehicleId" src="~/Content/assets/images/up-chevlon-filter.svg" width="15" style="display: none; cursor: pointer;">
                </span>
            </span>
        </div>
    </div>

    <div id="viewcomponentdetails_@VehicleDetails.VehicleId" class="mb-2" style="display: none;">
        @{
            Html.RenderAction("ViewConfigurationGeneral", "VehicleConfig", new { vehicleID = VehicleDetails.VehicleId, isMovement = true });
        }

    </div>
</div>

@Html.Hidden("hf_isAgreedNotif", isAgreedNotif)