@using STP.Domain.VehiclesAndFleets.Configuration
@using STP.Domain.Workflow
@using STP.Common.Constants
@{
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }
    int MovementClassId = 0;
    bool isSortApp = false;
    bool isNotification = false;
    bool isAgreedNotif = false;
    bool isReturnRoute = false;
    bool isAutoAssignVehicle = false;
    int isRouteSummary = 0;

    var planMovePayLoad = new PlanMvmntPayLoad();
    bool IsVSO = ViewBag.CreateVSO;
    bool VehicleAssigned = false;
    if (userTypeID == UserType.Sort)
    {
        isSortApp = true;
    }
    if (ViewBag.PlanMvmntPayLoad != null)
    {
        planMovePayLoad = (PlanMvmntPayLoad)ViewBag.PlanMvmntPayLoad;

        MovementClassId = planMovePayLoad.MvmntType != null
            ? planMovePayLoad.MvmntType.MovementType : 0;

        //isSortApp = planMovePayLoad.IsSortApp;
        isNotification = planMovePayLoad.IsNotif;
        isAgreedNotif = planMovePayLoad.IsAgreedNotified;
        isRouteSummary = planMovePayLoad.IsRouteSummaryPage;
    }
}
@{
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.PLAN_MOVEMENT;
}
<style>
    #AdvHaulier.filters {
        width: inherit;
        border: inherit;
    }

    #VehType.form-select, #Indend.form-select {
        width: 18rem;
    }

    #pop-warning {
        opacity: 1;
        padding: 3%;
    }

    #content-header .details {
        vertical-align: bottom;
        font-size: 16px !important;
        font-family: lato_bold !important;
    }

    .btn-border-remove:focus {
        box-shadow: none !important;
    }

    .pagination {
        color: rgba(92, 92, 92, 1)
    }

    .dropdown-item:hover {
        color: inherit !important;
    }

    #vehicle-table {
        padding-right: 0% !important;
    }

    #vehicles {
        padding-right: 3% !important;
    }

    #vehicles {
        position: relative;
    }

    #back_btn_Altered {
        position: absolute;
        top: 100px;
        right: 3%;
    }

    .back_btn_sort {
        top: 108px !important;
    }

    #vehicle-config-list th:nth-child(9) {
        background-color: rgba(39, 87, 149, 1);
        text-align: center;
        cursor: pointer;
    }

    #vehicle-config-list th:last-child {
        background-color: white;
        text-align: center;
        cursor: pointer;
    }

    #vehicle-config-list td:nth-child(4), #vehicle-config-list td:nth-child(5), #vehicle-config-list td:nth-child(6) {
        text-align: left;
    }

    #vehicles .createVehicleDiv {
        padding-right: 0% !important;
        padding-left: 0% !important;
    }

    #vehicle_Create_section #scoll-left-btn {
        margin-left: -3rem !important;
    }

    #vehicle_Create_section #scoll-right-btn {
        margin-right: -1rem !important;
    }

    #vehicle-components-list th:last-child {
        background-color: white;
        text-align: center;
        cursor: pointer;
    }

    #vehicle-components-list th:nth-child(9) {
        width: 0%;
    }

    #progressbar .active, #progressbar .completed, #progressbar .active, #progressbar .completed p {
        cursor: pointer;
    }

    .invalid-feedback {
        white-space: pre-line;
    }

    #vehicle-config-list .movements td:nth-child(1) {
        cursor: text !important;
    }

    #movements {
        font-size: 15px;
    }
</style>


@{
    if (isAgreedNotif)
    {
        <script src="~/Scripts/Vehicle/vehicleConfig.Create.js?V@(Session["ProjectVersion"])"></script>
        <script src="~/Scripts/Vehicle/VehicleConfig.Registration.js?V@(Session["ProjectVersion"])"></script>
    }
}
<body style="overflow-y: auto;" id="routeNotifBody">
    <section id="banner" class="vehicle-setting planMovementContainer">
        <div class="container-fluid" id="banner-container">
            <div id="displayConstraintHistory" style="display:none;">

            </div>
            <div id="vehicles" class="flowComponent">


                @*<button class="btn btn-outline-primary SOAButtonHelper btn-border-remove" id="back_btn_Altered" style="background-color: white;display:none">BACK</button>*@

                @{ Html.RenderAction("MovementWorkflowProgress");}
                <input id="pageSizeVal" name="pageSizeVal" type="hidden" value="10">
                <input id="pageNum" name="pageNum" type="hidden" value="1">
                <!--Route Additional Section-->
                <div class="row" id="divRouteActionsContainer" style="display:none;">
                    <div class="col-sm-2">
                        <div class="new-vehicle">
                            <div class="pb-2">
                                <button class="validationmsg dropdwon_new" id="movements" role="button" data-bs-toggle="dropdown" aria-expanded="false">ADD ROUTE</button>
                                <ul class="dropdown-menu plan_mom_drop" aria-labelledby="movements" style="min-width:243px;">
                                    <li><a class="edit-normal" id="ImportRouteFromLibrary" href="#">Route Library</a></li>
                                    <li><a class="edit-normal" href="#" DataIsort2="@isSortApp" id="ImportRouteFromPrevMovements">Previous Movement</a></li>
                                    <li><a class="edit-normal" href="#" id="ImportRouteFromLibrary" DataISFAV1="1" DataIsSort3="@isSortApp">Favourites</a></li>
                                    <li><a class="edit-normal" href="#" id="IDCreateRoute">New Route</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10" style="text-align:right;">
                        <button class="btn btn-outline-primary SOAButtonHelper btn-border-remove" id="btn_back_to_movement_type_confirm" style="background-color: white;">BACK</button>
                        <button class="btn btn-outline-primary SOAButtonHelper btn-border-remove" id="btn_continue_to_route_summary" style="background-color: white; display: none;">MANAGE ROUTES</button>
                        <button class="btn btn-outline-primary SOAButtonHelper btn-border-remove" id="btn_continue_to_route_assessment" style="background-color: white;display:none;">CONTINUE TO ROUTE ASSESSMENT</button>
                    </div>
                </div>

                <div id="haulier_details_section"></div>
                <div id="select_vehicle_section"></div>
                <div id="vehicle_import_section"></div>
                <div id="vehicle_details_section"></div>
                <div id="vehicle_Create_section"></div>
                <div id="vehicle_Component_edit_section"></div>
                <div id="vehicle_edit_section"></div>
                <div id="movement_type_confirmation"></div>
                <div id="select_route_section"></div>
                <div id="select_route_section_agredRt"></div>
                <div id="route_vehicle_assign_section"></div>
                <div id="route" class="inner-map"></div>
                <div id="route_assessment_section"></div>
                <div id="supplimentary_info_section"></div>
                <div id="overview_info_section"></div>
                <br />
                <div id="AllocateUser"></div>
                <div class="row mt-4" id="backbutton" style="float: right;">
                    <div class="mt-5 pl-0 ml-0 pr-2">

                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove" id="back_btn_Rt_prv" style="background-color: white;display:none">BACK</button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove remove1" id="backBtnExistingSOVr1" style="display: none; background-color: white">BACK</button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove remove1" id="back_btn" style="background-color: white">BACK</button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove" style="display: none; background-color: white;" id="apply_btn">APPLY FOR SPECIAL ORDER</button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove" style="display: none; background-color: white" id="save_btn">SAVE</button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove" style="display: none; background-color: white" id="allocate_btn">
                            <span class="pr-3">
                                <img src="~/Content/assets/images/user-arrow.svg" width="13" class="init_img">
                                <img src="~/Content/assets/images/user-arrow.svg" width="13" class="hover_img notify">
                            </span>ALLOCATE
                        </button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove" style="display: none; background-color: white" id="confirm_btn">CONFIRM AND CONTINUE</button>
                        <button class="btn btn-outline-primary SOAButtonHelper ml2 mb-2 btn-border-remove" style="display: none; background-color: white" id="route_assessment_next_btn">NEXT</button>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <div id="planRouteFilter">
    </div>
    <div class="modal" id="Vr1SoExistingPopUp" tabindex="-1" role="dialog" style="display:none" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: contents;">
                    <span id="Vr1SoExistingClosePopUp" aria-hidden="true" class="pl-0 ml-2 pt-1" data-dismiss="modal" aria-label="Close" style="cursor:pointer;display: block;margin-right: 10px; text-align:right;">
                        <i class="fa fa-times" aria-hidden="true" style=" font-size: 20px; color: #275795;"></i>
                    </span>
                </div>
                <div class="modal-body" style=" margin-bottom: 0px;">
                    <div class="modal-body">
                        <div>
                            <img src="/Content/assets/images/warning-icon2.svg" alt="vehicle-2" class="mr-2" width="30" style="text-align: initial;">
                        </div>
                        <p>
                            Do you already have an existing application?
                            <br /><br />An approved application is required before making this
                            <br />movement. If you already have one on ESDAL, you can
                            <br />directly proceed with the notification from there
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSelectExistingVR1SO" class="btn btn-primary btn-normal mb-2 ">SELECT EXISITNG APPLICATION</button>
                        <button type="button" id="btnContinueNotif" class="btn btn-primary btn-normal mb-2 ">CONTINUE WITH NOTIFICATION</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@Html.Hidden("hf_IsPlanMovmentGlobal", true)
@Html.Hidden("MovementId", 0)
@Html.Hidden("AppRevisionId", 0)
@Html.Hidden("AppVersionId", 0)
@Html.Hidden("NotificationId", 0)
@Html.Hidden("NotifVersionId", 0)
@Html.Hidden("NotifProjectId", 0)
@Html.Hidden("NotifAnalysisId", 0)
@Html.Hidden("CRNo")
@Html.Hidden("ImminentFlag")
@Html.Hidden("IsVR1", false)
@Html.Hidden("IsNotif", isNotification)
@Html.Hidden("IsSoApp", false)
@Html.Hidden("WichPage", false)
@Html.Hidden("HdnHaulierContactName")
@Html.Hidden("HdnOrgFax")
@Html.Hidden("HdnOrgEmailId")
@Html.Hidden("HdnOrgIDSORT")
@Html.Hidden("HdnEditBySORT")
@Html.Hidden("SOHndContactID")
@Html.Hidden("HdnOrgNameSORT")
@Html.Hidden("Organisation_ID")
@Html.Hidden("Organisation_Name")
@Html.Hidden("IsVehicle", false)
@Html.Hidden("IsSortRevise", false)
@Html.Hidden("ImportFrom")
@Html.Hidden("IsFavouriteRoute", 0)
@Html.Hidden("CloneRevise", 0)
@Html.Hidden("MvmtConfirmFlag", false)
@Html.Hidden("SupplInfoSaveFlag", false)
@Html.Hidden("OverviewInfoSaveFlag", false)
@Html.Hidden("IsNotifyApplication", 0)
@Html.Hidden("IsSortUser", isSortApp)
@Html.Hidden("NotificationEditFlag", "0")
@Html.Hidden("chkRouteID", 0)
@Html.Hidden("showRouteIdMap", 0)
@Html.Hidden("viewHfRouteId", 0)
@Html.Hidden("IsAddVehicleError", 0)
@Html.Hidden("VSO_Type", "")
@Html.Hidden("VehicleClass", "")
@Html.Hidden("IsAgreedNotify", isAgreedNotif)
@Html.Hidden("IsRouteAssessment", false)
@Html.Hidden("IsReturnRoute", 0)
@Html.Hidden("IsRouteModify", 0)
@Html.Hidden("IsRouteReplanned", false)
@Html.Hidden("IsReturnRouteAvailable_Flag", isReturnRoute)
@Html.Hidden("IsVehicleAutoAssigned_Flag", isAutoAssignVehicle)
@Html.Hidden("IsVSO", IsVSO)
@Html.Hidden("NotiVSO", "")
@Html.Hidden("TypeVSO", "")
@Html.Hidden("IsRouteSummary_Flag", isRouteSummary)
@Html.Hidden("IsRenotify", planMovePayLoad.IsRenotify)
@Html.Hidden("hf_RevisionId", planMovePayLoad.RevisionId)
@Html.Hidden("hf_NotificationId", planMovePayLoad.NotificationId)
@Html.Hidden("hf_VehicleMoveId", planMovePayLoad.VehicleMoveId)
@Html.Hidden("hf_VersionId", planMovePayLoad.VersionId)
@Html.Hidden("hf_ContenRefNo", planMovePayLoad.ContenRefNo)
@Html.Hidden("hf_AnalysisId", planMovePayLoad.AnalysisId)
@Html.Hidden("hf_IsRouteAssessmentDone", planMovePayLoad.IsRouteAssessmentDone)
@Html.Hidden("hf_IsSortApp", isSortApp)
@Html.Hidden("hf_IsRevise", planMovePayLoad.IsRevise)
@Html.Hidden("hf_IsApp", planMovePayLoad.IsApp)
@Html.Hidden("hf_IsVr1App", planMovePayLoad.IsVr1App)
@Html.Hidden("hf_VehicleAssignedGlobal", planMovePayLoad.IsRouteVehicleAssigned)
@{
    double ActionCompleted = planMovePayLoad.ActionCompleted;
    double NextAction = planMovePayLoad.NextAction;
    var nextActionVal = ActionCompleted != 0 && NextAction < ActionCompleted ? ActionCompleted : NextAction;
}
@Html.Hidden("hf_NextAction", NextAction)
@Html.Hidden("hf_ActionCompleted", ActionCompleted)
@Html.Hidden("hf_IsNotif", planMovePayLoad.IsNotif)
@Html.Hidden("hf_IsAppClone", planMovePayLoad.IsAppClone)
@Html.Hidden("hf_IsNotifClone", planMovePayLoad.IsNotifClone)
@Html.Hidden("hf_IsNotifGeneralSaved", planMovePayLoad.IsNotifGeneralSaved)
@Html.Hidden("hf_IsSupplimentarySaved", planMovePayLoad.IsSupplimentarySaved)
@Html.Hidden("hf_IsSoOverView", planMovePayLoad.IsSoOverView)
@Html.Hidden("hf_userTypeID", userTypeID)
@Html.Hidden("hf_isSortApp", isSortApp)
@Html.Hidden("hf_isNotification", isNotification)
@Html.Hidden("hf_MovementClassId", MovementClassId)
@Html.Hidden("cv_movementType")
@Html.Hidden("cv_vehicleClass")
@Html.Hidden("pm_movementType")
@Html.Hidden("pm_vehicleClass")
@Html.Hidden("hf_Vr1SoExistingPopUp")
<script src="~/Scripts/Movements/planMovement.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/PlanMovementNav.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementWorkflowProgress.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Contact/ContactView.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/CreateVehicle/createVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/CreateVehicle/VehicleAutoFill.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/CreateVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/CreateComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/jQuery.Cofig.VehicleConfigList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_ComponentSelection.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_Assessment.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/CreateVehicle/VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/unitConversion.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuesry.Comp.General.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/VehicleComponentEdit.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Axle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/AxleComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Register.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Create.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/RegistrationComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfiguration/_ConfigRegistration.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Movements/_MovementSelectVehicle.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementSelectVehicleByImport.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementSelectedVehicles.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementAssessmentDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_VehicleDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleConfig/ViewConfigurationGeneral.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/GeneralVehicleComponent.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementTypeConfirmation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementSelectVehicleFrmSimilarCombinations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_SimilarVehicleCombinations.js?V@(Session["ProjectVersion"])"></script>

<script src="/Scripts/Movements/MovementList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/jQuery.hauliertfilter.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/SOMovementList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/SOAdvancedSearch.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/_MovementRouteVehicle.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Routes/MovementRoute.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/_RouteDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/_SelectRouteByImport.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/RoutePartLibrary.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Movements/_MovementRouteVehicleAssignment.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Notification/_NotificationRouteAssessment.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/routeAssessment.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/RouteAnalysisNotification.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/ViewConstraint.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Constraint/HaulierConstraintDetails.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/RouteAssessment/ListConstraints.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAnnotations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAffectedStructures.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/RouteAssessment/ListAffectedRoads.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/XSLT/AffectedParties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedRoads.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/AffectedStructures.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/AffectedstructureSummaryPopup.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/Annotations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/Constraints.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/XSLT/DrivingInstruction.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Notification/_NotificationGeneralDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ApplicationRouteList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BPlanning.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/A2BLeftPanel.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/SOApplication/jQuery.SOApplication.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/enterRouteDetail.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/_ViewSupplementary.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ViewSupplimentaryInfo.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/_ApplicationSupplimentaryInfo.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/_ApplicationOverview.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/jquery.validate.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Routes/LibraryRoutePartDetails.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/RouteAssessment/ListAffectedParties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/ManualAddedParties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/PopUpAddressBookCsp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Contact/ContactList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Application/ViewContactDetails.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Notification/_NotifAffectedParties.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/AddressBook/PartialView/_ManageAddressBookDetails.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/MoveInboxAdvancedSearch.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/routeAssessment.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Annotation/CreateAnnotation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Notification/NotificationDispensationPopUpCsp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/jQuery.Dispensations.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Dispensation/CreateDispensation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Dispensation/PartialView/EditDispensationRestriction.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Dispensation/ManageDispensation.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/ReviewSummaryPopup.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/StructureContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/RoadContact.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Structures/UnsuitableStructureSummary.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Movements/PlanMovementUnsavedData.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Annotation/PartialView/_DisplayAnnotationListPopUp.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Common/MasterPage/jquery.uiControls.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/AddressBook/AddressList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/AddressBook/ManageAddressBook.js?V@(Session["ProjectVersion"])"></script>
<!--===========SORT======START===========-->
@if (userTypeID == UserType.Sort)
{
    <script src="~/Scripts/SORTApplication/_SORTHaulierDetails.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Organisation/jQuery.Organisation.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Organisation/_OrganisationList.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Organisation/_ViewExistingOrganisation.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Organisation/_CreateOrganisation.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/SORTApplication/SORTAllocateUser.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/SORTApplication/SORTInbox.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/SORTApplication/_MovementImportVersions.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/SORTApplication/_SORTSelectRouteByImport.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/SORTApplication/SORTInboxAdvancedFilter.js?V@(Session["ProjectVersion"])"></script>
}

<!--===========SORT======END===========-->