@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.Applications.IndemnityConfirmation

@{
    bool isAdmin = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
    Layout = "";

}
<table>
    <tr>
        <td>
            <b>Form of Indemnity</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>
                THE INDEMNITY
            </b>
        </td>
    </tr>
    <tr>

        <td>
            <p>
                1. We @Model.HaulierName
                @if (Model.OnBehalfOf != null)
                {
                    @Html.Raw("(on behalf of ") @Model.OnBehalfOf @Html.Raw(")")
                }

                agree to indemnify you @Model.OrganisationName, in respect of any damage that is caused
                in the course of a journey of which you have been notified under the Road Vehicles (Authorisation of Special Types)(General) Order 2003 (which is
                referred to below as "the 2003 Order").
            </p>
        </td>
    </tr>
    <tr>
        <td>
            2. This indemnity relates to the journey scheduled to take place between @if (Model.FirstMoveDate.ToString("dd/MM/yyyy") != "01/01/0001")
            {
                @Html.Raw(Model.FirstMoveDate.ToString("dd MMMM yyyy"))
            } and
            @if (Model.LastMoveDate.ToString("dd/MM/yyyy") != "01/01/0001")
            {
                @Html.Raw(Model.LastMoveDate.ToString("dd MMMM yyyy"))
            }  starting with the date on which the indemnity was signed.
        </td>

    </tr>

    <tr>
        <td>
            <b>
                The damage covered:
            </b>
        </td>
    </tr>
    <tr>

        <td>
            3. Except as stated in paragraph 4, the damage in respect of which this indemnity is given is limited to any
            damage caused to any road or bridge for the maintenance of which you are responsible.
        </td>
    </tr>
    <tr>
        <td>
            4. This indemnity also extends to any damage caused to any other road or bridge that is used in the course of
            any journey to which the indemnity relates, in any case where a separate indemnity required by the 2003 Order
            has not been given to, or received by, the authority, body or person ("third party") which is responsible for the
            maintenance of that other road or bridge.
        </td>
    </tr>
    <tr>
        <td>
            <b>
                The cause of damage:
            </b>
        </td>
    </tr>
    <tr>
        <td>
            5. The damage covered in this indemnity is limited to damage caused by - (a) the construction of any vehicle
            used; (b) the weight transmitted to the road surface by any vehicle used; (c) the dimensions, distribution or
            adjustment of the load carried on any vehicle used in the carriage of an abnormal indivisible load; (d) any vehicle
            other than the vehicle used in any case where that damage results from the vehicle used (but excluding any
            damage caused, or contributed to, by the negligence of the driver of the other vehicle).
        </td>
    </tr>
    <tr>
        <td>
            <b>
                Enforcement of indemnity:
            </b>
        </td>
    </tr>
    <tr>
        <td>
            6. This indemnity is enforceable by you, to the extent of the damage specified in paragraph 3.
        </td>
    </tr>
    <tr>
        <td>
            7.  This indemnity is enforceable by any third party referred to in paragraph 4, in its own right, to the extent of any
            damage caused to any road or bridge for the maintenance of which it is responsible (but only if it has not already
            recovered payment in respect of that damage by virtue of a claim made by it under the equivalent provision in
            another indemnity given under the 2003 Order).
        </td>
    </tr>
    <tr>

        <td>
            8.  A claim in respect of damage covered by this indemnity will only be entertained if the claim - (a) states the
            occasion and place of the damage; and (b) is made before the end of the period of 12 months starting with the
            date on which the vehicle was last used in the course of the journey during which the damage occurred.
        </td>
    </tr>
    <tr class="bordernone">
        <td colspan="2">
            <table class="bordernone tableStyle" style="width: 100%;">
                <tr class="bordernone">
                    <td class="bordernone">
                        <b>Date:</b>&nbsp;@if (Model.SentDateTime.ToString("dd/MM/yyyy") != "01/01/0001")
                        {
                            @Html.Raw(Model.SentDateTime.ToString("dd MMMM yyyy HH:mm:ss"))
                        }
                    </td>
                    <td class="bordernone" style="text-align: right;">
                        <b>Signed:</b>&nbsp;@Model.HaulierContact
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>