@model STP.Domain.MovementsAndNotifications.Movements.MovementsInboxFilter
@using STP.Web.Custom.Views
<style>
    #viewstatus span, #viewMovement span {
        color: #5C5C5C;
        font-size: 15px;
    }
</style>
<div class="filters" data-target="viewstatus">
    <div class="row ">
        <div class="col-11 col-md-11 col-sm-11">
            <span>
                Status
            </span>
        </div>
        <div class="col-1 col-md-1 col-sm-1">
            <img id="chevlon-up-icon" class="chevlon-up-icon" src="~/Content/assets/images/up-chevlon-filter.svg" width="20"
                 style="display: none;">
            <img id="chevlon-down-icon" class="chevlon-down-icon" src="~/Content/assets/images/down-chevlon-filter.svg" width="20"
                 style="display: block">
        </div>
    </div>
</div>
<div class="pr-0 pl-3 mr-0 ml-0 mt-4 mb-0 input-field" id="viewstatus" style="display: none;">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Accepted", new { @class = "checkbox checkall", @name = "Accepted", @id = "Accepted" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/images/completed.svg"    width="25" class="mr-1">
                    <span>Accepted</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Declined", new { @class = "checkbox checkall", @name = "Declined", @id = "Declined" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/Icons/declined.svg"   width="25" class="mr-1">
                    <span>Declined</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Rejected", new { @class = "checkbox checkall", @name = "Rejected", @id = "Rejected" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/images/cancelled.svg"  width="25" class="mr-1">
                    <span>Rejected</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Withdrawn", new { @class = "checkbox checkall", @name = "Withdrawn", @id = "Withdrawn" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/images/withdrawn.svg"  width="25" class="mr-1">
                    <span>Withdrawn</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Opened", new { @class = "checkbox checkall", @name = "Opened", @id = "Opened" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/opened.svg"   width="25" class="mr-1">
                    <span>Opened</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Unopened", new { @class = "checkbox checkall", @name = "Unopened", @id = "Unopened" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/unopened.svg"  width="25" class="mr-1">
                    <span>Unopened </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("ImminentMovement", new { @class = "checkbox checkall", @name = "ImminentMovement", @id = "ImminentMovement" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/images/warning.svg"   width="25" class="mr-1">
                    <span>Imminent movement</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("UnderAssessmentbyMe", new { @class = "checkbox checkall", @name = "UnderAssessmentbyMe", @id = "UnderAssessmentbyMe" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/images/under-assement-by-me-01.svg"   width="25" class="mr-1">
                    <span>Under assessment by me</span>
                </div>
            </div>
            <div> </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("UnderAssessment", new { @class = "checkbox checkall", @name = "UnderAssessment", @id = "UnderAssessment" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <img src="~/Content/assets/Icons/work-in-Progress.svg"  width="20" class="mr-1">
                    <span>All under assessment movements</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("UnderAssessmentbyOtherUser", new { @class = "checkbox checkall", @name = "UnderAssessmentbyOtherUser", @id = "UnderAssessmentbyOtherUser" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <img src="~/Content/assets/images/user-setting.svg"  width="25" class="mr-1">
                    <span>Under assessment by other user</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                @Html.DropDownList("UserID", ViewBag.SelectUserDropDown as SelectList, "Select user", new { @id = "UserID", @disabled = "disabled", @class = "form-select mb-3", @style = "overflow: scroll; width: 100%;" })
            </div>
        </div>
    </div>
</div>
<div class="mt-5 mb-4 filters" data-target="viewMovement">
    <div class="row ">
        <div class="col-11 col-md-11 col-sm-11">
            <span>
                Movement
            </span>
        </div>
        <div class="col-1 col-md-1 col-sm-1">
            <img id="chevlon-up-icon1" class="chevlon-up-icon"  src="~/Content/assets/images/up-chevlon-filter.svg" width="20"
                 style="display: none;">
            <img id="chevlon-down-icon1" class="chevlon-down-icon"  src="~/Content/assets/images/down-chevlon-filter.svg" width="20"
                 style="display: block">
        </div>
    </div>
</div>
<div id="viewMovement" class="soa-portal" style="display: none;">
    <div class="row pl-3">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("SO", new { @class = "checkbox", @name = "SO", @id = "SO" })
                </div>
                <div style="margin-top: 3px;" class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <span>SO</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("STGOVR1", new { @class = "checkbox", @name = "STGOVR1", @id = "STGOVR1" })
                </div>
                <div style="margin-top: 3px;" class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <span>STGO requiring VR-1</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("STGO", new { @class = "checkbox", @name = "STGO", @id = "STGO" })
                </div>
                <div style="margin-top: 3px;" class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <span>All STGO</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("CandU", new { @class = "checkbox", @name = "CandU", @id = "CandU" })
                </div>
                <div style="margin-top: 3px;" class="col-lg-10 col-sm-10 col-md-10">
                    <span>C&U</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Tracked", new { @class = "checkbox", @name = "Tracked", @id = "Tracked" })
                </div>
                <div style="margin-top: 3px;" class="col-lg-10 col-sm-10 col-md-10">
                    <span>Tracked</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("VSO", new { @class = "checkbox", @name = "VSO", @id = "VSO" })
                </div>
                <div style="margin-top: 3px;" class="col-lg-10 col-sm-10 col-md-10">
                    <span>VSO</span>
                </div>
            </div>

        </div>
    </div>
    <div class="pr-0 pl-3 mr-0 ml-0 mt-5 mb-0 input-field">
        <input class="edit-normal" id="ESDALReference" type="text" name="ESDALReference" placeholder="ESDAL reference number" value="@Model.ESDALReference"  autocomplete="off">
    </div>
    <div class="pr-0 pl-3 mr-0 ml-0 mt-2 mb-0 input-field">
        @*<input class="edit-normal" type="text" id="HaulierName" name="HaulierName" placeholder="Haulier name">*@
        @Html.TextBoxFor(m => m.HaulierName, Model.HaulierName, new { @class = "edit-normal", @id = "HaulierName", @name = "HaulierName", @placeholder = "Haulier name" })
    </div>
    <div class="pr-0 pl-3 mr-0 ml-0 mt-2 mb-0 input-field">
        <input class="edit-normal" id="HaulierReference" type="text" name="HaulierReference" placeholder="Haulier reference" value="@Model.HaulierReference">
    </div>
    <div class="row date-filter pl-5">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1 pl-0">
                    @Html.CheckBox("MovementDate", new { @class = "checkbox checkall", @name = "MovementDate", @id = "MovementDate" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <span class="details1" style="font-weight: bold;">Movement date</span>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-12 col-lg-2 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0">
                        <span class="text-normal" style="display:flex;">from</span>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-10 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0 input-field">
                        @*<input class="edit-normal" type="text" name="from">*@
                        @*@Html.DatePicker("MovementFromDate")*@
                        @if (Model.MovementDate)
                        {
                            @*@Html.DatePicker("MovementFromDate", new { @class = "" })*@
                            <input type="text" control-type="datepicker" id="MovementFromDate" name="MovementFromDate" value="@Model.MovementFromDate" class="">
                        }
                        else
                        {
                            @Html.DatePicker("MovementFromDate", new { @class = "", @disabled = "disabled" })
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-12 col-lg-2 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0">
                        <span class="text-normal" style="display:flex;">to</span>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-10 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0 input-field">
                        @*<input class="edit-normal" type="text" name="from">*@
                        @if (Model.MovementDate)
                        {
                            @*@Html.DatePicker("MovementToDate", new { @class = "" })*@
                            <input type="text" control-type="datepicker" id="MovementToDate" name="MovementToDate" value="@Model.MovementToDate" class="">
                        }
                        else
                        {
                            @Html.DatePicker("MovementToDate", new { @class = "", @disabled = "disabled" })
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1 pl-0">
                    @Html.CheckBox("ReceiveDate", new { @class = "checkbox checkall", @name = "ReceiveDate", @id = "ReceiveDate", @style = "width:20px" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <span class="details1" style="font-weight: bold;">Movement Received</span>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-12 col-lg-2 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0">
                        <span class="text-normal" style="display:flex;">from</span>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-10 pr-1 pl-0 mr-0 ml-0 mt-0 mb-0 input-field">
                        @if (Model.ReceiveDate)
                        {
                            @*@Html.DatePicker("FromReceiptDateOfCommn", new { @class = "" })*@
                            <input type="text" control-type="datepicker" id="FromReceiptDateOfCommn" name="FromReceiptDateOfCommn" value="@Model.FromReceiptDateOfCommn" class="">
                        }
                        else
                        {
                            @Html.DatePicker("FromReceiptDateOfCommn", new { @class = "", @disabled = "disabled" })
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-12 col-lg-2 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0">
                        <span class="text-normal" style="display:flex;">to</span>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-10 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0 input-field">
                        @*<input class="edit-normal" type="text" name="to">*@
                        @if (Model.ReceiveDate)
                        {
                            @*@Html.DatePicker("ToReceiptDateOfCommn", new { @class = "" })*@
                            <input type="text" control-type="datepicker" id="ToReceiptDateOfCommn" name="ToReceiptDateOfCommn" value="@Model.ToReceiptDateOfCommn" class="">
                        }
                        else
                        {
                            @Html.DatePicker("ToReceiptDateOfCommn", new { @class = "", @disabled = "disabled" })
                        }

                    </div>
                </div>
            </div>
        </div>
        <div id="move_date_valid" class="error invalid-feedback pt-2" style="display: block !important;"></div>
    </div>
    <div class="row pl-4">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 pt-5">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBoxFor(m => m.ShowMostRecentVersion)
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0">
                    <span style="margin-left: -15px;" class="details1">@Resources.Resource.ShowMostRecent</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 pt-5">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1 pl-1">
                    @Html.CheckBox("IncludeHistorical", new { @class = "checkbox", @name = "IncludeHistoric", @id = "IncludeHistorical" })
                </div>
                <div class="col-lg-11 col-sm-11 col-md-11 pl-3">
                    <span>Include Historic Data</span>
                </div>
            </div>
        </div>
    </div>

</div>
@Html.Hidden("hf_DateTime", DateTime.Now.ToString("dd-MMM-yyyy"))

<script src="~/Scripts/Movements/SOAPoliceSearch.js?V@(Session["ProjectVersion"])"></script>