@model STP.Domain.MovementsAndNotifications.Movements.MovementsFilter

@{
    int accordian = 1;
    accordian = ViewBag.Accordian;
}
@Html.Hidden("accordian", accordian)
@Html.HiddenFor(m => m.BtnClearSORTOrder, new { @id = "HidnCleareBtnFlag" })
<style>
    #viewHaulierStatus span, #viewHaulierOtherStatus span {
        color: #5C5C5C;
        font-size: 15px;
    }
</style>
<div class="filters" data-target="viewHaulierStatus">
    <div class="row viewhaulierstatus" >
        <div class="col-10 col-md-10 col-sm-10">
            <span>
                Movement status
            </span>
        </div>
        <div class="col-2 col-md-2 col-sm-2">
            <img id="chevlon-up-icon"  class="chevlon-up-icon" src="~/Content/assets/images/up-chevlon-filter.svg" width="15"
                 style="display: none;">
            <img id="chevlon-down-icon"  class="chevlon-down-icon" src="~/Content/assets/images/down-chevlon-filter.svg" width="15"
                 style="display: block">
        </div>
    </div>
</div>
<div class="pr-0 pl-4 mr-0 ml-0 mt-4 mb-0 input-field" id="viewHaulierStatus" style="display: none;">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-2">
                    @*@Html.CheckBox("WorkInProgressNotification", new { @class = "checkbox checkall", @name = "WorkInProgressNotification", @id = "WorkInProgressNotification" })*@
                    @Html.CheckBox("WorkInProgressAppNotif", new { @class = "checkbox checkall", @name = "WorkInProgressAppNotif", @id = "WorkInProgressAppNotif", @aria_label = "Application Work in progress" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/WIP-icon.svg" width="22" class="ml-1 mr-2">
                    <span>Work in progress</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-2">
                    @Html.CheckBox("Notifications", new { @class = "checkbox checkall", @name = "Notifications", @id = "Notifications" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/Icons/notification-submitted.svg" width="18" class="ml-1 mr-2">
                    <span>
                        Notification submitted
                    </span>
                </div>
            </div>
            <div class="row pb-2" style="display:none">
                <div class="col-lg-1 col-sm-2 col-md-2" >
                    @Html.CheckBox("WorkInProgressApplication", new { @class = "checkbox checkall", @name = "WorkInProgressApplication", @id = "WorkInProgressApplication" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                   <img src="~/Content/assets/images/WIP-icon.svg" width="22" class="ml-1 mr-2">
                    <span>Application Work in progress</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-1 col-md-2">
                    @Html.CheckBox("Submitted", new { @class = "checkbox checkall", @name = "Submitted", @id = "Submitted" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/up-arrow.svg" width="22" class="ml-1 mr-2">
                    <span>Application submitted</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-1 col-md-2">
                    @Html.CheckBox("ReceivedByHA", new { @class = "checkbox checkall", @name = "ReceivedByHA", @id = "ReceivedByHA" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/Group 1266.svg" width="24" class="ml-1 mr-1">
                    <img src="~/Content/assets/images/Group 1269.svg" width="15" class="mr-1"
                         style="margin-left: -20px;margin-top: -5px;">
                    <span>Application received by NH</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-1 col-md-2">
                    @Html.CheckBox("NewCollabration", new { @class = "checkbox checkall", @name = "ReceivedByHA", @id = "ReceivedByHA" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~//Content/assets/Icons/unopened.svg" width="24" class="ml-1 mr-1">
                    <span>New collaborations</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-1 col-md-2">
                    @Html.CheckBox("ReadCollaboration", new { @class = "checkbox checkall", @name = "ReceivedByHA", @id = "ReceivedByHA" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~//Content/assets/Icons/opened.svg" width="24" class="ml-1 mr-1">
                    <span>Read collaborations</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-1 col-md-2">
                    @Html.CheckBox("ProposedRoute", new { @class = "checkbox checkall", @name = "ProposedRoute", @id = "ProposedRoute" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/Group 1267.svg" width="21" class=" ml-1 mr-1">
                    <img src="~/Content/assets/images/Group 1270.svg" width="15" class="mr-1"
                         style="margin-left: -16px;margin-top: -20px;">
                    <span>Application proposed route</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-1 col-md-2">
                    @Html.CheckBox("Agreed", new { @class = "checkbox checkall", @name = "Agreed", @id = "Agreed" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/Group 1267.svg"  width="21" class=" ml-1 mr-1">
                    <img src="~/Content/assets/images/Group 1269.svg"  width="15" class="mr-1"
                         style="margin-left: -16px;margin-top: -20px;">
                    <span>Application agreed route</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-2">
                    @Html.CheckBox("ApprovedVR1", new { @class = "checkbox checkall", @name = "ApprovedVR1", @id = "ApprovedVR1" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/completed.svg"  width="22" class="ml-1 mr-2">
                    <span>VR1 approved </span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-2">
                    @Html.CheckBox("DeclinedApplications", new { @class = "checkbox checkall", @name = "DeclinedApplications", @id = "DeclinedApplications" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/cancelled.svg"  width="22" class="ml-1 mr-2">
                    <span>Application declined</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-1 col-sm-2 col-md-2">
                    @Html.CheckBox("WithdrawnApplications", new { @class = "checkbox checkall", @name = "WithdrawnApplications", @id = "WithdrawnApplications" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/withdrawn.svg"  width="22" class="ml-1 mr-2">
                    <span>
                        Application withdrawn
                    </span>
                </div>
            </div>
            <div class="row pb-2" style="display: none;">
                <div class="col-lg-1 col-sm-2 col-md-2">
                    @Html.CheckBox("NeedsAttention", new { @class = "checkbox checkall", @name = "NeedsAttention", @id = "NeedsAttention" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 ml-2 pr-0 text-normal-hyperlink">
                    <img src="~/Content/assets/images/warning.svg"  width="22" class="ml-1 mr-2">
                    <span>Needs your attention</span>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Hidden("NotifyVSO", Model.NotifyVSO)
<div class="my-3 filters" data-target="viewHaulierOtherStatus">
    <div class="row viewhaulierotherstatus" >
        <div class="col-10 col-md-10 col-sm-10">
            <span>
                Other options
            </span>
        </div>
        <div class="col-2 col-md-2 col-sm-2">
            <img id="chevlon-up-icon1" class="chevlon-up-icon"  src="~/Content/assets/images/up-chevlon-filter.svg" width="15"
                 style="display: none;">
            <img id="chevlon-down-icon1" class="chevlon-down-icon"  src="~/Content/assets/images/down-chevlon-filter.svg" width="15"
                 style="display: block">
        </div>
    </div>
</div>
<div id="viewHaulierOtherStatus" style="display: none;">
    <div class="row pl-4">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row pb-3">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("MostRecentVersion", new { @class = "checkbox", @name = "MostRecentVersion", @id = "MostRecentVersion" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">@Resources.Resource.ShowMostRecent</span>
                </div>
            </div>
            <div class="row pb-2 pt-2">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    @*@Html.DropDownListFor(m => m.FolderId, ViewBag.FolderNameDropDown as SelectList, "--Select folder name--", new { @class = "form-select mb-3 ", @id = "FolderID",@style= "width: -webkit-fill-available;" })*@
                    @Html.HiddenFor(m=>m.FolderId, new { @id = "FolderID" })
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="pr-0 pl-0 mr-0 ml-0 mt-5 mb-0 input-field">
                        <input class="text-decorate" type="text" name="search"
                               placeholder="For example: Bulldozer or 360 Excavator">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("SO", new { @class = "checkbox", @name = "SO", @id = "SO" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">SO</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("VSO", new { @class = "checkbox", @name = "VSO", @id = "VSO" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">VSO</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("STGO", new { @class = "checkbox", @name = "STGO", @id = "STGO" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">All STGO</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("CandU", new { @class = "checkbox", @name = "CandU", @id = "CandU" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">C&U</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("Tracked", new { @class = "checkbox", @name = "Tracked", @id = "Tracked" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">Tracked</span>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    @Html.CheckBox("StgoVR1", new { @class = "checkbox", @name = "StgoVR1", @id = "StgoVR1" })
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 pr-0 text-normal-hyperlink">
                    <span class="details1">STGO requiring VR-1</span>
                </div>
            </div>
        </div>
    </div>
</div>

