@model List<STP.Domain.DocumentsAndContents.InformationModel>
<div class="col-lg-8 col-sm-12 col-md-12 col-xs-12 pl-0 pr-0 mr-0 ml-0 column-2"
     style="background-image: url(../Content/assets/images/laag6.png);opacity: 1;">
    <div class="pr-0 pl-0 ml-0 mr-0"
         style="background-image: url(../Content/assets/images/laag6Kopieren.png);opacity: 1;">
        <div class="row pr-0 pl-0 ml-0 mr-0">
            <div class="thumbnail">
                <img src="~/Content/assets/images/laag19.png"
                     class="image">
                <div class="main-content">
                    <div class="row mr-0 ml-0">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8  col-xs-8 pr-0  news">
                            News
                        </div>
                    </div>
                    <hr class="mb-0 mt-0">
                    <div class="row mr-0 ml-0 pt-0">
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {

                            if (i != 2)
                            {
                                <!--<div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">-->
                                @*<img src="~/Content/assets/images/warning.svg" width="25">*@
                                <!--</div>-->
                                if (item.PriorityName == "hot")
                                {
                                    <div class="col-lg-1 col-md-1 col-sm-1 pl-0">
                                        <img src="~/Content/assets/images/news-announce.svg" width="60" height="55" style="width: auto;">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                                        @*<img src="~/Content/assets/images/warning.svg" width="25">*@
                                    </div>
                                }
                                <div class="col-lg-7 col-md-7 col-sm-7  col-xs-7 pr-0 line1" style="padding-top:0.7rem;">
                                    <span> @item.UploadedDate.ToString("dd MMM") </span>- @item.Name
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-top:0.7rem;">
                                    <a href="@Url.Action("ViewInformation", "Information",
                                            new { B7vy6imTleYsMr6Nlv7VQ = STP.Web.Helpers.EncryptionUtility.Encrypt("id=" + item.ContentId) })" class="links">
                                        @*<img alt="List View" src="@Url.Content("~/Images/ListView.png")">*@
                                        <img src="~/Content/assets/images/main-chevlon.svg" width="20">
                                    </a>
                                </div>
                            }
                            else
                            {
                                if (item.PriorityName == "hot")
                                {
                                    <div class="col-lg-1 col-md-1 col-sm-1 pl-0">
                                        <img src="~/Content/assets/images/news-announce.svg" width="60" height="55" style="width: auto;">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                                    </div>
                                }
                                <div class="col-lg-7 col-md-7 col-sm-7  col-xs-7 pr-0 line1" style="padding-top:0.7rem;">
                                    <span> @item.UploadedDate.ToString("dd MMM") </span>- @item.Name
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2" style="padding-top:0.7rem;">
                                    <a href="@Url.Action("ViewInformation", "Information", 
                                            new { B7vy6imTleYsMr6Nlv7VQ = STP.Web.Helpers.EncryptionUtility.Encrypt("id=" + item.ContentId) })" class="links">
                                        @*<img alt="List View" src="@Url.Content("~/Images/ListView.png")">*@
                                        <img src="~/Content/assets/images/main-chevlon.svg" width="20">
                                    </a>
                                </div>
                                <div id="more-info" class="col-lg-2 col-md-2 col-sm-2 more-info">
                                    More news
                                    <span>
                                        <a href="@Url.Action("NewsOverview", "Information")" class="links">
                                            <img src="~/Content/assets/images/down-chevlon.svg" width="20">
                                        </a>
                                    </span>
                                </div>
                                @*</div>*@
                            }
                            i++;
                            <hr class="mb-0 mt-0">
                        }
                    </div>
                    

                </div>
            </div>
            @*<div id="more-news" style="display:none;" class="pl-0 pr-0">
                <hr class="mb-0 mt-0">
                <div class="row mr-0 ml-0">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7  col-xs-7 pr-0 line1">
                        <span> 13 nov </span> - Update to Greater Manchester Police’s Peak
                        Policy
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img src="~/Content/assets/images/main-chevlon.svg" width="20">
                    </div>
                </div>
                <hr class="mb-0 mt-0">
                <div class="row mr-0 ml-0">
                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7  col-xs-7 pr-0 line1">
                        <span> 9 nov </span> - New ESDAL Maps Launched 16 December 2019.
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img src="~/Content/assets/images/main-chevlon.svg" width="20">
                    </div>
                </div>
                <hr class="mb-0 mt-0">

                <div class="row mr-0 ml-0">
                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7  col-xs-7 pr-0 line1">
                        <span> 8 nov </span> - Important Message regarding changes due to
                        Coronavirus.
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <img src="~/Content/assets/images/main-chevlon.svg" width="20">
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 more-info">
                        Less news <span>
                            <img src="~/Content/assets/images/up-chevlon.svg" width="20"
                                >
                        </span>
                    </div>
                </div>
            </div>*@
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
