@using PagedList.Mvc
@using STP.Domain.SecurityAndUsers
@using STP.Domain.MovementsAndNotifications.Movements
@model List<STP.Domain.DocumentsAndContents.InformationModel>
@{
    int recCnt = 0;
    int pageNum = 10;
    if (ViewBag.pageSize != null)
    {
        pageNum = ViewBag.pageSize;
    }

    bool isSOMove = true;
    if (ViewBag.MovementListForSO != null)
    {
        isSOMove = ViewBag.MovementListForSO;
    }
    int ShowPrevMoveSortRoute = 0;
    if (ViewBag.showrtveh != null)
    {
        ShowPrevMoveSortRoute = ViewBag.showrtveh;
    }

    MovementsFilter objHaulMovementFilter = null;
    if (ViewBag.objMovementFilterHaul != null)
    {
        objHaulMovementFilter = ViewBag.objMovementFilterHaul;
    }
    var AppType = 0;
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.HOME;
}


@Html.Hidden("pageSizeVal", pageNum)
@Html.Hidden("HFVR1route", true)
@Html.Hidden("totalPageCount")
@Html.Hidden("ShowPrevMoveSortRoute", ShowPrevMoveSortRoute)


@{

    bool createSuccess = false;
    bool setpreference = false;
    if (ViewBag.saveMsg != null && ViewBag.saveMsg == "1")
    {
        createSuccess = true;
    }

    if (ViewBag.SetPreferenceMessage != null && ViewBag.SetPreferenceMessage == "1")
    {
        setpreference = true;
    }


}
@Html.Hidden("CreateAlert", createSuccess)
@Html.Hidden("SetPreferenceMessage", setpreference)
@Html.Hidden("Logged_In", Session["Logged_In"])
@Html.Hidden("userTypeId", Session["userTypeId"])
<style>
    .banner__image {
        width: 100%;
        min-height: 10rem;
    }

    #home-news {
        background: #3B4D4D;
        position: relative;
    }

    .card.haulier {
        height: auto;
        padding: 1.5rem;
        color: #000;
    }

    .heading-title {
        text-align: center;
        color: #275795;
        font-weight: 500;
        font-style: normal;
        font-size: 2.188rem;
        font-family: lato_medium, Arial;
        letter-spacing: 0;
        text-decoration: none;
        margin: 1rem 0;
    }

    .heading-title-2 {
        text-align: center;
        color: #275795;
        font-weight: 500;
        font-size: 1.62rem;
        font-family: lato_medium, Arial;
        letter-spacing: 0;
        text-decoration: none;
        margin: 1rem 0;
    }

    .card.haulier p {
        font-family: lato_medium, Arial;
        padding: 0;
        font-size: 1.1rem;
    }

    .news-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .news-item {
        flex: 1;
        min-width: 0px;
        color: #ffffff !important;
        margin-right: 2rem;
        display: flex;
    }

        .news-item p {
            display: block;
            text-decoration: none;
            font-size: 1.1rem;
            font-family: lato_medium, Arial;
            position: relative;
            overflow: clip;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
            padding: 0;
        }

        .news-item img {
            margin-left: 1rem;
        }

        .news-item p span {
            font-style: italic;
            /*opacity: 0.7;*/
            color: #dee7e7;
        }

    .more-link a {
        /*color: rgba(255, 255, 255, .5);*/
        color: #E1E5E5;
        font-weight: 500;
        font-style: italic;
        font-size: 1.1rem;
        font-family: lato_medium;
        text-decoration: none;
        padding-right: 2.5rem;
        background: url("../../Content/assets/images/down-chevlon.svg") no-repeat right center;
    }

    .less-link a {
        color: rgba(255, 255, 255, .5);
        font-weight: 500;
        font-style: italic;
        font-size: 1.1rem;
        font-family: lato_medium;
        text-decoration: none;
        padding-right: 2.5rem;
        background: url("../../Content/assets/images/up-chevlon.svg") no-repeat right center;
    }


    .btn-normal1 {
        font-style: normal;
        font-family: lato_Bold !important;
        font-size: 16px;
        font-weight: 700;
    }

    .news-list-slide {
        display: flex;
        flex-wrap: wrap;
        gap: 3%
    }

    .news-item-slide {
        flex: 39%;
        border: solid 1px #C4C2C2;
        border-width: 1px 0px 0 0px;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

        .news-item-slide:last-child, .news-item-slide:nth-child(10) {
            border-bottom: solid 1px #C4C2C2;
        }

        .news-item-slide p {
            display: block;
            text-decoration: none;
            font-size: 1.1rem;
            font-family: lato_medium, Arial;
            margin: 0;
            padding: 0;
            color: #fff;
            text-align: left;
        }

        .news-item-slide img {
            margin-left: 1rem;
        }

        .news-item-slide p span {
            font-style: italic;
            opacity: 0.7;
        }

    .news-toggle {
        padding: 1rem 0 2rem 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #3B4D4D;
        z-index: 9;
    }
</style>
<body style="overflow-y: auto;">
    <!-- Hero Banner -->
    <section id="hero-banner"> <img alt="banner" class="banner__image" src="~/Content/assets/images/haulier-portal.jpg"> </section>
    <!-- Hero Banner End-->
    <!--- News Start -->
    <section id="home-news">
        <div class="news-list">
            @foreach (var item in Model.Take(2))
            {
                if (item.PriorityName == "hot")
                {
                    <div class=""><img src="~/Content/assets/images/news-announce.svg" width="80" height="75" style="width: auto;" > </div>
                }
                <div class="news-item pl-5">
                    <p><span> @item.UploadedDate.ToString("dd MMM") </span>- @item.Name </p>
                    <a href="@Url.Action("ViewInformation", "Information", new
                                      {
                                          B7vy6imTleYsMr6Nlv7VQ = 
                                            STP.Web.Helpers.EncryptionUtility.Encrypt("id=" + item.ContentId)
                                      })"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt="News"></a>
                </div>
            }

            @*<div class="news-item pl-5">
                <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
            </div>
            <div class="news-item pl-5">
                <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
            </div>*@
            <div class="more-link pr-5"> <a href="#" id="more-info-news">More news</a></div>
        </div>

        <div class="news-toggle" style="display:none;">
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="col-9 news pb-3">News</div>
                <div class="col-2 less-link">
                    <a href="#" id="less-info-news">Less news</a>
                </div>
            </div>
            <div class="row">
                @*@foreach (var item in Model)
        {*@
                @*if (item.PriorityName == "hot")
        {
            <div class="col-1">
                <div class=""><img src="~/Content/assets/images/news-announce.svg" width="80" height="75" style="width: auto;" alt=""> </div>
            </div>
        }*@
                @*<div class="col-1">
                    <div class=""><img src="~/Content/assets/images/news-announce.svg" width="80" height="75" style="width: auto;" alt=""> </div>
                </div>*@
                <div class="col-11">
                   
                    <div class="news-list-slide">
                        @foreach (var item in Model)
                        {
                            if (item.PriorityName =="hot")
                            {
                                <div class=""><img src="~/Content/assets/images/news-announce.svg" width="80" height="75" style="width: auto;" alt=""> </div>
                            }
                            else
                            {
                                <div style="width: 4.6rem;"></div>
                            }
                            <div class="news-item-slide">
                                <p><span> @item.UploadedDate.ToString("dd MMM") </span>- @item.Name </p>
                                <a href="@Url.Action("ViewInformation", "Information", new
                                      {
                                          B7vy6imTleYsMr6Nlv7VQ = 
                                            STP.Web.Helpers.EncryptionUtility.Encrypt("id=" + item.ContentId)
                                      })"><img src="~/Content/assets/images/main-chevlon.svg" width="20" ></a>
                            </div>
                        }
                    </div>
                </div>

                @*<div class="col-9">
            <div class="news-list-slide">
                <div class="news-item-slide">
                    <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                    <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
                </div>
                <div class="news-item-slide">
                    <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                    <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
                </div>
                <div class="news-item-slide">
                    <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                    <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
                </div>
                <div class="news-item-slide">
                    <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                    <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
                </div>
                <div class="news-item-slide">
                    <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                    <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
                </div>
                <div class="news-item-slide">
                    <p><span> 18 nov </span>- You have a new collaboration, please check your movement list. </p>
                    <a href="#"><img src="~/Content/assets/images/main-chevlon.svg" width="20" alt=""></a>
                </div>
            </div>
        </div>*@
            </div>
        </div>

    </section>
    <!--- News End -->
    <!-- main content -->
    <section>
        <div class="container-fluid pt-3 pb-1" id="banner-container">
            <div class="row m-0">
                <div class="col-lg-6 col-md-6 mb-3 d-flex align-items-stretch">
                    <div class="card haulier m-0  w-100 text-center">
                        <div class="card-body d-flex flex-column">
                            <h2 class="heading-title">Plan your movement</h2>
                            <p class="mb-4">
                                Create New Notification or<br>
                                Special Order/VR1 Application
                            </p>
                            <button id="btn-planmovement" class="btn btn-primary btn-normal1 btn-layout1 active mt-auto align-self-center" role="button"  aria-pressed="true">START</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mb-3  d-flex align-items-stretch">
                    <div class="card haulier m-0  w-100 text-center">
                        <div class="card-body d-flex flex-column">
                            <h2 class="heading-title-2">Notify Existing SO/VR1</h2>
                            <p class="mb-4">
                                If you already have an<br>
                                Agreed SO/Approved VR1 in ESDAL
                            </p>
                            <button id="btn-notifsovr1" class="btn outline-btn-primary btn-layout1 mt-auto align-self-center" role="button" aria-pressed="true" >NOTIFY SO/VR1</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mb-3  d-flex align-items-stretch">
                    <div class="card haulier m-0  w-100 text-center">
                        <div class="card-body d-flex flex-column">
                            <h2 class="heading-title-2">Notify Existing VSO</h2>
                            <p class="mb-4">If you already have a VSO</p>
                            <button id="btn-planvso" class="btn outline-btn-primary btn-layout1 mt-auto align-self-center" role="button" aria-pressed="true" >NOTIFY A VSO</button>
                            @*<button class="btn outline-btn-primary btn-layout1 mt-auto align-self-center" role="button" aria-pressed="true">NOTIFY A VSO</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
<script src="~/Scripts/jQueryPopUpWarningNew.js?V@(Session["ProjectVersion"])"></script>

<script src="~/Scripts/Home/Hauliers.js?V@(Session["ProjectVersion"])"></script>