@using System.Web.Optimization
@using PagedList.Mvc
@using STP.Domain.MovementsAndNotifications.Movements
@model PagedList.IPagedList<STP.Domain.MovementsAndNotifications.Movements.SORTMovementList>
@{ 
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.HOME;
}
@{
    SORTMovementFilter objSORTMovementFilter = null;
    if (ViewBag.SORTMovementFilter != null)
    {
        objSORTMovementFilter = ViewBag.SORTMovementFilter;
    }
    bool PrevMoveRoutePageSize = false;
    if (ViewBag.IsPrevtMovementsVehicleRoute != null)
    {
        PrevMoveRoutePageSize = ViewBag.IsPrevtMovementsVehicleRoute;
    }
    bool PrevMoveVehPageSize = false;
    if (ViewBag.IsPrevtMovementsVehicle != null)
    {
        PrevMoveVehPageSize = ViewBag.IsPrevtMovementsVehicle;
    }
}
@{

    bool createSuccess = false;
    bool setpreference = false;
    if (ViewBag.saveMsg != null && ViewBag.saveMsg == "1")
    {
        createSuccess = true;
    }

    if (ViewBag.SetPreferenceMessage != null && ViewBag.SetPreferenceMessage == "1")
    {
        setpreference = true;
    }
}
@Html.Hidden("CreateAlert", createSuccess)
@Html.Hidden("SetPreferenceMessage", setpreference)
@Html.Hidden("Logged_In", Session["Logged_In"])
@Html.Hidden("userTypeId", Session["userTypeId"])
<style>
    .statusinline {
        display: inline-flex;
    }
    .statuslabel {
        padding-left: 5px;
        margin-top: 4px;
    }
</style>
<body style="overflow-y: auto;" id="helpdesk">
    <!-- banner -->
    <section id="banner">
        <div class="container-fluid" id="banner-container">
            <div id="main">
                @{
                    Html.RenderAction("News", "Information");
                }
                <div id="banner-scetion-2">
                    <div>
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 table-heading">
                                Most Recent ‘Unallocated’ or ‘In Progress’ Applications
                            </div>

                        </div>
                    </div>
                    <!-- table -->
                    <div class="dashboard-table">
                        <table>
                            <tr>
                                <th class="first-column-padding">ESDAL Reference</th>
                                <th>Type</th>
                                <th>Work Status</th>
                                <th>Project Status</th>
                                <th>Owner</th>
                                <th>Application Date</th>
                                <th>Due Date</th>
                                <th>Move From</th>
                                <th style="text-align:left;">Move To</th>
                            </tr>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        long status = item.AppStatus;
                                        string className = string.Empty;
                                        switch (status)
                                        {
                                            case 307002:
                                                className = "In progress";
                                                break;
                                            //case 307001:
                                            //    className = "Unallocated";
                                            //    break;
                                            case 307008:
                                                className = "withdrawn";
                                                break;
                                            //case "approved":
                                            //    className = "approved";
                                            //    break;
                                            //case "submitted":
                                            //    className = "submitted";
                                            //    break;
                                            default:
                                                className = "other";
                                                break;

                                        }


                                        string movementType = item.Type;
                                        if (!string.IsNullOrEmpty(movementType))
                                        {
                                            movementType = movementType.ToLower();
                                        }
                                        string moveTypeToDisplay = string.Empty;

                                        int movementId = 0;
                                        switch (movementType)
                                        {

                                            case "stgo ail cat 1":
                                                moveTypeToDisplay = "ALL STGO";
                                                movementId = 241003;
                                                break;
                                            case "stgo ail cat 2":
                                                moveTypeToDisplay = "ALL STGO";
                                                movementId = 241004;
                                                break;
                                            case "stgo ail cat 3":
                                                moveTypeToDisplay = "ALL STGO";
                                                movementId = 241005;  //241005
                                                break;
                                            case "special order":
                                                moveTypeToDisplay = "SO";
                                                movementId = 270006;
                                                break;
                                            default:
                                                // moveTypeToDisplay = movementType;
                                                // movementId = 270002;
                                                break;

                                        }
                                        string work_status_code = string.Empty;
                                        switch (item.WorkStatus)
                                        {
                                            case 301001:
                                                work_status_code = "Not Checking";
                                                break;
                                            case 301002:
                                                work_status_code = "Checking";
                                                break;
                                            case 301003:
                                                work_status_code = "Checked positively";
                                                break;
                                            case 301004:
                                                work_status_code = "Checked negatively";
                                                break;
                                            case 301005:
                                                work_status_code = "Checking final";
                                                break;
                                            case 301006:
                                                work_status_code = "Checked final positively";
                                                break;
                                            case 301007:
                                                work_status_code = "Checked final negatively";
                                                break;
                                            default:
                                                break;
                                        }

                                        if (!string.IsNullOrEmpty(moveTypeToDisplay))
                                        {
                                            moveTypeToDisplay = moveTypeToDisplay.ToUpper();
                                        }

                                        <tr @if (objSORTMovementFilter.UserID == item.PlannerID.ToString()) { <text> style="font-weight:bold;" </text> }>
                                            <td class="text-color1">
                                                @{
                                                    var ESDALRef = "";
                                                    if (item.ProjectEsdalReference > 0)
                                                    {
                                                        ESDALRef = item.HaulierMnemonic + "/" + item.ProjectEsdalReference;
                                                    }
                                                    switch (item.VehicleClassification)
                                                    {
                                                        case 241002:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true)
                                                            {
                                                                <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@ESDALRef</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                                <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@ESDALRef</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {

                                                                <span>  @ESDALRef</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&pageflag=" + 2)
                                                                        })" class="green text-decoration-link">@ESDALRef</a>
                                                            }
                                                            break;
                                                        case 241003:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true)
                                                            {
                                                                <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@ESDALRef</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                                <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@ESDALRef</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {

                                                                <span>  @ESDALRef</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&VR1Applciation=" + true +
                                                                                "&pageflag=" + 1)
                                                                        })" class="green text-decoration-link">@ESDALRef</a>
                                                            }
                                                            break;
                                                        case 241004:
                                                            //VR1
                                                            if (ViewBag.StructureID != null)
                                                            {

                                                                <span>  @ESDALRef</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&VR1Applciation=" + true +
                                                                                "&pageflag=" + 1)
                                                                        })" class="green text-decoration-link">@ESDALRef</a>
                                                            }
                                                            break;
                                                        case 241005:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true)
                                                            {
                                                                <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@ESDALRef</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                                <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@ESDALRef</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {

                                                                <span>@ESDALRef</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&VR1Applciation=" + true +
                                                                                "&pageflag=" + 1)
                                                                        })" class="green text-decoration-link">@ESDALRef</a>
                                                            }
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                }
                                            </td>
                                            <td class="text-color1">
                                                @{
                                                    switch (item.VehicleClassification)
                                                    {
                                                        case 241002:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true)
                                                            {
                                                                <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@Resources.Resource.SO</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                                <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@Resources.Resource.SO</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {

                                                                <span> @Resources.Resource.SO</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&pageflag=" + 2)
                                                                        })" class="green text-decoration-link">

                                                                    <span>
                                                                        @Resources.Resource.SO
                                                                    </span>
                                                                </a>
                                                            }
                                                            @*}*@
                                                            break;
                                                        case 241003:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true)
                                                            {
                                                                <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@Resources.Resource.VROne</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                                <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@Resources.Resource.VROne</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {

                                                                <span> @Resources.Resource.VROne</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&VR1Applciation=" + true +
                                                                                "&pageflag=" + 1)
                                                                        })" class="green text-decoration-link">
                                                                    <span>
                                                                        @Resources.Resource.VROne
                                                                    </span>
                                                                </a>
                                                            }
                                                            break;
                                                        case 241004:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true)
                                                            {
                                                                <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@Resources.Resource.VROne</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                                <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@Resources.Resource.VROne</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {
                                                                <span>@Resources.Resource.VROne</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&VR1Applciation=" + true +
                                                                                "&pageflag=" + 1)
                                                                        })" class="green text-decoration-link">
                                                                    <span>
                                                                        @Resources.Resource.VROne
                                                                    </span>
                                                                </a>
                                                            }
                                                            break;
                                                        case 241005:
                                                            if (ViewBag.IsPrevtMovementsVehicle == true){
                                                            <span class="green text-decoration-link selectprevmovmntveh" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID">@Resources.Resource.VROne</span>
                                                            }
                                                            else if (ViewBag.IsPrevtMovementsVehicleRoute == true)
                                                            {
                                                            <span class="green text-decoration-link selectCrntMvntsrt" data-id=0 data-ProjectStatus="@item.ProjectStatus" data-hauliermnemonic="@item.HaulierMnemonic" data-ProjectEsdalReference="@item.ProjectEsdalReference" data-ProjectID="@item.ProjectID" SelectCurrentMovementsRoute>@Resources.Resource.VROne</span>

                                                            }
                                                            else if (ViewBag.StructureID != null)
                                                            {

                                                                <span>  @Resources.Resource.VROne</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("SORTListMovemnets", "SORTApplication", 
                                                                        new 
                                                                        { 
                                                                            B7vy6imTleYsMr6Nlv7VQ = 
                                                                                STP.Web.Helpers.EncryptionUtility.Encrypt("SORTStatus=ViewProj" + 
                                                                                "&revisionId=" + item.MovementRevisionID + 
                                                                                "&versionId=" + item.MovementVersionID + 
                                                                                "&hauliermnemonic=" + item.HaulierMnemonic + 
                                                                                "&esdalref=" + item.ProjectEsdalReference + 
                                                                                "&revisionno=" + item.ApplicationRevisionNumber + 
                                                                                "&versionno=" + item.MovementVersionNumber + 
                                                                                "&OrganisationId=" + item.OrganisationID + 
                                                                                "&projecid=" + item.ProjectID + 
                                                                                "&movementId=" + movementId + 
                                                                                "&Owner=" + item.Owner + 
                                                                                "&WorkStatus=" + work_status_code + 
                                                                                "&Checker=" + item.CheckerName + 
                                                                                "&EnterBySORT=" + item.EnterBySORT + 
                                                                                "&apprevid=" + item.AppRevID + 
                                                                                "&VR1Applciation=" + true +
                                                                                "&pageflag=" + 1)
                                                                        })" class="green text-decoration-link">
                                                                    <span>
                                                                        @Resources.Resource.VROne
                                                                    </span>
                                                                </a>
                                                            }
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                }
                                            </td>
                                            <td class="text-color1">
                                                @{
                                                    switch (item.WorkStatus)
                                                    {
                                                        case 301001:
                                                            <span> Not checking</span>
                                                            break;
                                                        case 301002:
                                                            if (item.CheckerName != null && item.CheckerName != "")
                                                            {
                                                                <span> Checking (@item.CheckerName)</span>
                                                            }
                                                            else
                                                            {
                                                                <span> Checking</span>
                                                            }
                                                            break;
                                                        case 301003:
                                                            <span> Checked+ </span>
                                                            break;
                                                        case 301004:
                                                            <span> Checked-</span>
                                                            break;
                                                        case 301005:
                                                            if (item.CheckerName != null && item.CheckerName != "")
                                                            {
                                                                <span> Checking final (@item.CheckerName)</span>
                                                            }
                                                            else
                                                            {
                                                                <span> Checking final</span>
                                                            }
                                                            break;
                                                        case 301006:
                                                            <span> Checked final+</span>
                                                            break;
                                                        case 301007:
                                                            <span> Checked final-</span>
                                                            break;
                                                        case 301008:
                                                            if (item.CheckerName != null && item.CheckerName != "")
                                                            {
                                                                <span> QA Checking (@item.CheckerName)</span>
                                                            }
                                                            else
                                                            {
                                                                <span> QA Checking</span>
                                                            }
                                                            break;
                                                        case 301009:
                                                            <span> QA Checked+ </span>
                                                            break;
                                                        case 301010:
                                                            <span> QA Checked-</span>
                                                            break;
                                                        case 0:
                                                            @*<span> Not checking</span>*@
                                                            break;
                                                        default:
                                                            break;


                                                    }
                                                }
                                            </td>
                                            <td class="text-color1 statusinline" style="cursor: default;">
                                                @{

                                                    if (item.IsWithdrawn == 1 || objSORTMovementFilter.Withdrawn)
                                                    {
                                                        <img src="~/Content/assets/images/withdrawn.svg"  title="Withdrawn" width="25"><label class="statuslabel">Withdrawn</label>
                                                    }
                                                    else if (item.IsDeclined == 1 || objSORTMovementFilter.Declined)
                                                    {
                                                        <img src="~/Content/assets/Icons/declined.svg"  title="Declined" width="25"><label class="statuslabel">Declined</label>
                                                    }
                                                    else
                                                    {
                                                        switch (item.ProjectStatus)
                                                        {
                                                            case 307001:
                                                                @*<span class="icon_status icon_status_unallocated " title="Unallocated" style="font-size: 20px; color: red; font-weight: 700;">U</span><label class="statuslabel">Unallocated</label>*@
                                                                <img src="~/Content/assets/Icons/unallocated.svg"  title="Unallocated" width="15"><label class="statuslabel">Unallocated</label>
                                                                break;
                                                            case 307002:
                                                                <img src="~/Content/assets/images/WIP-icon.svg"   title="In progress" width="25"><label class="statuslabel">In progress</label>
                                                                break;
                                                            case 307003:
                                                                <img src="~/Content/assets/Icons/proposed.svg"  title="Proposed" width="25"><label class="statuslabel">Proposed</label>
                                                                break;
                                                            case 307004:
                                                                <img src="~/Content/assets/Icons/re-proposed.svg"  title="Re-proposed" width="33"><label class="statuslabel">Re-proposed</label>
                                                                break;
                                                            case 307005:
                                                                <img src="~/Content/assets/Icons/agreed.svg"  title="Agreed" width="25"><label class="statuslabel">Agreed</label>
                                                                break;
                                                            case 307006:
                                                                <img src="~/Content/assets/Icons/agreed-reproposed.svg"  title="Agreed revised" width="25"><label class="statuslabel">Agreed-revised</label>
                                                                break;
                                                            case 307007:
                                                                <img src="~/Content/assets/Icons/agreed-recleared.svg"  title="Agreed recleared" width="25"><label class="statuslabel">Agreed recleared</label>
                                                                break;
                                                            case 307008:
                                                                <img src="~/Content/assets/images/withdrawn.svg"  title="Withdrawn" width="25"><label class="statuslabel">Withdrawn</label>
                                                                break;
                                                            case 307009:
                                                                <img src="~/Content/assets/images/declined.svg"  title="Declined" width="25"><label class="statuslabel">Declined</label>
                                                                break;
                                                            case 307010:
                                                                <img src="~/Content/assets/images/view-icon.svg"  title="Historic" width="25"><label class="statuslabel">Historic</label>
                                                                break;
                                                            case 307011:
                                                                <img src="~/Content/assets/Icons/revised.svg"  title="Revised" width="15"><label class="statuslabel">Revised</label>
                                                                break;
                                                            case 307012:
                                                                <img src="~/Content/assets/images/WIP-icon.svg"  title="Agreement work in progress" width="25">
                                                                break;
                                                            case 307014:
                                                                <img src="~/Content/assets/images/completed.svg"  title="Planned" width="25"><label class="statuslabel">Planned</label>
                                                                break;
                                                            case 307016:
                                                                <img src="~/Content/assets/images/completed.svg"  title="Approved" width="25"><label class="statuslabel">Approved</label>
                                                                break;
                                                        }
                                                    }

                                                }
                                            </td>
                                            <td class="text-color1">
                                                <span>
                                                    @item.Owner
                                                </span>
                                            </td>
                                            <td class="text-color1">
                                                <span>
                                                    @item.ApplicationDate
                                                </span>
                                            </td>
                                            <td class="text-color1">
                                                @if (@item.DueDate != "01/01/0001")
                                                {
                                                    if (item.Days > 0 && item.Days <= 14 && (item.VehicleClassification == 241001 || item.VehicleClassification == 241002) && item.ProjectStatus != 307014)
                                                    {
                                                        @item.DueDate
                                                    }
                                                    else
                                                    {
                                                        @item.DueDate
                                                    }
                                                }
                                            </td>
                                            <td class="text-color1">
                                                <span>
                                                    @item.MoveFrom
                                                </span>
                                            </td>
                                            <td class="text-color1">
                                                @item.MoveTo
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td style="text-align:center" colspan="9">
                                            <span style="color:red">No records found</span>

                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="~/Scripts/Home/SORT.js?V@(Session["ProjectVersion"])"></script>