@model STP.Domain.RoadNetwork.Constraint.ConstraintModel

@{
    string ConstraintID = Convert.ToString(ViewBag.ConstraintID);
    bool flageditmode = ViewBag.flageditmode;
    Layout = null;

}
@{
    Layout = null;
}
<div class="form form_component" id="form_component">
    @using (Html.BeginForm())
    {
        <div class="modal" role="dialog" id="modalConstraintDetails" style="display: block;">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 50rem;">
                <div style="overflow-y: auto;" id="soa-structure-detail">
                    <section id="banner" class="map-icons">

                        <div id="CloseViewCons" class="row" style="margin-left: 10%; margin-right: 10%;">
                            <div class="card" style="width: 45rem; height: auto; padding-bottom: 2rem;">
                                <div id="check-caution" style="margin-top:15px;margin-right:15px;">
                                    <div class="modal-content" style="overflow: unset; padding-bottom: 0rem; height: auto; border: none; width: 100%; ">
                                        <div class="row mt-1 main-entry">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="row mb-1" id="table-head">
                                                    @if (Model != null && Model.ConstraintId != 0)
                                                    {
                                                        <span class="text-normal pr-2" style="font-family: lato_light;font-size:19px;">
                                                            @Resources.Resource.View
                                                            @if (Model.DirectionName.Length > 0)
                                                            {
                                                                @Html.Raw(Convert.ToString(Model.DirectionName).Substring(0, 1).ToUpper() + Convert.ToString(Model.DirectionName).Substring(1).ToLower())
                                                            }
                                                            @Resources.Resource.Constraint
                                                            @Html.DisplayFor(model => model.ConstraintCode)
                                                            <span id="closeSpan" class="text-normal pr-1 btn-close-contraints-popup"
                                                                  style="color:rgba(39, 87, 149, 1);font-size:50px;float:right;margin-top: -23px;font-family: lato_light;">
                                                                &times;
                                                            </span>

                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-normal pr-2" style="font-family: lato_light;font-size:25px;">
                                                            View contraint Details
                                                            <span id="closeSpan" class="text-normal pr-1 btn-close-contraints-popup"
                                                                  style="color:rgba(39, 87, 149, 1);font-size:50px;float:right;margin-top: -23px;font-family: lato_light;">
                                                                &times;
                                                            </span>

                                                        </span>
                                                    }

                                                </div>
                                                @if (Model != null && Model.ConstraintId != 0)
                                                {
                                                    <div class="row mb-1">
                                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                            <label class="text-normal">@Resources.Resource.ECRN</label>
                                                        </div>
                                                        <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                            @Html.DisplayFor(model => model.ConstraintCode)
                                                        </div>
                                                    </div>
                                                    <div class="row mb-1">
                                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                            <label class="text-normal">Name</label>
                                                        </div>
                                                        <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                            @Html.DisplayFor(model => model.ConstraintName)
                                                        </div>
                                                    </div>
                                                    <div class="row mb-1">
                                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                            <label class="text-normal">Type</label>
                                                        </div>
                                                        <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                            @if (!string.IsNullOrEmpty(Model.ConstraintTypeName))
                                                            {
                                                                @Html.Raw(Convert.ToString(Model.ConstraintTypeName).Substring(0, 1).ToUpper() + Convert.ToString(Model.ConstraintTypeName).Substring(1).ToLower())
                                                            }
                                                        </div>
                                                    </div>
                                                    if (ViewBag.UOM == 692001)
                                                    {
                                                        if (Model.MaxHeightMtrs != 0)
                                                        {
                                                            <div class="row mb-1">
                                                                <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                    <label class="text-normal">Height</label>
                                                                </div>
                                                                <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                    @Html.DisplayFor(model => model.MaxHeightMtrs) <span>m</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.MaxWidthMeters != 0)
                                                        {
                                                            <div class="row mb-1">
                                                                <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                    <label class="text-normal">Width</label>
                                                                </div>
                                                                <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                    @Html.DisplayFor(model => model.MaxWidthMeters) <span>m</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.MaxLENMeters != 0)
                                                        {
                                                            <div class="row mb-1">
                                                                <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                    <label class="text-normal">Length</label>
                                                                </div>
                                                                <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                    @Html.DisplayFor(model => model.MaxLENMeters) <span>metres</span>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else if (ViewBag.UOM == 692002)
                                                    {
                                                        if (Model.MaxHeightFT != 0)
                                                        {
                                                            <div class="row mb-1">
                                                                <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                    <label class="text-normal">Height</label>
                                                                </div>
                                                                <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                    @{
                                                                        int FeetH = (int)Model.MaxHeightFT;
                                                                        int Height = 0;
                                                                        float InchH = Model.MaxHeightFT - FeetH;
                                                                        InchH = InchH * 12;
                                                                        Height = (int)InchH;
                                                                        <span>@FeetH <span>feet</span>  @Height <span>inch</span> </span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }

                                                        if (Model.MaxWidthFeet != 0)
                                                        {
                                                            <div class="row mb-1">
                                                                <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                    <label class="text-normal">Width</label>
                                                                </div>
                                                                <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                    @{
                                                                        int FeetW = (int)Model.MaxWidthFeet;
                                                                        float InchW = Model.MaxWidthFeet - FeetW;
                                                                        int Width = 0;
                                                                        InchW = InchW * 12;
                                                                        Width = (int)InchW;
                                                                        <span>@FeetW <span>feet</span>  @Width <span>inch</span> </span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.MaxLengthFeet != 0)
                                                        {
                                                            <div class="row mb-1">
                                                                <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                    <label class="text-normal">Length</label>
                                                                </div>
                                                                <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                    @{ int FeetL = (int)Model.MaxLengthFeet;
                                                                        float InchL = Model.MaxLengthFeet - FeetL;
                                                                        int Length = 0;
                                                                        InchL = InchL * 12;
                                                                        Length = (int)InchL;
                                                                        <span>@FeetL <span>feet</span>  @Length <span>inch</span> </span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }

                                                    }
                                                    if (Model.MaxAxleWeightKgs != 0)
                                                    {
                                                        <div class="row mb-1">
                                                            <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                <label class="text-normal">Axle weight</label>
                                                            </div>
                                                            <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                @Html.DisplayFor(model => model.MaxAxleWeightKgs) <span>Kg</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (Model.MaxGrossWeightKgs != 0)
                                                    {
                                                        <div class="row mb-1">
                                                            <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                                <label class="text-normal">Gross weight</label>
                                                            </div>
                                                            <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                                @Html.DisplayFor(model => model.MaxGrossWeightKgs) <span>Kg</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="row mb-1">
                                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                            <label class="text-normal">Owner</label>
                                                        </div>
                                                        <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                            @Html.DisplayFor(model => model.OrganisationName)
                                                        </div>
                                                    </div>
                                                    <div class="row mb-1">
                                                        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                                            <label class="text-normal">@Resources.Resource.constrContact</label>
                                                        </div>
                                                        <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal">
                                                            @{
                                                                if (Model.ConstraintContact != null && Model.ConstraintContact.Any())
                                                                {
                                                                    foreach (var item in Model.ConstraintContact)
                                                                    {
                                                                        <div style="margin-bottom: 6px;">
                                                                            <span><b>Name:</b> @item.ContactName, <b>Tel:</b> @item.Telephone</span>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            }
                                                            @*@Html.DisplayFor(model => model.ConstraintContact)*@
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="error invalid-feedback" style="display: block !important; text-align: center;">@Resources.Resource.NoRecordFound</div>

                                                }
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    }
</div>
@*<script src="~/Scripts/Constraint/HaulierConstraintDetails.js?V@(Session["ProjectVersion"])"></script>*@
