@model STP.Domain.RoadNetwork.Constraint.ConstraintContactModel

@using STP.Web.Custom.Views
@using System.Web.Mvc
@using STP.Domain.SecurityAndUsers


@{
    Layout = null;
    string mode = Request.QueryString["mode"];
}
@{
    bool isAdmin = false;
    long orgId = 0;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var user = (UserInfo)Session["UserInfo"];
        portalType = user.UserTypeId;
        orgId = user.OrganisationId;

        if (portalType == 696006 || user.IsAdmin == 1)
        {
            isAdmin = true;
        }
    }
    bool flageditmode = ViewBag.flageditmode;
    string ConstraintID = ViewBag.ConstraintID!=null?Convert.ToString(ViewBag.ConstraintID):"";
}
@{
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }
}
<!-- Required meta tags -->
<div id="soa-structure-detail" class="manage-constraint-contact">
    @Html.Hidden("ConstraintID", ConstraintID)
    <style>
        .success {
            display: none;
            padding: 0 !important;
            border: none !important;
        }

        .error {
            display: block;
            color: #e80c4d;
            padding: 0 !important;
            border: none !important;
        }

        .LeftpanelConst {
            /*height: auto !important;*/
            min-height: 41rem !important;
            width: 26rem !important;
            overflow-y: auto;
        }

        .select-tag:hover + .selected-value {
            display: none !important;
        }

        .selected-value {
            display: none !important;
        }

        .custselected {
            height: auto !important;
            background-color: rgba(165, 165, 165, 0.8);
            border-top: 0px !important;
        }

        #dialogue {
            height: 50rem !important;
            box-shadow: inherit !important;
            width: auto !important;
            margin-left: 0px !important;
            margin-top: 132px !important;
        }
    </style>

    <!--main content -->
    <div id="banner" class="map-icons">
        <!-- google-map-setting-start -->
        @*<div id="googleMap" style="height: 590px;" class="google-map"></div>
            <form>
                <input type='hidden' name='lat' id='lat'>
                <input type='hidden' name='lng' id='lng'>
            </form>*@
        <!-- google-map-setting-end -->
        <div class="card LeftpanelConst" style="position: absolute;border-top:none;" id="add-contact">
            <div class="card-content">
                <div class="title">
                    @if (Request.QueryString["mode"] == "add")
                    {
                        @Resources.Resource.AddContact
                    }
                    else if (Request.QueryString["mode"] == "edit")
                    {
                        @Resources.Resource.EditContact
                    }
                    else
                    {
                        @Resources.Resource.ViewContact
                    }
                </div>
                <div class="row mt-4 main-entry">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @using (Html.BeginForm("SaveConstraintContact", "Constraint", FormMethod.Post, new { id = "ConstraintContactInfo" }))
                        {
                            <div class="row mb-2">
                                @if (Request.QueryString["mode"] == "add")
                                {
                                    <span class="PopupHelpName" id="CreateManageConstraintContact"></span>
                                }
                                else if (Request.QueryString["mode"] == "edit")
                                {
                                    <span class="PopupHelpName" id="EditManageConstraintContact"></span>
                                }
                                else
                                {
                                    <span class="PopupHelpName" id="ViewManageConstraintContact"></span>
                                }
                                @Html.HiddenFor(model => model.ConstraintId, new { Id = "CONSTRAINT_ID" })
                                @Html.HiddenFor(model => model.ContactNo, new { Id = "CONTACT_NO" })
                                @Html.Hidden("CountryDropDown")
                                @Html.Hidden("OrganisationId", orgId)

                            </div>
                            if (Request.QueryString["mode"] == "view")
                            {
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Owner*</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.OrganisationName, new { maxlength = 100, @class = "edit-normal" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Name</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.FullName, new { maxlength = 100, @class = "edit-normal" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Description</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.Description, new { maxlength = 100, @class = "edit-normal" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Address</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.AddressLine1, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line1" } })
                                        @Html.DisplayFor(model => model.AddressLine2, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line2" } })
                                        @Html.DisplayFor(model => model.AddressLine3, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line3" } })
                                        @Html.DisplayFor(model => model.AddressLine4, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line4" } })
                                        @Html.DisplayFor(model => model.AddressLine5, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line5" } })

                                    </div>
                                </div>
                                <div class="row mb-2">

                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                    </div>

                                </div>

                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.PostCode</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.PostCode, new { @class = "edit-normal", @Value = "" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Country * </label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DropDownListFor(model => model.CountryId, ViewBag.CountryDropDown as SelectList, "--Select Country--", new { @class = "form-select mb-3 select-tag" })
                                        <div class="card selected-value custselected">
                                            <div class="edit-normal">
                                                <label id="lblSelectedVal"></label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Telephone</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.Telephone, new { @class = "edit-normal", @Value = "" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Extension</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.Extension, new { @class = "edit-normal", @Value = "" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Mobile</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.Mobile, new { @class = "edit-normal", @Value = "" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.FaxNo</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.Fax, new { @class = "edit-normal", @Value = "" })
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.EmailId</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.DisplayFor(model => model.Email, new { @class = "edit-normal", @Value = "" })
                                    </div>
                                </div>
                            }
                            else
                            {

                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Owner*</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.EditorFor(model => model.OrganisationName, new { maxlength = 100, @class = "edit-normal" })
                                        <span id="ownerValidationMsg" class="success">Owner name is required</span>

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Name</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<select class="form-select mb-3" aria-label=".form-select-lg example">
                                                <option selected>Generic</option>
                                            </select>*@
                                        @Html.EditorFor(model => model.FullName, new { maxlength = 100, @class = "edit-normal" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Description</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.EditorFor(model => model.Description, new { maxlength = 100, @class = "edit-normal" })

                                    </div>
                                </div>
                                <div class="row mb-2">
                                </div>
                                <div class="row mb-2">
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Address</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @Html.EditorFor(model => model.AddressLine1, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line1", maxlength = "34" } })
                                        @Html.EditorFor(model => model.AddressLine2, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line2", maxlength = "34" } })
                                        @Html.EditorFor(model => model.AddressLine3, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line3", maxlength = "34" } })
                                        @Html.EditorFor(model => model.AddressLine4, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line4", maxlength = "34" } })
                                        @Html.EditorFor(model => model.AddressLine5, new { maxlength = 100, @class = "edit-normal", htmlAttributes = new { placeholder = "Address Line5", maxlength = "34" } })

                                    </div>
                                </div>
                                <div class="row mb-2">

                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.PostCode</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.EditorFor(model => model.PostCode, new { @class = "edit-normal", @Value = "" })
                                        <span id="postCodeValidationMsg" class="success">Please enter a valid postcode</span>

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Country * </label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.DropDownListFor(model => model.CountryId, ViewBag.CountryDropDown as SelectList, "--Select Country--", new { @class = "form-select mb-3 select-tag" })
                                        <div class="card selected-value custselected">
                                            <div class="edit-normal">
                                                <label id="lblSelectedVal"></label>
                                            </div>
                                        </div>
                                        <span id="countryValidationMsg" class="success">Please select a country</span>

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Telephone</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.EditorFor(model => model.Telephone, new { @class = "edit-normal", @Value = "" })
                                        <span id="telephoneValidationMsg" class="success">Please enter a valid telephone number</span>

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Extension</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.EditorFor(model => model.Extension, new { @class = "edit-normal", @Value = "" })
                                        <span id="extensionValidationMsg" class="success">Please enter a valid extension number</span>

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.Mobile</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input class="edit-normal" type="text" name="from">*@
                                        @Html.EditorFor(model => model.Mobile, new { @class = "edit-normal", @Value = "" })
                                        <span id="mobileValidationMsg" class="success">Please enter a valid mobile number</span>

                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.FaxNo</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input type="checkbox" id="bulldozer" class="checkbox" name="bulldozer"
                                            value="bulldozer" width="28">*@
                                        @Html.EditorFor(model => model.Fax, new { @class = "edit-normal", @Value = "" })
                                        <span id="faxValidationMsg" class="success">Please enter a valid fax number</span>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <label class="text-normal">@Resources.Resource.EmailId</label>
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-7 input-field text-normal">
                                        @*<input type="checkbox" id="bulldozer" class="checkbox" name="bulldozer"
                                            value="bulldozer" width="28">*@
                                        @Html.EditorFor(model => model.Email, new { @class = "edit-normal", @Value = "" })
                                        <span id="emailValidationMsg" class="success">Please enter a valid email</span>
                                    </div>
                                </div>
                            }
                            <div id="hidden_values"></div>

                            <div class="row pt-4">
                                @if (Request.QueryString["mode"] != "view")
                                {
                                    <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
                                        <div class="button mr-2">
                                            <button class="btn btn-outline-primary btn-normal btn-save-contact-popup" data-target="#exampleModalCenter" data-toggle="modal" type="button">
                                                SAVE
                                            </button>
                                        </div>
                                    </div>
                                }

                                <div class="col-sm-4 col-md-5 col-lg-3 input-field text-normal">
                                    <div class="button mr-0">
                                        <button type="button" class="btn btn-outline-primary btn-normal btn-review-contact" role="button" aria-pressed="true">
                                            CANCEL
                                        </button>
                                    </div>
                                </div>


                            </div>
                        }
                    </div>


                </div>
            </div>
        </div>
        <img id="card-swipecon1" src="/Content/assets/images/card-swipe-on.svg" width="30" class="btn-open-manage-constraint-nav" style="cursor: pointer; margin-left: 0px; margin-top: 210px;">
        <img id="card-swipecon2" src="/Content/assets/images/card-swipe-off.svg" width="30" class="btn-close-manage-constraint-nav" style="cursor: pointer; margin-left: 381px; margin-top: 210px;">

        <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pt-0">
                    </div>
                    <div class="modal-body pt-0">
                        @*<img src="assets/images/warning-icon2.svg" width="30">*@
                        <img src="~/Content/assets/images/warning-icon2.svg" width="30" />
                        <div class="edit-normal">
                            Are you sure want to Save Constraint Contact?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-save-const-contact" data-dismiss="modal">YES</button>
                        <button type="button" class="btn btn-secondary btn-save-const-contact-close" data-dismiss="modal">NO</button>

                    </div>
                </div>
            </div>
        </div>
        @*</div>*@

    </div>
    <!--end of main content -->
</div>

<script src="~/Scripts/Constraint/ManageConstraintContact.js?V@(Session["ProjectVersion"])"></script>
