
@{
    //Layout = null;
    //string username = "";


}


@{
    Layout = null;
}
<style>
    ::-webkit-scrollbar {
        display: none;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,
				initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/Content/style.css?V@(Session["ProjectVersion"])" rel="stylesheet" />
    <link href="~/Content/Site.css?V@(Session["ProjectVersion"])" rel="stylesheet" />
    <script src="~/Scripts/Common/bootstrap-5.1.3.bundle.min.js"></script>
    <script src="~/Scripts/Web/jquery-3.6.2.min.js"></script>
    <script src="~/Scripts/Common/MasterPage/jquery.uiControls.js"></script>

    <!-- jQuery-api -->
    <script src="~/Scripts/Common/MasterPage/jQuery.master.maincontents.js"></script>
    @Scripts.Render("~/bundles/Util")
    <title>@System.Configuration.ConfigurationManager.AppSettings["projectTitle"]  - @System.Configuration.ConfigurationManager.AppSettings["projectVersion"]</title>
</head>
<body>
    <div class="row mr-0 ml-0 mt-0 mb-0" id="forgot-password" style="height: 100vh;">
        <div class="col-sm-12 col-md-7 col-lg-7 pl-0 pr-0 mr-0 ml-0 mt-0 mb-0 left-col">
            <!--<img src="~/Content/assets/images/loginimg.jpg">-->
        </div>
        <div class="col-sm-12 col-md-5 pl-0 pr-0 mr-0 ml-0 mt-0 mb-0 col-lg-5 right-col" style="overflow: auto;">
            <div class="login-rt-col">
                <header>
                    <div class="logo">
                        <img src="~/Content/assets/images/logo.png" alt="esdal" width="100">
                    </div>
                </header>
                <main>
                <div class="main-form">
                    <div class="form">
                        <h1 class="heading-medium">Forgot your password?</h1>
                        <div class="row mr-0 ml-0 paragraph-padding">
                            <p class="text-normal">
                                Please enter your username and email address. We&#39ll send a new password to the email address associated with
                                your username. If you do not receive the email in your inbox, please check your spam folder.
                            </p>
                        </div>

                        <div class="row mr-0 ml-0 mb-4">
                            <div class="col-sm-2 col-md-12 col-lg-3 pr-1 pl-0 mr-0 ml-0 mt-0 mb-0">
                                <label class="text-normal" for="txtusername">Username</label>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0">
                            </div> -->
                            <div class="col-sm-10 col-md-12 col-lg-9 pr-1 pl-0 mr-0 ml-0 mt-0 mb-0 input-field">
                                <input class="edit-normal" id="txtusername" type="text" name="username">

                                <div class="error-message" id="arrnameReqValidate" style="display: none; margin-right: 12%; height: fit-content;">
                                    <div class="card">
                                        <div class="row pt-2 pb-2" style="flex-wrap: unset;">
                                            <div>
                                                <img src="~/Content/assets/images/warning-icon2.svg" alt="warning" class="mr-2" width="20" style="text-align: initial;">
                                                <span class="edit-normal pr-2" style="width: 16rem;font-family:lato_medium;font-size:14px;text-align:center">
                                                    <span>User name is required.</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<span id="arrnameReqValidate" class="text-normal" style="display:none;color:red">User name is required.</span>*@
                            </div>
                        </div>
                        <div class="row mr-0 ml-0 mb-4">
                            <div class="col-sm-2 col-md-12 col-lg-3 pr-1 pl-0 mr-0 ml-0 mt-0 mb-0">
                                <label class="text-normal" for="txtEmail">Email Address </label>
                            </div>
                            <!-- <div class="col-sm-1 col-md-1 col-lg-1 pr-0 pl-0 mr-0 ml-0 mt-0 mb-0">
                            </div> -->
                            <div class="col-sm-10 col-md-12 col-lg-9 pr-1 pl-0 mr-0 ml-0 mt-0 mb-0 input-field">
                                <input class="edit-normal" id="txtEmail" type="text" name="username">
                                <div class="error-message" id="EmailReqValidate" style="display: none; margin-right: 20%; height: fit-content;">
                                    <div class="card">
                                        <div class="row pt-2 pb-2" style="flex-wrap: unset;">
                                            <div>
                                                <img src="~/Content/assets/images/warning-icon2.svg" alt="warning" class="mr-2" width="20" style="text-align: initial;">
                                                <span class="edit-normal pr-2" style="width: 16rem;font-family:lato_medium;font-size:14px;text-align:center">
                                                    <span>Email is required.</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="error-message" id="UserNameEmailValidate" style="display: none; height: fit-content;">
                                    <div class="card">
                                        <div class="row pt-2 pb-2" style="flex-wrap: unset;">
                                            <div>
                                                <img src="~/Content/assets/images/warning-icon2.svg" alt="warning" class="mr-2" width="20" style="text-align: initial;">
                                                <span class="edit-normal pr-2" style="width: 16rem;font-family:lato_medium;font-size:14px;text-align:center">
                                                    <span> Username and Email is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="error-message" id="UserNameReqValidate1" style="display:none;height:fit-content;">
                                    <div class="card">
                                        <div class="row pt-2 pb-2" style="flex-wrap: unset;">
                                            <div>
                                                <img src="~/Content/assets/images/warning-icon2.svg" alt="warning" class="mr-2" width="20" style="text-align: initial;">
                                                <span class="edit-normal pr-2" style="width: 16rem;font-family:lato_medium;font-size:14px;text-align:center">
                                                    <span> Incorrect Username/Email Id</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flexer justify-content-center">

                    <div class="button main-button pr-3 ">
                        <button class="btn btn-outline-primary btn-normal btn-continue" role="button" aria-pressed="true" style="width:140px">
                            CONTINUE
                        </button>
                    </div>
                    <div class="button main-button mr-0 ml-3 ">
                        <button class="btn btn-outline-primary btn-normal btn-cancel" role="button" aria-pressed="true" style="width:140px">
                            CANCEL
                        </button>
                    </div>
                </div>

                <div style="height:7vh"></div>
                <div class="d-flex pr-3 pb-0 mb-0" id="NH-logo">
                    <img src="~/Content/assets/images/National Highways Logo.svg" alt="National Highways Logo" class="mr-2" width="150">
                    <div style="text-align: left;" id="helpDetails">
                        <span class="text-normal pb-2">ESDAL helpdesk</span><br>
                        <span class="text-normal pb-2">Telephone: 0300 470 3733</span><br>
                        <span class="text-normal pb-2">Email: esdalenquiries@nationalhighways.co.uk</span>
                    </div>

                </div>
                </main>
                <footer>
                    <div class="footer-login" id="login-footer">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModalCenter3">ESDAL Terms and Conditions</a> |
                        <a data-bs-toggle="modal" data-bs-target="#esdalDisclaimer">ESDAL Disclaimer</a> |
                        <a data-bs-toggle="modal" data-bs-target="#esdalPrivacy">ESDAL Privacy</a> |
                        <a data-bs-toggle="modal" data-bs-target="#esdalCookies">Cookies</a> |
                        <a data-bs-toggle="modal" data-bs-target="#accessibilityStatement">Accessibility Statement</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!--Modal Popup success with button action-->
    <div class="modal fade" id="SuccessPopupAction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" style="cursor: pointer"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pt-2">
                    @*<span aria-hidden="true" class="close" data-dismiss="modal"
                        aria-label="Close">&times;</span>*@
                </div>
                <div class="modal-body">
                    <img src="~/Content/assets/images/completed.svg" width="30" alt="completed">
                    <div class="edit-normal popup-padding" id="SuccessMessage"></div>
                </div>
                <div class="modal-footer pt-4">
                    <button id="ShowSuccessPopup" type="button" class="btn RD-button btn-outline-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Popup error-->
    <!--Modal Popup Dialog warning-->
    <div class="modal fade" id="pop-warning" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" style="cursor: pointer" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="WarningContent">
                <div class="modal-header pt-2">
                    @*<span aria-hidden="true" class="close" data-dismiss="modal"
                        aria-label="Close">&times;</span>*@
                </div>
                <div>
                    <div class="modal-body">
                        <img src="/Content/assets/images/warning-icon2.svg" width="30"alt="warning">
                        <div class="edit-normal popup-padding pop-message" id="div_WarningMessageDialog"></div>
                    </div>
                    <div class="modal-footer pt-4">
                        <button id="WarningFailureDialog" class="btn btn-primary RD-button SOAButtonHelper ml-2 box_warningBtn1">YES</button>
                        <button id="WarningSuccessDialog" class="btn btn-primary RD-button SOAButtonHelper ml-2 box_warningBtn2">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Popup Dialog end here-->
    <div class="modal fade" id="ErrorPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" style="cursor: pointer"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pt-2">
                    @*<span aria-hidden="true" class="close" data-dismiss="modal"
                        aria-label="Close">&times;</span>*@
                </div>
                <div class="modal-body">
                    <img src="~/Content/assets/images/warning-icon2.svg" width="30" alt="warning">
                    <div class="edit-normal popup-padding" id="div_ErrorMessage"></div>
                </div>
                <div class="modal-footer pt-4 btn-close-error-popup">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ErrorPopupWithAction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" style="cursor: pointer"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pt-2">
                    @*<span aria-hidden="true" class="close" data-dismiss="modal"
                        aria-label="Close">&times;</span>*@
                </div>
                <div class="modal-body">
                    <img src="~/Content/assets/images/warning-icon2.svg" width="30" alt="warning">
                    <div class="edit-normal popup-padding" id="div_ErrorMessageWithAction"></div>
                </div>
                <div class="modal-footer pt-4">
                    <button type="button" id="showErrorPopupWithAction" class="btn btn-outline-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Popup end here-->
    <div class="modal fade" id="exampleModalCenter3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content " style="width:inherit;height: auto;">
                <div class="modal-header pt-2 text-center">
                    <h2 id="staticBackdropLabel" class="modal-title w-100 pt-4" style="font-family: lato_light;font-size:25px;">
                        TERMS AND CONDITIONS
                    </h2>
                    <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="row mb-1 pb-3 pl-4 pr-4">
                        <div class="ml-l2 mr-r2" style="text-align:left; width:fit-content;">
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">1. Using <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink fs-size-18" target="_blank" style="font-weight:800">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a></p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Esdal means the Electronic Service Delivery for Abnormal Loads providing a notification and route
                                    planning system to assist in the management of Abnormal Indivisible Loads. All correspondence other
                                    than through the on-line feedback service should be directed to the Abnormal Loads Team, National Highways
                                    , 9th Floor, The Cube, 199 Wharfside Street, Birmingham B1 1RN.
                                    Website means the website at <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink" target="_blank">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a>, operated by National Highways. You agree to use
                                    this site only for lawful purposes, and in a manner that does not infringe the rights of or restrict
                                    or inhibit the use of this site by any third party.
                                    By using this website, you indicate that you accept these terms of use and that you agree to abide by
                                    them. If you do not agree to these terms of use, please refrain from using this site.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    2. Changes to the website and these
                                    terms
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    National Highways reserves the right to make changes to the Website and these terms without notice. Please check these terms and conditions regularly, as continued use of the Website after a change has been made is your acceptance of the change.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    3. Warranty and liabilities
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    While every effort is made to keep the Website up to date, we don’t provide any guarantees, conditions
                                    or warranties as to the accuracy of the information on the site.
                                    We do not accept liability for loss or damage incurred by users of the Website, whether direct,
                                    indirect or consequential, whether caused by tort, breach of contract or otherwise, in connection with
                                    our site, the inability to use, or results of the use of the site, any websites linked to it and any
                                    materials posted on it. This includes loss of: income or revenue, business, profits or contracts,
                                    anticipated savings, data, goodwill or tangible property.
                                    This does not affect our liability for death or personal injury arising from our negligence, nor our
                                    liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any
                                    other liability which cannot be excluded or limited under applicable law.

                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">4. Copyright</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Notwithstanding Clause 5 below, all text, data, charts, tables, software, video, music, sound,
                                    graphics, photographs, illustrations, artwork, names, logos, and all other material of whatever nature
                                    contained on the Website and all copyright which may subsist in this Website (together, the Content)
                                    belongs to and shall remain at all times the property of National Highways or licensed source. You may
                                    retrieve and display Content from the Website on an electronic visual display device, print individual
                                    pages on paper (but not photocopy them) and store such information in electronic form on disk (but not
                                    on any server or other storage device connected to the network) solely for the purposes of planning
                                    and managing the movement of abnormal loads. You agree not to adapt, alter or create a derivative work
                                    from any of the Content on the Website or to use it for any purpose whatsoever other than for the
                                    intended use or as otherwise expressly permitted by these terms.
                                    Certain files are available for download from this website. These files are also subject to these
                                    terms.
                                    By accessing and using this Website you confirm that you agree to keep any information provided to you
                                    as management information as confidential and only to use it for purposes directly related to abnormal
                                    load movement. You also agree not to publish such information.

                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">5. Crown copyright</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">

                                    Crown copyright information featured on the National Highways website (other than departmental or
                                    agency logos) may be used and re-used free of charge under the terms and conditions of the Open
                                    Government Licence (OGL) <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" class="text-decoration-link" target="_blank">www.nationalarchives.gov.uk/doc/open-government-licence/version/3/</a>. Where
                                    Crown copyright information is being republished or copied to others, the source of the material must
                                    be identified and the copyright status acknowledged.
                                    A maximum of ten (10) copies may be made of the results of a map or route search for your own personal
                                    use, or for the purposes of planning and managing the movement of an abnormal load.
                                    The permission to use contained in this clause does not extend to anything on this site which is not
                                    identified as being Crown copyright or as being the copyright of a third party. Authorisation to
                                    reproduce such material must be obtained from the copyright holders concerned.

                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    6. Other intellectual property rights
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    The trade marks, service marks and logos used and displayed on this Website (trade marks) are the
                                    property of National Highways or a third party. Nothing on this Website should be construed as
                                    granting, by implication or otherwise, any licence or right to use any Trade Mark, service mark or
                                    logo without written permission from National Highways or the third party owner. The name of National
                                    Highways or the third party owner may not be used in any way, including in advertising or publicity
                                    pertaining to distribution of Content without the prior written permission of National Highways or
                                    third party owner as appropriate
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">7. Data coverage and disclosure</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Esdal uses data supplied from many sources. Whilst every reasonable effort is made to ensure that
                                    data coverage is sufficient to provide the Esdal service, National Highways cannot guarantee that data
                                    will cover all areas of the highways network. Data supplied by you for the purposes of Esdal will not
                                    be disclosed to other parties other than for the purposes of Esdal. Where data about structures is
                                    made available, this will only be disclosed to the extent that the data is already in the public
                                    domain or published elsewhere.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    8. Unlawful use
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    You must not misuse this site by knowingly introducing viruses, trojans, worms, logic bombs or other
                                    material which is malicious or technologically harmful. You must not attempt to gain unauthorised
                                    access to this site, the server on which the site is stored or any server, computer or database
                                    connected to the site. You must not attack the site via a denial of service attack or a distributed
                                    denial of service attack.
                                    By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990.
                                    We will report any such breach to the relevant law enforcement authorities and will co-operate with
                                    those authorities by disclosing your identity to them.

                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    9. Security, username and password
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">

                                    You will be issued with a username and an initial password on completion of registration to the site.
                                    You will be required to change your password to a password of your choosing when you first login to
                                    the Website. You are responsible for all actions taken under your Username and password and shall only
                                    use or utilise the Website using your own Username and password. You must make every effort to keep
                                    your password safe and should not disclose it to any other person, including persons within your own
                                    organisation. You should inform the Esdal Helpdesk immediately if you have any reason to believe that
                                    your password has become known to anyone else, or if the password is being, or is likely to be, used
                                    in an unauthorised manner. You shall not transfer your Username to any other person. You shall also
                                    not permit, either directly or indirectly, any other person to utilise your Username or password,
                                    including persons within your own organisation.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">10. Jurisdiction</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    These terms shall be governed by and construed in accordance with the laws of England and Wales. Any
                                    dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the
                                    courts of England and Wales.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">11. General</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason,
                                    the remaining terms and conditions shall nevertheless continue in full force.

                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">12. Events beyond our control</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">National Highways accepts no liability for any failure to comply with these terms and conditions where such failure is due to circumstances beyond our reasonable control.</p>
                            </div>

                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">13. Linking to and from <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink fs-size-18" target="_blank">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a></p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">We welcome and encourage other websites to link to the information that is hosted on the public pages of this website and you do not have to ask permission to link to it.</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">However we do not give permission to suggest that your website is associated with or endorsed by Esdal or National Highways.</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>

                            </div>

                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">14. Privacy policy</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">National Highways have fully committed to adherence of the General Data Protection Regulations (GDPR) following implementation on the 25th May 2018. In relation to our collection and processing of personal data, please see the below information.</p>
                                <p class="text-highlight fs-6 text-left pl-4 pr-4 pb-2 mb-0">Section 1 – Collection of Data</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    1) National Highways will be the data controller and the contact details for the company are:<br>
                                    <span style="padding-left: 1.8em">a) Data Protection Officer: Graham Woodhouse</span><br>
                                    <span style="padding-left: 1.8em">b) Email: <a class="text-decoration-link" href="mailto:DataProtectionAdvice@nationalhighways.co.uk">DataProtectionAdvice@nationalhighways.co.uk</a> </span> <br><br>

                                    2) The data is being collected for: The ESDAL (Electronic Service Delivery for Abnormal Loads) Service<br> <br>
                                    3) The data processor, working on behalf of National Highways in relation to this will be:<br>
                                    ARS T &amp; TT<br><br>
                                    4) Collected data will be stored within secure electronic records management systems, with the system being dependant on the nature of information. The systems used by National Highways are: ESDAL<br><br>
                                    5) Information stored by third parties will be held on the following systems: Oracle in UK
                                </p>
                                <p class="text-highlight fs-6 text-left pl-4 pr-4 pb-2 mb-0">Section 2 – Processing of data </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    In addition to the information referred to in section 1, at the point of collection we will, at the time when personal data are obtained, provide you with the following further information necessary to ensure fair and transparent processing:
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    1) The personal data will be stored until the user asks to be removed from the system or we are informed they are no longer employed by the company which their data is held under. <br> <br>
                                    2) Under GDPR you have rights to request information from the company
                                </p>
                                <ul class="edit-normal text-left pl-4 pr-4 pt-0" style="margin-left:45px;">
                                    <li>Right of access to the data (Subject Access Request)</li>
                                    <li>Right for the rectification of errors</li>
                                    <li>Right to erasure of personal data – not an absolute right</li>
                                    <li>Right to restrict of processing or to object to processing</li>
                                    <li>the right to data portability;</li>

                                </ul>


                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    3) As this processing is based on receiving the consent of the data subject then we have an obligation to inform the data subject that they have the right to withdraw their consent at any time, without affecting the lawfulness of processing based on consent before its withdrawal.<br><br>
                                    4) You have the right to lodge a complaint with a supervisory authority (in the UK that is the Information Commissioners Office). <br><br>
                                    5) The provision of this personal data is a contractual requirement and you are obliged to provide this information for this requirement to be fulfilled. <br><br>
                                    6) If we are to process the personal data we hold for a purpose other than that for which it was originally collected then we will provide the you with information on what that other purpose is prior to that further processing taking place. The extra information will include any relevant further information as referred to above including the right to object to that further processing.
                                </p>

                            </div>

                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">15. Haulier portal terms</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation or business to submit notifications and indemnities on behalf of your organisation or business.</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Your personal data and organisational data may be used to communicate abnormal load notifications as a legal requirement in accordance with Section 44 of the Road Traffic Act.
                                </p>

                            </div>

                            <div>

                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">16. Police portal terms</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation to accept or reject on behalf of your organisation or business proposed special order routes submitted to you.</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">Your personal data and organisational data may be used to communicate abnormal load notifications as a legal requirement in accordance with Section 44 of the Road Traffic Act. </p>
                            </div>


                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">17. Structure owner portal terms</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation to accept or reject on behalf of your organisation or business proposed special order routes submitted to you.</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">Data - By accessing and using this Website you confirm that you as a user have the authority or delegated authority of your organisation to modify, add or delete data related to those structures you own or manage on behalf of your organisation.</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Your personal data and organisational data may be used to communicate abnormal load notifications as a legal requirement in accordance with Section 44 of the Road Traffic Act.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="max-width: 45rem;">
            <div class="modal-content" style="width: 45rem;height: auto;">
                <div class="modal-header pt-2" style="justify-content: end;">
                    <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <h5 id="staticBackdropLabel" class="modal-title w-100 pt-4" style="font-family: lato_light;font-size:25px;">
                        WARNING</h5>
                        <img src="~/Content/assets/Icons/warning-icon3.svg" width="30" alt="warning">
                        <div class="row mb-1 pb-3 pl-4 pt-4 pr-4">
                            <div class="ml-l2 mr-r2" style="text-align:left; width: fit-content;">
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Dear ESDAL Users,
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Once logged in you will now have access to the new updated ESDAL Maps. The new maps will provide
                                    improved abnormal load routeing and a more accurate reflection of UK public highways. Users can route
                                    along newly added roads which will ensure more accurate and safe notifications are plotted and
                                    processed.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    As the new maps contain a large number of new road and structural information, users will need to notify
                                    all routes using the new maps. Users can still access previously planned routes in ESDAL, however they
                                    will need to be edited /re-planned to ensure they can be reformatted to the new maps.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0 pb-0">
                                    If you require any further information or assistance regarding the map update, please refer to the ***
                                    guidance document in the Information
                                    Tab – Help and information *** or contact the ESDAL Helpdesk Team on 0300 470 3733, 8am - 6pm Monday -
                                    Friday (excluding bank holidays), email address: esdalenquiries@nationalhighway.co.u
                                </p>
                            </div>
                        </div>
                </div>
                <div class="row ah1 mb-2 mr-r2">
                    <button class="btn outline-btn-primary btn-normal btn-layout mb-2" role="button" aria-pressed="true" data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="esdalPrivacy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="max-width: 55rem;">
            <div class="modal-content" style="width: 55rem;height: auto;">
                <div class="modal-header pt-2 text-center">
                    <h5 id="staticBackdropLabel" class="modal-title w-100 pt-4" style="font-family: lato_light;font-size:25px;">
                        PRIVACY
                    </h5>
                    <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="row mb-1 pb-3 pl-4 pr-4">
                        <div class="ml-l2 mr-r2" style="text-align:left; width:fit-content;">
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">General Data Protection Regulations (GDPR) Privacy Notice National Highways - ESDAL</p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    National Highways have fully committed to adherence of the General Data Protection Regulations (GDPR) following implementation on the 25th May 2018. In relation to our collection and processing of personal data, please see the below information.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Section 1 – Collection of Data
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    1) National Highways will be the data controller and the contact details for the company are:<br />
                                    <span class="pl-5">
                                        a) Data Protection Officer: Graham Woodhouse
                                    </span><br />
                                    <span class="pl-5">
                                        b) Email: <a href="mailto:DataProtectionAdvice@nationalhighways.co.uk" class="text-decoration-link">DataProtectionAdvice@nationalhighways.co.uk</a><br />
                                    </span>
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    2) The data is being collected for: The ESDAL (Electronic Service Delivery for Abnormal Loads) Service
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    3) The data processor, working on behalf of National Highways in relation to this will be:<br />ARS T & TT
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    4) Collected data will be stored within secure electronic records management systems, with the system being dependant on the nature of information. The systems used by National Highways are: ESDAL
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    5) Information stored by third parties will be held on the following systems:
                                    <br />Oracle in UK
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Section 2 – Processing of data
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    In addition to the information referred to in section 1, at the point of collection we will, at the time when personal data are obtained, provide you with the following further information necessary to ensure fair and transparent processing:
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    1) The personal data will be stored until the user asks to be removed from the system or we are informed they are no longer employed by the company which their data is held under.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    2) Under GDPR you have rights to request information from the company
                                </p>
                                <ul class="edit-normal text-left pl-4 pr-4 pt-0" style="margin-left:45px;">
                                    <li>Right of access to the data (Subject Access Request)</li>
                                    <li>Right for the rectification of errors</li>
                                    <li>Right to erasure of personal data – not an absolute right</li>
                                    <li>Right to restrict of processing or to object to processing</li>
                                    <li>the right to data portability;</li>

                                </ul>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    3) As this processing is based on receiving the consent of the data subject then we have an obligation to inform the data subject that they have the right to withdraw their consent at any time, without affecting the lawfulness of processing based on consent before its withdrawal.
                                </p>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    4) You have the right to lodge a complaint with a supervisory authority (in the UK that is the Information Commissioners Office).
                                </p>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    5) The provision of this personal data is a contractual requirement and you are obliged to provide this information for this requirement to be fulfilled.
                                </p>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    6) If we are to process the personal data we hold for a purpose other than that for which it was originally collected then we will provide the you with information on what that other purpose is prior to that further processing taking place. The extra information will include any relevant further information as referred to above including the right to object to that further processing.
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="row ah1 mb-2 mr-r2">
                        <button class="btn outline-btn-primary btn-normal btn-layout mr-r1" role="button" aria-pressed="true" data-bs-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="esdalCookies" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="max-width: 55rem;">
            <div class="modal-content" style="width: 55rem;height: auto;">
                <div class="modal-header pt-2 text-center">
                    <h5 id="staticBackdropLabel" class="modal-title w-100 pt-4" style="font-family: lato_light;font-size:25px;">
                        COOKIES
                    </h5>
                    <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="row mb-1 pb-3 pl-4 pr-4">
                        <div class="ml-l2 mr-r2" style="text-align:left; width:fit-content;">
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    1. Introduction
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    When we provide services, we want to make them easy, useful and reliable. Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device, for example, computer or mobile phone. These include small files known as cookies. They cannot be used to identify you personally.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    These pieces of information are used to improve services for you through, for example:
                                </p>

                                <ul class="edit-normal text-left pl-4 pr-4 pt-0" style="margin-left:45px;">
                                    <li>enabling a service to recognise your device so you don't have to give the same information several times during one task</li>
                                    <li>
                                        recognising that you may already have given a username and password so you don't need to do it for every web page requested
                                    </li>
                                    <li>
                                        measuring how many people are using services, so they can be made easier to use and there's enough capacity to ensure they are fast
                                    </li>
                                    <li>
                                        analysing anonymised data to help us understand how people interact with govt services so we can make them better
                                    </li>

                                </ul>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    If you'd like to learn how to remove cookies set on your device, visit the <a href="https://www.gov.uk/help/cookies" target="_blank" class="text-normal-hyperlink">GOV.UK website.</a>
                                </p>

                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    2. ESDAL cookies
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Session management
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    These are session-based cookies used to ensure the smooth running of user's sessions.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Name: ASP.NET_SessionId<br />
                                    Purpose: This is a session cookie providing a user with a unique session ID - used to maintain an<br />
                                    anonymised user session. Note. This is assigned prior to a user logging-in.<br />
                                    Typical content: Randomly generated number/text<br />
                                    Expires: When browsing session ends<br />
                                </p>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Name: ASPXAUTH<br />
                                    Purpose: This cookie is used to identify a logged-in user to enable access to secure areas of the site.<br />
                                    Typical content: Randomly generated number/text<br />
                                    Expires: When browsing session ends<br />
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Name: NSC_xxx
                                    Purpose: SSL Session ID persistence, the system load balancer uses the SSL Session ID, which is
                                    part of the SSL handshake process, to create a persistence session before the initial request is
                                    directed to a service i.e. Web Server. The load balancing virtual server directs subsequent requests
                                    that have the same SSL session ID to the same service.
                                    Typical content: predefined string of letters and numbersidentifying the service
                                    Expires: Typically 200mins if a browser is not closed
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Name: RequestVerificationToken<br />
                                    Purpose: Anti-forgery verification token. This token is used to prevent cross-site request forgery<br />
                                    (CSRF)attacks.<br />
                                    Typicalcontent:Randomlygeneratednumber/text<br />
                                    Expires: When browsing session ends<br />
                                </p>


                            </div>

                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    3. How to control and delete cookies
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We will not use cookies to collect personally identifiable information about you.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    However, if you wish to restrict or block the cookies which are set by our websites, or indeed any other website, you can do this through your browser settings. The 'Help' function within your browser should tell you how.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Alternatively, you may wish to visit <a href="http://www.aboutcookies.org" target="_blank" class="text-normal-hyperlink">www.aboutcookies.org</a> which contains comprehensive information on how to do this on a wide variety of browsers. You will also find details on how to delete cookies from your machine as well as more general information about cookies
                                </p>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    Please be aware that restricting cookies may impact on the functionality of some websites.
                                </p>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    If you wish to view your cookie code, just click on a cookie to open it. You'll see a short string of text and numbers. The numbers are your identification card, which can only be seen by the server that gave you the cookie.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    For information on how to do this on the browser of your mobile phone you will need to refer to your handset manual.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    To opt-out of third-parties collecting any data regarding your interaction on our website, please refer to their websites for further information.
                                </p>


                            </div>


                        </div>
                    </div>
                    <div class="row ah1 mb-2 mr-r2">
                        <button class="btn outline-btn-primary btn-normal btn-layout mb-2" role="button" aria-pressed="true" data-bs-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="esdalDisclaimer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="max-width: 45rem;">
            <div class="modal-content" style="width: 45rem;height: auto;">
                <div class="modal-header pt-2 text-center">
                    <h5 id="staticBackdropLabel" class="modal-title w-100 pt-4" style="font-family: lato_light;font-size:25px;">
                        DISCLAIMER
                    </h5>
                    <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="row mb-1 pb-3 pl-4 pt-4 pr-4">
                        <div class="ml-l2 mr-r2" style="text-align:left; width: fit-content;">
                            While we make every effort to keep <a href="@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]" class="text-normal-hyperlink">@System.Configuration.ConfigurationManager.AppSettings["esdalLoginUrl"]</a> up to date, we don't provide any guarantees, conditions or warranties as to the accuracy of the information on the site.
                            <br /><br />
                            We do not accept liability for loss or damage incurred by users of the website whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise, in connection with the site, its use, the inability to use or results of the use of the site, any websites linked to it and any materials posted on it. This includes loss of:
                            <br />

                            <ul>
                                <li>
                                    physical damage to property;<br>
                                </li>

                                <li type='disc'>
                                    loss of income or revenue;<br>
                                </li>

                                <li type='disc'>
                                    loss of business;<br>
                                </li>

                                <li type='disc'>
                                    loss of profits or contracts;<br>
                                </li>

                                <li type='disc'>
                                    loss of anticipated savings;<br>
                                </li>

                                <li type='disc'>
                                    loss of data;<br>
                                </li>

                                <li type='disc'>
                                    loss of goodwill;<br>
                                </li>

                                <li type='disc'>
                                    business interruption;<br>
                                </li>

                                <li type='disc'>
                                    wasted management or office time
                                </li>
                            </ul>

                            <p class="text-left pl-0">
                                This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.
                            </p>
                            <p class="text-left pl-0">
                                These terms and conditions shall be governed by and construed in accordance with the laws of England and Wales and subject to the exclusive jurisdiction of the courts of England and Wales.
                            </p>
                            <p class="text-left pl-0">
                                <b style='color:#1345C5'>External Links</b>
                            </p>
                            <p sizcache='0' sizset='22' class="text-left pl-0">We are not responsible for the contents or reliability of the linked web sites and do not necessarily endorse the views expressed within them. We cannot guarantee that these links will work all of the time and we have no control over the availability of the linked pages.</p>

                        </div>
                    </div>
                </div>
                <div class="row ah1 mb-2 mr-r2">
                    <button class="btn outline-btn-primary btn-normal btn-layout mb-2" role="button" aria-pressed="true" data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="accessibilityStatement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="accessibilityStatement" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="max-width: 55rem;">
            <div class="modal-content" style="width: 55rem;height: auto;">
                <div class="modal-header pt-2 text-center">
                    <h5 id="staticBackdropLabel" class="modal-title w-100 pt-4" style="font-family: lato_light;font-size:25px;">
                        INFORMATION STORY
                    </h5>
                    <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="row mb-1 pb-3 pl-4 pr-4">
                        <div class="ml-l2 mr-r2" style="text-align:left; width:fit-content;">
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Accessibility statement for ESDAL (Electronic Service Delivery for Abnormal Loads)
                                </p> <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    How accessible is this website?
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We know some parts of this website are not fully accessible:
                                </p>

                                <ul class="edit-normal text-left pl-4 pr-4 pt-0" style="margin-left:45px;">
                                    <li>
                                        The text will not reflow in a single column when you change the size of the browser window
                                    </li>
                                    <li>
                                        You cannot modify the line height or spacing of text.
                                    </li>
                                    <li>
                                        Most older PDF documents are not fully accessible to screen reader software.
                                    </li>
                                    <li>
                                        Some of our online forms are difficult to navigate using just a keyboard.
                                    </li>
                                    <li>
                                        You cannot skip to the main content when using a screen reader.
                                    </li>
                                    <li>
                                        There's a limit to how far you can magnify the vehicle mapping and general pages.
                                    </li>

                                </ul>


                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Feedback and contact information
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille please contact the ESDAL Helpdesk Team:
                                </p>
                                <ul class="edit-normal text-left pl-4 pr-4 pt-0" style="margin-left:45px;">
                                    <li>Email: esdalenquiries@nationalhighways.co.uk</li>
                                    <li>
                                        Call: 0300 470 3733
                                    </li>
                                </ul>

                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We'll consider your request and get back to you in 3 working days. Currently the website is not available in different formats.
                                </p>

                            </div>

                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Reporting accessibility problems with this website
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact The ESDAL Helpdesk Team:
                                </p>
                                <ul class="edit-normal text-left pl-4 pr-4 pt-0" style="margin-left:45px;">
                                    <li>Email: esdalenquiries@nationalhighways.co.uk</li>
                                    <li>
                                        Call: 0300 470 3733
                                    </li>
                                </ul>

                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Enforcement procedure
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" class="text-decoration-link">contact the Equality Advisory and Support Service (EASS)</a>.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    National Highways is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    <a href="https://www.legislation.gov.uk/uksi/2018/852/regulation/1/made" class="text-decoration-link" target="_blank">https://www.legislation.gov.uk/uksi/2018/852/regulation/1/made</a>
                                </p>

                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Compliance status
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    This website is not compliant with the  <a href="https://www.w3.org/TR/WCAG21/" class="text-decoration-link" target="_blank">Web Content Accessibility Guidelines version 2.1 AA standard</a>.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    Non-compliance with the accessibility regulations and Disproportionate burden
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We are aware that some/many areas of this site are not accessible, and we are currently auditing these requirements to provide a detailed list for users. We have assessed the cost of fixing the issues with navigation and accessing information and with interactive tools and transactions. We believe that doing so now would be a disproportionate burden within the meaning of the accessibility regulations. We will make another assessment when the supplier contract is up for renewal.
                                </p>
                            </div>
                            <div>
                                <p class="text-highlight fs-size-18 text-left pl-4 pr-4 pb-2 mb-0">
                                    What we're doing to improve accessibility
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We are currently preparing an audit of non-accessible requirements within and outside the scope of the accessibility regulations. We will update this statement in December 2020 to advise users of specific areas on where the website is and is not compliant.
                                </p>
                                <p class="edit-normal text-left pl-4 pr-4 pt-0">
                                    We also aim to make ESDAL further compliant with the WCAG 2.1 guidelines when the new system is developed in the next 24 months.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="row ah1 mb-2 mr-r2">
                        <button class="btn outline-btn-primary btn-normal btn-layout mb-2" role="button" aria-pressed="true" data-bs-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
@Html.Hidden("hfAntiForgeryToken", Html.AntiForgeryToken())
@Html.Hidden("hf_outsidepage")

<script src="~/Scripts/Account/ForgetPassword.js?V@(System.Configuration.ConfigurationManager.AppSettings["projectVersion"])"></script>