@using STP.Domain.VehiclesAndFleets;
@{
    string CompImageName = ViewBag.imageName;
    var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + CompImageName + ".png";
    var count = TempData["compCount"];
    int TotalComponentCount = ViewBag.ComponentCount != null ? (int)ViewBag.ComponentCount : 0;//This will be used only during add third/3+ component. other cases it will be zero

    var displaySubType = "";
    var vehicleTypeId = ViewBag.componentTypeId != null ? (int)ViewBag.componentTypeId : 0;
    if (vehicleTypeId == (int)VehicleEnums.ComponentType.ConventionalTractor || vehicleTypeId == (int)VehicleEnums.ComponentType.RigidVehicle || vehicleTypeId == (int)VehicleEnums.ComponentType.MobileCrane
                || vehicleTypeId == (int)VehicleEnums.ComponentType.SPMT || vehicleTypeId == (int)VehicleEnums.ComponentType.Tracked
                || vehicleTypeId == (int)VehicleEnums.ComponentType.RecoveryVehicle || vehicleTypeId == (int)VehicleEnums.ComponentType.EngineeringPlantDrawbarTrailer
                || vehicleTypeId == (int)VehicleEnums.ComponentType.EngineeringPlantSemiTrailer || vehicleTypeId == (int)VehicleEnums.ComponentType.GirderSet)
    {
        displaySubType = "display:none";
    }

}
<div id="div_Individual_component_@count" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 Comp_Div comp_@count">
    @if (CompImageName != null)
    {
        <div class="row" id="ComponentList">
            <div class="CreateComponent" id="CreateComponent_@ViewBag.componentId">
                <div class="card mb-3" id="vehicle-shadow">
                    <img id="singleComponentImg" alt="vehicle-1" style="mix-blend-mode: darken;" src="@Url.Content(ImageName)">
                    <div id="ComponentDelete" class="align-self-center mx-4 deleteVehicleComp" style="display: none;" ComponentId="@ViewBag.componentId">
                        <img src="~/Content/assets/images/delete-icon.svg" width="15" style="cursor: pointer;" alt="Remove Component" title="Delete Component">
                    </div>
                </div>
                <div class="row align-items-baseline">
                    <label class="col-3 text-normal">Type</label>
                    <div class="col-8">
                        @if (ViewBag.componentTypeId == 0)
                        {
                            @Html.DropDownList("ComponentType", null, "Select", new { @class = "form-select mb-3 drpComponentType", @id = "ComponentType", @name = "ComponentType" })
                        }
                        else
                        {
                            @Html.DropDownList("ComponentType", null, null, new { @class = "form-select mb-3 drpComponentType", @id = "ComponentType", @name = "ComponentType" })
                        }
                    </div>
                </div>
                <div class="row align-items-baseline " style="@displaySubType">
                    <label class="col-3 text-normal">Subtype</label>
                    <div class="col-8">
                        @if (ViewBag.componentSubTypeId == 0)
                        {
                            <select id="VehicleSubType" class="form-select drpComponentSubType" aria-label="Vehicle sub-type">
                                <option selected>Select</option>
                            </select>
                        }
                        else
                        {
                            @Html.DropDownList("VehicleSubType", null, null, new { @class = "form-select drpComponentSubType" })
                        }
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row" id="CreateNewComponent">
            <div class="CreateComponent" id="CreateComponent">
                <div class="card mb-3" id="vehicle-shadow">
                </div>
                <div class="row align-items-baseline">
                    <label class="col-3 text-normal">Type</label>
                    <div class="col-8">
                        @if (ViewBag.componentTypeId == 0)
                        {
                            @Html.DropDownList("ComponentType", null, "Select", new { @class = "form-select mb-3 drpComponentType", @id = "ComponentType", @name = "ComponentType" })
                        }
                        else
                        {
                            @Html.DropDownList("ComponentType", null, null, new { @class = "form-select mb-3 drpComponentType", @id = "ComponentType", @name = "ComponentType" })
                        }
                    </div>
                </div>
                <div class="row align-items-baseline " style="@displaySubType">
                    <label class="col-3 text-normal">Subtype</label>
                    <div class="col-8">
                        @if (ViewBag.componentSubTypeId == 0)
                        {
                            <select id="VehicleSubType" class="form-select drpComponentSubType" aria-label="Vehicle sub-type" disabled>
                                <option selected>Select</option>
                            </select>
                        }
                        else
                        {
                            @Html.DropDownList("VehicleSubType", null, null, new { @class = "form-select drpComponentSubType" })
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    #widgetsContent .form-select {
        width: 10.8rem;
        padding: 10px;
        border-radius: 5px;
        color: #275795;
    }
</style>
