@model List<STP.Domain.VehicleAndFleets.Component.IFXProperty>
@using STP.Domain.VehiclesAndFleets

@{
    decimal rowCount = Model.Count();
    int secondSet = (int)Math.Ceiling((decimal)ViewBag.configFieldsCount / 2);
    int firstRowSet = (int)ViewBag.configFieldsCount - secondSet;
    var ConfigTypeId = ViewBag.ConfigTypeId != null ? (int)ViewBag.ConfigTypeId : 0;
    if (ConfigTypeId > 0 && ConfigTypeId == (int)VehicleEnums.ConfigurationType.SPMT)
    {
        firstRowSet = 6;
    }
    var componentTypeList = (List<STP.Domain.VehiclesAndFleets.Configuration.VehicleConfigList>)ViewBag.ComponentTypeList;
    int? unitValue = 1;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        unitValue = sessionValues.VehicleUnits;
    }
    bool VSONotificationVehicle = ViewBag.VSONotificationVehicle;
    bool planMovement = ViewBag.PlanMovement;
    bool candidateVehicle = ViewBag.CandidateVehicle;
    int? componentCount = componentTypeList.Count;
}
<style>
    .tblregcomponent {
        padding-left: 20px !important;
        text-align: left !important;
        color: rgba(92, 92, 92, 1) !important;
    }

    .component_alignment {
        text-align: left !important;
        color: black;
    }

    .delete {
        background: url(../../Content/assets/images/delete-icon.svg) no-repeat;
        display: block;
        height: 34px;
        background-size: 18px;
        background-position: center;
    }

    #vehicle-reg-table th {
        padding: 20px 5px 5px 20px;
        text-align: left;
        font-size: 14.00px;
        font-weight: 400;
        font-style: normal;
        font-family: lato_medium, Arial;
        text-decoration: none;
        background-color: rgba(39, 87, 149, 0.1);
        vertical-align: baseline;
        color: #5C5C5C;
    }
</style>
<div class="row pb-4">
    <div class="col-lg-12 pt-5 text-normal pr-0">
        
            All the <b>required fields *</b> should be completed for ESDAL to make an accurate assessment of the type of notification that is needed. 
            The measurements entered should include the vehicle and the load
       
    </div>
    <div class="col-lg-12 pt-5 title pr-0" style="font-family: lato_bold;">Vehicle Configuration</div>
</div>
@{
    Html.RenderAction("GetVehicleImage", "VehicleConfig", new { componentIdList = componentTypeList });
}
<div class="err_formalName error invalid-feedback" style="display: block !important;"></div>
@Html.Hidden("VSONotificationVehicle", VSONotificationVehicle)
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" id="div_config_general">
        <div class="row">
            @using (Html.BeginForm("GetMovementAssessment", "VehicleConfig", FormMethod.Post, new { Id = "VehicleConfigInfo" }))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 second-vehicle">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6">

                            @for (int i = 0; i < firstRowSet - 1; i++)
                            {
                                <div class="row mb-2 dynamic">
                                    @if (@Model[i].DisplayString == "Formal Name")
                                    {
                                        if (!planMovement && !candidateVehicle)
                                        {
                                            <div class="col-sm-4 col-md-5 col-lg-5 pr-0 labelDiv">
                                                <label class="text-normal">

                                                    @if (Model[i].IsRequired == 1)
                                                    {
                                                        <span>*</span>
                                                        <b>
                                                            @Model[i].DisplayString
                                                            <span>*</span>
                                                        </b>
                                                    }
                                                    else
                                                    {
                                                        @Model[i].DisplayString
                                                    }
                                                </label>
                                            </div>
                                        }
                                    }
                                    else if (@Model[i].DisplayString != "Wheelbase")
                                    {
                                        <div class="col-sm-4 col-md-5 col-lg-5 pr-0 labelDiv">
                                            <label class="text-normal">
                                                @if (Model[i].InputType != "DROPDOWN")
                                                {
                                                    if (Model[i].IsRequired == 1)
                                                    {
                                                        <b>
                                                            @Model[i].DisplayString
                                                            <span>*</span>
                                                        </b>
                                                    }
                                                    else
                                                    {
                                                        @Model[i].DisplayString
                                                    }
                                                }
                                                else if (componentCount == 1)
                                                {
                                                    if (Model[i].IsRequired == 1)
                                                    {
                                                        <b>
                                                            @Model[i].DisplayString
                                                            <span>*</span>
                                                        </b>
                                                    }
                                                    else
                                                    {
                                                        @Model[i].DisplayString
                                                    }
                                                }
                                            </label>
                                        </div>
                                    }
                                    <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal" style="white-space: nowrap;">
                                        @{
                                            switch (Model[i].InputType)
                                            {
                                                case "TEXTBOX":
                                                    if (Model[i].DropDownList.Count == 0)
                                                    {
                                                        if (@Model[i].ParamModel == "Weight")
                                                        {
                                                            if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel,displayName= @Model[i].DisplayString })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                        }
                                                        else if (@Model[i].ParamModel == "Speed")
                                                        {
                                                            if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_Speed", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_Speed", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                        }
                                                        else if (@Model[i].ParamModel == "Formal Name")
                                                        {
                                                            if (!planMovement && !candidateVehicle)
                                                            {
                                                                if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                            }
                                                        }
                                                        else if (@Model[i].ParamModel == "Wheelbase")
                                                        {
                                                            @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { datatype = @Model[i].ParamType, maxlength = @Model[i].ParamMaxLength, range = @Model[i].StrRange, @class = "frmbdr clearValidation", @style = "display:none;", displayName = @Model[i].DisplayString })
                                                        }
                                                        else
                                                        {
                                                            if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (@Model[i].ParamModel == "Wheelbase")
                                                        {
                                                            @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { datatype = @Model[i].ParamType, maxlength = @Model[i].ParamMaxLength, range = @Model[i].StrRange, @class = "frmbdr clearValidation", @style = "display:none;", displayName = @Model[i].DisplayString })
                                                        }
                                                        else
                                                        {
                                                            if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                            {
                                                                if (unitValue == 692002)
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, placeholder = "0'00''", displayName = @Model[i].DisplayString })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (unitValue == 692002)
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, placeholder = "0'00''", displayName = @Model[i].DisplayString })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                            }
                                                        }
                                                    }
                                                    break;
                                                case "TEXTAREA":
                                                    @Html.TextArea(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr", @validationmsg = Model[i].ParamModel, @style = "width: 100%", displayName = @Model[i].DisplayString })
                                                    break;
                                                case "LABEL":
                                                    <span id="@Model[i].ParamModel" class="text-normal padd10 lblParam">@Model[i].ParamValue</span>
                                                    break;
                                                case "CHECKBOX":
                                                    @Html.CheckBox(Model[i].ParamModel, Model[i].ParamValue)
                                                    break;
                                                case "DROPDOWN":
                                                    if (componentCount == 1)
                                                    {
                                                        if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                        {
                                                            @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation", @axleDropCount = 1, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation", @axleDropCount = 1, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                        }
                                                    }
                                                    break;
                                                default:
                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                    break;

                                            }
                                        }
                                        @if (@Model[i].DisplayString != "Wheelbase")
                                        {
                                            if (Model[i].DropDownList.Count > 0)
                                            {
                                                if (unitValue == 692002 && Model[i].ParamModel == "Speed")
                                                {
                                                    <label class="text-normal div_Speed">mph</label>
                                                }
                                                else if (unitValue == 692001 && Model[i].ParamModel == "Speed")
                                                {
                                                    <label class="text-normal div_Speed">kph</label>
                                                }
                                                else if (unitValue == 692001)
                                                {
                                                    <label class="text-normal lblUnit">m</label>
                                                }
                                                else if (unitValue == 692002)
                                                {
                                                    <label class="text-normal lblUnit">ft</label>
                                                }
                                            }

                                            else
                                            {
                                                if (Model[i].ParamModel == "Weight" || Model[i].ParamModel == "AxleWeight" || Model[i].ParamModel == "TrainWeight")
                                                {
                                                    <label class="text-normal">kg</label>
                                                }
                                            }
                                            if (Model[i].ParamModel == "Formal Name")
                                            {
                                                if (!planMovement && !candidateVehicle)
                                                {
                                                    <div class="error invalid-feedback" style="display: block !important;"></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="error invalid-feedback" style="display: block !important;"></div>
                                            }
                                        }
                                    </div>

                                    @if (componentCount > 1 && @Model[i].InputType == "DROPDOWN")
                                    {
                                        <div class="row mb-2">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                @{ 
                                                    var compList = componentTypeList.Select(x=>x.ComponentId);
                                                    var compIds = "";
                                                    if (compList != null)
                                                    {
                                                        compIds = string.Join(",", compList);
                                                    }
                                                }
                                                <label class="text-normal lblUnit mb-3"><b>Number of Axles</b>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a style="display:none;" href="#" id="btnOpenAllAxlePopup" class="btnOpenAllAxlePopup" data-componentids="@compIds">
                                                        View Axle Details
                                                    </a>
                                                </label>
                                                <div class="row">
                                                    @for (int j = 1; j <= componentCount; j++)
                                                    {
                                                        <div class="col-md-6 pb-3">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    @if (Model[i].IsRequired == 1)
                                                                    {
                                                                        <label class="text-normal" style="font-weight: bold">
                                                                            Component @j
                                                                        </label>
                                                                        <span class="text-normal" style="font-weight: bold">*</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-normal">
                                                                            Component @j
                                                                        </label>
                                                                    }
                                                                </div>
                                                                <div class="col-4 p-0">
                                                                    @if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                    {
                                                                        @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation axledropVehicle_" + @j, @axleDropCount = @j, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation axledropVehicle_" + @j, @axleDropCount = @j, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                    }
                                                                    <div class="error invalid-feedback" style="display: block !important;"></div>
                                                                </div>
                                                                @*<div class="col-2">
                                                                    <a href="#" id="" class="axlePopUp axlePopUp_@componentTypeList[j-1].ComponentId" axleDropCount="@j" componentId="@componentTypeList[j-1].ComponentId" style="display:none;">
                                                                        <img src="/Content/assets/images/Group 999.svg" title="Add" width="26">
                                                                    </a>
                                                                </div>*@
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 col-xs-12">

                            @for (int i = firstRowSet - 1; i < rowCount; i++)
                            {

                                if (@Model[i].ParamModel == "Overhang and Projection")
                                {
                                    <label class="text-normal mb-2">
                                        <b>Overhang & Projection</b>
                                        (
                                        @Model[i].DisplayString
                                        )
                                    </label>
                                }
                                else
                                {
                                    <div class="row mb-2 dynamic div_@Model[i].TextId" style="display: @(Model[i].ShowText == 1?"none":"");">
                                        <div class="col-sm-4 col-md-5 col-lg-5 pr-0 labelDiv">
                                            <label class="text-normal">
                                                @if (@Model[i].DisplayString != "Wheelbase")
                                                {
                                                    if (Model[i].InputType != "DROPDOWN")
                                                    {
                                                        if (Model[i].IsRequired == 1)
                                                        {
                                                            <b>
                                                                @Model[i].DisplayString
                                                                <span>*</span>
                                                            </b>
                                                        }
                                                        else
                                                        {
                                                            @Model[i].DisplayString
                                                        }
                                                    }
                                                    else if (componentCount == 1)
                                                    {
                                                        if (Model[i].IsRequired == 1)
                                                        {
                                                            <b>
                                                                @Model[i].DisplayString
                                                                <span>*</span>
                                                            </b>
                                                        }
                                                        else
                                                        {
                                                            @Model[i].DisplayString
                                                        }
                                                    }
                                                }
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-md-5 col-lg-5 input-field text-normal" style="white-space: nowrap;">
                                            @{
                                                switch (Model[i].InputType)
                                                {
                                                    case "TEXTBOX":
                                                        if (Model[i].DropDownList.Count == 0)
                                                        {
                                                            if (@Model[i].ParamModel == "Weight")
                                                            {
                                                                if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr clearValidation", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (@Model[i].ParamModel == "Speed" && (@Model[i].IsRequired != 0 || Model[i].ParamValue != "0"))
                                                            {
                                                                if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_Speed", @validationmsg = Model[i].ParamModel, @style = "width: 45%;float: left;", displayName = @Model[i].DisplayString })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_Speed", @validationmsg = Model[i].ParamModel, @style = "width: 45%;float: left;", displayName = @Model[i].DisplayString })
                                                                }
                                                            }
                                                            else if (@Model[i].ParamModel == "Wheelbase")
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { datatype = @Model[i].ParamType, maxlength = @Model[i].ParamMaxLength, range = @Model[i].StrRange, @class = "frmbdr clearValidation", @style = "display:none;", displayName = @Model[i].DisplayString })
                                                            }
                                                            else
                                                            {
                                                                if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                {
                                                                    if (unitValue == 692002)
                                                                    {
                                                                        @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_" + Model[i].ParamModel, @validationmsg = Model[i].ParamModel, placeholder = "0'00''", displayName = @Model[i].DisplayString })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_" + Model[i].ParamModel, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (unitValue == 692002)
                                                                    {
                                                                        @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_" + Model[i].ParamModel, @validationmsg = Model[i].ParamModel, placeholder = "0'00''", displayName = @Model[i].DisplayString })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr clearValidation div_" + Model[i].ParamModel, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        break;
                                                    case "TEXTAREA":
                                                        @Html.TextArea(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                        break;
                                                    case "LABEL":
                                                        <span id="@Model[i].ParamModel" class="text-normal padd10 lblParam">@Model[i].ParamValue</span>
                                                        break;
                                                    case "CHECKBOX":
                                                        @Html.CheckBox(Model[i].ParamModel, Model[i].ParamValue)
                                                        break;
                                                    case "DROPDOWN":
                                                        if (componentCount == 1)
                                                        {
                                                            if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation", @axleDropCount = 1, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation", @axleDropCount = 1, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                            }
                                                        }
                                                        break;
                                                    default:
                                                        @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "frmbdr", @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                        break;

                                                }
                                            }


                                            @if (@Model[i].DisplayString != "Wheelbase")
                                            {
                                                if (Model[i].DropDownList.Count > 0)
                                                {
                                                    if (Model[i].ParamModel == "Speed")
                                                    {
                                                        @Html.DropDownList("SpeedUnits", (SelectList)(ViewBag.SpeedUnits), null, new { @id = "SpeedUnits", @class = "form-control form-select unit-travelspeed frmbdr div_Speed", @style = "width: 55%;padding: 5px" }) }
                                                    else if (unitValue == 692001)
                                                    {
                                                        <label class="text-normal lblUnit">m</label>
                                                    }
                                                    else if (unitValue == 692002)
                                                    {
                                                        <label class="text-normal lblUnit">ft</label>
                                                    }
                                                }

                                                else
                                                {
                                                    if (Model[i].ParamModel == "Weight" || Model[i].ParamModel == "AxleWeight" || Model[i].ParamModel == "TrainWeight")
                                                    {
                                                        <label class="text-normal">kg</label>
                                                    }
                                                }
                                            }
                                            <div class="error invalid-feedback" style="display: block !important;"></div>
                                        </div>


                                        @if (componentCount > 1 && @Model[i].InputType == "DROPDOWN")
                                        {
                                            <div class="row mb-2">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    @{ 
                                                        var compList = componentTypeList.Select(x=>x.ComponentId);
                                                        var compIds = "";
                                                        if (compList != null)
                                                        {
                                                            compIds = string.Join(",", compList);
                                                        }
                                                    }
                                                    <label class="text-normal lblUnit mb-3"><b>Number of Axles</b>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <a style="display:none;" href="#" id="btnOpenAllAxlePopup" class="btnOpenAllAxlePopup" data-componentids="@compIds">
                                                            View Axle Details
                                                        </a>
                                                    </label>
                                                    <div class="row">
                                                        @for (int j = 1; j <= componentCount; j++)
                                                        {
                                                            <div class="col-md-6 pb-3">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        @if (Model[i].IsRequired == 1)
                                                                        {
                                                                            <label class="text-normal" style="font-weight: bold">
                                                                                Component @j
                                                                            </label>
                                                                            <span class="text-normal" style="font-weight: bold">*</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <label class="text-normal">
                                                                                Component @j
                                                                            </label>
                                                                        }
                                                                    </div>
                                                                    <div class="col-4 p-0">
                                                                        @if (@Model[i].IsRequired == 0 && Model[i].ParamValue == "0")
                                                                        {
                                                                            @Html.TextBox(Model[i].ParamModel, null, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation axledropVehicle_" + @j, @axleDropCount = @j, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.TextBox(Model[i].ParamModel, Model[i].ParamValue, new { isrequired = @Model[i].IsRequired, datatype = @Model[i].ParamType, range = @Model[i].StrRange, maxlength = @Model[i].ParamMaxLength, @class = "unit_text frmbdr axledropVehicle clearValidation axledropVehicle_" + @j, @axleDropCount = @j, @validationmsg = Model[i].ParamModel, displayName = @Model[i].DisplayString })
                                                                        }
                                                                        <div class="error invalid-feedback" style="display: block !important;"></div>
                                                                    </div>
                                                                    @*<div class="col-2">
                                                                        <a href="#" id="" class="axlePopUp axlePopUp_@componentTypeList[j-1].ComponentId" axleDropCount="@j" componentId="@componentTypeList[j-1].ComponentId" style="display:none;">
                                                                            <img src="/Content/assets/images/Group 999.svg" title="Add" width="26">
                                                                        </a>
                                                                    </div>*@
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }

                            @*<div class="row mt-4" id="divEngineeringPlant">
                                    <div class="col-sm-4 col-md-5 col-lg-5 pr-0 text-normal">
                                        Engineering Plant
                                    </div>
                                    <div class="col-sm-4 col-md-5 col-lg-5 pr-0">
                                        <input type="checkbox" id="chkEngineeringPlant" name="chkEngineeringPlant" value="false" />
                                    </div>
                                </div>*@
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12 pr-4" id="filtered_vehicle_list">

    </div>
</div>
<div id="config_registration_section"></div>
<div id="axle_error_msg" class="error invalid-feedback" style="display: block !important;"></div>
<div id="tractor_axlecount_error_msg" class="error invalid-feedback" style="display: block !important;"></div>
<div id="trailer_axlecount_error_msg" class="error invalid-feedback" style="display: block !important;"></div>
<div id="wheelbase_error_msg" class="error invalid-feedback" style="display: block !important;"></div>
<div class="row" id="div_ComponentDetailSub">
    @{
        Html.RenderAction("ComponentDetailSub", "VehicleConfig", new { Guid = ViewBag.Guid, isMovement = ViewBag.PlanMovement, vehicleConfigId = ViewBag.VehicleId, isCandidate = ViewBag.CandidateVehicle, movementTypeId = ViewBag.movementTypeId, isEditMovement = ViewBag.isEditMovement, ConfigTypeId = ViewBag.ConfigTypeId });
    }
</div>
@Html.Hidden("hf_VSONotificationVehicle", VSONotificationVehicle)
@*<script src="~/Scripts/CreateVehicle/VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/_VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>*@