@using STP.Domain.VehiclesAndFleets.Component
@{
    int movementId = ViewBag.movementId;
    int vehicleTypeId = (int)ViewBag.vehicleTypeId;
    int vehicleId = (int)ViewBag.vehicleId;
    //var componentList = ViewBag.componentList;
    string mvmntName = ViewBag.movementClassificationName;
    bool isApplication = ViewBag.IsApplication;
    bool isCandidate = ViewBag.isCandidate;

    @Html.Hidden("vehicleId", vehicleId);
    @Html.Hidden("movement_Id", movementId);

    @Html.Hidden("prevMovementId", movementId);

    @Html.Hidden("vehicleType_Id", vehicleTypeId);
    @Html.Hidden("movementClassificationName", mvmntName)
    @Html.Hidden("IsApplication", isApplication)
    @Html.Hidden("IsCandidate", isCandidate)
    <input type="hidden" value="@ViewBag.isEditMovement" id="IsEditMovement" name="IsEditMovement" />

    if (isApplication)
    {
        Layout = null;
    }
}

<div class="row">
    @{
        Html.RenderAction("CreateVehicle", new { isEdit = 1, vehicleConfigId = vehicleId, isMovement = isApplication, isCandidate = ViewBag.isCandidate });
    }
</div>
@if (!isApplication || isCandidate)
{
    <script src="~/Scripts/CreateVehicle/createVehicle.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/CreateVehicle/VehicleAutoFill.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/CreateVehicle.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/_ComponentSelection.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/_Assessment.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/CreateComponent.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/CreateVehicle/VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/_VehicleConfiguration.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Vehicle/unitConversion.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleComponent/jQuesry.Comp.General.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfig/VehicleComponentEdit.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleComponent/jQuery.Comp.Axle.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Vehicle/AxleComponent.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleComponent/jQuery.Comp.Register.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleComponent/jQuery.Comp.Create.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/Vehicle/RegistrationComponent.js?V@(Session["ProjectVersion"])"></script>
    <script src="~/Scripts/VehicleConfiguration/_ConfigRegistration.js?V@(Session["ProjectVersion"])"></script>
}