@using PagedList.Mvc
@using STP.Domain.SecurityAndUsers;
@model PagedList.IPagedList<STP.Domain.SecurityAndUsers.HaulierContactModel>

@{
    int listCount = 0;
    listCount = (int)Session["PageSize"];
    int pageSize = 10;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    int? pageNum = ViewBag.page;
    int totalItemCount = Model.TotalItemCount;
    int totalPageCount = Model.PageCount;
    ViewBag.Title = "AddressList";

    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
    }
    string objSearch = string.Empty;
    if (TempData["HaulierSearchColumn"] != null)
    {
        objSearch = (string)TempData["HaulierSearchColumn"];
    }
    var SearchListInfo = new List<STP.Domain.SecurityAndUsers.HaulierContactModelSearch>
{
                        new HaulierContactModelSearch {SearchColumn = "NAME", SearchValue = "Contact name"},
                        new HaulierContactModelSearch { SearchColumn = "ORGANISATION_NAME", SearchValue = "Organisation"},
                        new HaulierContactModelSearch {SearchColumn = "FAX_E-mail", SearchValue = "Email"}
                    };

    ViewBag.SearchInfo = new SelectList(SearchListInfo, "SearchColumn", "SearchValue", objSearch);
    int rowCount = 1;
    var rowStyle = "";

    var searchColumn = ViewBag.searchColumn;
    var searchValue = ViewBag.searchValue;
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.CONTACTS;
    var IsPlanMovement = ViewBag.IsPlanMovement != null ? (bool)ViewBag.IsPlanMovement : false;
}
<style>
    .filtered-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
        background-size: 1rem;
    }

    .esdal-filter-icon {
        background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
        background-size: 1rem;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
    }

    .movements td:nth-child(1) {
        text-align: left;
    }

    .filter-table-icon {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 50px;
    }

    .filter-table-icons {
        position: absolute;
        bottom: -13px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 19px;
    }
</style>

@Html.Hidden("pageSizeVal", pageSize)
@Html.Hidden("pageNum", pageNum)
<body style="overflow-y: auto;" id="soa-structure-list">
    <div id="helpdesk">
        <!-- main-content -->
        <section id="banner">
            <div class="container-fluid" id="banner-container">
                <div id="caution">
                    <!-- table -->
                    <div class="col-lg-12 col-md-12 col-sm-12 header">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="button btnfleet mr-0">
                                    <button id="AddAddressDetails" class="btn btn-outline-primary btn-normal btnwidth" style="width: 13rem; margin-left: 40px;" role="button" aria-pressed="true">
                                        NEW
                                        CONTACT
                                    </button>
                                </div>
                            </div>
                            <div id="heading" class="col-lg-5">

                                @if (ViewBag.UserTypeId == 696001 || IsPlanMovement == true)
                                {
                                    <div class="title" style="text-align: center;">
                                        ADDRESS BOOK
                                    </div>
                                }
                                else if (ViewBag.UserTypeId == 696008)
                                {
                                    <div class="title" style="text-align: center;">
                                        SOA ADDRESS BOOK
                                    </div>
                                }
                                else if (ViewBag.UserTypeId == 696007)
                                {
                                    <div class="title" style="text-align: center;">
                                        SORT ADDRESS BOOK
                                    </div>
                                }
                                else
                                {
                                    <div class="title" style="text-align: center;">
                                        ADDRESS BOOK
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @{ var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 1;//1-type
                        var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;//0-asc
                        var isNameFilterEnabled = !string.IsNullOrEmpty(searchColumn) && searchColumn == "NAME" && !string.IsNullOrEmpty(searchValue);
                        var isOrganisationFilterEnabled = !string.IsNullOrEmpty(searchColumn) && searchColumn == "ORGANISATION_NAME" && !string.IsNullOrEmpty(searchValue);
                        var isEmailFilterEnabled = !string.IsNullOrEmpty(searchColumn) && searchColumn == "FAX_E-mail" && !string.IsNullOrEmpty(searchValue);
                        var isAllFilterEnabled = isNameFilterEnabled || isOrganisationFilterEnabled || isEmailFilterEnabled; }
                    <div class="main-table movements " id="manage-user">
                        <table class="esdal-table address-list-table">
                            <thead>
                                <tr>

                                    <th>
                                        <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,1)" data-action="AddressSort" data-sortval="1">Contact Name </span>
                                        <span param="1"></span><span class="filter-table-icon">
                                            <img id="filterimageContactName" style="display:@(isNameFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg">
                                        </span>
                                    </th>
                                    <th> <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,2)" data-action="AddressSort" data-sortval="2">Organisation </span><span class="filter-table-icons"><img id="filterimageOrganisation" style="display:@(isOrganisationFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span></th>
                                    <th>Email<span class="filter-table-icons"><img id="filterimageFaxEmail" style="display:@(isEmailFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span></th>
                                    <th></th>
                                    @*<th style="width: 20%;">Email</th>*@
                                    <th class="table-filter" style="width: 5% !important;">
                                        <img id="imgOpenFilterAddress" class="open-filter-icon-common" data-targetContainer=".address-list-filter" src="~/Content/assets/images/filter-icon.svg" title="Open filter" width="38">
                                        <span class="filtered-icon-table "><img id="filterimage" src="~/Content/assets/images/filtered-icon.svg" title="Clear filter" style="display:@(isAllFilterEnabled?"block":"none")"></span>
                                    </th>
                                </tr>
                            </thead>



                            @foreach (var item in Model)
                            {
                                if (rowCount % 2 == 0)
                                {
                                    rowStyle = "bgColor2";
                                }
                                else
                                {
                                    rowStyle = IsPlanMovement ? "" : "bgColor1";
                                }

                                <tr class="@rowStyle">
                                    <td class="text-color1" style="text-align:left;">

                                        <a href="#" id="address-detail" class="text-decoration-link" data-haulierid="@item.HaulierContactId" style="text-decoration:none">@item.Name</a>

                                    </td>
                                    <td class="text-color1">
                                        @Html.DisplayFor(modelItem => item.OrganisationName)

                                    </td>
                                    <td class="text-color1">
                                        @if (!string.IsNullOrEmpty(item.Fax))
                                        {
                                            @item.Fax;
                                        }
                                        else
                                        {
                                            <a class="text-decoration-link" href="mailto:@item.Email" style="text-decoration:none">
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </a>
                                        }
                                    </td>
                                    @if (IsPlanMovement == false)
                                    {
                                        if (ViewBag.isNotifContact == true)
                                        {
                                            <td class="editdeletebtn">
                                                <button id="import-notif" data-contactid="@item.HaulierContactId" class="tdbutton tdright btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0f4;">Import</button>
                                            </td>
                                            <td colspan="2"></td>
                                        }
                                        if (ViewBag.isNotifContact == false)
                                        {
                                            <td>
                                                <a>
                                                    <img src="~/Content/assets/images/edit-icon.svg" id="edit-address" data-editaddress="@item.HaulierContactId" width="20" data-toggle="tooltip" data-placement="right" title="Edit">
                                                </a>
                                            </td>
                                            <td colspan="2">
                                                <img src="~/Content/assets/images/delete-icon.svg" width="18" data-HaulierContactId="@item.HaulierContactId" data-name="@item.Name.Replace("'", "")" id="@item.HaulierContactId" class="delete-address mouseCursor" data-toggle="tooltip" data-placement="right" title="Delete">
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td colspan="3">
                                            <div id="mid_row">
                                                <span id="mid_row_data">
                                                    <button class="btn btn-primary btn-normal import-address-button" aria-hidden="true" title="Import" width="20" id="notifaddress" data-notif="@item.HaulierContactId">
                                                        IMPORT
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    }


                                </tr>
                                <tr class="bgColor1" id="dialogue_@item.HaulierContactId" style="display:none;">
                                    <td class="pt-6 pb-6" id="td_@item.HaulierContactId" colspan="4" style="background-color: white !important; text-align: left;">
                                    </td>
                                    <td style="background-color: white !important; vertical-align: baseline; cursor: pointer" id="description1" data-HaulierContactId="@item.HaulierContactId">

                                        <img src="~/Content/assets/images/up-chevlon-filter.svg" width="20">
                                    </td>
                                </tr>
                                rowCount++;
                            }
                            <!--end sample examples -->
                        </table>
                    </div>
                    <!-- end of table -->

                    <div class="AddressBookPagination">
                        @if (ViewBag.TotalCount > 0)
                        {
                            //if (listCount < ViewBag.TotalCount)
                            //{
                            <div class="row pagination-container-new">
                                <div class="col-lg-3">
                                    @if (Model.TotalItemCount > 0)
                                    {
                                        <div class="text-color2 total-records-number">
                                            Total number of records : @Model.TotalItemCount
                                        </div>}
                                </div>
                                <div class="col-lg-6 text-center">
                                    @if (listCount < @ViewBag.TotalCount)
                                    {
                                        <div id="vehiclepaginator" class="pagination">
                                            @Html.PagedListPager(Model, page => Url.Action("AddressList",
                                                 new
                                                 {
                                                     B7vy6imTleYsMr6Nlv7VQ =
                                                                             STP.Web.Helpers.EncryptionUtility.Encrypt("sortOrder=" + sortOrder +
                                                                             "&sortType=" + sortType +
                                                                             "&searchText=" + ViewBag.searchValue +
                                                                             "&searchId=" + ViewBag.searchColumn),
                                                     page
                                                 }), new PagedListRenderOptions
                                                 {
                                                     DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                     DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                     LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                                     LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                                     DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                     DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                     MaximumPageNumbersToDisplay = 3,
                                                     DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                                     EllipsesFormat = "...",
                                                     LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                                     LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                                 })
                                        </div>
                                    }
                                </div>
                                @if (Model.TotalItemCount > 10)
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0">
                                        Number of items to display per page
                                        <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelect">
                                            <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                                            <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                                            <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                                            <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                                        </select>
                                    </div>
                                }
                            </div>
                            //}
                        }
                        else
                        {
                            <div class="error invalid-feedback" style="display: block !important; text-align: center;">@Resources.Resource.NoRecordFound</div>
                        }

                    </div>
                    @if (IsPlanMovement == true)
                    {
                        <button class="btn outline-btn-primary btn-normal" id="backToAffectedParties" role="button" aria-pressed="true" style="width: 10rem;float: right;">
                            BACK
                        </button>
                    }
                </div>
                
                    
               
            </div>

            
        </section>
        <!-- end of main-content -->
        <!-- filter settings -->
        <div id="filters" class="sidenav filter-sidenav address-list-filter">

            <div class="row sidenav-header pl-3 pr-3">
                <div class="col-10 col-md-10 col-sm-10" style="text-align: center;">
                    <div class="text-normal-hyperlink mt-3" style="font-size: x-large;">
                        FILTER
                    </div>
                </div>
                <div class="col-2 col-md-2 col-sm-2">
                    <a href="#" id="close-filter" class="btn-close-filter close-filter-icon-common">&times;</a>
                </div>
            </div>


            <hr style="margin-top: 0;">
            <div class="filter-list" style="margin-right: 30px;">
                <div id="viewDetails">
                    <div class="row">
                        <div class="col-lg-11 col-sm-11 col-md-11 text-normal pt-4 pb-3">
                            Select criteria type
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 pr-3">

                            @*<select class="form-select mb-3 mr-0 mb-0 pt-3 pb-3" aria-label=".form-select-lg example"
                                        style="overflow: scroll;float: none;">
                                    <option selected size="5">Select name</option>
                                </select>*@
                            @Html.DropDownList("SearchListInfo", (IEnumerable<SelectListItem>)ViewBag.SearchInfo, "Select", new { @id = "SearchType", @class = "form-select mb-3", @style = "overflow: scroll;float: left;width: -webkit-fill-available;" })
                        </div>
                    </div>
                    <div class="pr-0 pl-0 mr-0 ml-0 mt-4 mb-0 input-field">
                        <input class="edit-normal" type="text" id="Searchtext" name="Searchtype" value="@ViewBag.SearchTemp" placeholder="Select criteria type">
                    </div>
                </div>
                <div class="row pt-6 pl-0 pr-2" id="org_filter_btn">

                    <div class="col-lg-8 col-md-8 col-sm-12 filter-entry">
                        <!-- <div class="header mt-4"> -->
                        <div class="button mr-0 mb-2">
                            <input type="hidden" name="SortOrderValue" id="SortOrderValue" value="@sortOrder" />
                            <input type="hidden" name="SortTypeValue" id="SortTypeValue" value="@sortType" />
                            <button id="search-button" class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" style="width: 100%;">
                                SEARCH
                            </button>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 filter-entry">
                        <!-- <div class="header mt-4"> -->
                        <div class="button mr-0 mb-2">
                            <button id="clear-button" class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" style="width: 100%;">
                                CLEAR
                            </button>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end of fikter settings -->

    </div>
    <div id="manageAddressBookPopup"></div>
    @{ string GetSortDefaultClass(int sortTypeVal, int sortOrderVal, int valToCheck)
        {
            var sortClass = ""; //0-asc, 1-desc ,
            if (sortOrderVal == valToCheck)
            {
                sortClass = sortTypeVal == 1 ? "sorting_desc" : "sorting_asc";
            }
            return sortClass;
        }
    }


</body>

<script src="~/Scripts/AddressBook/AddressList.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/AddressBook/ManageAddressBook.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.validate.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/AddressBook/PartialView/_ManageAddressBookDetails.js?V@(Session["ProjectVersion"])"></script>

