@using System.Web.Optimization
@using STP.Domain.MovementsAndNotifications.Movements
@using STP.Domain.SecurityAndUsers
@using PagedList.Mvc
@model PagedList.IPagedList<DispensationGridList>
 @{ 
    Layout = null;
}
@{
    <style>
        .wd50 {
            width: 50% !important
        }

        .absolute {
            position: absolute;
            right: 150px;
            width: 157px;
            height: 120px;
            padding-right: 0%;
            white-space: nowrap;
        }

        .wd30 {
            width: 30% !important
        }

        .wd70 {
            width: 70% !important
        }

        .wd-align {
            width: 100% !important;
            display: flex;
            flex-wrap: wrap;
        }

        .dispensationwidth {
            width: 50% !important;
        }



        .filtered-icon {
            background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
            background-size: 1rem;
        }

        .filtered-icon-table {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
        }

        .esdal-filter-icon {
            background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
            background-size: 1rem;
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            margin-left: 3px;
        }

        .movements td:nth-child(1) {
            text-align: left;
            padding-left: 1%;
            cursor: pointer;
        }

        .filter-table-icon {
            position: absolute;
            bottom: -13px;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            left: 52px;
        }

        .filter-table-icons {
            bottom: -13px;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            left: 30px;
        }
    </style>

    int analysisId = 0;
    if (ViewBag.analysisId != null)
    {
        analysisId = ViewBag.analysisId;
    }

    int isAdmin = 0;
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        if (sessionValues.IsAdmin == 1)
        {
            isAdmin = 1;
        }
    }
    int totalPageCount = Model.PageCount;
    int listCount = 0;
    listCount = (int)Session["PageSize"];
    int totalItemCount = Model.TotalItemCount;


    bool hideLayout = false;
    if (ViewBag.hideLayout != null)
    {
        hideLayout = ViewBag.hideLayout;
    }

    int pageSize = 1;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    int? pageNum = ViewBag.page;
    DispensationSearchItems objDispSearch = new DispensationSearchItems();
    if (Session["g_DispensationSearch"] != null)
    {
        objDispSearch = (DispensationSearchItems)Session["g_DispensationSearch"];
    }

    if (userTypeID != 696007 && userTypeID != 696002)
    {
        var SearchListInfo = new List<DispensationSearchItems>
{
                        new DispensationSearchItems {SearchType = "1", SearchName = "DRN"},
                        new DispensationSearchItems {SearchType = "2", SearchName = "Brief Description"},
                        new DispensationSearchItems {SearchType = "3", SearchName = "Authority" },
                        new DispensationSearchItems {SearchType = "4", SearchName = "Description" },
                    };
        ViewBag.SearchInfo = new SelectList(SearchListInfo, "SearchType", "SearchName", objDispSearch.SearchType);
    }
    else
    {
        var SearchListInfo = new List<DispensationSearchItems>
{
                        new DispensationSearchItems {SearchType = "1", SearchName = "DRN"},
                        new DispensationSearchItems {SearchType = "2", SearchName = "Brief Description"},
                        new DispensationSearchItems {SearchType = "3", SearchName = "Haulier" },
                        new DispensationSearchItems {SearchType = "4", SearchName = "Description" },
                    };
        ViewBag.SearchInfo = new SelectList(SearchListInfo, "SearchType", "SearchName", objDispSearch.SearchType);
    }
}
@Html.Hidden("analysisId", analysisId)

@Html.Hidden("TotalPages", totalPageCount)
@Html.Hidden("hideLayout", hideLayout)
@Html.Hidden("hfUserTypeID", userTypeID)




<!-- table -->
<div id="dispenation">
    <div class="main-table movements " id="manage-user">
        <table class="esdal-table dispensation-table">
            <thead>
                @{
                    var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 1;
                    var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;
                    var dispensationSearchItems = (DispensationSearchItems)ViewBag.DispensationSearchItems;
                    var isDRNFilterEnabled = !string.IsNullOrEmpty(dispensationSearchItems.SearchType) && dispensationSearchItems.SearchType == "1" && !string.IsNullOrEmpty(dispensationSearchItems.DRN);
                    var isBriefDescriptionFilterEnabled = !string.IsNullOrEmpty(dispensationSearchItems.SearchType) && dispensationSearchItems.SearchType == "2" && !string.IsNullOrEmpty(dispensationSearchItems.Summary);
                    var isAuthorityFilterEnabled = !string.IsNullOrEmpty(dispensationSearchItems.SearchType) && dispensationSearchItems.SearchType == "3" && !string.IsNullOrEmpty(dispensationSearchItems.Authority);
                    var isDescriptionFilterEnabled = !string.IsNullOrEmpty(dispensationSearchItems.SearchType) && dispensationSearchItems.SearchType == "4" && !string.IsNullOrEmpty(dispensationSearchItems.Description);
                    var isAllFilterEnabled = isDRNFilterEnabled || isBriefDescriptionFilterEnabled || isAuthorityFilterEnabled || isDescriptionFilterEnabled || dispensationSearchItems.Expired;
                }
                <tr>
                    <th style="width: 26%;">
                        <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,1)" data-action="DispensationSort" data-sortval="1">@Resources.Resource.DRNList </span>
                        <span class="filter-table-icon"><img id="filterimageDRN" style="display:@(isDRNFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                    </th>
                    <th style="width: 24%;">
                        @Resources.Resource.BriefDescription
                        <span class="filter-table-icons"><img id="filterimageBrief" style="display:@(isBriefDescriptionFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                    </th>
                    <th style="width: 15%;"><span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,2)" data-action="DispensationSort" data-sortval="2">Valid To </span></th>
                    @if (userTypeID == 696001)
                    {
                        <th style="width:20%;">
                            <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,3)" data-action="DispensationSort" data-sortval="3">@Resources.Resource.IssuedbyList </span>
                            <span class="filter-table-icon" style="left: 20px;"><img id="filterimageissuedby" style="display:@(isAuthorityFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                        </th>

                    }
                    else if (userTypeID == 696002 || userTypeID == 696007)
                    {
                        <th style="width:20%;">
                            <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,3)" data-action="DispensationSort" data-sortval="3">Issued To </span>
                            <span class="filter-table-icon" style="left: 20px;"><img id="filterimageissuedto" style="display:@(isAuthorityFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                        </th>
                    }
                    <th></th>
                    <th class="table-filter-header" style="width: 5%; background-color: white !important;">
                        <img src="~/Content/assets/images/filter-icon.svg" title="Open filter" width="38" class="open-filter-icon-common" data-width="350" data-elem="DispensationManageDispensation" data-targetcontainer=".filterDivDispensation" id="Dispensationdata">
                        <span class="filtered-icon-table "><img id="filterimage" style="display:@(isAllFilterEnabled?"block":"none")" src="~/Content/assets/images/filtered-icon.svg" title="Clear filter"></span>
                    </th>

                </tr>

            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-color2" id="view-dis" data-DispensationId="@item.DispensationId">
                        @item.DispensationReferenceNo

                    </td>
                    <td class="text-color1">
                        @item.Summary
                    </td>
                    <td class="text-color1">
                        @item.ToDate
                    </td>
                    <td class="text-color1">
                        @item.GrantedBy
                    </td>
                    @if (ViewBag.hideLayout != true)
                    {
                        <td colspan="2">
                            <div id="mid_row">
                                <span class="pr-4">
                                    <img src="~/Content/assets/images/edit-icon.svg" width="20" id="edit" data-edit="@item.DispensationId" title="Edit">
                                </span>
                                <span class="pr-2">
                                    <img src="~/Content/assets/images/delete-icon.svg" width="18" id="delete" data-dispensid="@item.DispensationId" data-DispensationReferenceNo="'@item.DispensationReferenceNo'" title="Delete">
                                </span>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td colspan="2">
                            <div id="mid_row">
                                <span id="mid_row_data">
                                    <button class="btn btn-primary btn-normal import-button" aria-hidden="true" id="select" title="Select dispensation" width="20" data-disid="@item.DispensationId" data-disref="@item.DispensationReferenceNo" data-GrantedBy="@item.GrantedBy" data-Summary="@item.Summary">
                                        Select
                                    </button>
                                </span>
                            </div>
                        </td>
                    }

                </tr>
                <tr></tr>
                <tr id="description_@item.DispensationId" style="display:none;">
                    <td class="pt-6 pb-6" colspan="6" style="background-color: white !important;" id="description">
                        <div id="dispensation_details_@item.DispensationId" style="display: flex;flex-wrap: wrap;width: 100% !important;">
                        </div>
                    </td>
                </tr>
            }
            @if (Model.TotalItemCount == 0)
            {
                <tr>
                    <td class="tdcenter" colspan="5" style="color: red;text-align: center;">@Resources.Resource.NoRecordFound</td>
                </tr>
            }
        </table>
    </div>
    <!-- end of table -->
    @*@if (listCount < totalItemCount)
        {*@
    @if (Model.Count > 0)
    {
        <div class="container-fluid m-0">
            <div class="row pagination-container-new pagination-ManageDispensation">
                <div class="col-lg-3">
                    @if (Model.TotalItemCount > 0)
                    {
                        <div class="text-color2 total-records-number">
                            Total number of records : @Model.TotalItemCount
                        </div>
                    }

                </div>
                @*@if (listCount < totalItemCount)
                    {*@
                @if (listCount < totalItemCount)
                {
                    <div class="col-lg-6 text-center">
                        <div class="table-pagination haulierpagination">
                            @Html.PagedListPager(Model, page => Url.Action("ManageDispensation",
                  new
                  {
                      page,
                      B7vy6imTleYsMr6Nlv7VQ = STP.Web.Helpers.EncryptionUtility.Encrypt("&sortOrder=" + sortOrder + "&sortType=" + sortType)
                  }),
                  new PagedListRenderOptions
                  {
                      DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                      DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                      LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                      LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                      DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                      DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                      MaximumPageNumbersToDisplay = 3,
                      DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                      EllipsesFormat = "...",
                      LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                      LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                  })
                        </div>
                    </div>
                    @*}*@
                }
                @if (Model.TotalItemCount > 10)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0 paging absolute">
                        Number of items to display per page
                        <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelect">
                            <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                            <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                            <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                            <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                        </select>
                    </div>
                }
            </div>
        </div>
    }


    @*}*@


</div>

<!-- filter settings -->
<div id="filterDivDispensation">




    <div id="filters" class="sidenav filter-sidenav filterDivDispensation">
        <div class="row sidenav-header">
            <div class="col-10 text-center">
                <div class="text-normal-hyperlink mt-3" style="font-size: x-large;">
                    FILTER
                </div>
            </div>
            <div class="col-1">
                <a href="#" id="closefilter" class="btn-close-filter  close-filter-icon-common">&times;</a>
            </div>
        </div>


        <hr style="margin-top: 0;">
        <div class="sort-portal">
            <div class="filter-list">
                <div id="viewdispensation">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <div class="row pb-2 pt-5">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    @Html.DropDownList("SearchType", ViewBag.SearchInfo as SelectList,
                                    new { @id = "DDsearchCriteria", @class = "form-select mb-3 dispensation-searchDDL", @style = "overflow: scroll;float: left;width: -webkit-fill-available;" })
                                </div>
                            </div>
                            <div class="row pb-4">
                                <div class="col-lg-11 col-sm-11 col-md-11">
                                    <div class="pr-0 pl-0 mr-0 ml-0 mt-3 mb-0 input-field">
                                        @Html.TextBox("txtCriteria", objDispSearch.Criteria, new { @id = "txtCriteria", @class = "edit-normal" })
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3" style="justify-content:space-between">
                                <div class="col-lg-1 col-sm-1 col-md-1">
                                    @Html.CheckBox("expired", objDispSearch.Expired, new { @id = "expired", @class = "checkbox" })
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 pl-0 pt-2">
                                    <div class="text-normal">Not expired</div>
                                </div>
                            </div>
                            <input type="hidden" name="SortOrderValue" id="SortOrderValue" value="@sortOrder" />
                            <input type="hidden" name="SortTypeValue" id="SortTypeValue" value="@sortType" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-6 pl-4 pr-2" id="org_filter_btn">
                <div class="col-lg-7 col-md-7 col-sm-12 pr-0 filter-entry">
                    <div class="button mr-0 mb-2">
                        <button style="margin-left:5%;width: 171px !important;" class="btn btn-outline-primary btn-normal" role="button" id="searchdis" aria-pressed="true">
                            SEARCH
                        </button>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 pl-0 filter-entry">
                    <div class="button mr-0 mb-2">
                        <button class="btn btn-outline-primary btn-normal" role="button" id="clearsearch" aria-pressed="true">
                            CLEAR
                        </button>
                    </div>
                    <!-- </div> -->
                </div>

            </div>
        </div>
    </div>

</div>
@{ string GetSortDefaultClass(int sortTypeVal, int sortOrderVal, int valToCheck)
    {
        var sortClass = ""; //0-asc, 1-desc ,
        if (sortOrderVal == valToCheck)
        {
            sortClass = sortTypeVal == 1 ? "sorting_desc" : "sorting_asc";
        }
        return sortClass;
    } }
<!-- end of filter settings -->
