@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.MovementsAndNotifications.Movements.DispensationGridList

@*@{
        ViewBag.Title = "EditDispensationRestriction";

        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@*<link href="~/Content/Style/Common/alertbox.css" rel="stylesheet" />
<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
<link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />*@
@{

    bool notifFlag = false;
    if (ViewBag.notifFlag != null)
    {
        notifFlag = ViewBag.notifFlag;
    }

    int isAdmin = 0;
    int userTypeID = 0;
    bool isAdminbool = false;
    int portalType = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        if (sessionValues.IsAdmin == 1)
        {
            isAdmin = 1;
        }
        portalType = sessionValues.UserTypeId;
        if (portalType == 696006 || sessionValues.IsAdmin == 1)
        {
            isAdminbool = true;
        }
    }

    @Html.Hidden("notifFlag", notifFlag, new { @id = "hdnNotifFlag" })
}


<div class="form form_component">
    <div class="body" style="width:470px;">
        <span class="PopupHelpName" id="EditDispensationRestriction"></span>
        <div id="form_ChangePassword">
            @using (Html.BeginForm("CreateDispensation", "Dispensation"))
            {

                @*@Html.AntiForgeryToken()*@
                @Html.ValidationSummary(true)


                <table style="width:100%;">
                    <tr>
                        <td style="width: 253px;">
                            <span>@Resources.Resource.GrossWeight</span>
                        </td>
                        <td align="right">
                            @*  @Html.TextBoxFor(m=>m.grosschk, "", new { @id = "gross_text", @class="unit_text frmbdr", @maxlength="11", @style = "margin-bottom:5px;margin-top:5px;" }) <span style = "margin-top: 12px;margin-left:5px;float: left;">kg</span>*@
                            @* @Html.ValidationMessageFor(m => m.grosschk)*@
                            <input class="unit_text frmbdr" id="gross_text" maxlength="11" name="gross" type="text" value=""><span class="spanunit">@Resources.Resource.Kg</span><br />
                            @* <span id="chkvalid" class="error"></span>*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="" style="color:#414193;">@Resources.Resource.SignedAxleWeight</span>
                        </td>
                        <td style="color:#414193;">
                            @*@Html.TextBox("axle", null, new { @id = "axle", @style = "margin-bottom:5px;" }) <span class="spanunit" style = "margin-top: 11px;float: left;margin-left:5px;">kg</span>*@
                            <input class="unit_text frmbdr" id="axle_text" maxlength="11" name="axle" type="text" value=""><span class="spanunit">@Resources.Resource.Kg</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="" style="color:#414193;">@Resources.Resource.OverallLength</span>
                        </td>
                        <td style="color:#414193;">
                            @*@Html.TextBox("length", null, new { @id = "length", @style = "margin-bottom:5px;" }) <span style = "margin-top: 10px;float: left;margin-left:5px;">m</span>*@
                            <input class="unit_text frmbdr" id="length_text" maxlength="6" name="length" type="text" value=""><span class="spanunit">@Resources.Resource.Metre</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="" style="color:#414193;">@Resources.Resource.Width</span>
                        </td>
                        <td style="color:#414193;">
                            @*@Html.TextBox("width", null, new { @id = "width", @style = "margin-bottom:5px;" }) <span style = "margin-top: 9px;float: left;margin-left:5px;">m</span>*@
                            <input class="unit_text frmbdr" id="width_text" maxlength="6" name="width" type="text" value=""><span class="spanunit">@Resources.Resource.Metre</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="" style="color:#414193;">@Resources.Resource.Height</span>
                        </td>
                        <td style="color:#414193;">
                            @*@Html.TextBox("height", null, new { @id = "height", @style = "margin-bottom:5px;" }) <span style = "margin-top: 8px;float: left;margin-left:5px;">m</span>*@
                            <input class="unit_text frmbdr" id="height_text" maxlength="6" name="height" type="text" value=""><span class="spanunit">@Resources.Resource.Metre</span>
                        </td>
                    </tr>
                </table>


                <table style="width:86%;">
                    <tr>
                        <td align="left">
                            <span id="grosschk" value="" class="error"></span>
                        </td>
                        <td align="right">

                            <button type="button" id="btn_update" class="btnmainsize btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0f4;" >@Resources.Resource.Update</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

@Html.Hidden("userTypeID", userTypeID)
@{
<input type="hidden" value="@ViewBag.notifFla" id="hf_notifFla" name="hf_notifFla" />
<input type="hidden" value="@ViewBag.notifFlag" id="hf_notifFlag" name="hf_notifFlag" />
}

@*<script src="~/Scripts/Dispensation/PartialView/EditDispensationRestriction.js?V@(Session["ProjectVersion"])"></script>*@
