@using System.Web.Optimization
@model STP.Domain.VehicleAndFleets.Component.VehicleComponent
@using STP.Domain.VehiclesAndFleets.Component
@using STP.Domain.VehiclesAndFleets
@{
    int rowCount = Model != null ? Model.VehicleParamList.Count : 0;
    int secondSet = rowCount / 2;
    int firstRowSet = rowCount - secondSet;
    bool isLastComponent = ViewBag.IsLastComp;
    int? configTypeId = ViewBag.configTypeId;
}
@{
    List<Axle> listAxle = null;
    if (ViewBag.AxleList != null)
    {
        listAxle = new List<Axle>();
        listAxle = (List<Axle>)ViewBag.AxleList;
        if (listAxle.Count == 0)
        {
            listAxle = null;
        }
    }
    var maxNoOfWheelsGlobal = listAxle != null ? listAxle.Max(x => x.NoOfWheels) : 0;

    string internalName = Model != null ? (from s in Model.VehicleParamList
                                           where s.ParamModel == "Internal Name"
                                           select s.ParamValue).FirstOrDefault() : "";

    var ImageName = Model != null ? "~/Content/images/Common/MasterPage/componet_icons/" + Model.vehicleComponentSubType.ImageName + ".png" : "";
}
@{
    int? unitValue = 1;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        unitValue = sessionValues.VehicleUnits;
    }
    bool planMovement = ViewBag.IsMovement;
    bool candidateVehicle = ViewBag.IsNotif;
    bool tyreEmpty = ViewBag.tyreEmpty;
    int CompNumber = ViewBag.CompNumber;
    int? vehicleTypeId = ViewBag.VehicleTypeId;
    @Html.Hidden("tyreEmpty", tyreEmpty)
    @Html.Hidden("UnitValue", unitValue)}
<style>
    .vehicle-setting td, .tblAxle td {
        text-align: left;
        padding: 20px 5px 5px 20px !important;
    }

    .Noborder {
        width: 80% !important;
    }
    .vehicle-setting input[type=text] {
        padding-left: 0px !important;
    }
</style>
@if (Model != null)
{
    <div id="viewCompDetail" class="view-component-detail">
        <div id="table-head">
            <div class="d-flex align-items-center">
                @if (!string.IsNullOrEmpty(ImageName))
                {
                    <img src="@(Url.Content(ImageName))" alt="vehicle-1"
                         style="mix-blend-mode: darken; ">
                }
                <span class="edit-normal pl-5">@internalName</span>
            </div>
            <div class="d-flex align-items-center mt-1">
                <span class="text-normal-hyperlink pr-5" id="spnDetailStatus_@ViewBag.ComponentId">Show details</span>
                <span class="pl-3 viewComponentDetail" ComponentId="@ViewBag.ComponentId">
                    <img id="chevlon-down-icon_@ViewBag.ComponentId" class="mt-0 pr-3" src="~/Content/assets/images/down-chevlon-filter.svg"
                         style="float: right;  cursor: pointer;" width="32">
                    <img id="chevlon-up-icon_@ViewBag.ComponentId" class="mt-2 pr-3" src="~/Content/assets/images/up-chevlon-filter.svg"
                         style="float: right; display: none; cursor: pointer" width="32">
                </span>
            </div>
        </div>
        <hr class="my-3">


        <div id="veh_component_details_@ViewBag.ComponentId" style="display:none;">
            <div class="pt-5" id="viewdescription1">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-md-5 second-vehicle">

                        @for (int i = 0; i < rowCount; i++)
                        {
                            if (Model.VehicleParamList[i].ParamModel != "Internal Name")
                            {
                                if ((planMovement || candidateVehicle) && (Model.VehicleParamList[i].ParamModel == "Formal Name"))
                                {
                                    Model.VehicleParamList[i].DisplayString = "Internal Name";
                                }

                                if (@Model.VehicleParamList[i].ParamModel == "Notes")
                                {
                                    <div class="row" id="view-@Model.VehicleParamList[i].ParamModel">
                                        <div class="col-lg-6 vehicle-view-width colum1">
                                            <label class="text-normal">@Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                        </div>
                                        <div class="col-lg-6 vehicle-view-width colum2">
                                            @if (String.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                            {
                                                <textarea id="exampleFormControlTextarea1"
                                                          placeholder="fill in extra info" rows="3" disabled>-</textarea>
                                            }
                                            else
                                            {
                                                <textarea id="exampleFormControlTextarea1"
                                                          placeholder="fill in extra info" rows="3" disabled>@Model.VehicleParamList[i].ParamValue</textarea>
                                            }
                                        </div>
                                    </div>
                                }
                                else if (@Model.VehicleParamList[i].ParamModel == "Axle Spacing To Following")
                                {
                                    <div class="row mb-2" id="view-@Model.VehicleParamList[i].ParamModel">
                                        <div class="col-lg-6 vehicle-view-width colum1">
                                            <label class="text-normal"> @Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                        </div>
                                        <div class="col-lg-6 vehicle-view-width colum2">

                                            @if (String.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                            {
                                                if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                {
                                                    <input type="hidden" class="IsBlankTractorAxleElemExist" data-componentid="@ViewBag.ComponentId" value="1" />
                                                }
                                                <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                            }
                                            else
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleParamList[i].ParamValue" range="@Model.VehicleParamList[i].StrRange" disabled>
                                            }

                                            @if (!string.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                            {

                                                if (Model.VehicleParamList[i].DropDownList.Count > 0)
                                                {
                                                    if (unitValue == 692001)
                                                    {
                                                        <label class="text-normal lblUnit">m</label>
                                                    }
                                                    else if (unitValue == 692002)
                                                    {
                                                        <label class="text-normal lblUnit">ft</label>
                                                    }

                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                else if (Model.VehicleParamList[i].ParamModel == "Component Type")
                                {
                                    <div class="row mb-2" id="view-@Model.VehicleParamList[i].ParamModel">
                                        <div class="col-lg-6 vehicle-view-width colum1">
                                            <label class="text-normal"> @Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                        </div>
                                        <div class="col-lg-6 vehicle-view-width colum2">
                                            @Model.vehicleComponentSubType.SubCompName
                                        </div>
                                    </div>
                                }
                                else if (configTypeId == (int)VehicleEnums.ConfigurationType.SemiTrailer || configTypeId == (int)VehicleEnums.ConfigurationType.SemiTrailer_3_8)
                                {
                                    if ((vehicleTypeId == (int)VehicleEnums.ComponentType.ConventionalTractor || vehicleTypeId == (int)VehicleEnums.ComponentType.EngineeringPlant) && CompNumber == 1)
                                    {
                                        if (Model.VehicleParamList[i].DisplayString != "Projection Rear")
                                        {
                                            <div class="row mb-2" id="view-@Model.VehicleParamList[i].ParamModel">
                                                <div class="col-lg-6 vehicle-view-width colum1">
                                                    <label class="text-normal"> @Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                                </div>
                                                <div class="col-lg-6 vehicle-view-width colum2">

                                                    @if (String.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                                    {
                                                        if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                        {
                                                            <input type="hidden" class="IsBlankTractorAxleElemExist ConventionalTractor" data-componentid="@ViewBag.ComponentId" value="1" />
                                                        }
                                                        <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                                    }
                                                    else
                                                    {
                                                        <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleParamList[i].ParamValue" range="@Model.VehicleParamList[i].StrRange" disabled>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                                    {

                                                        if (Model.VehicleParamList[i].DropDownList.Count > 0)
                                                        {
                                                            if (unitValue == 692001)
                                                            {
                                                                <label class="text-normal lblUnit">m</label>
                                                            }
                                                            else if (unitValue == 692002)
                                                            {
                                                                <label class="text-normal lblUnit">ft</label>
                                                            }

                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (!isLastComponent && Model.VehicleParamList[i].DisplayString != "Projection Front" && Model.VehicleParamList[i].DisplayString != "Projection Rear")
                                        {
                                            <div class="row mb-2" id="view-@Model.VehicleParamList[i].ParamModel">
                                                <div class="col-lg-6 vehicle-view-width colum1">
                                                    <label class="text-normal"> @Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                                </div>
                                                <div class="col-lg-6 vehicle-view-width colum2">

                                                    @if (String.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                                    {
                                                        if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                        {
                                                            <input type="hidden" class="IsBlankTractorAxleElemExist" data-componentid="@ViewBag.ComponentId" value="1" />
                                                        }
                                                        <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                                    }
                                                    else
                                                    {
                                                        var noOfAxles = "";
                                                        if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                        {
                                                            noOfAxles = "txtNoOfaxles";
                                                        }
                                                        <input class="edit-normal Noborder @noOfAxles" type="text" name="from" value="@Model.VehicleParamList[i].ParamValue" range="@Model.VehicleParamList[i].StrRange" disabled>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                                    {

                                                        if (Model.VehicleParamList[i].DropDownList.Count > 0)
                                                        {
                                                            if (unitValue == 692001)
                                                            {
                                                                <label class="text-normal lblUnit">m</label>
                                                            }
                                                            else if (unitValue == 692002)
                                                            {
                                                                <label class="text-normal lblUnit">ft</label>
                                                            }

                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (isLastComponent && Model.VehicleParamList[i].DisplayString != "Projection Front")
                                        {
                                            <div class="row mb-2" id="view-@Model.VehicleParamList[i].ParamModel">
                                                <div class="col-lg-6 vehicle-view-width colum1">
                                                    <label class="text-normal"> @Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                                </div>
                                                <div class="col-lg-6 vehicle-view-width colum2">

                                                    @if (String.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                                    {
                                                        if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                        {
                                                            <input type="hidden" class="IsBlankTractorAxleElemExist" data-componentid="@ViewBag.ComponentId" value="1" />
                                                        }
                                                        <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                                    }
                                                    else
                                                    {
                                                        var noOfAxles = "";
                                                        if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                        {
                                                            noOfAxles = "txtNoOfaxles";
                                                        }
                                                        <input class="edit-normal Noborder @noOfAxles" type="text" name="from" value="@Model.VehicleParamList[i].ParamValue" range="@Model.VehicleParamList[i].StrRange" disabled>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                                    {

                                                        if (Model.VehicleParamList[i].DropDownList.Count > 0)
                                                        {
                                                            if (unitValue == 692001)
                                                            {
                                                                <label class="text-normal lblUnit">m</label>
                                                            }
                                                            else if (unitValue == 692002)
                                                            {
                                                                <label class="text-normal lblUnit">ft</label>
                                                            }

                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="row mb-2" id="view-@Model.VehicleParamList[i].ParamModel">
                                        <div class="col-lg-6 vehicle-view-width colum1">
                                            <label class="text-normal"> @Html.Raw(Model.VehicleParamList[i].DisplayString)</label>
                                        </div>
                                        <div class="col-lg-6 vehicle-view-width colum2">

                                            @if (String.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                            {
                                                if (Model.VehicleParamList[i].ParamModel.ToLower() == "number of axles")
                                                {
                                                    <input type="hidden" class="IsBlankTractorAxleElemExist" data-componentid="@ViewBag.ComponentId" value="1" />
                                                }
                                                <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                            }
                                            else if (Model.VehicleParamList[i].ParamModel == "Component Type")
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="@Model.vehicleComponentSubType.SubCompName" disabled>
                                            }
                                            else if ((planMovement || candidateVehicle) && (Model.VehicleParamList[i].ParamModel == "Formal Name"))
                                            {
                                                <label class="text-normal edit-normal" style="padding-left:10px;">@Html.Raw(Model.VehicleParamList[i].ParamValue)</label>
                                            }
                                            else if (@Model.VehicleParamList[i].ParamType == "string")
                                            {
                                                <label class="edit-normal Noborder" name="from">@Model.VehicleParamList[i].ParamValue</label>
                                            }
                                            else
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleParamList[i].ParamValue" range="@Model.VehicleParamList[i].StrRange" disabled>
                                            }

                                            @if (!string.IsNullOrEmpty(Model.VehicleParamList[i].ParamValue))
                                            {

                                                if (Model.VehicleParamList[i].DropDownList.Count > 0)
                                                {
                                                    if (unitValue == 692001)
                                                    {
                                                        <label class="text-normal lblUnit">m</label>
                                                    }
                                                    else if (unitValue == 692002)
                                                    {
                                                        <label class="text-normal lblUnit">ft</label>
                                                    }

                                                }
                                                if (@Model.VehicleParamList[i].ParamModel == "Weight" || @Model.VehicleParamList[i].ParamModel == "TrainWeight")
                                                {
                                                    <label class="text-normal lblUnit">kg</label>
                                                }
                                            }
                                        </div>
                                    </div>
                                }

                            }
                        }
                    </div>
                    <div class="col-lg-7 col-sm-12 col-md-7">
                        <div class="main-table tblAxle" id="vehicle-table">
                            @if (listAxle != null)
                            {
                                <table id="vehicle-component">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="width: 5%;">Axle</th>
                                            <th rowspan="2">No. of <br> wheels</th>
                                            <th rowspan="2">Axle <br> weight <br> (kg)</th>
                                            @if (unitValue == 692002)
                                            {
                                                <th rowspan="2">Distance <br> to next <br>axle (ft)</th>
                                            }
                                            else
                                            {
                                                <th rowspan="2">Distance <br> to next <br>axle (m)</th>
                                            }
                                            @if (Model != null && Model.IsConfigTyreCentreSpacing && !tyreEmpty)
                                            {
                                                <th class="headgrad_tyreSize" rowspan="2">Tyre sizes</th>
                                                <th class="headgrad2" colspan="@maxNoOfWheelsGlobal" style=" text-align: center;">Tyre centre spacing</th>
                                            }
                                        </tr>
                                        <tr class="sub sub1 tyreSpaceCnt">
                                            @if (Model != null && Model.IsConfigTyreCentreSpacing && !tyreEmpty)
                                            {
                                                for (int i = 0; i < maxNoOfWheelsGlobal - 1; i++)
                                                {
                                                    <th class="headgrad1" style="padding: 0; text-align: center; width: auto; padding-left: 0px !important; ">@(i + 1)</th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (listAxle != null)
                                        {
                                            var maxNoOfWheels = listAxle.Max(x => x.NoOfWheels);
                                            foreach (var item in listAxle)
                                            {
                                                int count = 0;
                                                int nullCheck = listAxle.Where(a => a.TyreCenters != "").Count();
                                                int MaxCount = nullCheck != 0 ? listAxle.Max(a => a.TyreCenters.Split(',').Length) : 0;
                                                <tr>
                                                    <td>
                                                        @item.AxleNumId
                                                        @*<br>
                                                        <hr>*@
                                                    </td>
                                                    <td>
                                                        @item.NoOfWheels
                                                        @*<br>
                                                        <hr>*@
                                                    </td>
                                                    <td>
                                                        @item.AxleWeight
                                                        @*<br>
                                                        <hr>*@
                                                    </td>
                                                    <td>
                                                        @if (item.AxleNumId != listAxle.Count)
                                                        {
                                                            <label class="text-normal disttonext">@item.DistanceToNextAxle</label>
                                                            <!-- <hr />-->
                                                        }
                                                        else if (!isLastComponent)
                                                        {
                                                            if (item.DistanceToNextAxle > 0)
                                                            {
                                                                <label class="text-normal disttonext">@item.DistanceToNextAxle</label>
                                                            }
                                                            else
                                                            {
                                                                <div>
                                                                    -
                                                                </div>
                                                            }
                                                        }
                                                    </td>
                                                    @if (Model != null && Model.IsConfigTyreCentreSpacing && !tyreEmpty)
                                                    {
                                                        if (!string.IsNullOrEmpty(item.TyreSize))
                                                        {
                                                            <td class="tyre_size">
                                                                @item.TyreSize
                                                                @*<br>
                                                                <hr>*@
                                                            </td>
                                                        }

                                                        int whlCount = 0;
                                                        int noOfWheelCurrent = item.NoOfWheels;
                                                        string[] wheelSpace = new string[] { };
                                                        if (!string.IsNullOrEmpty(item.TyreCenters))
                                                        {
                                                            wheelSpace = item.TyreCenters.Split(',');
                                                        }
                                                        whlCount = wheelSpace.Count();
                                                        if (noOfWheelCurrent > whlCount)
                                                        {
                                                            for (int i = whlCount; i < noOfWheelCurrent - 1; i++)
                                                            {
                                                                Array.Resize(ref wheelSpace, wheelSpace.Length + 1);
                                                                wheelSpace[wheelSpace.Length - 1] = "";
                                                            }
                                                            whlCount = wheelSpace.Count();
                                                        }
                                                        for (int i = 0; i < maxNoOfWheels - 1; i++)
                                                        {
                                                            if (i <= whlCount - 1)
                                                            {
                                                                <td style=" padding: 0px 15px;text-align: center;" class="cstable wheel_space">@(wheelSpace[i])</td>
                                                            }
                                                            else
                                                            {
                                                                <td style=" padding: 0px 15px; text-align: center;" class="cstable wheel_space"></td>
                                                            }
                                                        }

                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-5 col-sm-12 col-md-5">
                    @if (vehicleTypeId != 234005 && vehicleTypeId != 234006)
                    {
                        Html.RenderAction("ViewRegistrationComponent", "Vehicle", new { compId = ViewBag.componentId, isTractor = true, isApplication = false, isVR1 = (bool)ViewBag.IsVR1, isBtnFlage = true, movement = (bool)ViewBag.IsMovement, isRoute = (bool)ViewBag.IsRoute, isNotif = (bool)ViewBag.IsNotif });
                    }
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6 col-md-12 col-sm-12">
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" value="@ViewBag.mode" id="hf_mode" name="hf_mode" />
<input type="hidden" class="hf_ComponentId" value="@ViewBag.ComponentId" id="hf_ComponentId" name="hf_ComponentId" />
@*this js need to be used to multiple areas try to add in parent cshtml*@
@*<script src="~/Scripts/Vehicle/GeneralVehicleComponent.js?V@(Session["ProjectVersion"])"></script>*@
@if (ViewBag.mode != null && ViewBag.mode != "")
{
    <script src="~/Scripts/VehicleConfig/ViewConfiguration.js?V@(Session["ProjectVersion"])"></script>
}
