@model IEnumerable<STP.Domain.VehiclesAndFleets.Configuration.VehicleRegistration>
<style>
    .tblregcomponent {
        padding-left: 20px !important;
        text-align: left !important;
    }
</style>

<div id="div_reg_component_vehicle_@ViewBag.VehicleElementId" class="mb-2 div_reg_component_vehicle">
    @{
        int? isFromConfigFlag = ViewBag.IsFromConfig;
        @Html.Hidden("IsFromConfig", isFromConfigFlag);

    }
    @*<div class="images">*@
    <div id="error_msg" class="error invalid-feedback" style="display: block !important;"></div>
    <table data-elemid="@ViewBag.VehicleElementId" class="tbl_registration main-table RegistrationComponent vh_@ViewBag.VehicleElementId" id="vehicle-table">
        <thead>
            <tr>

                <th class="headgrad">Registration</th>
                <th class="headgrad">Fleet ID</th>
                <th class="headgrad"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr_Registration">
                    <td class="component_alignment">
                        <span class="cls_regId RegistrationComponent txt_register" style="width:100% !important; padding-left:10px !important;">@item.RegistrationId</span>
                    </td>
                    <td class="component_alignment">
                        <span class="cls_fleetId RegistrationComponent txt_fleet" style="width:100% !important; padding-left:10px !important;">@item.FleetId</span>
                    </td>
                    <td style="text-align: center;">
                        <input id="registrationComponentHidden_@ViewBag.VehicleElementId" type="hidden" value="@item.IdNumber" />
                        <a href="javascript:void(0)" VehicleElementId="@ViewBag.VehicleElementId" class="delete1 btngrad btnrds btnbdr tdbutton deleteCompReg">
                            <img src="~/Content/assets/images/delete-icon.svg" title="Delete" width="18">
                        </a>
                    </td>
                </tr>
            }
            <tr class="tr_Registration">
                <td>
                    @*<label class="text-normal">Fleet ID</label>*@
                    @*<span class="cls_regId"></span>*@
                    <input type="text" id="txt_register" class="txt_register clearSpan" style="width:100% !important; padding-left:10px !important;" />
                </td>
                <td>
                    @*<label class="text-normal">Registration ID</label>*@
                    @*<span class="cls_fleetId"></span>*@
                    <input type="text" id="txt_fleet" class="txt_fleet clearSpan" style="width:100% !important; padding-left:10px !important;" />
                </td>
                <td class="btns_reg">
                    <input type="hidden">

                    <a href="javascript:void(0)" VehicleElementId="@ViewBag.VehicleElementId" class="btngrad btnrds btnbdr tdbutton btn_add_new">
                        <img src="~/Content/assets/images/Group 999.svg" title="Add" width="26">
                    </a>


                </td>
            </tr>
        </tbody>
    </table>


</div>
<style>
    .delete {
        background: url(../../Content/assets/images/delete-icon.svg) no-repeat;
        display: block;
        height: 34px;
        background-size: 18px;
        background-position: center;
    }

    .component_alignment {
        text-align: left !important;
    }
</style>
@*<script src="~/Scripts/VehicleComponent/jQuery.Comp.Register.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuesry.Comp.General.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/VehicleComponent/jQuery.Comp.Create.js?V@(Session["ProjectVersion"])"></script>
<script src="~/Scripts/Vehicle/unitConversion.js?V@(Session["ProjectVersion"])"></script>*@
@*<script src="~/Scripts/Vehicle/RegistrationComponent.js?V@(Session["ProjectVersion"])"></script>*@
