@using STP.Domain
@using PagedList.Mvc
@model  List<STP.Domain.Applications.ComponentObjListModelToreturn>
@{
    Layout = null;
}

@foreach (var component in Model)
{
    <div class="row mb-1">
        <div class="col-sm-4 col-md-12 col-lg-10 pr-0">
            <label class="text-normal" style="font-family: lato_light; font-size: 20px;">@component.VehicleDesc</label>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Gross weight</label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 input-field text-normal">
            @component.GrossWeight.ToString("##,0.") kg
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Max axle weight</label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 input-field text-normal">
            @component.MaxAxleWeight.Value.ToString("#,##0.")  kg
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Axle weight</label>
        </div>
        <div class="col-sm-4 col-md-7 col-lg-6 input-field text-normal">
            @component.AxleWeight
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Wheels per axle</label>
        </div>        
        <div class="col-sm-4 col-md-7 col-lg-6 input-field text-normal">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">(Wheels or wheels x no of axles)</label>
        </div>
        <div class="col-sm-4 col-md-7 col-lg-6 input-field text-normal">
            @component.WheelsPerAxle
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Axle spacing</label>
        </div>
        <div class="col-sm-4 col-md-7 col-lg-6 input-field text-normal">
            @component.AxleSpacing
            @if (component.AxleSpacing2 != null)
            {
                if (component.AxleSpacing2 != "0.0")
                {
                    @component.AxleSpacing2
                }
            }
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Tyre size</label>
        </div>
        <div class="col-sm-4 col-md-7 col-lg-6 input-field text-normal">
            @component.TyreSize
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Tyre centre spacing</label>
        </div>
        <div class="col-sm-4 col-md-7 col-lg-6 input-field text-normal">
            @component.TyreCentreSpacing
        </div>
    </div>   
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Wheel base</label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 input-field text-normal">
            @component.WheelBase m
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Rear overhang</label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 input-field text-normal">
            @component.RearOverhang m
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-4 col-md-6 col-lg-5 pr-0">
            <label class="text-normal">Outside track</label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 input-field text-normal">
            @component.OutsideTrack m
        </div>
    </div>

}
