@using System.Web.Optimization
@using STP.Domain
@model List<STP.Domain.Routes.AppRouteList>

@{
    ViewBag.Title = "ApplicationRouteList";
}
@{
    int RevisionId = 0;

    if (ViewBag.RevisionId != null)
    {
        RevisionId = ViewBag.RevisionId;
    }
    int VersionID = 0;
    if (ViewBag.VersionId != null)
    {
        VersionID = ViewBag.VersionId;
    }
    int userTypeID = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
    }
    bool vr1 = false;
    if (Session["AppFlag"] != null && Convert.ToString(Session["AppFlag"]) == "VR1App")
    {
        vr1 = true;
    }

}

@Html.Hidden("RevisionID", RevisionId)
@Html.Hidden("VersionID", VersionID)

<div class="pb-4">
    <div class="main-table mt-0 pt-0">
        <table>
            <tr>
                <th>
                    Route Parts
                </th>
                <th>Route Part Name</th>
                <th>Route Type</th>
                <th></th>
            </tr>
            @{
                if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        if (item.RouteType != "")
                        {
                            <tr class="bgColor3">
                                <td class="text-color1"style="color:black";>Route part @item.PartNo (@item.RouteName)</td>
                                <td class="text-color1" style="color:black";>@item.RouteName</td>
                                <td class="text-color1"style="color:black";>@item.RouteType</td>
                                <td class="text-color1">
                                    <input type="radio" class="form-check-input btn-arl-view-route-on-map" name="chk" value="@item.RouteID" id="rdb_@item.RouteID" data-routeid="@item.RouteID" data-routetype="@item.RouteType" />
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>
</div>
<div class="pl-5 pb-3" id="RouteAdd" style="display:none">
    <div class="text-normal pt-4 pb-2" style="font-family: 700px;">
        <b>  Route </b>
    </div>
    <div class="row pb-1">
        <div class="col-sm-4 col-md-1 col-lg-1 text-normal">
            Starting
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0" id="StartingAdd">
        </div>
    </div>
    <div class="row pb-1">
        <div class="col-sm-4 col-md-1 col-lg-1 text-normal" style="white-space:nowrap">
            Via Waypoint
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
            <table id="TabviaAdd" class="table"></table>
        </div>
    </div>
    <div class="row pb-1">
        <div class="col-sm-4 col-md-1 col-lg-1 text-normal">
            Ending
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0" id="EndingAdd">
        </div>
    </div>
</div>
<div class="row pl-3 pr-3 pt-4 pb-3 mb-3">
    <div id="appRouteMap" class="ViewRouteVehicleList" style="height: 650px; display: none;">

    </div>
</div>
<div class="form-check ml-2" id="showGPXRoute" style="display:none">
    <input type="checkbox" id="gpxRoute" value="false" name="gpxRoute">
    <label class="form-check-label label1 text-color3" for="GPXRoute">View Original Non ESDAL Route</label>
</div>
<div id="vehicleList" style="display:none">
    <div class="cardSOA1 mt-0 ml-1 mb-4">
        <h6 class="text-color3 stHeading1 m-0">Vehicle configurations</h6>
    </div>
    <div id="route_vehicle">

    </div>
</div>

<style>
    .ViewRouteVehicleList div.olMap {
        height: 650px !important;
    }
</style>
<input type="hidden" value="@ViewBag.RoutePardId" id="hf_RoutePartId_RList" name="RoutePartId" />
<input type="hidden" value="@ViewBag.RouteType" id="RouteType" name="RouteType" />
