@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.MovementsAndNotifications.Notification.InboxSubContent>
@*@model List<STP.Domain.MovementsAndNotifications.Notification.InboxSubContent>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string tableClass = string.Empty;
    int count = 1;
    string NotifCode = "";

}
<style>
    .notification {
        height: 25px;
        width: 25px;
        float: left;
        /*        background: url("../../Images/Common/MasterPage/Notification_status.png") no-repeat;
    */ background-image: url('../../Content/Images/Common/MasterPage/Notification_status.png');
    }

    .notification_status1 {
        background-position: 0px 0px;
    }

    .notification_status2 {
        background-position: 0px -25px;
    }
</style>
@Html.Hidden("NotifCode", NotifCode)

@if (ViewBag.mode == 0)
{
    @*<link href="~/Content/Style/Common/style.css" rel="stylesheet" />
        <link href="~/Content/Style/Common/grid_css.css" rel="stylesheet" />*@
}
else if (ViewBag.mode == 1)
{
    //tableClass = "alter frmbdr";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.mode == 1 && Model.Count == 0)
{
}
else
{

    using (Html.BeginForm("NotificationHistory", "Application", new { mode = ViewBag.mode }))
    {
        <div class="row pt-4">
            <div class="main-table" id="distribution-status">


                @*<table class="table @tableClass">*@
                <table>
                    <tr>
                        @if (ViewBag.mode == 1)
                        {
                            <th style="border-radius: 40px 0 0 0;" id="table-head">Notification status</th>
                            <th style="width: 7%;">ESDAL<sup>2</sup> ref</th>
                            <th style="width: 15%;">Notification date</th>
                            <th style="width: 30%;">Collaboration status</th>
                        }
                        else if (ViewBag.mode == 0)
                        {
                            <th style="color:azure;">Notification status</th>
                            <th style="color: azure;">ESDAL<sup>2</sup> ref</th>
                            <th style="color: azure;">Notification date</th>
                        }
                        else if (ViewBag.mode == 2)
                        {
                            <th class="headgrad white">Revision no.</th>
                            <th class="headgrad white">Version no.</th>
                            <th class="headgrad white">Datetime</th>
                            <th class="headgrad white">Event</th>
                            <th class="headgrad white">Details</th>
                        }
                    </tr>
                    @if (Model.Count > 0)
                    {
                        if (ViewBag.mode != 2)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-color1">
                                        @if (count == 1)
                                        {
                                            @*<img src="~/Content/Images/Common/renotified.gif"  height="20" width="20" />*@
                                            <span class="notification notification_status1"></span>
                                        }
                                        else
                                        {
                                            @*<img src="~/Content/Images/Common/notified.gif"  height="20" width="20" />*@
                                            <span class="notification notification_status2"></span>
                                        }
                                    </td>
                                    <td class="text-color1">@item.ESDALReference</td>
                                    <td class="text-color1">
                                        @{
                                            var ndt = item.NotificationDate;
                                            if (ndt == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                @item.NotificationDate
                                            }
                                        }
                                    </td>
                                    @if (ViewBag.mode == 1)
                                    {
                                        <td class="text-color1">
                                            @if (item.CollaborationStatus != 0)
                                            {
                                                @*<img src="~/Content/Images/Common/bluespeechbubble.png"/>*@
                                                <span class="collaboration collaboration_status3"></span>
                                            }
                                        </td>
                                    }
                                </tr>
                                count++;
                            }
                        }
                        else if (ViewBag.mode == 2)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-color1">@item.LatestRevisionNum</td>
                                    <td class="text-color1">@item.NotificationVersionNum</td>
                                    <td class="text-color1">@item.NotificationDate</td>
                                    <td class="text-color1">@item.actiontype</td>
                                    <td class="text-color1">@item.Description</td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <td colspan="4" style="text-align: center">
                            <span style="color: red">No records found</span>
                        </td>
                    }

                </table>
            </div>
        </div>
        <div class="bottom-pagination">
            <div class="pagination" id="NotificationHistory">
                @Html.PagedListPager(Model, page => Url.Action("NotificationHistory",
                                        new
                                        {
                                            page,
                                            B7vy6imTleYsMr6Nlv7VQ =
                                            STP.Web.Helpers.EncryptionUtility.Encrypt("Haul_num=" + ViewBag.Haul_num +
                                            "&esdalref=" + ViewBag.esdalref +
                                            "&versionno=" + ViewBag.versionno +
                                            "&projId=" + ViewBag.projId)
                                        }),
                                        new PagedListRenderOptions
                                        {
                                            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                            LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                            LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                            MaximumPageNumbersToDisplay = 3,
                                            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                            EllipsesFormat = "...",
                                            LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                            LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                                        });
            </div>
        </div>
    }
}
