@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.Applications.SORouteAssessment
@using STP.Common.Constants

@{
    ViewBag.Title = "RouteAnalysisPanel";
    int versionId = ViewBag.versionId;
    long analysisId = ViewBag.AnalysisId;
    long analID = ViewBag.AnalysisId;
    bool SORTflag = ViewBag.SORTflag;
    int revid = 0;
    if (ViewBag.RivisionId != null)
    {
        revid = ViewBag.RivisionId;
    }
    bool iscandidate = ViewBag.CandidateRT;

    string vr1ContentRefNo = ViewBag.VR1ContentRefNo;
    bool IsGenerate = true;
    bool IsDIGenerate = false;
    if (ViewBag.IsGenerate != null)
    {
        IsGenerate = ViewBag.IsGenerate;
    }
    if (ViewBag.IsDIGenerate != null)
    {
        IsDIGenerate = ViewBag.IsDIGenerate;
    }
    string CandRouteDeatils = null;
    if (ViewBag.CandRouteType != null)
    {
        CandRouteDeatils = ViewBag.CandRouteType;
    }
}
@{
    ViewBag.Title = "SORTCreateVR1General";

    int isAdmin = 0;
    int userTypeID = 0;
    long UserId = 0;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        userTypeID = sessionValues.UserTypeId;
        if (sessionValues.IsAdmin == 1)
        {
            isAdmin = 1;
        }
        UserId = sessionValues.SortUserId;
    }
    string SORTStatus = null;
    if (ViewBag.SORTStatus != null)
    {
        SORTStatus = ViewBag.SORTStatus;
    }
}

@Html.Hidden("VR1ContentRefNo", vr1ContentRefNo)
@Html.Hidden("AnalysisId", analysisId)
@Html.Hidden("analID", analID)
@Html.Hidden("RevID", revid)
@Html.Hidden("SORTflag", SORTflag)
@Html.Hidden("IsCandidateRT", iscandidate)
@Html.Hidden("CandRouteDetails", CandRouteDeatils)
<style>
    /*.card .li {
        cursor: pointer;
    }*/
    #banner-container {
        color: white !important;
    }
</style>
<div class="card PublishCardHelper mt-0" id="route-assessment" style="cursor:default !important">
    <div class="row">
        <div class="col-3 padHelper1">
            <div class="card sidebar-soa-Helper">
                <div class="card-header cardHeaderHelper" id="sm1">
                    <span class="sidebartitle-soa" style="color:white !important">Options</span>
                </div>
                <div class="card-body cbHelper" id="sm">
                    <ul class="p-0 m-0">
                        <!--RouteAnalysisPanel-->
                        <li id="RBDrivingInstruction" style="cursor:pointer;" class="list-soa clickable" divId="drivingInstructions">Driving Instructions</li>
                        <li id="RBAffectStruct" style="cursor:pointer;" class="list-soa clickable  mt-2" name="RouteAnalysis"
                            value="AffectStruct" divId="affectedstructure">
                            Affected Structures
                        </li>
                        <li id="RBConstraints" style="cursor:pointer;" class="list-soa clickable" divId="spnconstraints">
                            Constraints
                        </li>
                        <li id="RBRouteDescrp" style="cursor:pointer;" class="list-soa clickable" name="RouteAnalysis" value="RouteDescrp"
                            divId="routeDescription">
                            Route Description
                        </li>

                        @*<li id="RBCaution" style="cursor:pointer;" class="list-soa clickable" divId="spncautions">
                                Cautions
                            </li>*@


                        @if (SORTflag == true)  //condition to display the affected parties radio button
                        {
                            <li id="RBAffectedParty" style="cursor:pointer;" class="list-soa clickable" divId="affectedParties">
                                Affected Parties
                            </li>

                            <li id="RBAnnot" style="cursor:pointer;" class="list-soa clickable" name="RouteAnalysis" value="Annot"
                                divId="annotations">
                                Annotations
                            </li>
                            <li id="RBAffectedRoad" style="cursor:pointer;" class="list-soa clickable" isStructureDetails="false"
                                divId="affectedRoads">
                                Affected Roads
                            </li>
                            <li id="RBAffectedRoad_StructureWise" style="cursor:pointer;display:none" class="list-soa clickable"
                                isStructureDetails="true" divId="affectedRoads">
                                Affected Roads
                            </li>
                        }
                        else
                        {
                            @*<li id="RBDrivingInstruction" style="cursor:pointer;" class="list-soa mt-2 clickable" divId="drivingInstructions">Driving Instructions</li>*@
                            <li id="RBAnnot" style="cursor:pointer;" class="list-soa clickable" name="RouteAnalysis" value="Annot"
                                divId="annotations">
                                Annotations
                            </li>
                            <li id="RBAffectedRoad" style="cursor:pointer;" class="list-soa clickable"
                                divId="affectedRoads">
                                Affected Roads
                            </li>
                        }
                    </ul>

                    <div id="printbutton" style="margin-top: 15px;" class="pb-6 mb-2">
                        <div class="button main-button">
                            <button id="PrintReport" class="btn btn-outline-primary btn-normal" role="button" aria-pressed="true" AnalysisId=@ViewBag.AnalysisId>
                                PRINT DI
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-9 padHelper2" id="divRouteAnalysis" style="cursor: default;">
            <span id='drivingInstructions' style="display: none;">
            </span>
            <span id='affectedstructure' style="display: none;">
            </span>
            <span id='annotations' style="display: none;">
            </span>
            <span id='spncautions' style="display: none;">
            </span>
            <span id='spnconstraints' style="display: none;">
            </span>
            <span id='affectedParties' style="display: none;">
            </span>
            <span id='affectedRoads' style="display: none;">
            </span>
            <span id='routeDescription' style="display: none;">
            </span>
            <span id='showAffectedparties' style="display: none;">
            </span>
            <div id="routeAssessmentBckbtn" style="float: right;" class="row mt-5">
                <button id="BackToRouteAssessment" type="button" class="btn outline-btn-primary SOAButtonHelper ml2 mb-2" aria-hidden="true">
                    BACK
                </button>
            </div>
        </div>
    </div>
</div>
<div id="General"></div>

@{
    <input type="hidden" value="@ViewBag.Helpdest_redirect" id="hf_Helpdest_redirect" name="hf_Helpdest_redirect" />
    <input type="hidden" value="@ViewBag.IsDIGenerate" id="hf_IsDIGenerate" name="hf_IsDIGenerate" />
    <input type="hidden" value="@ViewBag.NoDataFound" id="hf_NoDataFound" name="hf_NoDataFound" />
}
<input type="hidden" value="@ViewBag.AnalysisId" id="hf_AnalysisId" name="hf_AnalysisId" />
<input type="hidden" value="@ViewBag.ContentRefNo" id="hf_ContentRefNo" name="hf_ContentRefNo" />