@using System.Web.Optimization
@using STP.Domain
@using System.Globalization
@using STP.Common.Enums
@model STP.Domain.Applications.SOApplication
@{
    ViewBag.Title = "SOGeneralDetails";

    long Project_ID = 0;
    string Helpdest_redirect = null;
    int NotificationEditFlag = ViewBag.NotificationEditFlag;
    if (ViewBag.ProjectID != 0 && Model != null)
    {
        Project_ID = ViewBag.ProjectID;
    }
    if (ViewBag.Helpdest_redirect == "true")
    {
        Helpdest_redirect = ViewBag.Helpdest_redirect;
    }
    int IsHistory = ViewBag.IsHistory;
}
@Html.Hidden("Historical", IsHistory)
@if (Model == null && ViewBag.IncorrectValue == true)
{
    <h2><span class="error" style=" color: red; font-size: medium; ">Wrong application or you are not authorised to view this application.</span></h2>
}
else
{

    <div class="pr-3">
        <div class="col-12 " style="display:inline-block;">
            @if (Model.VersionStatus == 305002 || Model.VersionStatus == 305003)
            {

                <button id="PrintProposedReport" class="btn btn-primary btn-normal mb-2 float-end" role="button" aria-pressed="true" style="width:12.25rem;" title="Print proposal document"
                        ESDALREFf="@Model.ESDALReference" ContactId="@ViewBag.CONTACTID" OrganisationId="@Model.OrgId">
                    PRINT
                </button>

                }
                else if (Model.VersionStatus == 305004 || Model.VersionStatus == 305005 || Model.VersionStatus == 305006)
                {
                <button id="PrintAgreedReport" class="btn btn-primary btn-normal mb-2 float-end" role="button" aria-pressed="true" style="width:12.25rem;" title="Print agreed document"
                        ESDALREFf="@Model.ESDALReference" ContactId="@ViewBag.CONTACTID" OrderNo="@ViewBag.OrderNumber">
                    PRINT
                </button>

                }

            </div>
        </div>


        <div id="HaulierReq">
            @Html.HiddenFor(m => m.ApplicationRevId)
            @Html.HiddenFor(m => m.ESDALReference, new { @id = "EsdalNo" })
            <div>
                <div class="cardSOA1 mt-0 ml-1 mb-4">
                    <h6 class="text-color3 stHeading1 m-0">Movement Summary</h6>
                </div>
                <div class="pl-6 pr-3" id="general-content">
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            ESDAL Reference
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.ESDALReference
                        </div>
                    </div>
                    @if (Model.ApplicationStatus != 308002)
                    {
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                                NH Reference
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.HAReference
                            </div>
                        </div>
                    }
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            From
                        </div>
                        @if (Model.MovementFromDescription == "" || Model.MovementFromDescription == null)
                        {
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.FromAddress
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.MovementFromDescription
                            </div>
                        }
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            To
                        </div>
                        @if (Model.MovementToDescription == "" || Model.MovementToDescription == null)
                        {
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.ToAddress
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.MovementToDescription
                            </div>

                        }
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Haulier Reference
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.HaulierReference
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Haulier Organisation Name
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.Haulier
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Agent Name
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.AgentName
                        </div>
                    </div>
                    @if (Model.ApplicationStatus != 308002)
                    {
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                                Description
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.Load
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                                Load
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.Description
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                                Load Description
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.Load
                            </div>
                        </div>
                    }
                    @if (Model.ApplicationStatus != 308002)
                    {
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                                Operator License
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @Model.OperatorLicence
                            </div>
                        </div>
                    }
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Movement Date From
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @{CultureInfo ukCulture = new CultureInfo("en-GB");}
                            @Convert.ToDateTime(Model.MovementDateFrom).ToString("dd/MM/yyyy", ukCulture.DateTimeFormat)

                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Movement Date To
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Convert.ToDateTime(Model.MovementDateTo).ToString("dd/MM/yyyy", ukCulture.DateTimeFormat)
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Number of Movements
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.NumberOfMovements
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                            Maximum Pieces per Load
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.NumberofPieces
                        </div>
                    </div>



                    @if (Model.ApplicationStatus != 308002)
                    {
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                                National Highways Contact
                            </div>

                            <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">
                                @Html.Raw(@ViewBag.ContactName)
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <span class="ShowHideDetails" target="1">
                                    <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-icon1"
                                         style="float: right; display: none; cursor: pointer;">
                                    <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-icon1" style="float: right; cursor: pointer;">
                                </span>
                            </div>
                            <hr>
                        </div>
                        <div id="contact-details" style="display:none">
                            @{
                                Html.RenderAction("ViewContactDetails", "Application", new { EsdalRefNo = Model.ESDALReference, showPopup = false });
                            }

                        </div>
                    }


                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                            Application Notes from Haulier
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">

                            <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">
                                Notes from Haulier
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <span class="ShowHideDetails" target="2">
                                <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-icon2"
                                     style="float: right; display: none; cursor: pointer;">
                                <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-icon2" style="float: right; cursor: pointer;">
                            </span>
                        </div>
                        <hr>
                    </div>
                    <div id="div_notes_from_ha" style="display:none">
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">

                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @if (@Model.ApplicationNotesFromHA == null || @Model.ApplicationNotesFromHA == string.Empty)
                                {
                                    <label>Application notes from haulier not available</label>
                                }
                                else
                                {
                                    @Model.ApplicationNotesFromHA

                                }

                            </div>
                        </div>

                    </div>
                    @if (Model.ApplicationStatus != 308002)
                    {
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                                Notes to Haulier
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">

                                <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">
                                    Notes to Haulier
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <span class="ShowHideDetails" target="3">
                                    <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-sog-icon3"
                                         style="float: right; display: none; cursor: pointer;">
                                    <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-sog-icon3" style="float: right; cursor: pointer;">
                                </span>
                            </div>
                            <hr>
                        </div>
                    }
                    <div id="div_notes_to_ha" style="display:none">
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">

                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @if (ViewBag.App_Notes_To_HA == null || ViewBag.App_Notes_To_HA == string.Empty)
                                {
                                    <label>Application notes to haulier not available</label>
                                }
                                else
                                {
                                    @Html.Raw(@ViewBag.App_Notes_To_HA)
                                }

                            </div>
                        </div>

                    </div>

                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                            Distribution Notes
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">

                            <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">
                                Distribution Notes
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <span class="ShowHideDetails" target="4">
                                <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-sog-icon4"
                                     style="float: right; display: none; cursor: pointer;">
                                <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-sog-icon4" style="float: right; cursor: pointer;">
                            </span>
                        </div>
                        <hr>
                    </div>
                    <div id="div_distribution_notes" style="display:none">
                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">

                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                                @if (ViewBag.NewDistributionData == null || ViewBag.NewDistributionData == string.Empty)
                                {
                                    <label style="color:red;">Distribution notes are not available</label>
                                }
                                else
                                {
                                    @Html.Raw(@ViewBag.Distrib_Notes)

                                }
                            </div>
                        </div>

                    </div>

                    <div class="row pb-3">
                        <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                            Haulier Requirements Notes
                        </div>
                        <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">
                            Procedures for Highway and Bridge Authorities and Police
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <span class="ShowHideDetails" target="5">
                                <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-sog-icon5"
                                     style="float: right; display: none; cursor: pointer;">
                                <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-sog-icon5" style="float: right; cursor: pointer;">
                            </span>
                        </div>
                        <hr>
                    </div>
                    <div id="req-notes" style="display:none">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <div class="pb-6">
                                <div>
                                    <h3 class="heading-medium">
                                        Approximate date of first movement:<br>
                                        <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                            @Convert.ToDateTime(Model.MovementDateFrom).ToString("dd/MM/yyyy", ukCulture.DateTimeFormat)
                                        </p>
                                    </h3>
                                </div>
                                <div>
                                    <p class="edit-normal pl-0 pr-0 pb-3 pt-0 mt-0 mb-0 ml-0 mr-0">
                                        If, subsequent to the receipt of the agreed route below, emergency road or bridge
                                        works,
                                        including statutory undertaker’s works, become necessary on any road shown in this
                                        route, the authority concerned is asked to inform the NH and the haulier concerned
                                        without delay. Proposals for alternative routing should be formulated at this stage,
                                        if
                                        possible.
                                    </p>
                                    <p class="edit-normal pl-0 pr-0 pb-3 pt-0 mt-0 mb-0 ml-0 mr-0">
                                        The haulier must:
                                    </p>
                                    <div class="pb-3">
                                        <ol type="a">
                                            <li class="pb-0 mb-0 mt-0 pt-0">
                                                <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                                    Contact all
                                                    police authorities before movement takes place to arrange for suitable
                                                    timings and escorts where required.
                                                </p>
                                            </li>
                                            <li class="pb-0 mb-0 mt-0 pt-0">
                                                <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                                    Comply with
                                                    all
                                                    cautions specified in the route.
                                                </p>
                                            </li>
                                            <li class="pb-0 mb-0 mt-0 pt-0">
                                                <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                                    Contact all
                                                    Survey the route prior to movement to satisfy himself of the
                                                    negotiabiliity
                                                    of the vehicles concerned.
                                                </p>
                                            </li>
                                            <li class="pb-0 mb-0 mt-0 pt-0">
                                                <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                                    Make
                                                    arrangements
                                                    with the highway authority for the removal, at his own expense, of any
                                                    street furniture that may be necessary.
                                                </p>
                                            </li>
                                            <li class="pb-0 mb-0 mt-0 pt-0">
                                                <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                                    Ensure that
                                                    if
                                                    the driver is unable to follow this route due to road-works or any other
                                                    cause, he should telephone 0300 470 3004 for instructions on the
                                                    diversion
                                                    to be followed to avoid the obstructed route. At weekends and outside
                                                    normal
                                                    office hours (8.30 - 16.30) he should telephone 020 7944 5999 and inform
                                                    the
                                                    Duty Officer of the situation.

                                                </p>
                                            </li>
                                            <li class="pb-0 mb-0 mt-0 pt-0">
                                                <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                                    Note that the
                                                    issue of this route does not constitute authority to carry out the
                                                    movement,
                                                    which should not be undertaken until the relevant Special Order has been
                                                    issued.
                                                </p>
                                            </li>
                                        </ol>
                                    </div>
                                    <p class="edit-normal pl-0 pr-0 pb-0 pt-0 mt-0 mb-0 ml-0 mr-0">
                                        The Secretary of State, in proposing the attached route, has satisfied himself as
                                        far as
                                        possible that all bridges which will be passed over can safely carry the loads which
                                        have been reported to him provided that the conditions contained in the Special
                                        Order
                                        and the agreed route are complied with. He accepts no responsibility that any
                                        vehicle
                                        described in the Special Order can negotiate the proposed route and neither the
                                        owner/interested party nor the operator of any such vehicle is relieved of any of
                                        his
                                        obligations or liabilities either under the Road Vehicle (Authorisation of Special
                                        Types) (General) Order 2003 or otherwise.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    @if (Model.SpecialOrders != null && Model.SpecialOrders.Count > 0
                       && (Model.VersionStatus == (int)VersionStatus.agreed || Model.VersionStatus == (int)VersionStatus.agreed_recleared))
                    {

                        <div class="row pb-3">
                            <div class="col-sm-4 col-md-6 col-lg-3 text-normal-hyperlink">
                                Special Order Details
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-6 input-field text-normal-hyperlink pt-0 pb-0 pl-0 pr-0">

                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <span class="ShowHideDetails" target="6">
                                    <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-sog-icon6"
                                         style="float: right; display: none; cursor: pointer;">
                                    <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-sog-icon6" style="float: right; cursor: pointer;">
                                </span>
                            </div>
                            <hr>
                        </div>
                        <div id="special-orders" style="display:none;margin-top:0px;" class="main-table">
                            <table>
                                <tbody>
                                    <tr style="background-color: rgba(39, 87, 149, 0.1);">
                                        <th style="width: 2px;">@Resources.Resource.SOhash</th>
                                        <th style="width: 2px; white-space: nowrap;">@Resources.Resource.SignedOn</th>
                                        <th style="width: 2px; white-space: nowrap;">@Resources.Resource.ExpiresOn</th>
                                    </tr>
                                </tbody>
                                @foreach (var item in Model.SpecialOrders)
                                {
                                    <tr>
                                        <td class="colum2" style="width: 5%; white-space: nowrap;">@item.OrderNo</td>
                                        <td class="colum2" style="width: 8%; white-space: nowrap;">
                                            @if (item.SignedDate.Date != DateTime.MinValue.Date)
                                            {@item.SignedDate.ToString("dd-MM-yyyy")}
                                        </td>
                                        <td class="colum2" style="width: 8%; white-space: nowrap;">
                                            @if (item.ExpiryDate.Date != DateTime.MinValue.Date)
                                            {@item.ExpiryDate.ToString("dd-MM-yyyy")}
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>

                    }

                    <div class="flexer justify-content-left pt-4 pb-3" id="menu-buttons">
                        @if ((Model.VersionStatus == 305002 || Model.VersionStatus == 305013|| Model.VersionStatus == 305014||  Model.VersionStatus == 305004 || Model.VersionStatus == 305005 || Model.VersionStatus == 305006 || Model.VersionStatus == 305003) && Model.ApplicationStatus != 308005 && IsHistory == 0)// && app status checked for #7855
                        {
                            <button id="notify" class="btn outline-btn-primary SOAButtonHelper SOGeneralDetails">
                                <span class="pr-3">
                                    <img src="~/Content/assets/images/Group 133.svg" width="15" class="init_img">
                                    <img src="~/Content/assets/images/Group 133.svg" width="15" class="hover_img notify">
                                </span>NOTIFY
                            </button>

                        }
                        @if (ViewBag.ApplStatus == 1 && (Model.ApplicationStatusCode != 307009 && Model.ApplicationStatusCode != 307008) && IsHistory == 0)
                        {
                            <button id="revise" class="btn outline-btn-primary SOAButtonHelper SOGeneralDetails" style="width: auto;">
                                <span class="pr-3">
                                    <img src="~/Content/assets/Icons/revise.svg" width="17" class="init_img">
                                    <img src="~/Content/assets/Icons/revise.svg" width="17" class="hover_img notify">
                                </span>REVISE
                            </button>
                        }
                        <button id="clone" class="btn outline-btn-primary SOAButtonHelper SOGeneralDetails" style="width: auto;">
                            <span class="pr-3">
                                <img src="~/Content/assets/images/Group 1360-new.svg" width="15" class="init_img">
                                <img src="~/Content/assets/images/Group 1360-new.svg" width="15" class="hover_img notify">
                            </span>CLONE
                        </button>

                        @if (Model.ApplicationStatusCode != 307008 && IsHistory == 0)
                        {
                            <button id="WithdrawSOApp" class="btn outline-btn-primary SOAButtonHelper SOGeneralDetails" style="width: auto;">
                                <span class="pr-3">
                                    <img src="~/Content/assets/images/withdrawn.svg" width="15" class="init_img">
                                    <img src="~/Content/assets/images/withdrawn.svg" width="15" class="hover_img notify">
                                </span>WITHDRAW
                            </button>

                        }
                    </div>
                </div>
            </div>
        </div>
        <link href="~/Content/Style/Common/grid_css.css?V@(Session["ProjectVersion"])" rel="stylesheet" />
        }

        <style>
            #req-notes .edit-normal {
                text-align: justify;
            }

            #WithdrawSOApp {
                width: auto !important;
            }

            .row {
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(var(--bs-gutter-y) * -1);
                margin-right: calc(var(--bs-gutter-x)/ -2);
                margin-left: calc(var(--bs-gutter-x)/ -2);
            }

            .btn outline-btn-primary:hover, .SOAButtonHelper:hover {
                background-color: #275795 !important;
                color: white !important;
            }
        </style>
@{
<input type="hidden" value="@(ViewBag.Helpdesk_redirect!=null?ViewBag.Helpdesk_redirect.ToString():"false")" id="hf_Helpdesk_redirect" name="hf_Helpdesk_redirect" />
    @Html.Hidden("hf_VersionId", Model.VersionId)
    @Html.Hidden("hf_EnteredBySORT", Model.EnteredBySORT)
    @Html.Hidden("hf_ApplicationRevId", Model.ApplicationRevId)
    @Html.Hidden("hf_ESDALReference", Model.ESDALReference)
    @Html.Hidden("hf_VersionId", Model.VersionId)
    @Html.Hidden("hf_VersionStatus", Model.VersionStatus)
    @Html.Hidden("hf_NumberofPieces", Model.NumberofPieces)
    @Html.Hidden("hf_MovementDateFrom", Model.MovementDateFrom)
    @Html.Hidden("hf_MovementDateTo", Model.MovementDateTo)
    @Html.Hidden("hf_ProjectId", Model.ProjectId)
}

@*@section scripts{
            @System.Web.Optimization.Scripts.Render("~/bundles/SOHaulierApplicationDetails")
        }
<script src="~/Scripts/Application/SOGeneralDetails.js?V@(Session["ProjectVersion"])"></script>*@
