@using System.Web.Optimization
@using STP.Domain
@using System.Globalization
@using STP.Web.Custom.Views
@model STP.Domain.Applications.SOHaulierApplication


@{
    ViewBag.Title = "SOHaulierApplicationDetails";
}

<div>
    <div class="cardSOA1 mt-0 ml-1 mb-4">
        <h6 class="text-color3 stHeading1 m-0">Application general details</h6>
        <input type="hidden" id="ESDALReferenceSORT" name="ESDALReferenceSORT" value="@Model.HaulierESDALReference" />
    </div>
    <div class="pl-6 pr-3" id="general-content">
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                ESDAL reference
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierESDALReference
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                My reference
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierReference
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Client name
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierClientName
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                From summary
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierFromSummary
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                To summary
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierToSummary
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Description
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierDescription
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Load
            </div>
            <div class="col-sm-8 col-md-6 col-lg-9 input-field edit-normal pt-0  pb-0 pl-0 pr-0" style="word-wrap: break-word;">
                @Model.HaulierLoad
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Application Date
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierApplicationDate.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Movement date from
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierMovementDateFrom.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Movement date to
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierMovementDateTo.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Number of movements
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierNumberOfMovements
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Maximum pieces per load
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.HaulierNumberOfPieces
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                Agent name
            </div>
            <div class="col-sm-4 col-md-5 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                @Model.AgentName
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-normal pt-4 pb-2" style="font-family: 700px;">
                    <b>Applicant contact details</b>
                </div>
                @*<div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Haulier contact name
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierContactName
                    </div>
                </div>*@
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Applicant contact name
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierContactName
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Applicant organisation name
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierApplicantName
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Applicant address
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">

                        @if ((Model.HaulierApplicantAddress1) != "")
                        {
                            @Model.HaulierApplicantAddress1
                            <br />
                        }
                        @Model.HaulierApplicantAddress2
                        @if ((Model.HaulierApplicantAddress2) != "")
                        {
                            <br />
                        }
                        @Model.HaulierApplicantAddress3
                        @if ((Model.HaulierApplicantAddress3) != "")
                        {
                            <br />
                        }
                        @Model.HaulierApplicantAddress4
                        @if ((Model.HaulierApplicantAddress4) != "")
                        {
                            <br />
                        }
                        @Model.HaulierApplicantAddress5
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Postcode
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierPostCode
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Country
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierCountry
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Telephone
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierTelephone
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Fax number
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierFaxNumber
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                        Email address
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                        @Model.HaulierEmailId
                    </div>
                </div>
            </div>

            <!--On behalf of-->
            <div class="col-sm-6">
                @if (!string.IsNullOrEmpty(Model.OnBehalOfContactName))
                {
                    <div class="text-normal pt-4 pb-2" style="font-family: 700px;">
                        <b>Haulier Details</b>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Haulier contact name
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfContactName
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Organisation name
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfHaulierOrgName
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Address
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">

                            @if ((Model.OnBehalOfHaulierAddress1) != "")
                            {
                                @Model.OnBehalOfHaulierAddress1
                                <br />
                            }
                            @Model.OnBehalOfHaulierAddress2
                            @if ((Model.OnBehalOfHaulierAddress2) != "")
                            {
                                <br />
                            }
                            @Model.OnBehalOfHaulierAddress3
                            @if ((Model.OnBehalOfHaulierAddress3) != "")
                            {
                                <br />
                            }
                            @Model.OnBehalOfHaulierAddress4
                            @if ((Model.OnBehalOfHaulierAddress4) != "")
                            {
                                <br />
                            }
                            @Model.OnBehalOfHaulierAddress5
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Postcode
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfHaulPostCode
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Country
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfCountryName
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Telephone
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfHaulTelephoneNo
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Fax number
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfHaulFaxNo
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Email address
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfHaulEmailID
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 col-md-6 col-lg-6 text-normal">
                            Operator Licence
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 input-field edit-normal pt-0  pb-0 pl-0 pr-0">
                            @Model.OnBehalOfHaulOperatorLicens
                        </div>
                    </div>

                }
            </div>
            <!--End On Behalf-->
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Application notes
                </div>
                <div class="col-sm-8 col-md-6 col-lg-9 input-field edit-normal pt-0  pb-0 pl-0 pr-0" style="word-wrap: break-word;">
                    @Model.HaulierApplicationNotes
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-4 col-md-6 col-lg-3 text-normal">
                    Notes on escort
                </div>
                <div class="col-sm-8 col-md-6 col-lg-9 input-field edit-normal pt-0  pb-0 pl-0 pr-0" style="word-wrap: break-word;">
                    @Model.NotesOnEscort
                </div>
            </div>
        </div>
    </div>
