@model STP.Domain.Applications.SupplimentaryInfo

<div class="row pt-8 pr-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <span class="details" style="color: rgba(39, 87, 149, 1);">Supplementary Information</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" id="table-head" style="justify-content: end;">
        <span id="table-head">
            <span id="supplyinfo">
                <img src="~/Content/assets/images/up-chevlon-filter.svg" width="15" id="chevlon-up-icon_supp_info"
                     style="display: none; cursor: pointer;">
                <img src="~/Content/assets/images/down-chevlon-filter.svg" width="15" id="chevlon-down-icon_supp_info" style="cursor: pointer;">
            </span>
        </span>
    </div>
</div>
<hr>
<div class="overview" id="viewsuplimentaryinfo" style="width:100% !important; display: none;">
    <div class="row pt-4" style="padding-left: 40px;">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Total distance by road
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                    @Model.TotalDistanceOfRoad
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Value of load
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                    @Model.ApprValueOfLoad
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Date of authority and starting point of any similar movement previously authorised
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                    @Model.DateOfAuthority
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Is load divisible
                </div>
                @if (Model.LoadDivision == 1)
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        Yes
                    </div>
                }
                else
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        No
                    </div>
                }
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Cost of division
                </div>
                @if (Model.AdditionalCost != "")
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                        @Model.AdditionalCost
                    </div>
                }

            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Risk of division
                </div>
                @if (Model.RiskNature != "")
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                        @Model.RiskNature
                    </div>
                }

            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Has sea been considered
                </div>
                @if (Model.Shipment == 1)
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        Yes
                    </div>
                }
                else
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        No
                    </div>
                }
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Port name
                </div>
                @if (Model.PortNames != "")
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                        @Model.PortNames
                    </div>
                }

            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Sea quotation
                </div>
                @if (Model.SeaQuotation != "")
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                        @Model.SeaQuotation
                    </div>
                }

            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Is final address
                </div>
                @if (Model.Address == 1)
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        Yes
                    </div>
                }
                else
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        No
                    </div>
                }
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Details of further proposed movements
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                    @Model.ProposedMoveDetails
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Cost of road movement
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                    @Model.ApprCostOfMovement
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                    Other considerations
                </div>
                <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal" style="word-wrap: break-word;">
                    @Model.AdditionalConsideration
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/Application/ViewSupplimentaryInfo.js?V@(Session["ProjectVersion"])"></script>*@
