@using System.Web.Optimization
@using STP.Domain
@model STP.Domain.Applications.SupplimentaryInfo


@{
    ViewBag.Title = "VR1SupplementaryDetails";

}


<div class="row pt-4" style="padding-left: 40px;">

    @Html.HiddenFor(m => m.Shipment)
    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.LoadDivision)
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row pb-3">
            <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                Total distance by Road
            </div>
            <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                @Model.TotalDistanceOfRoad
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                Value of load
            </div>
            <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                @Model.ApprValueOfLoad
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                Is load divisible
            </div>
            @{
                if (@Model.LoadDivision == 1)
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        Yes
                    </div>

                }
                else
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        No
                    </div>
                }
            }
        </div>
        @{
            if (@Model.LoadDivision == 1)
            {
                <div class="row pb-3">
                    <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                        Cost of Division
                    </div>
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        @Model.AdditionalCost
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                        Risk of Division
                    </div>
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        @Model.RiskNature
                    </div>
                </div>
            }
        }

        @{
            if (@Model.Shipment == 1)
            {
                <div class="row pb-3">
                    <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                        Port Name
                    </div>
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        @Model.PortNames
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                        Sea Quotation
                    </div>
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        @Model.SeaQuotation
                    </div>
                </div>
            }

        }
        <div class="row pb-3">
            <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                Is Final Address
            </div>
            @{
                if (@Model.Address == 0)
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        No
                    </div>
                }
                else
                {
                    <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                        Yes
                    </div>
                }
            }
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                Cost of Road Movement
            </div>
            <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                @Model.ApprCostOfMovement
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-lg-4 col-sm-4 text-normal">
                Other Considerations
            </div>
            <div class="col-lg-8 col-lg-8 col-sm-8 edit-normal">
                @Model.AdditionalConsideration
            </div>
        </div>
    </div>
</div>
