@model STP.Domain.DocumentsAndContents.InformationModel
@{
    string type = Convert.ToString(TempData["type"]);
    string PageName = Convert.ToString(TempData["PageName"]);
}
<style>
    .field-validation-error {
        color: #e80c4d;
        text-align: left;
        font-size: 12px;
        font-family: lato_medium !important;
    }

    .marginvalid {
        margin: 3px 0px 3px 0px;
    }

    .invalid {
        color: #e80c4d;
    }

    .subtext {
        margin-left: 19% !important;
    }

    .lbHelper1 {
        width: 30% !important;
    }
    .lbHelper2 {
        margin-left: 0.2rem !important;
    }

    .modal-footer {
        display: initial;
    }
    .btngrad {
        border: none;
        background: none;
        color: #c90f0f;
        font-size: 18px;
        margin-left: 15px;
    }
        .btngrad:hover {
            color: #f69898;
        }
</style>



<!-- choose file -->
<link href="~/Content/bootstrap.min_4.6.1.css" rel="stylesheet" />
@using (Html.BeginForm("PublishInformation", "Information", FormMethod.Post, new { enctype = "multipart/form-data", infoType = @type }))
{
    <div class="card PublishCardHelper">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ContentId)
        @Html.HiddenFor(model => model.HotNewsContentId)
        @Html.HiddenFor(model => model.HotNewsName)
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 pbHelper">
                <div class="flexer publishGroupCheckBoxAlign">
                    <label for="appearInPortal" class="label1">Appear in portal *</label>
                    <div id="appearInPortal" class="labelDivHelper" style="margin-right:7%;margin-left: inherit !important;">
                        @for (int i = 0; i < Model.PortalList.Count; i += 3)
                        {


                            <div class="row">
                                @{

                                    int j = 0;
                                    <div class="flexer flhelper">
                                        @for (; j <= 2 && i + j < Model.PortalList.Count(); j++)
                                        {

                                            if (j + i < Model.PortalList.Count() - 1)
                                            {
                                                //1 to 4
                                                <div class="checkHelper hideerr">
                                                    @Html.CheckBoxFor(m => Model.PortalList[i + j].IsSelected, new { @id = "portalcheck", @class = "checkH" })
                                                    <label for=@Model.PortalList[i + j].IsSelected class="form-check-label label1 lbHelper2">@Model.PortalList[i + j].CheckBoxName</label>
                                                    @Html.HiddenFor(m => Model.PortalList[i + j].CheckBoxId)
                                                </div>
                                            }
                                            else
                                            {
                                                //this 5th one
                                                <div class="checkHelper ml2 hideerr5">
                                                    @Html.CheckBoxFor(m => Model.PortalList[i + j].IsSelected, new { @class = "checkH" })
                                                    <label for=@Model.PortalList[i + j].IsSelected class="form-check-label label1 lbHelper2">@Model.PortalList[i + j].CheckBoxName</label>
                                                    @Html.HiddenFor(m => Model.PortalList[i + j].CheckBoxId)
                                                </div>
                                                <div class="checkHelper d-none">
                                                    <input class="checkH" type="checkbox" value="" id="flexCheckDefault6">
                                                    <label class="form-check-label label1 lbHelper2"
                                                           for="flexCheckDefault6">
                                                        none
                                                    </label>
                                                </div>
                                            }

                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="row">
                        @if (ViewBag.PortalError != null)
                        {
                            <div class="row">
                                <span class="field-validation-error">
                                    @ViewBag.PortalError
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <div id="PortalError" class="field-validation-error" style="margin-left: 10rem;display:none">
                    Please select portal.
                </div>

                <div class="flexer divsAlignerPublish mt-3">
                    <label for="nameId" class="label1">Name *</label>
                    @Html.TextAreaFor(model => model.Name, new { @class = "text-color1 text1 w75", @maxlength = "400", @cols = "65", @rows = "4" })

                </div>
                <div style="margin-left: 10rem">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                @if (PageName == "link" || PageName == "download")
                {<div class="flexer divsAlignerPublish mt-3">
                        <label for="nameId" class="label1">
                            Display name *
                        </label>
                        @Html.TextAreaFor(model => model.Title, new { @class = "text-color1 text1 w75", @maxlength = "400" })
                    </div>
                    <div id="validationForTitle" class="TitleValidation field-validation-error" style="margin-left: 10rem"></div>
                }
                else
                {
                    <div class="flexer divsAlignerPublish mt-3">
                        <label for="nameId" class="label1">
                            Headline *
                        </label>
                        @Html.TextAreaFor(model => model.Title, new { @class = "text-color1 text1 w75", @maxlength = "400" })

                    </div>
                    <div style="margin-left:10rem">
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                }
                <div class="flexer divsAlignerPublish mt-3">
                    @if (PageName == "link" || PageName == "download")
                    {
                        <label for="summaryId" class="label1">Description</label>
                    }
                    else
                    {
                        <label for="summaryId" class="label1">Summary</label>
                    }
                    @Html.TextAreaFor(model => model.Description, new { @class = "w75" })

                </div>
                <div style="margin-left: 10rem">
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                @if (PageName == "link")
                {
                    <div class="flexer divsAlignerPublish mt-3">
                        <label for="nameId" class="label1">
                            URL*
                        </label>
                        @Html.TextAreaFor(model => model.LinkUrl, new { @id = "Link_url", @class = "w75", @maxlength = "255" })

                    </div>
                    <div style="margin-left: 10rem">
                        @Html.ValidationMessageFor(model => model.LinkUrl)

                    </div>
                    <div id="validationForURL" class="TitleValidation field-validation-error" style="margin-left: 10rem"></div>
                }
                <div class="flexer divsAlignerPublish mt-3 w1">
                    <label for="summaryId" class="label1 lbHelper1">End Date</label>
                    <input class="text-decorate datepicker" type="text" id="EndDate" name="EndDate" value="@Model.EndDate.ToString("dd-MMM-yyyy")" readonly="readonly" style="width: 91% !important; margin-left: 17%;">
                </div>
                <div class="flexer divsAlignerPublish mt-3 w1">
                    <label for="supressId" class="label1">Supress news</label>
                    @if (Model.Suppressed == 1)
                    {

                        <div id="supressId" class="flexer w2">
                            <div class="form-check ml-2">
                                <input class="form-check-input" type="radio" name="Suppressed" value="0"
                                       id="Suppressed">
                                <label class="form-check-label label1" for="No">
                                    No
                                </label>
                            </div>
                            <div class="form-check" style="margin-left:85%">
                                <input class="form-check-input" type="radio" name="Suppressed" value="1"
                                       id="Suppressed" checked>
                                <label class="form-check-label label1" for="Yes">
                                    Yes
                                </label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="supressId" class="flexer w2">
                            <div class="form-check ml-2">
                                <input class="form-check-input" type="radio" name="Suppressed" value="0"
                                       id="Suppressed" checked>
                                <label class="form-check-label label1" for="No">
                                    No
                                </label>
                            </div>
                            <div class="form-check" style="margin-left:60%">
                                <input class="form-check-input" type="radio" name="Suppressed" value="1"
                                       id="Suppressed">
                                <label class="form-check-label label1" for="Yes">
                                    Yes
                                </label>
                            </div>
                        </div>
                    }
                    @Html.Hidden("hdnSupress", "YesNoTypeEnum")
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 pbHelper">

                @if (PageName == "info story" || PageName == "news story")
                {
                    <div class="flexer divHelper align-items-start">
                        <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2 col-xs-2 pl-0">
                            <label for="htmlId" class="label1 ah1">HTML file</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xl-10 col-md-10 col-xs-10">
                            <div class="custom-file mb-3" id="file-input">
                                <input type="file" class="custom-file-input custom-file-input1" id="AssoFileHTML"
                                       name="associatedFileUpload" style="display: none;">
                                <label class="custom-file-label custom-file-label1" for="AssoFileHTML" style="border-top: none;cursor:pointer;
                                        border-left: none;
                                        border-right: none;position: unset;width:58%;margin-top: -2rem;"></label>

                            </div>
                            @if (ViewBag.AssoFile1 != null && ViewBag.AssoFile1 != string.Empty)
                            {
                                <div id="AssociatedHtmlDiv">
                                    <span class="left text-color1">
                                        @ViewBag.AssoFile1
                                    </span>
                                    <span style="width: 150px;">
                                        @if (ViewBag.Mode == "Edit")
                                        {
                                            <button data-type='htmlfile' id="btnRemoveAttachment1" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title="Remove"></button>
                                        }
                                    </span>
                                </div>
                            }
                        </div>

                    </div>

                    @*<p class="text-color1 subtext ah1">
                            Only htm or html file is
                            allowed. Maximum 50mb size
                        </p>*@
                    <p class="text-color1 subtext ah1" id="AssoFileHTMLValidation">
                        Only htm or html file is allowed.
                    </p>
                    <p id="AssoFileHTMLSizeValid" class="text-color1 subtext ah1">
                        Maximum 50mb size
                    </p>
                    <div class="flexer divHelper mt-t6 align-items-start" id="file-input1">
                        <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2 col-xs-2 pl-0">
                            <label for="afId" class="label1">Associated file</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xl-10 col-md-10 col-xs-10">
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input custom-file-input2" name="associatedFileUpload" id="AssoFileImg1" style="display: none;">
                                <label class="custom-file-label custom-file-label2" for="AssoFileImg1"
                                       style="border-top: none;cursor:pointer;
                                        border-left: none;
                                        border-right: none;position: unset;width:58%;margin-top: -2rem;"> @ViewBag.AssoFile3</label>
                                @if (ViewBag.AssoFile3 != null && ViewBag.AssoFile3 != string.Empty)
                                {
                                    <div class="clearclass"></div>

                                    <div id="AssociatedFile3Div">

                                       

                                        @*<span style="width: 150px;">
                                            @if (@ViewBag.Mode == "Edit")
                                            {
                                                <button data-type='file3' id="btnRemoveAttachment3" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>*@

                                    </div>
                                }
                            </div>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input custom-file-input3" name="associatedFileUpload" id="AssoFileImg2" style="display: none;">
                                <label class="custom-file-label custom-file-label3" for="AssoFileImg2"
                                       style="border-top: none;cursor:pointer;
                                        border-left: none;
                                        border-right: none;position: unset;width:58%;margin-top: -2rem;"> @ViewBag.AssoFile4</label>
                                @if (ViewBag.AssoFile4 != null && ViewBag.AssoFile4 != string.Empty)
                                {
                                    <div class="clearclass"></div>

                                    <div id="AssociatedFile4Div">


                                        @*<span class="removebutton">
                                            @if (ViewBag.Mode == "Edit")
                                            {
                                                <button data-type='file4' id="btnRemoveAttachment4" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>*@
                                    </div>
                                }
                            </div>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input custom-file-input4" name="associatedFileUpload" id="AssoFileImg3" style="display: none;">
                                <label class="custom-file-label custom-file-label4" for="AssoFileImg3"
                                       style="border-top: none;cursor:pointer;
                                        border-left: none;
                                        border-right: none;position: unset;width:58%;margin-top: -2rem;"> @ViewBag.AssoFile5</label>
                                @if (ViewBag.AssoFile5 != null && ViewBag.AssoFile5 != string.Empty)
                                {
                                    <div class="clearclass"></div>

                                    <div id="AssociatedFile5Div">

                                       

                                        @*<span class="removebutton">
                                            @if (@ViewBag.Mode == "Edit")
                                            {
                                                <button data-type='file5' id="btnRemoveAttachment5" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>*@
                                    </div>
                                }
                            </div>

                            @*<input type="file" name="associatedFileUpload" id="AssoFileImg1" class="btn outline-btn-primary" />
                                @if (ViewBag.AssoFile3 != null && ViewBag.AssoFile3 != string.Empty)
                                {
                                    <div class="clearclass"></div>

                                    <div id="AssociatedFile3Div">

                                        <span class="text-color1 left">
                                            @ViewBag.AssoFile3
                                        </span>

                                        <span style="width: 150px;">
                                            @if (@ViewBag.Mode == "Edit")
                                            {
                                                <button  id="btnRemoveAttachment3" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>

                                    </div>
                                }*@
                            @*<input type="file" name="associatedFileUpload" id="AssoFileImg2" class="btn outline-btn-primary mt-3" />
                                @if (ViewBag.AssoFile4 != null && ViewBag.AssoFile4 != string.Empty)
                                {
                                    <div class="clearclass"></div>

                                    <div id="AssociatedFile4Div">

                                        <span class="left text-color1">
                                            @ViewBag.AssoFile4
                                        </span>

                                        <span class="removebutton">
                                            @if (ViewBag.Mode == "Edit")
                                            {
                                                <button  id="btnRemoveAttachment4" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>
                                    </div>
                                }*@
                            @*<input type="file" name="associatedFileUpload" id="AssoFileImg3" class="btn outline-btn-primary mt-3" />
                                @if (ViewBag.AssoFile5 != null && ViewBag.AssoFile5 != string.Empty)
                                {
                                    <div class="clearclass"></div>

                                    <div id="AssociatedFile5Div">

                                        <span class="left text-color1">
                                            @ViewBag.AssoFile5
                                        </span>

                                        <span class="removebutton">
                                            @if (@ViewBag.Mode == "Edit")
                                            {
                                                <button  id="btnRemoveAttachment5" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>
                                    </div>
                                }*@
                        </div>

                    </div>
                    <p class="text-color1 subtext mt-2" id="AssoFileImg3ValidationCommon">
                        Only png, jpg, jpeg, bmp, doc, docx, txt and pdf file is
                        allowed.
                    </p>
                    <p class="text-color1 subtext mt-2" id="AssoFileImg3SizeValidCommon">
                        Maximum 50mb size
                    </p>

                    <div class="flexer mt-5 divHelper">
                        <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2 col-xs-2 pl-0">
                            <label for="tiId" class="label1">Thumbnail image</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xl-10 col-md-10 col-xs-10">
                            <div class="custom-file mb-3" id="file-input">
                                <input type="file" accept="image/*" class="custom-file-input custom-file-input5" name="associatedFileUpload" id="AssoFileThumbImg" style="display: none;">
                                <label class="custom-file-label custom-file-label5" for="AssoFileThumbImg"
                                       style="border-top: none;cursor:pointer;
                                    border-left: none;
                                    border-right: none;position: unset;width:52%;margin-top: -1.2rem;"></label>
                            </div>
                            @if (ViewBag.AssoFile2 != null && ViewBag.AssoFile2 != string.Empty)
                            {
                                <div id="AssociatedImageDiv">
                                    <span class="left text-color1">
                                        @ViewBag.AssoFile2
                                    </span>
                                    <span style="width: 150px;">
                                        @if (@ViewBag.Mode == "Edit")
                                        {
                                            @*<button id="btnRemoveAttachment2" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>*@
                                            <button data-type='thumbnail' id="btnRemoveAttachment2" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                        }
                                    </span>
                                </div>
                            }
                        </div>
                        @*<input type="file" name="associatedFileUpload" id="AssoFileThumbImg" class="btn outline-btn-primary ah1" />*@
                    </div>
                    <p class="text-color1 subtext ah1 mt-1" id="AssoFileThumbImgValidation">
                        Only png, jpg and jpeg file is allowed.
                    </p>
                    <p class="text-color1 subtext ah1 mt-1" id="AssoFileThumbImgSizeValid">
                        Maximum 50mb size
                    </p>
                }
                @if (PageName == "download")
                {


                    <div class="flexer mt-5 divHelper">
                        <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2 col-xs-2 pl-0">
                            <label for="tiId" class="label1"> MS word document</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xl-10 col-md-10 col-xs-10">
                            <div class="custom-file mb-3" id="file-input">
                                <input type="file" class="custom-file-input custom-file-input5" name="associatedFileUpload" accept=".doc, .docx" id="MswordFile" style="display: none;">
                                <label class="custom-file-label custom-file-label5" for="MswordFile"
                                       style="border-top: none;cursor:pointer;
                                    border-left: none;
                                    border-right: none;position: unset;width:52%;margin-top: -1.2rem;"></label>
                                @if (ViewBag.MswordFile != null && ViewBag.MswordFile != string.Empty)
                                {
                                    <div id="AssociatedWordDiv">
                                        <span class="left text-color1">
                                            @ViewBag.MswordFile
                                        </span>
                                        <span style="width: 150px;">
                                            @if (ViewBag.Mode == "Edit")
                                            {
                                                @*<buttonid="btnRemoveMSWordAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>*@

                                                <button data-type='docfile' id="btnRemoveMSWordAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>}
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @*<div class="flexer divsAlignerPublish  mt-5 divHelper">
                            <label for="htmlId" class="label1 ah1">
                                MS word document
                            </label>
                            <span class="" id="htmlId">
                                <input type="file" name="associatedFileUpload" id="MswordFile" aria-readonly="true" class="btn outline-btn-primary ah1" />
                            </span>
                            @if (ViewBag.MswordFile != null && ViewBag.MswordFile != string.Empty)
                            {
                                <div id="AssociatedWordDiv">
                                    <span class="left text-color1">
                                        @ViewBag.MswordFile
                                    </span>
                                    <span style="width: 150px;">
                                        @if (ViewBag.Mode == "Edit")
                                        {
                                            <button id="btnRemoveMSWordAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                        }
                                    </span>
                                </div>
                            }
                        </div>*@
                    <p class="text-color1 subtext ah1 mt-1" id="MswordFileValidation">
                        Only doc and docx file is allowed.
                    </p>
                    <p id="MswordFileSizeValid" class="text-color1 subtext ah1 mt-1">
                        Maximum 50 mb size
                    </p>
                    <div class="flexer mt-5 divHelper">
                        <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2 col-xs-2 pl-0">
                            <label for="tiId" class="label1"> PDF document</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xl-10 col-md-10 col-xs-10">
                            <div class="custom-file mb-3" id="file-input">
                                <input type="file" class="custom-file-input custom-file-input5" name="associatedFileUpload" id="PDFFile" accept=".pdf" style="display: none;">
                                <label class="custom-file-label custom-file-label5" for="PDFFile"
                                       style="border-top: none;cursor:pointer;
                                    border-left: none;
                                    border-right: none;position: unset;width:52%;margin-top: -1.2rem;"></label>
                                @if (ViewBag.PdfFile != null && ViewBag.PdfFile != string.Empty)
                                {
                                    <div id="AssociatedPDFDiv">
                                        <span class="left text-color1">
                                            @ViewBag.PdfFile
                                        </span>
                                        <span style="width: 150px;">
                                            @if (ViewBag.Mode == "Edit")
                                            {
                                                @*<button id="btnRemovePDFAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>*@
                                                <button data-type='pdffile' id="btnRemovePDFAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @*<div class="flexer divsAlignerPublish divHelper mt-5">
                            <label for="afId" class="label1">
                                PDF document
                            </label>
                            <span class="mediaFlexer" id="htmlId">
                                <input type="file" name="associatedFileUpload" id="PDFFile" class="btn outline-btn-primary ah1" />
                            </span>
                            @if (ViewBag.PdfFile != null && ViewBag.PdfFile != string.Empty)
                            {
                                <div id="AssociatedPDFDiv">
                                    <span class="left text-color1">
                                        @ViewBag.PdfFile
                                    </span>
                                    <span style="width: 150px;">
                                        @if (ViewBag.Mode == "Edit")
                                        {
                                            <button id="btnRemovePDFAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                        }
                                    </span>
                                </div>
                            }
                        </div>*@
                    <p id="PDFFileValidation" class="text-color1 subtext ah1 mt-1">
                        Only pdf file is allowed.
                    </p>
                    <p id="PDFFileSizeValid" class="text-color1 subtext ah1 mt-1">
                        Maximum 50 mb size
                    </p>
                    <div class="flexer mt-5 divHelper">
                        <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2 col-xs-2 pl-0">
                            <label for="tiId" class="label1">Video</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xl-10 col-md-10 col-xs-10">
                            <div class="custom-file mb-3" id="file-input">
                                <input type="file" class="custom-file-input custom-file-input5" name="associatedFileUpload" id="VideoFile" accept=".mp4" style="display: none;">
                                <label class="custom-file-label custom-file-label5" for="VideoFile"
                                       style="border-top: none;cursor:pointer;
                                    border-left: none;
                                    border-right: none;position: unset;width:52%;margin-top: -1.2rem;"></label>
                                @if (ViewBag.VideoFile != null && ViewBag.VideoFile != string.Empty)
                                {
                                    <div id="AssociatedVideoDiv">
                                        <span class="left text-color1">
                                            @ViewBag.VideoFile
                                        </span>
                                        <span style="width: 150px;">
                                            @if (ViewBag.Mode == "Edit")
                                            {
                                                @*<button  id="btnRemoveVideoFileAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>*@
                                                <button data-type='video' id="btnRemoveVideoFileAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                            }
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @*<div class="flexer divsAlignerPublish divHelper mt-4">
                            <label for="afId" class="label1">
                                Video
                            </label>

                            <input type="file" name="associatedFileUpload" id="VideoFile" class="btn outline-btn-primary ah1" />

                            @if (ViewBag.VideoFile != null && ViewBag.VideoFile != string.Empty)
                            {
                                <div id="AssociatedVideoDiv">
                                    <span class="left text-color1">
                                        @ViewBag.VideoFile
                                    </span>
                                    <span style="width: 150px;">
                                        @if (ViewBag.Mode == "Edit")
                                        {
                                            <button  id="btnRemoveVideoFileAttachment" class="btngrad btnrds btnbdr" aria-hidden="true" data-icon="&#xe0bc;" title=></button>
                                        }
                                    </span>
                                </div>
                            }
                        </div>*@
                    <p id="VideoValidation" class="text-color1 subtext ah1 mt-1">
                        Only mp4 file is allowed.
                    </p>
                    <p id="VideoSizeValid" class="text-color1 subtext ah1 mt-1">
                        Maximum 100 mb size
                    </p>

                    <input type="hidden" id="videosize" name="videosize" value="0" />
                    <div class="field-validation-error" id="Documentselect" style="margin-left:19%">
                        <br />
                        Please upload at least one file.
                    </div>

                }
                <div class="flexer mt-5 w1">
                    <label for="PriorityId" class="label1 lbHelper1">Priority</label>
                    @Html.Hidden("hdnPriority", "ManagedContentPriorityTypeEnum")
                    @Html.DropDownListFor(model => model.Priority, (IEnumerable<SelectListItem>)Model.PriorityList, new { @class = "form-select text-normal lbInputs p1 w2" })
                </div>
                @if (PageName == "download")
                {
                    <div class="flexer mt-5 w1">
                        <label for="PriorityId" class="label1 lbHelper1">Download type *</label>
                        @Html.DropDownListFor(model => model.DownloadType, (IEnumerable<SelectListItem>)Model.DownloadTypeList, new { @id = "DownloadType", @class = "form-select text-normal lbInputs p1 w2" })



                        @if (ViewBag.DownTypeValidation != null)
                        {
                            <div class="field-validation-error" style="margin-left: 10rem">
                                @ViewBag.DownTypeValidation
                            </div>
                        }
                    </div>
                }
            </div>
            <div id="DownTypeValidation" class="field-validation-error mt-2" style="margin-left:59%; white-space: nowrap; margin-bottom: -4px; ">
                Please select download type.
            </div>
            <div class="row ah1 mt-4" style="padding:28px;">
                <button class="btn btn-outline-primary btn-normal btn-layout1 mb-2 mr-r1" type="submit">SAVE</button>
                <button id="btnback" class="btn outline-btn-primary btn-normal btn-layout1 mr-r1 mb-2" type="button">BACK</button>

            </div>
        </div>
    </div>
}

@{
<input type="hidden" value="@ViewBag.mode" id="hf_mode" name="hf_mode" />
<input type="hidden" value="@ViewBag.AssoFile1" id="hf_AssoFile1" name="hf_AssoFile1" />
<input type="hidden" value="@ViewBag.MswordFile" id="hf_MswordFile" name="hf_MswordFile" />
<input type="hidden" value="@ViewBag.AssoFile2" id="hf_AssoFile2" name="hf_AssoFile2" />
<input type="hidden" value="@ViewBag.PdfFile" id="hf_PdfFile" name="hf_PdfFile" />
<input type="hidden" value="@ViewBag.AssoFile3" id="hf_AssoFile3" name="hf_AssoFile3" />
<input type="hidden" value="@ViewBag.VideoFile" id="hf_VideoFile" name="hf_VideoFile" />
<input type="hidden" value="@ViewBag.AssoFile4" id="hf_AssoFile4" name="hf_AssoFile4" />
<input type="hidden" value="@ViewBag.AssoFile5" id="hf_AssoFile5" name="hf_AssoFile5" />
    @Html.Hidden("hf_PageName", PageName)
    @Html.Hidden("hf_DateTimeToday", DateTime.Now.ToString("dd-MMM-yyyy"))
    
}
