@using PagedList.Mvc
@model PagedList.IPagedList<STP.Domain.VehiclesAndFleets.Configuration.VehicleConfigurationGridList>

@{
    int pageSize = 10;
    if (ViewBag.pageSize != null)
    {
        pageSize = ViewBag.pageSize;
    }
    //int pageSize = 0;
    int? pageNum = ViewBag.page;
    int totalItemCount = Model.TotalItemCount;
    int totalPageCount = Model.PageCount;

    if (ViewBag.importFlag == true)
    {
        //Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    bool isNotifVehicle = ViewBag.isNotifVehicle;
    bool ImportVeh = false;
    if (ViewBag.ImportNotifVehicle != null)
    {
        ImportVeh = ViewBag.ImportNotifVehicle;
    }
    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.VEHICLES;
}
@{
    int listCount = 0;
    listCount = (int)Session["PageSize"];

}


<body style="overflow-y: auto;" id="main-vehicle-list-filter">

    <style>
        .btnvehicle {
            width: 12rem;
        }

        .btnposition {
            width: 100% !important;
            margin-left: 2rem;
            margin-top: 1rem;
        }

        #main-vehicle-list-filter .filter-list .btn {
            width: 100%;
        }

        input[type=text], input[type=password] {
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(206, 206, 206, 1);
            width: 93%;
        }
        #mid_row.outline-btn-primary {
            padding: 4px !important;
        }

        .filtered-icon {
            background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 90% #2b5795;
            background-size: 1rem;
        }
        .esdal-filter-icon {
            background: url('../../Content/assets/Icons/filtered.svg') no-repeat center 0 #2b5795;
            background-size: 1rem;
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            margin-left: 3px;
        }
       
        #vehicle-config-list th:nth-child(9) {
            background-color: rgba(39, 87, 149, 1);
            text-align: center;
            cursor: pointer;
        }

        #vehicle-config-list th:last-child {
            background-color: white;
            text-align: center;
            cursor: pointer;
        }

        #vehicle-config-list td:nth-child(4), #vehicle-config-list td:nth-child(5), #vehicle-config-list td:nth-child(6) {
            text-align: left;
        }

        .filter-table-icon {
            position: absolute;
            bottom: -13px;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            left: 50px;
        }

        .filter-table-icons {
            position: absolute;
            bottom: -13px;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            left: 19px;
        }
        .movements td:nth-child(1) {
            cursor:text !important;
        }     
    </style>

    <!-- main content-->
    <section id="banner_list">
        <div class="container-fluid" id="banner-container">
            <div class="vehicle" id="vehicle-config-list">
                @if (ViewBag.importFlag != true)
                {
                    <div class="header">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="button mr-0 btnposition">
                                    <button class="btn btn-outline-primary btn-normal btnvehicle" role="button" aria-pressed="true">
                                        NEW
                                        VEHICLE
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="title">
                                    VEHICLE CONFIGURATIONS
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="main-table movements" id="configtable" style="border-radius:25px 0px 0px 0px">
                    @Html.Hidden("listCount", listCount)
                    @Html.Hidden("isNotifVehicle", isNotifVehicle)
                    @Html.Hidden("pageSizeVal", pageSize)
                    @Html.Hidden("pageNumVal", pageNum)
                    <input type="hidden" value="@(ViewBag.importFlag != null ? ((bool)ViewBag.importFlag).ToString() : "false")" id="importFlag" name="importFlag" />
                    @{ var sortOrder = ViewBag.SortOrder != null ? (int)ViewBag.SortOrder : 2;//2-config name
                        var sortType = ViewBag.SortType != null ? (int)ViewBag.SortType : 0;//0-asc
                        var isConfigNameSearchFilterEnabled = !string.IsNullOrEmpty(ViewBag.ConfigNameSearch);
                        var isTypeSearchFilterEnabled = ViewBag.TypeSearch != null && !string.IsNullOrEmpty(ViewBag.TypeSearch.ToString());
                        var isVhclIntendSearchFilterEnabled = ViewBag.VhclIntendSearch != null && !string.IsNullOrEmpty(ViewBag.VhclIntendSearch.ToString());
                        var filterFavouritesVehConfig = ViewBag.filterFavouritesVehConfig != null && ViewBag.filterFavouritesVehConfig;
                        var isAllFilterEnabled = isTypeSearchFilterEnabled || isConfigNameSearchFilterEnabled ||
                            isVhclIntendSearchFilterEnabled || filterFavouritesVehConfig; }
                    <table class="esdal-table">
                        <thead>
                            <tr>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,1)" data-action="VehicleConfigSort" data-sortval="1">Type </span>
                                    <span class="filter-table-icon">
                                        <img id="filterimageType" style="display:@(isTypeSearchFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg">
                                    </span>
                                </th>
                                <th>
                                    <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,2)" data-action="VehicleConfigSort" data-sortval="2">Configuration Name </span>
                                    <span class="filter-table-icons"><img id="filterimageInternal" style="display:@(isConfigNameSearchFilterEnabled?"block":"none")" src="~/Content/assets/images/filter-table-icon.svg"></span>
                                </th>                                
                                <th><span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,4)" data-action="VehicleConfigSort" data-sortval="4">Width </span></th>
                                <th><span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,5)" data-action="VehicleConfigSort" data-sortval="5">Height </span></th>
                                <th> <span class="sorting spnSortIconItem @GetSortDefaultClass(sortType,sortOrder,6)" data-action="VehicleConfigSort" data-sortval="6">Gross Weight </span></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="table-filter-header">
                                    <img src="~/Content/assets/images/filter-icon.svg" class="open-filter-icon-common" data-targetContainer=".vehicle-config-list-filter" data-width="350" id="imgVehicleOpenFilter" title="Open filter" width="38">
                                    <span class="filtered-icon-table "><img id="filterimage" src="~/Content/assets/images/filtered-icon.svg" class="imgVehicleCloseFilter" title="Clear filter" style="display:@(isAllFilterEnabled?"block":"none")"></span>
                                </th>
                            </tr>
                        </thead>

                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                var isFavourites = item.IsFavourites;
                                <tr>
                                    @{
                                        string vehicleType = "";
                                        switch (@item.VehicleType)
                                        {
                                            case 244001:
                                                vehicleType = "drawbar trailer";
                                                break;

                                            case 244002:
                                                vehicleType = "semi trailer";
                                                break;

                                            case 244003:
                                                vehicleType = "rigid";
                                                break;

                                            case 244004:
                                                vehicleType = "tracked";
                                                break;

                                            case 244005:
                                                vehicleType = "spmt";
                                                break;

                                            case 244006:
                                                vehicleType = "other in line";
                                                break;

                                            case 244007:
                                                vehicleType = "other side by side";
                                                break;

                                            case 244012:
                                                vehicleType = "crane";
                                                break;

                                            case 244008:
                                                vehicleType = "boat mast exception";
                                                break;

                                            case 244009:
                                                vehicleType = "semi trailer (3 to 8)";
                                                break;

                                            case 244010:
                                                vehicleType = "drawbar trailer (3 to 8)";
                                                break;

                                            case 244011:
                                                vehicleType = "rigid and drag";
                                                break;

                                            case 244013:
                                                vehicleType = "recovery vehicle";
                                                break;

                                            default:
                                                vehicleType = "";
                                                break;
                                        }
                                        <td class="text-color1">
                                            <span id="first-column">@vehicleType</span>
                                        </td>
                                    }

                                    @{
                                        if (ViewBag.isNotifVehicle == true)
                                        {
                                            <td class="text-color2" style="padding:22px 8px 22px 8px" id="@item.ConfigurationId" name="SP">
                                                @item.ConfigurationName
                                            </td>
                                        }
                                        else
                                        {
                                            item.ConfigurationName = item.ConfigurationName.Replace("'", "");
                                            <td class="text-color2" style="padding:22px 8px 22px 8px">
                                                @if (ViewBag.importFlag != true)
                                                {
                                                    <a href="@Url.Action("ViewConfiguration", "VehicleConfig", new
                                                     {
                                                         B7vy6imTleYsMr6Nlv7VQ =
                                                            STP.Web.Helpers.EncryptionUtility.Encrypt("vehicleID=" + @item.ConfigurationId)
                                                     })" class="text-decoration-link">@item.ConfigurationName</a>
                                                }
                                                else
                                                {
                                                    <a href="#" ConfigurationId="@item.ConfigurationId" class="text-decoration-link hrefViewConfig">@item.ConfigurationName</a>
                                                }

                                            </td>
                                        }
                                    }
                                    <td class="text-color1" style="padding:22px 8px 22px 8px">@item.width</td>
                                    <td class="text-color1" style="padding:22px 8px 22px 8px">@item.height</td>
                                    <td class="text-color1" style="padding:22px 8px 22px 8px">@item.grossWeight</td>
                                    <td></td>
                                    <td></td>
                                    @*<td></td>*@
                                    @{
                                        if (ViewBag.importFlag == true)
                                        {

                                            <td class="editdeletebtn" id="mid_row" style="width:200px;">
                                                                                    <a href="#" class="hrefUseVehicle" ConfigurationId="@item.ConfigurationId">
                                                                                        @*<span class="btn btn-normal btn-outline-primary import-button" aria-hidden="true" data-icon="&#xe0f4;" width="20"> USE VEHICLE</span>*@
                                                                                        <span class="btn btn-normal btn-outline-primary import-button" aria-hidden="true"> USE VEHICLE</span>
                                                                                    </a>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                        else if (ViewBag.isNotifVehicle == true)
                                        {
                                            string vehname = @item.ConfigurationName;
                                            string vehname1 = vehname.Replace("'", "");
                                            <td class="editdeletebtn" id="mid_row">
                                                <span id="mid_row_data">
                                                    @*<button ConfigurationId="@item.ConfigurationId" VehicleName="'@vehname1'" class="btn btn-outline-primary btn-normal import-button importVehicle" aria-hidden="true" data-icon="&#xe0f4;">USE VEHICLE</button>*@
                                                    <button ConfigurationId="@item.ConfigurationId" VehicleName="'@vehname1'" class="btn btn-outline-primary btn-normal import-button importVehicle" aria-hidden="true">USE VEHICLE</button>
                                                </span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td>
                                                <a href="@Url.Action("EditConfiguration", "VehicleConfig",
                                                        new
                                                     {
                                                         vehicleId=item.ConfigurationId
                                                     })">
                                                    <img src="~/Content/assets/images/edit-icon.svg" title="Edit" width="20">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" class="hrefDeleteVehicle" ConfigurationId="@item.ConfigurationId" name="@item.ConfigurationName">
                                                    <img src="~/Content/assets/images/delete-icon.svg" title="Delete" width="18">
                                                </a>
                                            </td>
                                            var CatIdEnStar = item.ConfigurationId + "__isFavouriteEn";
                                            var CatIdDisStar = item.ConfigurationId + "__isFavouriteDis";


                                            <td>


                                                @if (isFavourites == 0)
                                                {
                                                    <div id=@CatIdDisStar class="displayBlock">
                                                        <img src="~/Content/assets/images/star-disabled.svg" id="disabled_star" title="Favourites" width="20" ConfigurationId="@item.ConfigurationId" arg1="2" arg2="0" class="mouseCursor manageVehicleFav">
                                                    </div>
                                                    <div id=@CatIdEnStar class="displayNone">
                                                        <img src="~/Content/assets/images/star-enabled.svg" id="enabled_star" title="Favourites" width="20" ConfigurationId="@item.ConfigurationId" arg1="2" arg2="1" class="mouseCursor manageVehicleFav">

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id=@CatIdEnStar class="displayBlock">
                                                        <img src="~/Content/assets/images/star-enabled.svg" id="enabled_star" title="Favourites" width="20" ConfigurationId="@item.ConfigurationId" arg1="2" arg2="1" class="mouseCursor manageVehicleFav">

                                                    </div>
                                                    <div id=@CatIdDisStar class="displayNone">
                                                        <img src="~/Content/assets/images/star-disabled.svg" id="disabled_star" title="Favourites" width="20" ConfigurationId="@item.ConfigurationId" arg1="2" arg2="0" class="mouseCursor manageVehicleFav">
                                                    </div>
                                                }
                                            </td>
                                        }
                                    }

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" style="text-align: center">
                                    <span style="color: red">No records found</span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @*@if (listCount < totalItemCount)
                {*@
                    @if (Model.Count > 0)
                    {
            <div class="row pagination-container-new">
                <div class="col-lg-3">
                    @if (Model.TotalItemCount > 0)
                    {
                        <div class="text-color2 total-records-number">
                            Total number of records : @Model.TotalItemCount
                        </div>}
                </div>
                <div class="col-lg-6 text-center">
                    @{
                        int x = 0;
                    }
                    @if (filterFavouritesVehConfig == true)
                    {
                        x = 1;
                    }
                    @if (listCount < totalItemCount)
                    {
                        <div id="vehiclepaginator" class="table-pagination">

                            @Html.PagedListPager(Model, page => Url.Action("VehicleConfigList",
                               new
                               {
                                   B7vy6imTleYsMr6Nlv7VQ =
                                                             STP.Web.Helpers.EncryptionUtility.Encrypt(
                                                             "importFlag=" + ViewBag.importFlag +
                                                             "&sortOrder=" + sortOrder +
                                                             "&sortType=" + sortType +
                                                             "&filterFavouritesVehConfig=" + x),
                                   page
                               }),
                               new PagedListRenderOptions
                               {
                                   DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                   DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                   LinkToPreviousPageFormat = "<img src='/Content/assets/images/left-chevlon.svg' width='10'>",
                                   LinkToNextPageFormat = "<img src='/Content/assets/images/right-chevlon.svg' width='10'>",
                                   DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                   DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                   MaximumPageNumbersToDisplay = 3,
                                   DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                   EllipsesFormat = "...",
                                   LinkToFirstPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/left-chevlon.svg' width='10'><img src='/Content/assets/images/left-chevlon.svg' width='10'></div>",
                                   LinkToLastPageFormat = "<div style='position:absolute;'><img src='/Content/assets/images/right-chevlon.svg' width='10'><img src='/Content/assets/images/right-chevlon.svg' width='10'></div>"
                               });
                        </div>
                    }
                    @Html.Hidden("pageSizeVal", pageSize)
                    @Html.Hidden("pageNum", pageNum)
                    @Html.Hidden("TotalPages", totalPageCount)
                </div>
                @if (Model.TotalItemCount > 10)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12 text-normal pr-0">
                        Number of items to display per page
                        <select class="form-select mb-3" style="width:100px;" aria-label=".form-select-lg example" id="pageSizeSelectvehicles">
                            <option val="10" @(pageSize == 10 ? "selected" : "")>10</option>
                            <option val="20" @(pageSize == 20 ? "selected" : "")>20</option>
                            <option val="50" @(pageSize == 50 ? "selected" : "")>50</option>
                            <option val="100" @(pageSize == 100 ? "selected" : "")>100</option>
                        </select>
                    </div>
                }
                </div>

                    }

                @*}*@
            </div>
        </div>

    </section>
    <!-- end of main content-->
    <!-- filter settings -->
    <div id="filters" class="sidenav filter-sidenav vehicle-config-list-filter">
  
        <div class="row sidenav-header">
            <div class="col-10 text-center">
                <div class="text-normal-hyperlink mt-3" style="font-size: x-large;">
                    FILTER
                </div>
            </div>
            <div class="col-1">
                <a href="#" id="close-filter" class="btn-close-filter close-filter-icon-common">&times;</a>
            </div>
        </div>



        <hr style="margin-top: 0;">
        <div class="filter-list">
            <div class="filter-entry">
                <div class="pr-0 pl-0 mr-0 ml-0 mt-4 mb-0">
                    <div class="row mt-4">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row mb-2">
                                <div class="col-lg-10 col-sm-8 col-md-8 pr-0">
                                   <span>Configuration Name</span>
                                </div>
                                <div>
                                    <div class="col-sm-12 col-md-12 col-lg-12 " style="padding-bottom:35px !important"><input class="text-decorate edit-normal" type="text" id="searchText" width="92" size="50" name="from" placeholder="Configuration Name" value="@ViewBag.ConfigNameSearch"></div>
                                    
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-12 col-md-12 col-sm-12" input-field">
                                        @Html.DropDownList("VehType", (IEnumerable<SelectListItem>)ViewBag.vehicleType, "Type", new { @class = "form-select mb-3" })
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-2 col-md-4 col-sm-4">
                                        @Html.CheckBox("SearchFavouritesConfig", (bool)@ViewBag.filterFavouritesVehConfig, new { @class = "checkbox checkall", @name = "FilterFavouritesVehConfig", @id = "FilterFavouritesVehConfig" })
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-8 pr-0">
                                        <span>Search within favourites</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row pt-6">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <!-- <div class="header mt-4"> -->
                        <div class="button mr-0 mb-2">
                            <input type="hidden" name="SortOrderValue" id="SortOrderValue" value="@sortOrder" />
                            <input type="hidden" name="SortTypeValue" id="SortTypeValue" value="@sortType" />
                            <button class="btn btn-outline-primary btn-normal btnSearch" role="button" aria-pressed="true" style="width:100%">
                                SEARCH
                            </button>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <!-- <div class="header mt-4"> -->
                        <div class="button mr-0 mb-2">
                            <button class="btn btn-outline-primary btn-normal btnClear" role="button" aria-pressed="true" style="width:100%">
                                CLEAR
                            </button>
                        </div>
                        <!-- </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end of filter settings -->
</body>
@{ string GetSortDefaultClass(int sortTypeVal, int sortOrderVal, int valToCheck)
    {
        var sortClass = ""; //0-asc, 1-desc ,
        if (sortOrderVal == valToCheck)
        {
            sortClass = sortTypeVal == 1 ? "sorting_desc" : "sorting_asc";
        }
        return sortClass;
    } }

@if (ViewBag.importFlag == false) 
{ 
    <script src="~/Scripts/VehicleConfig/jQuery.Cofig.VehicleConfigList.js?V@(Session["ProjectVersion"])"></script>
}
