
@model STP.Domain.VehicleAndFleets.Component.VehicleConfiguration
@using STP.Domain.VehiclesAndFleets.Configuration

@{
    List<VehicleConfigList> vehicleConfigList = ViewBag.ComponentList;
}

@{
    int rowCount = Model.VehicleConfigParamList.Count;
    int secondSet = rowCount / 2;
    int firstRowSet = rowCount - secondSet;

    string internalName = (from s in Model.VehicleConfigParamList
                           where s.ParamModel == "Internal Name"
                           select s.ParamValue).FirstOrDefault();
    string formalName = (from s in Model.VehicleConfigParamList
                         where s.ParamModel == "Formal Name"
                         select s.ParamValue).FirstOrDefault();

}
@{
    int? unitValue = 1;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        unitValue = sessionValues.VehicleUnits;
    }
    @Html.Hidden("UnitValue", unitValue)
}


<div id="vehicleconfig">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 vehicle-text">
            @for (int i = 0; i < firstRowSet-1; i++)
            {
                    <div class="row">
                        <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                            <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>
                        </div>
                        <div class="col-lg-6 vehicle-view-width colum2">
                            @if (String.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                            {
                                <div class="col-lg-6 vehicle-view-width colum2">
                                    -
                                </div>
                            }
                            else
                            {
                                if (@Model.VehicleConfigParamList[i].ParamModel == "Internal Name")
                                {
                                    @Model.VehicleConfigParamList[i].ParamValue                                    
                                }
                                else if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                {
                                    if (Model.VehicleConfigParamList[i].ParamValue.ToString() == "0")
                                    {
                                    }
                                    else
                                    {
                                        <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                    }
                                }
                                else
                                {
                                    <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                }
                            }
                            @if (!string.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                            {
                                if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                {
                                    if (Model.VehicleConfigParamList[i].ParamValue.ToString() != "0")
                                    {
                                        if (unitValue == 692001)
                                        {
                                            <label class="lblUnit">kph</label>
                                        }
                                        else if (unitValue == 692002)
                                        {
                                            <label class="lblUnit">mph</label>
                                        }
                                    }
                                }
                                else if (Model.VehicleConfigParamList[i].DropDownList.Count > 0)
                                {
                                    if (unitValue == 692001)
                                    {
                                        <label class="lblUnit">m</label>
                                    }
                                    else if (unitValue == 692002)
                                    {
                                        <label class="lblUnit">ft</label>
                                    }
                                }
                                else if (@Model.VehicleConfigParamList[i].ParamModel == "Weight" || @Model.VehicleConfigParamList[i].ParamModel == "AxleWeight"|| @Model.VehicleConfigParamList[i].ParamModel == "TrainWeight")
                                {
                                    <label class="lblUnit">kg</label>
                                }

                            }
                        </div>
                    </div>
               // }
            }
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 vehicle-text">
            @for (int i = firstRowSet - 1; i < rowCount; i++)
            {
                if (Model.VehicleConfigParamList[i].ParamModel == "Overhang and Projection")
                {
                    <div class="row">
                        <div class="col-lg-12 mb-2">
                            <label class="text-normal mb-2">
                                <b>Overhang & Projection</b>
                                (
                                @Model.VehicleConfigParamList[i].DisplayString
                                )
                            </label>
                        </div>
                    </div>
                }
                else if (Model.VehicleConfigParamList[i].ParamModel != "Internal Name")
                {
                    <div class="row">
                        <div class="col-lg-6 vehicle-view-width colum1">
                            @if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                            {
                                if (ViewBag.movementTypeId == 270006)
                                {
                                    <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>
                                }
                            }
                            else
                            {
                                <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>
                            }
                        </div>
                        <div class="col-lg-6 vehicle-view-width colum2">
                            @if (String.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                            {
                                <div class="col-lg-6 vehicle-view-width colum2">
                                    -
                                </div>
                            }
                            else
                            {
                                if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                {
                                    if (ViewBag.movementTypeId == 270006)
                                    {
                                        if (Model.VehicleConfigParamList[i].ParamValue.ToString() == "0")
                                        {
                                            <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                        }
                                        else
                                        {
                                            <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                        }
                                    }
                                }
                                else
                                {
                                    <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                }
                            }
                            @if (!string.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                            {
                                if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                {
                                    if (ViewBag.movementTypeId == 270006)
                                    {
                                        if (Model.VehicleConfigParamList[i].ParamValue.ToString() != "0")
                                        {
                                            if (ViewBag.TravelSpeed == 229001)
                                            {
                                            <label class="lblUnit">mph</label>
                                            }
                                            else if (ViewBag.TravelSpeed == 229002)
                                            {
                                            <label class="lblUnit">kph</label>
                                            }
                                        }
                                    }
                                }
                                else if (Model.VehicleConfigParamList[i].DropDownList.Count > 0)
                                {
                                    if (unitValue == 692001)
                                    {
                                        <label class="lblUnit">m</label>
                                    }
                                    else if (unitValue == 692002)
                                    {
                                        <label class="lblUnit">ft</label>
                                    }
                                }
                                else if (@Model.VehicleConfigParamList[i].ParamModel == "Weight" || @Model.VehicleConfigParamList[i].ParamModel == "AxleWeight" || @Model.VehicleConfigParamList[i].ParamModel == "TrainWeight")
                                {
                                    <label class="lblUnit">kg</label>
                                }

                            }
                        </div>
                    </div>
                }
            }
        </div>     
    </div>
</div>
<style>
    .Noborder{
        width:inherit !important;
    }
</style>