@model STP.Domain.VehicleAndFleets.Component.VehicleConfiguration
@using STP.Domain.VehiclesAndFleets.Configuration
@using STP.Domain.VehiclesAndFleets
@{
    List<VehicleConfigList> vehicleConfigList = ViewBag.ComponentList;
}

@{
    int rowCount = Model.VehicleConfigParamList.Count;
    int secondSet = rowCount / 2;
    int firstRowSet = rowCount - secondSet;

    string internalName = (from s in Model.VehicleConfigParamList
                           where s.ParamModel == "Internal Name"
                           select s.ParamValue).FirstOrDefault();
    string formalName = (from s in Model.VehicleConfigParamList
                         where s.ParamModel == "Formal Name"
                         select s.ParamValue).FirstOrDefault();

    ViewBag.PageMenuName = (int)STP.Common.Enums.WebMenuEnum.VEHICLES;
    var movementTypeId = ViewBag.movementTypeId;
    int? configTypeId = ViewBag.configTypeId;
}
@{
    int? unitValue = 1;
    if (Session["UserInfo"] != null)
    {
        var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
        unitValue = sessionValues.VehicleUnits;
    }
    @Html.Hidden("UnitValue", unitValue)
    @Html.Hidden("IsMovement", (bool)ViewBag.IsMovement)
    <input type="hidden" value="@ViewBag.IsOverviewDisplay" id="IsOverviewDisplayHidden" name="IsOverviewDisplayHidden" />
}

@if (!ViewBag.IsMovement)
{
    var VehicleComponentList = ViewBag.VehicleComponentList != null ? (List<STP.Domain.VehicleAndFleets.Component.VehicleComponent>)ViewBag.VehicleComponentList : new List<STP.Domain.VehicleAndFleets.Component.VehicleComponent>();
    var isEnggPlant = VehicleComponentList.Any(x=>x.vehicleCompType!=null &&
                    (x.vehicleCompType.ComponentTypeId==(int)VehicleEnums.ComponentType.EngineeringPlant||
                    x.vehicleCompType.ComponentTypeId == (int)VehicleEnums.ComponentType.EngineeringPlantSemiTrailer ||
                    x.vehicleCompType.ComponentTypeId == (int)VehicleEnums.ComponentType.EngineeringPlantDrawbarTrailer));
    <div id="route-entry1">
        <div VehicleId="@ViewBag.OverviewDisplayVehicleId" id="table-head" class="VehicleShowHide">
            <div>
                @for (int i = 0; i < vehicleConfigList.Count; i++)
                {

                    for (int j = 0; j < Model.vehicleConfigType.LstVehcCompTypes.Count; j++)
                    {
                        if (Model.vehicleConfigType.LstVehcCompTypes[j].ComponentTypeId == vehicleConfigList[i].ComponentTypeId)
                        {
                            var ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + Model.vehicleConfigType.LstVehcCompTypes[j].ImageName + ".png";
                            if (isEnggPlant)
                            {
                                var v = VehicleComponentList.FirstOrDefault(x => x.vehicleCompType != null && x.vehicleCompType.ComponentTypeId == vehicleConfigList[i].ComponentTypeId);
                                if (v != null && v.vehicleComponentSubType!=null)
                                {
                                    ImageName = "~/Content/images/Common/MasterPage/componet_icons/" + v.vehicleComponentSubType.ImageName + ".png";
                                }

                            }
                            <img src="@Url.Content(ImageName)" alt="vehicle-1"
                                 style="mix-blend-mode: darken;" @*width: 98px; height: 30px;*@>
                        }
                    }
                }
                <span class="edit-normal pl-5">@internalName</span>
            </div>
            <div class="align-items-center mt-1">
                <span class="text-normal-hyperlink pr-5" id="applnOverviewDisplay_@ViewBag.OverviewDisplayVehicleId">Hide details</span>

                <img id="chevlon-down-icon_overviewDisplayDiv_@ViewBag.OverviewDisplayVehicleId" class="mt-2" src="~/Content/assets/images/down-chevlon-filter.svg"
                     style="float: right;  cursor: pointer;" width="15">
                <img id="chevlon-up-icon_overviewDisplayDiv_@ViewBag.OverviewDisplayVehicleId" class="mt-2" src="~/Content/assets/images/up-chevlon-filter.svg"
                     style="float: right; display: none; cursor: pointer" width="15">
            </div>
        </div>
        <br />
        <hr>
    </div>
}
<div id="applnOverviewDisplayDetails_@ViewBag.OverviewDisplayVehicleId">
    <div class="row mt-4 main-entry">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    @for (int i = 0; i < firstRowSet-1; i++)
                    {
                        if (Model.VehicleConfigParamList[i].ParamModel != "Internal Name")
                        {
                            if (Model.VehicleConfigParamList[i].ParamModel == "Formal Name")
                            {
                                Model.VehicleConfigParamList[i].DisplayString = "Internal Name";
                            }
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field">

                                    @if (String.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                                    {
                                        <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                    }
                                    else
                                    {
                                        if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                        {
                                            if (movementTypeId == 270006)
                                            {
                                                if (Model.VehicleConfigParamList[i].ParamValue.ToString() == "0")
                                                {
                                                    <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                                }
                                                else
                                                {
                                                    <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" disabled>
                                                }
                                            }
                                        }
                                        else if (@Model.VehicleConfigParamList[i].ParamModel == "Number of Axles")
                                        {
                                            if (Model.VehicleConfigParamList[i].ParamValue.ToString() == "0")
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                            }

                                            else if (vehicleConfigList.Count > 1 && ViewBag.isAxleDetails > 0)
                                            {
                                                <label class="text-normal" style="color: black;">@Model.VehicleConfigParamList[i].ParamValue</label>
                                                <a class="text-color2 text-decoration-link edit-normal Noborder view-all-axle-@ViewBag.vehicleID" href="#" id="view-allAxle" data-vehicleid="@ViewBag.vehicleID" data-movementtypeid="@movementTypeId" data-isfleet="0" style="text-decoration:none">
                                                    View Axle Details
                                                </a>
                                            }
                                            else
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                            }
                                        }
                                        else
                                        {
                                            <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                        }
                                    }
                                    @if (!string.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                                    {
                                        if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                        {
                                            if (movementTypeId == 270006)
                                            {
                                                if (unitValue == 692001)
                                                {
                                                    <label class="text-normal lblUnit">kph</label>
                                                }
                                                else if (unitValue == 692002)
                                                {
                                                    <label class="text-normal lblUnit">mph</label>
                                                }
                                            }
                                        }
                                        else if (Model.VehicleConfigParamList[i].DropDownList.Count > 0)
                                        {
                                            if (unitValue == 692001)
                                            {
                                                <label class="text-normal lblUnit">m</label>
                                            }
                                            else if (unitValue == 692002)
                                            {
                                                <label class="text-normal lblUnit">ft</label>
                                            }
                                        }
                                        else if (@Model.VehicleConfigParamList[i].ParamModel == "Weight" || @Model.VehicleConfigParamList[i].ParamModel == "AxleWeight" || @Model.VehicleConfigParamList[i].ParamModel == "TrainWeight")
                                        {
                                            <label class="text-normal lblUnit">kg</label>
                                        }

                                    }
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-sm-12 col-xs-12">

                    @for (int i = firstRowSet - 1; i < rowCount; i++)
                    {
                        if (Model.VehicleConfigParamList[i].ParamModel != "Internal Name")
                        {
                            if (Model.VehicleConfigParamList[i].ParamModel == "Overhang and Projection")
                            {
                                <label class="text-normal mb-2">
                                    <b>Overhang & Projection</b>
                                    (
                                    @Model.VehicleConfigParamList[i].DisplayString
                                    )
                                </label>
                            }
                            else
                            {
                            <div class="row mb-2">
                                <div class="col-sm-4 col-md-6 col-lg-6 pr-0">
                                    @if (String.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                                    {
                                        <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>
                                    }
                                    else
                                    {
                                        if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                        {
                                            if (movementTypeId == 270006)
                                            {
                                                <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>
                                            }
                                        }
                                        else
                                        {
                                            <label class="text-normal">@Model.VehicleConfigParamList[i].DisplayString</label>                                           
                                        }
                                    }
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-6 input-field">

                                    @if (String.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                                    {
                                        <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                    }
                                    else
                                    {
                                        if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                        {
                                            if (movementTypeId == 270006)
                                            {
                                                if (Model.VehicleConfigParamList[i].ParamValue.ToString() == "0")
                                                {
                                                    <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                                }
                                                else
                                                {
                                                    <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" disabled>
                                                }
                                            }
                                        }
                                        
                                        else if (@Model.VehicleConfigParamList[i].ParamModel == "Number of Axles")
                                        {
                                            if (Model.VehicleConfigParamList[i].ParamValue.ToString() == "0")
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="-" disabled>
                                            }

                                            else if (vehicleConfigList.Count > 1 && ViewBag.isAxleDetails > 0)
                                            {
                                                <label class="text-normal" style="padding-left: 10px;color: black;">@Model.VehicleConfigParamList[i].ParamValue</label>
                                                <a class="text-color2 text-decoration-link edit-normal Noborder view-all-axle-@ViewBag.vehicleID" href="#" id="view-allAxle" data-vehicleid="@ViewBag.vehicleID" data-movementtypeid="@movementTypeId" data-isfleet="0" style="text-decoration:none">
                                                    View Axle Details
                                                </a>
                                            }
                                            else
                                            {
                                                <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                            }
                                        }
                                        else
                                        {
                                            <input class="edit-normal Noborder" type="text" name="from" value="@Model.VehicleConfigParamList[i].ParamValue" range="@Model.VehicleConfigParamList[i].StrRange" disabled>
                                        }
                                    }
                                    @if (!string.IsNullOrEmpty(Model.VehicleConfigParamList[i].ParamValue))
                                    {
                                        if (@Model.VehicleConfigParamList[i].ParamModel == "Speed")
                                        {
                                            if (movementTypeId == 270006)
                                            {
                                                if (unitValue == 692001)
                                                {
                                                    <label class="text-normal lblUnit">kph</label>
                                                }
                                                else if (unitValue == 692002)
                                                {
                                                    <label class="text-normal lblUnit">mph</label>
                                                }
                                            }
                                        }
                                        else if (Model.VehicleConfigParamList[i].DropDownList.Count > 0)
                                        {
                                            if (unitValue == 692001)
                                            {
                                                <label class="text-normal lblUnit">m</label>
                                            }
                                            else if (unitValue == 692002)
                                            {
                                                <label class="text-normal lblUnit">ft</label>
                                            }
                                        }
                                        else if (@Model.VehicleConfigParamList[i].ParamModel == "Weight" || @Model.VehicleConfigParamList[i].ParamModel == "TrainWeight")
                                        {
                                            <label class="text-normal lblUnit">kg</label>
                                        }
                                        else if (@Model.VehicleConfigParamList[i].ParamModel == "AxleWeight")
                                        {
                                            if (movementTypeId != 270001 && movementTypeId != 270102)
                                            {
                                                <label class="text-normal lblUnit">kg</label>
                                            }
                                        }

                                    }
                                </div>
                            </div>

                            }
                        }
                    }
                </div>

            </div>
        </div>
    </div>
    @if (Model.VehicleRegList.Count() > 0)
    {
        <div class="row mt-4">
            <div class="col-lg-6 col-md-12 col-sm-12">
                @{
                    Html.RenderAction("ViewConfigRegistration", "VehicleConfig", new { vehicleRegistrations = Model.VehicleRegList });
                }
            </div>
        </div>
    }
    <div class="row mt-4 main-entry">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row" id="viewComponentDetail">
                @if (vehicleConfigList.Count == 1)
                {
                    Html.RenderAction("SingleComponentAxle", "Vehicle", new { componentId = vehicleConfigList[0].ComponentId, isRoute = ViewBag.IsRoute, IsNotif = ViewBag.isNotif, isVR1 = ViewBag.isVR1, movement = (bool)ViewBag.IsMovement, isConfigTyreCentreSpacing = ViewBag.IsConfigTyreCentreSpacing });

                }
                else if (ViewBag.IsNEN != true)
                {
                    var iterationCount = 0;
                    bool isLastComponent = false;

                    foreach (var component in vehicleConfigList.OrderBy(s => s.LatPosn).ThenBy(s => s.LongPosn))
                    {
                        iterationCount++;
                        if (iterationCount == vehicleConfigList.Count())
                        {
                            isLastComponent = true;
                        }
                        if (component.ComponentId != 0)
                        {
                            Html.RenderAction("GeneralVehicleComponent", "Vehicle", new { vehicleSubTypeId = 0, vehicleTypeId = 0, movementId = movementTypeId, componentId = component.ComponentId, isRoute = ViewBag.IsRoute, latPos = component.LatPosn, longPos = component.LongPosn, IsNotif = ViewBag.isNotif, isVR1 = ViewBag.isVR1, movement = (bool)ViewBag.IsMovement, isLastComponent = isLastComponent, compNumber=iterationCount, configTypeId= configTypeId,flag= ViewBag.flag });


                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    .main-sort-content #vehicle-table {
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
</style>

@Html.Hidden("hf_IsOverviewDisplay", (bool)ViewBag.IsOverviewDisplay)
<input type="hidden" value="@ViewBag.OverviewDisplayVehicleId" id="hf_OverviewDisplayVehicleId" name="hf_OverviewDisplayVehicleId" />
@*this js need to be used to multiple areas try to add in parent cshtml*@
@*<script src="~/Scripts/CspJs/VehicleConfig/ViewConfigurationGeneral.js?V@(Session["ProjectVersion"])"></script>*@
