@using STP.Common.Enums
@using STP.Common.Constants
@{
    var sessionValues = (STP.Domain.SecurityAndUsers.UserInfo)Session["UserInfo"];
    var userName = string.Empty;
    var portalType = 0;
    bool isHelpEdit = false;
    bool isAdmin = false;
    if (Session["UserInfo"] != null)
    {
        userName = sessionValues.UserName;
        portalType = sessionValues.UserTypeId;
        if (portalType == UserType.Admin && sessionValues.IsAdmin == 1)
        {
            isAdmin = true;
        }
        if (portalType == UserType.Admin || sessionValues.IsAdmin == 1)
        {
            isHelpEdit = true;
        }
    }
}
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="cursor:default;">
                <span class="d-lg-flex d-md-flex mr-0 ml-0">
                    <img class="" src="~/Content/assets/esdal-logo.png" alt="ESDAL Logo">
                    <h1 class="primary-color d-md-flex d-lg-flex mr-0 ml-0 align-self-center" style="font-family:lato_light, Arial; ">@ViewBag.PortalType</h1>
                </span>
            </a>

            <div class="navbar-nav d-lg-block" id="user">
                <a href="#" class="nav-item nav-link header-user mr-3 open-filter-icon-common" data-target="mySidenav" data-targetContainer=".logout-side-nav" data-width="450" id="logout" aria-expanded="false">
                    @userName
                    @if (portalType == 696007)
                    {
                        <img src="~/Content/assets/images/solid-user.svg" class="ml-2" width="25" alt="user"> }
                    else if (portalType == 696002)
                    {
                        <img src="~/Content/assets/images/solid-user.svg" class="ml-2" width="25" alt="user"> }
                    else
                    {
                        <img src="~/Content/assets/images/solid-user.svg" class="ml-2" width="25" alt="user">}


                </a>
                <a>
                    <div id="table-head" style="margin-right: 2.4rem;display:block">
                        <span id="span-help" title="Help">
                            <img src="~/Content/assets/Icons/question-box.svg" class="mr-2 ignore-unsaved-changes" width="30" alt="Question"/>
                        </span>

                        @{ if (isHelpEdit)
                            {
                                <form action="../Generic/HelpBuilder" id="form_html_helpbuilder" method="post" novalidate="novalidate" style="width:auto !important;float:right;" target="_blank">
                                    <span title="Help Builder"><img src="~/Content/assets/Icons/transit-box.svg" alt="transit" class="mr-2 btn-layout-edit-help ignore-unsaved-changes" width="30"></span>
                                    <input id="url_html" name="url" type="hidden" value="">
                                    <input id="flag" name="flag" type="hidden" value="0">
                                </form> } }
                        @*<span title="Latest news available  btn-layout-news-section" id="newNewsIcon" style="display: none; float: right;">*@
                        <span title="Latest news available" id="newNewsIcon" style="display: none; float: right;">    
                        <img src="~/Content/assets/Icons/news-box-icon.svg" alt="news" class="mr-2" width="30" style="background-color:red;" />
                        </span>
                    </div>
                </a>

            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </div>
        @if (portalType == UserType.Admin)
        {
            <div id="helpdesk">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-left" id="menu_container">
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.HOME)" href="../Helpdesk/Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.DISTRIBUTION)" href="../DistributionStatus/ViewDistributionStatus">DISTRIBUTION</a>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ROADS)" href="#" id="movements" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">MANAGE ROADS</a>
                            <ul class="dropdown-menu" aria-labelledby="movements">

                                <li><a class="dropdown-item" href="../RoadDelegation/GetRoadDelegationList">Manage Road Delegation</a></li>


                                <li><a class="dropdown-item" href="../RoadOwnership/showRoadOwnership">Manage Road Ownership</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.INFORMATION)" href="#" id="router" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">PUBLISHING</a>
                            <ul class="dropdown-menu" aria-labelledby="router">
                                <li><a class="dropdown-item" href="../Information/ManageNews">Manage News</a></li>
                                <li><a class="dropdown-item" href="../Information/ManageHelpAndInformations">Manage Help & Information</a></li>
                                <li><a class="dropdown-item" href="../Information/ManageDocuments">Manage Document Library</a></li>
                                <li><a class="dropdown-item" href="../Information/ManageLinks">Manage External Links</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.REPORTS)" href="#" id="vehicle" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">REPORTS</a>
                            <ul class="dropdown-menu" aria-labelledby="vehicle">
                                <li><a class="dropdown-item" href="../Report/SessionLengthReport">Session Length</a></li>
                                <li><a class="dropdown-item" href="../Report/CommunicationReport">Communication</a></li>
                                <li><a class="dropdown-item" href="../Report/IndustryLiaisonReport">Industry Liaison</a></li>
                                <li><a class="dropdown-item" href="../Report/ReportPerUser">Report per Haulier/SOA/Police</a></li>
                                <li><a class="dropdown-item" href="../NENNotification/NEN_HelpdeskReport">NEN Report</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.AUDIT_LOG)" href="../Notification/AuditLog">AUDIT LOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.HOLIDAY)" href="../Holidays/HolidayCalender">HOLIDAY</a>
                        </li>
                        @if (isAdmin != false)
                        {
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ADMIN)" href="#" id="vehicle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                                <ul class="dropdown-menu" aria-labelledby="vehicle">
                                    <li><a class="dropdown-item" href="../Account/ManageUsers">Manage Users/Contacts</a></li>
                                    <li><a class="dropdown-item" href="../Organisation/ManageOrganisation">Manage Organisations</a></li>
                                    <li><a class="dropdown-item" href="../Feedback/ListFeedback">Manage Feedback</a></li>
                                    <li><a class="dropdown-item" href="../NENNotification/ListNEHaulier">NE Haulier</a></li>
                                </ul>
                            </li>
                        }


                   
                        <li class="nav-item d-sm-block d-xs-block d-md-block d-lg-none userdetails">
                            <a href="#" class="nav-link nav-item mr-3 mt-0 btn-layout-show-user-info">
                                <img src="~/Content/assets/p-icon.png"  width="25">@userName
                            </a>
                            <ul id="user-info" class="pl-0" style="display:none;">
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/Icons/preferences.svg" alt="preferences" class="mr-4" width="20">Preferences
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/change-password.png" alt="change-password" class="mr-4" width="20">Change password
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="@Url.Action("LogOut", "Account")" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/logout.png" alt="logout" class="mr-4" width="20">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else if (portalType == UserType.Haulier)
        {
            <div id="haulier">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-left" id="menu_container">
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.HOME)" href="../../Home/Hauliers">HOME</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.MOVEMENTS,(int)WebMenuEnum.PLAN_MOVEMENT)" href="../../Movements/MovementList">MOVEMENTS</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.DISPENSATIONS)" href="../../Dispensation/ManageDispensation">DISPENSATIONS</a>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ROUTES)" id="router" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">ROUTES</a>
                            <ul class="dropdown-menu" aria-labelledby="router">
                                <li><a class="dropdown-item" href="../../Routes/RoutePartLibrary">Route Library</a></li>
                                <li><a class="dropdown-item" href="../../Routes/LibraryRoutePartDetails">View Map / Plan Route</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.VEHICLES)" id="vehicle" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">VEHICLES</a>
                            <ul class="dropdown-menu" aria-labelledby="vehicle">
                                <li><a class="dropdown-item" href="../../Vehicle/FleetComponent?IsFromMenu=1">Vehicle Components</a></li>
                                <li><a class="dropdown-item" href="../../VehicleConfig/VehicleConfigList?IsFromMenu=1">Vehicle Configurations</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.CONTACTS)" href="#" id="contacts" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">CONTACTS</a>
                            <ul class="dropdown-menu" aria-labelledby="contacts">
                                <li><a class="dropdown-item" href="../../Contact/ContactView">Contact Directory</a></li>
                                <li><a class="dropdown-item" href="../../AddressBook/AddressList">Address Book</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.INFORMATION)" href="#" id="vehicle" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">INFORMATION</a>
                            <ul class="dropdown-menu" aria-labelledby="vehicle">
                                <li><a class="dropdown-item" href="../../Information/NewsOverview">News</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewInformationList">Help & Information</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewDocumentList">Document Library</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewLinkList">External Links</a></li>
                            </ul>
                        </li>
                        @if (portalType == UserType.Haulier && sessionValues.IsAdmin == 1)
                        {
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ADMIN)" href="#" id="vehicle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                                <ul class="dropdown-menu" aria-labelledby="vehicle">
                                    <li><a class="dropdown-item" href="/Account/ManageUsers">Manage Users/Contacts</a></li>
                                </ul>
                            </li>
                        }
                        
                        
                        <li class="nav-item d-sm-block d-xs-block d-md-block d-lg-none userdetails">
                            <a href="#" class="nav-link nav-item mr-3 mt-0 btn-layout-show-user-info">
                                <img src="~/Content/assets/p-icon.png" width="25" >@userName
                            </a>
                            <ul id="user-info" class="pl-0" style="display:none;">
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/Icons/preferences.svg"  class="mr-4" width="20">Preferences
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/change-password.png"  class="mr-4" width="20">Change password
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/logout.png"  class="mr-4" width="20">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else if (portalType == UserType.PoliceALO)
        {
            <div id="police">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-left" id="menu_container">
                        <li>

                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.MOVEMENTS,(int)WebMenuEnum.PLAN_MOVEMENT)" href="../../Movements/MovementInboxList">MOVEMENTS</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.DISPENSATIONS)" href="../../Dispensation/ManageDispensation">DISPENSATIONS</a>
                        </li>
                        <li class="nav-item  dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.STRUCTURES,(int)WebMenuEnum.CONSTRAINTS)" href="#" id="MAPId" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">MAP</a>
                            <ul class="dropdown-menu" aria-labelledby="MAPId">
                                <li><a class="dropdown-item" href="../../Structures/MyStructures">My Constraints Map</a></li>
                                <li><a class="dropdown-item" href="../../Constraint/GetConstraintList">My Constraints</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.INFORMATION)" href="#" id="informationPolice" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">INFORMATION</a>
                            <ul class="dropdown-menu" aria-labelledby="information">
                                <li><a class="dropdown-item" href="../../Information/NewsOverview">News</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewInformationList">Help & Information</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewDocumentList">Document Library</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewLinkList">External Links</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.CONTACTS)" href="#" id="contacts" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">CONTACTS</a>
                            <ul class="dropdown-menu" aria-labelledby="contacts">
                                <li><a class="dropdown-item" href="../../Contact/ContactView">Contact Directory</a></li>
                            </ul>
                        </li>

                        @*<li class="nav-item">
            <a class="nav-link disabled" href="#">USER</a>
        </li>*@
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.REPORTS)" href="../../NENNotification/NEN_SOAReport" id="vehicle">REPORTS</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.AUDIT_LOG)" href="../../Notification/AuditLog">AUDIT LOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.AUTO_RESPONSE)" href="../../Account/AutoResponse">AUTO RESPONSE</a>
                        </li>
                        @if (portalType == UserType.PoliceALO && sessionValues.IsAdmin == 1)
                        {
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ADMIN)" href="#" id="vehicle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                                <ul class="dropdown-menu" aria-labelledby="vehicle">
                                    <li><a class="dropdown-item" href="../Account/ManageUsers">Manage Users/Contacts</a></li>
                                </ul>
                            </li>
                        }
                     
                        <li class="nav-item d-sm-block d-xs-block d-md-block d-lg-none userdetails">
                            <a href="#" class="nav-link nav-item mr-3 mt-0 btn-layout-show-user-info">
                                <img src="~/Content/assets/p-icon.png" width="25" >@userName
                            </a>
                            <ul id="user-info" class="pl-0" style="display:none;">
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/Icons/preferences.svg"  class="mr-4" width="20">Preferences
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/change-password.png"  class="mr-4" width="20">Change password
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/logout.png"  class="mr-4" width="20">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else if (portalType == UserType.SOA)
        {
            <div id="SOA">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-left" id="menu_container">
                        <li>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.MOVEMENTS,(int)WebMenuEnum.PLAN_MOVEMENT)" href="../../Movements/MovementInboxList">MOVEMENTS</a>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.STRUCTURES,(int)WebMenuEnum.CONSTRAINTS)" href="#" id="movements" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">STRUCTURES</a>
                            <ul class="dropdown-menu" aria-labelledby="structures">
                                <li><a class="dropdown-item" href="../../Structures/StructureList">My Structures</a></li>
                                <li><a class="dropdown-item" href="../../Constraint/GetConstraintList">My Constraints</a></li>
                                <li><a class="dropdown-item" href="../../Structures/MyStructures">My Structures/Constraints Map</a></li>
                                <li><a class="dropdown-item" href="../../Structures/MyDelegationArrangement">Manage Structure Delegations</a></li>
                                <li><a class="dropdown-item" href="../../Structures/ShowRoadDelegation">Manage Road Delegations</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.DISPENSATIONS)" href="../../Dispensation/ManageDispensation">DISPENSATIONS</a>
                        </li>

                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.INFORMATION)" href="#" id="informationSOA" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">INFORMATION</a>
                            <ul class="dropdown-menu" aria-labelledby="information">
                                <li><a class="dropdown-item" href="../../Information/NewsOverview">News</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewInformationList">Help & Information</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewDocumentList">Document Library</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewLinkList">External Links</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.CONTACTS)" href="#" id="contacts" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">CONTACTS</a>
                            <ul class="dropdown-menu" aria-labelledby="contacts">
                                <li><a class="dropdown-item" href="../../Contact/ContactView">Contact Directory</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.REPORTS)" href="../../NENNotification/NEN_SOAReport">REPORTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.AUDIT_LOG)" href="../../Notification/AuditLog">AUDIT LOG</a>

                        </li>

                       
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.AUTO_RESPONSE)" href="../../Account/AutoResponse">AUTO RESPONSE</a>
                        </li>
                        @if (portalType == UserType.SOA && sessionValues.IsAdmin == 1)
                        {
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ADMIN)" href="#" id="vehicle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                                <ul class="dropdown-menu" aria-labelledby="vehicle">
                                    <li><a class="dropdown-item" href="../Account/ManageUsers">Manage Users/Contacts</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item d-sm-block d-xs-block d-md-block d-lg-none userdetails">
                            <a href="#" class="nav-link nav-item mr-3 mt-0 btn-layout-show-user-info">
                                <img src="~/Content/assets/p-icon.png" width="25">@userName
                            </a>
                            <ul id="user-info" class="pl-0" style="display:none;">
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/Icons/preferences.svg"  class="mr-4" width="20">Preferences
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/change-password.png"  class="mr-4" width="20">Change password
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/logout.png"  class="mr-4" width="20">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else if (portalType == UserType.Sort)
        {
            <div id="SORT">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-left" id="menu_container">
                        <li class="nav-item">
                            <a class="nav-link @GetActiveClass((int)WebMenuEnum.HOME)" href="../../Home/SORT">HOME</a>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle  @GetActiveClass((int)WebMenuEnum.MOVEMENTS,(int)WebMenuEnum.PLAN_MOVEMENT)" href="#" id="movements" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">MOVEMENTS</a>
                            <ul class="dropdown-menu" aria-labelledby="movements">
                                <li><a class="dropdown-item" href="../../SORTApplication/SORTMovementInbox">Movements</a></li>
                                <li><a class="dropdown-item" href="../../Movements/CreateMovement">Create Applications</a></li>
                            </ul>
                        </li>
                        @*<li class="nav-item  dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.STRUCTURES)" href="#" id="MAPId" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">MAP</a>
                            <ul class="dropdown-menu" aria-labelledby="MAPId">
                                <li><a class="dropdown-item" href="../../Structures/MyStructures">My Constraints Map</a></li>
                            </ul>
                        </li>*@
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.CONTACTS)" href="#" id="contactsSORT" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">CONTACTS</a>
                            <ul class="dropdown-menu" aria-labelledby="contacts">
                                <li><a class="dropdown-item" href="../../Contact/ContactView">Contact Directory</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown navDropdown">
                            <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.INFORMATION)" href="#" id="informationSORT" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">INFORMATION</a>
                            <ul class="dropdown-menu" aria-labelledby="information">
                                <li><a class="dropdown-item" href="../../Information/NewsOverview">News</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewInformationList">Help & Information</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewDocumentList">Document Library</a></li>
                                <li><a class="dropdown-item" href="../../Information/ViewLinkList">External Links</a></li>
                            </ul>
                        </li>
                        @if (portalType == UserType.Sort && sessionValues.IsAdmin == 1)
                        {
                            <li class="nav-item dropdown navDropdown">
                                <a class="nav-link dropdown-toggle @GetActiveClass((int)WebMenuEnum.ADMIN)" href="#" id="vehicle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                                <ul class="dropdown-menu" aria-labelledby="vehicle">
                                    <li><a class="dropdown-item" href="../Account/ManageUsers">Manage Users/Contacts</a></li>
                                </ul>
                            </li>
                        }
                        @*<li class="nav-item dropdown navDropdown">
            <a class="nav-link dropdown-toggle" href="#" id="vehicle" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">REPORTS</a>
            <ul class="dropdown-menu" aria-labelledby="vehicle">
            </ul>
        </li>*@  
                        <li class="nav-item d-sm-block d-xs-block d-md-block d-lg-none userdetails">
                            <a href="#" class="nav-link nav-item mr-3 mt-0 btn-layout-show-user-info">
                                <img src="~/Content/assets/p-icon.png" width="25">@userName
                            </a>
                            <ul id="user-info" class="pl-0" style="display:none;">
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/Icons/preferences.svg"  class="mr-4" width="20">Preferences
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/change-password.png"  class="mr-4" width="20">Change password
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="mt-3 mb-3 pl-1">
                                        <img src="~/Content/assets/images/logout.png"  class="mr-4" width="20">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>}

    </nav>

</section>
@{
    string GetActiveClass(params int[] MenuItemVal)
    {
        var currentPage = ViewBag.PageMenuName != null ? Convert.ToInt32(ViewBag.PageMenuName) : 0;
        return MenuItemVal != null && MenuItemVal.Any() && MenuItemVal.Any(x => x == currentPage) ? "active" : "";
    }
}