@model STP.Domain.RouteAssessment.XmlConstraints.AnalysedConstraints
@using STP.Domain.SecurityAndUsers
@using STP.Common.Constants
@{
    Layout = null;
    UserInfo SessionInfo = (UserInfo)Session["UserInfo"];
    int userTypeId = SessionInfo.UserTypeId;
    int orgId = (int)SessionInfo.OrganisationId;
    bool IsPlanMovement = ViewBag.IsPlanMovement != null ? Convert.ToBoolean(ViewBag.IsPlanMovement) : false;
    bool UnSuitableShowAllConstraint = ViewBag.UnSuitableShowAllConstraint != null ? Convert.ToBoolean(ViewBag.UnSuitableShowAllConstraint) : false;
    UnSuitableShowAllConstraint = userTypeId == UserType.Sort || !IsPlanMovement ? !UnSuitableShowAllConstraint : UnSuitableShowAllConstraint;
    bool UnSuitableShowAllCautions = ViewBag.UnSuitableShowAllCautions != null ? Convert.ToBoolean(ViewBag.UnSuitableShowAllCautions) : false;
    UnSuitableShowAllCautions = userTypeId == UserType.Sort || !IsPlanMovement ? !UnSuitableShowAllCautions : UnSuitableShowAllCautions;
    string afsconary = "";
    string cv = "";
}

@{
    var totalUnSuitableConstraintsCount = 0;
    if (Model != null && Model.AnalysedConstraintsPart != null && Model.AnalysedConstraintsPart.Any())
    {
        int index = 0;
        <div class="row pl-3 constraints-container" id="div_ListConstraints">
            <div class="cardSOA1 mt-0">
                <h6 class="text-color3 stHeading1 m-0">Select route part</h6>
            </div>
            <div class="c9p40Helper c9H1 pl-0">
                <div id="dlfId" class="d-flex justify-content-between align-items-center my-4 ml-0">
                    <div class="form-check">
                        @foreach (var item in Model.AnalysedConstraintsPart)
                        {
                            index++;
                            var routedivcon = "routedivcon" + index;
                            var routeId = item.Id;
                            var ConstraintList = (item.Constraint != null && item.Constraint.Any()) ? item.Constraint : new List<STP.Domain.RouteAssessment.XmlConstraints.Constraint>();
                            int constraintCount = ConstraintList.Count;

                            <div class="pb-2">
                                <input type="hidden" class="@routedivcon" name="RoutePartId" value="@routeId" id="routePartId" />
                                <input class="form-check-input route_select" data-routeid="@routeId" assesscheck="1" type="radio" id="routeRadioCon@(routeId)" name="route_select" value="@routedivcon">
                                <label class="form-check-label" for="routeRadioCon@(routeId)">
                                    <span class="text-highlight">
                                        Route part @index
                                    </span>
                                    <span class="details1">
                                        - @item.AnalysedConstraintsPartName
                                    </span>
                                </label>
                            </div>
                        }
                    </div>
                    <button id="btn_ViewEdit_Route_Constraint" class="btn btn-primary btn-normal me-3" style="display:none;" role="button" aria-pressed="true">
                        VIEW/EDIT ROUTE
                    </button>
                </div>
            </div>
            @{
                index = 0;
                foreach (var item in Model.AnalysedConstraintsPart)
                {
                    index++;
                    var routedivcon = "routedivcon" + index;
                    var routeId = item.Id;
                    var ConstraintList = (item.Constraint != null && item.Constraint.Any()) ? item.Constraint : new List<STP.Domain.RouteAssessment.XmlConstraints.Constraint>();
                    int constraintCount = ConstraintList.Count;
                    <div class="row pl-0 pr-0">
                        <div id="@routedivcon" class="routedivclasscon pl-0 pr-0">
                            <div class="cardSOA1 m-0 d-flex justify-content-between align-items-center">
                                <h6 class="text-color3 stHeading1 m-0">
                                    Route part @index
                                    - @item.AnalysedConstraintsPartName
                                </h6>
                                @{
                                    var strCautions = (userTypeId == UserType.Sort || !IsPlanMovement) ? "Show unsuitable cautions" : "Show all cautions";
                                    var strStructures = (userTypeId == UserType.Sort || !IsPlanMovement) ? "Show unsuitable constraints" : "Show all constraints";

                                }
                                <div id="" class="d-flex align-items-center">
                                    <span class="details mt-2 pr-1">
                                        @strCautions
                                    </span>
                                    <label class="switch" style="margin-right: 20px;">
                                        <input type="checkbox" class="chk_UnSuitableShowAllCautions" @(UnSuitableShowAllCautions ? "checked" : "")>
                                        <div class="slider round">
                                            <span class="on">ON</span>
                                            <span class="off">OFF</span>
                                        </div>
                                    </label>

                                    <span class="details mt-2 pr-1">
                                        @strStructures
                                    </span>
                                    <label class="switch">
                                        <input type="checkbox" class="chk_UnSuitableShowAllConstraint" @(UnSuitableShowAllConstraint ? "checked" : "")>
                                        <div class="slider round">
                                            <span class="on">ON</span>
                                            <span class="off">OFF</span>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            @if (ConstraintList != null && ConstraintList.Any())
                            {
                                cv = "routedivcon" + index;
                                int constraintNo = 0;
                                if (routedivcon != "routedivcon1")
                                {
                                    if (afsconary == "")
                                    {
                                        afsconary = cv;
                                    }
                                    else
                                    {
                                        afsconary = afsconary + "," + cv;
                                    }

                                }
                                foreach (var constraint in ConstraintList)
                                {
                                    constraintNo++;
                                    <div class="row mt-2 ml-0">
                                        <div class="col-lg-2 col-sm-3 col-md-3  pl-0">
                                            <span class="details">ECRN</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <span class="details1">
                                                @constraint.ECRN
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mt-2 ml-0">
                                        <div class="col-lg-2 col-sm-3 col-md-3 pl-0">
                                            <span class="details">Name</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <span class="details1">
                                                @constraint.ConstraintName
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mt-2 ml-0">
                                        <div class="col-lg-2 col-sm-3 col-md-3 pl-0">
                                            <span class="details">Type</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <span class="detailsFormatter">
                                                @constraint.ConstraintType
                                            </span>
                                        </div>
                                        <div class="col-lg-1 col-sm-3 col-md-3">
                                            <img src="../Content/assets/images/Group 1077.svg" width="28">
                                        </div>
                                        <div class="col-lg-2 col-sm-3 col-md-3">
                                            <a class="text-normal-hyperlink btn_ViewConstraints" data-ecrn="@constraint.ECRN" style="cursor:pointer;">View details</a>
                                        </div>
                                    </div>
                                    <div class="row mt-2 ml-0">
                                        <div class="col-lg-2 col-sm-3 col-md-3 pl-0">
                                            <span class="details">Suitability</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            @if (constraint.Appraisal != null && constraint.Appraisal.Suitability != null && constraint.Appraisal.Suitability.Value != null)
                                            {
                                                if (constraint.Appraisal.Suitability.Value.ToLower() == "unsuitable" || constraint.Appraisal.Suitability.Value.ToLower() == "not specified")
                                                {
                                                    totalUnSuitableConstraintsCount++;
                                                    <span id="unsuitableConstraint"></span>
                                                }
                                                var suitablityClass = "unsuitable";
                                                if (constraint.Appraisal.Suitability.Value.ToLower() == "suitable") { suitablityClass = "suitable"; }
                                                else if (constraint.Appraisal.Suitability.Value.ToLower() == "not specified") { suitablityClass = "unknown"; }
                                                <span class="details1 span-suitability @suitablityClass">@constraint.Appraisal.Suitability.Value</span>
                                            }
                                            @if (constraint.AnalysedCautions != null && @constraint.AnalysedCautions.Any())
                                            {
                                                <img class="btnOpenCautionDetailsConstraint" data-target="CautionConstraintContainer_@constraintNo" style="cursor: pointer; margin-left: 20px; margin-bottom: 8px;" src="/Content/assets/images/up-chevlon-filter.svg" width="20" title="Hide Caution">
                                            }
                                        </div>
                                    </div>

                                    <!--Show cautions seperately-->
                                    if (constraint.AnalysedCautions != null && constraint.AnalysedCautions.Any())
                                    {
                                        <div id="CautionConstraintContainer_@constraintNo" class="mt-2">
                                            <div style="padding: 0;padding-left: 0px !important;">
                                                <div style="min-height: 150px; background-color: #e9e9e9; color: #000; padding: 25px 10px; line-height: 2;">
                                                    @{
                                                        int cautionCount = 0;
                                                        foreach (var caution in constraint.AnalysedCautions)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-4 text-color3">
                                                                            Cautioned entity:
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            @if (caution != null)
                                                                            {
                                                                                <span>@(caution.Name)</span>
                                                                                if (caution != null && caution.CautionedEntity1 != null && caution.CautionedEntity1.AnalysedCautionConstraintStructure != null)
                                                                                {
                                                                                    <span>(@caution.CautionedEntity1.AnalysedCautionConstraintStructure.Type)</span>
                                                                                }
                                                                                if (caution != null && caution.CautionedEntity1 != null && caution.CautionedEntity1.AnalysedCautionConstraintStructure != null)
                                                                                {
                                                                                    <span>(@caution.CautionedEntity1.AnalysedCautionConstraintStructure.ECRN)</span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    @if (caution != null && caution.ConstrainingAttribute != null && caution.ConstrainingAttribute.Any())
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4 text-color3">
                                                                                Constraining attribute:
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                @{
                                                                                    var constrIndex = 0;
                                                                                    foreach (var constr in caution.ConstrainingAttribute)
                                                                                    {
                                                                                        if (constrIndex > 0)
                                                                                        {
                                                                                            <span>,</span>
                                                                                        }
                                                                                        constrIndex++;
                                                                                        <span>@constr</span>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (caution != null && caution.Road != null)
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4 text-color3">
                                                                                Affected roads:
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                @{
                                                                                    if (!string.IsNullOrEmpty(caution.Road.Number))
                                                                                    {
                                                                                        <span>@caution.Road.Number &nbsp;</span>
                                                                                    }
                                                                                    if (!string.IsNullOrEmpty(caution.Road.Name))
                                                                                    {
                                                                                        <span>@caution.Road.Name</span>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (caution != null && caution.Conditions != null && caution.Conditions.MaxGrossWeight != null && caution.Conditions.MaxGrossWeight.Value != 0)
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4 text-color3">
                                                                                Gross weight:
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <span>@caution.Conditions.MaxGrossWeight.Value</span> kg
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (caution != null && caution.Conditions != null && caution.Conditions.MaxAxleWeight != null && caution.Conditions.MaxAxleWeight.Value != 0)
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4 text-color3">
                                                                                Axle weight:
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <span>@caution.Conditions.MaxAxleWeight.Value</span> kg
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (caution != null && caution.Contact != null && caution.Contact.Any())
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4 text-color3">
                                                                                Organisation:
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                @{
                                                                                    @*if (!string.IsNullOrEmpty(caution.Road.Number))
                                                                                        {
                                                                                            <span>@caution.Road.Number</span>
                                                                                        }*@
                                                                                }
                                                                                @{
                                                                                    var contactIndex = 0;
                                                                                    foreach (var contact in caution.Contact)
                                                                                    {
                                                                                        if (contactIndex > 0)
                                                                                        {
                                                                                            <span>,</span>
                                                                                        }
                                                                                        contactIndex++;
                                                                                        <a data-target="orgPopupConstraint_@(constraintNo)_@contactIndex" class="btn_View_Org_Details_Constraint">@contact.OrganisationName</a>

                                                                                        <!--POP UP-->
                                                                                        <div id="orgPopupConstraint_@(constraintNo)_@contactIndex" class="modal show" aria-modal="true" role="dialog" style="display: none;">
                                                                                            <div class="modal-dialog">

                                                                                                <div class="modal-content" style="width: 32rem;">
                                                                                                    <div class="row soa-div-auth-move">
                                                                                                        <div class="orgPopupConstraintContent">
                                                                                                            <div class="row mt-2" id="table-head">
                                                                                                                <span class="text-normal pr-2" style="font-family: lato_light;font-size:25px;">
                                                                                                                    Contact details
                                                                                                                    <span class="text-normal pr-1 CloseOrgPopup" data-target="orgPopupConstraint_@(constraintNo)_@contactIndex" data-dismiss="modal" aria-label="Close" style="cursor: pointer; color: rgba(39, 87, 149, 1); font-size: 50px; float: right; margin-top: -23px; font-family: lato_light; height: 15px; margin-right: 10px;">
                                                                                                                        ×
                                                                                                                    </span>
                                                                                                                </span>
                                                                                                            </div>
                                                                                                            <div class="modal-body" style="text-align: left;">
                                                                                                                <div class="row">
                                                                                                                    <div class="col-md-4 text-color3">
                                                                                                                        Organisation name:
                                                                                                                    </div>
                                                                                                                    <div class="col-md-8">
                                                                                                                        @{
                                                                                                                            <span>@contact.OrganisationName</span>
                                                                                                                        }
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-md-4 text-color3">
                                                                                                                        Contact name:
                                                                                                                    </div>
                                                                                                                    <div class="col-md-8">
                                                                                                                        @{
                                                                                                                            <span>@contact.FullName</span>
                                                                                                                        }
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-md-4 text-color3">
                                                                                                                        Address:
                                                                                                                    </div>
                                                                                                                    <div class="col-md-8">
                                                                                                                        @if (contact.Address != null && contact.Address.Line != null && contact.Address.Line.Any())
                                                                                                                        {
                                                                                                                            <label>@string.Join(",", contact.Address.Line)</label>
                                                                                                                        }

                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="row">
                                                                                                                    <div class="col-md-4 text-color3">
                                                                                                                        Country:
                                                                                                                    </div>
                                                                                                                    <div class="col-md-8">
                                                                                                                        @if (contact.Address != null)
                                                                                                                        {
                                                                                                                            <label>@contact.Address.Country</label>
                                                                                                                        }
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-md-4 text-color3">
                                                                                                                        Tel:
                                                                                                                    </div>
                                                                                                                    <div class="col-md-8">
                                                                                                                        @if (!string.IsNullOrWhiteSpace(contact.MobileNumber))
                                                                                                                        {
                                                                                                                            <label>@contact.MobileNumber</label>
                                                                                                                        }
                                                                                                                        else if (!string.IsNullOrWhiteSpace(contact.TelephoneNumber))
                                                                                                                        {
                                                                                                                            <label>@contact.TelephoneNumber</label>
                                                                                                                        }
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (caution != null && caution.Vehicle.Any(x => x.StartsWith("Unsuitable")))
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4 text-color3">
                                                                                Affected vehicles:
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                @if (caution != null)
                                                                                {
                                                                                    <span>@string.Join(",", caution.Vehicle)</span>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                </div>
                                                                <div class="col-md-6">
                                                                    @if (caution != null && caution.Action.SpecificAction != "" && !string.IsNullOrWhiteSpace(caution.Action.SpecificAction))
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <span class=" text-color3">Specific action</span><br />
                                                                                <span>@(caution.Action.SpecificAction)</span>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                            if (cautionCount != constraint.AnalysedCautions.Count - 1)
                                                            {
                                                                <hr />
                                                            }
                                                            cautionCount++;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <hr />
                                }
                            }
                            else
                            {
                                <div class="div-no-records text-color1">
                                    @if (userTypeId == 696001 && IsPlanMovement)
                                    {
                                        <span>No unsuitable constraints or unsuitable/undefined affected cautions</span>
                                    }
                                    else
                                    {
                                        <span>No constraints or affected cautions</span>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                }
            }
        </div>
        <input type="hidden" id="hf_TotalConstraintsCount" value="@totalUnSuitableConstraintsCount" />
    }
    else
    {
        <div class="cardSOA1 mt-0" style="text-align:center;">
            <h6 class="text-color3 stHeading1 m-0">No Affected Constraints</h6>
        </div>
    }
}


<style>
    .span-suitability {
        padding: 2px 15px;
        border-radius: 8px;
    }

        .span-suitability.unsuitable {
            background-color: #E30101;
            border-color: #E30101;
            color: white !important;
        }

        .span-suitability.suitable {
            background-color: rgba(10, 126, 1, 1);
            border-color: rgba(10, 126, 1, 1);
            color: white !important;
        }

        .span-suitability.unknown {
            background-color: rgb(147 147 147);
            color: white !important;
        }

    .div-no-records {
        text-align: center;
        display: block;
        width: 100%;
        background-color: #f4f6fa !important;
        padding: 10px;
        color: #5C5C5C;
        font-size: 15.00px;
        font-style: normal;
        font-family: lato_regular, Arial;
    }
</style>
@{
    @Html.Hidden("hf_AfConArray", afsconary)
}