@using STP.Domain.VehiclesAndFleets.Configuration;
@{
    List<AppVehicleConfigList> VehicleList = (List<AppVehicleConfigList>)ViewBag.VehicleList;
    List<STP.Domain.Routes.AppRouteList> RouteList = (List<STP.Domain.Routes.AppRouteList>)ViewBag.RouteList;
    int Flag = (ViewBag.Flag != null) ? ViewBag.Flag : 0;
}

<style>
    .vehicle-setting td {
        text-align: left;
    }
    .vehicle-setting .main-table table td:nth-child(1) {
        padding-left: 9px;
    }
    .route-vehicle-details th {
        background-color: rgba(39, 87, 149, 1);
    }
    .col1 {
        width: 25%;
    }

</style>
<div class="pb-4">
    <div class="row">

        @if (VehicleList != null && VehicleList.Count > 0)
        {
            <div class="col-lg-7 col-sm-12 col-md-6">
                <div class="main-table mt-0 pt-0">
                    <table id="route-vehicle-details">
                        <tr class="bgColor3">
                            <th>Vehicle Name</th>
                            <th class="col1">Action</th>
                        </tr>

                        @if (VehicleList != null && VehicleList.Count > 0)
                        {
                            foreach (var item in VehicleList)
                            {
                                <tr>

                                    @if (string.IsNullOrEmpty(item.VehicleName ))
                                    {
                                    <td class="text-color1">@item.VehicleDescription</td>
                                    }
                                    else
                                    {
                                    <td class="text-color1">@item.VehicleName</td>
                                    }
                                    <td class="text-color1">
                                        @*<button class="btn outline-btn-primary mr-2 mb-2" id="use-vehicle" data-VehicleId="@item.VehicleId" data-flag="@Flag" aria-hidden="true" data-icon="">IMPORT</button>*@
                                    <button class="btn outline-btn-primary mr-2 mb-2" style="width:230px;" id="use-vehicle" data-VehicleId="@item.VehicleId" data-flag="@Flag" aria-hidden="true" >USE VEHICLE</button>
                                    </td>
                                </tr>
                             }
                          }


                            </table>
                </div>               
            </div>
        }
        else
        {
            if (RouteList != null && RouteList.Count > 0)
            {
                foreach (var item in RouteList)
                {
                    <div class="row mt-4">
                        <div class="col-lg-12 col-md-12 col-sm-12 pt-5 Headcolour title">
                            @item.RouteName
                        </div>

                    </div>
                    <div class="row mt-2 main-entry">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row mb-2">
                                <div class="col-sm-2 col-md-2 col-lg-2 pr-0">
                                    <label class="text-normal">Route start address</label>
                                </div>
                                <div class="d-flex col-sm-6 col-md-6 col-lg-3 options">
                                    <img src="~/Content/assets/Icons/map-startpoint.svg" width="15" alt="vehicle-2">
                                    <span>
                                        <input class="edit-normal mlinput" type="text" name="from"
                                                value="@item.FromAddress" title="@item.FromAddress" style="width: 180%;">
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-2 col-md-2 col-lg-2 pr-0">
                                    <label class="text-normal">Route end address</label>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 options" style="display: flex; width: 30%">
                                    <img src="~/Content/assets/Icons/map-endpoint.svg" width="15" alt="vehicle-2">
                                    <span>
                                        <input class="edit-normal mlinput" type="text" name="from"
                                                value="@item.ToAddress" title="@item.ToAddress" style="width: 180%;">
                                    </span>
                                    <!-- <hr> -->
                                </div>
                                <div class="d-flex col-sm-2 col-md-2 col-lg-1 pr-0 info-card" style="width: 50%">
                                    <span class="pr-3">

                                    </span>
                                    <span style="margin-top: -12px;">
                                        <div class="button main-button mr-0">
                                            <button class="btn outline-btn-primary btn-normal" role="button"
                                                    aria-pressed="true" id="view-map" data-RouteID="@item.RouteID" data-RouteName="@item.RouteName" >
                                                VIEW ROUTE
                                            </button>
                                            <button class="btn outline-btn-primary btn-normal" role="button"
                                                    aria-pressed="true" id="importroutein" data-routeid="@item.RouteID" data-routetype="@item.RouteType" >
                                                USE ROUTE
                                            </button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </div>
</div>